[2019-04-06 19:32] lukeautry commented on #343
I think this is going be an issue with swagger-ui or your server. Generally, I've ended up serving swagger.json at some arbitrary static asset directory and pointing scripts/docs pages at it. I believe swagger-ui supports providing a custom swagger.json path. The spec file should be interpreted as a standalone document; no server context should be inferred from the path it is served from.

[2019-04-06 19:32] #343 closed

[2019-04-08 22:56] arketec commented on #343
ok, I'll look into it with swagger-ui. thanks for the response

[2019-04-09 12:09] rdeputat commented on #337
I've found solution.
You can define your own Security decorator: (because  tsoa uses just names of decorators)
[code]
so in colntrollers
`import { Security } from '../../infrastructure/Security';`

[code]

[2019-04-09 15:18] aktary opened #344 "Add warning to default templates"
Add a warning comment in the default templates so developers on the team who don't know about tsoa don't try to edit the generated files directly.

[2019-04-16 16:55] azaeng04 opened #346 "Very little documentation on how to us @HasMany @OneToMany decorators"

[2019-04-16 16:59] #346 closed

[2019-04-16 16:59] azaeng04 commented on #346
Apologize. Unrelated to tsoa

[2019-04-23 21:37] MageCity opened #349 ""Create Controllers" section of README has some faulty code"
Was working on a PR to fix it but there's enough that I'm not sure what the actual intention is.

1. there are two methods labeled with `@Get('{id}')`
2. The first of those methods has a parameter that just says `id: number` - should this be labeled with @Path?
3. `@Post` method has a parameter called `requestBody` and in the code refers to a variable called `request`; are these supposed to be the

[2019-04-24 07:49] sshivananda commented on #340
Ended up working around by creating definitions that are fully qualified

[2019-05-03 10:31] seanprince opened #351 "Only 'multi' collectionFormat is supported for array query parameters"
There's no way to specify a query parameter array's collectionFormat - it is always set to 'multi'. So I can't create an API like this:

`GET /stuff?status=Active,Pending`

I am forced to create the API like this:

`GET /stuff?status=Active&status=Pending`

[2019-05-06 15:36] oreporan opened #352 "tsoa not generating when given an OR operator in response"
When I create a controller that returns

[code]
The swagger generated code returns

[code]

I understand that type aliases are not allowed in the response, but what is the correct syntax to allow returning null?

[2019-05-14 19:03] oreporan opened #353 "Dynamic Query/Header Param"
I have a request which should look like this

`users/query?someKey=someValue&someKey2=someValue2`

These are dynamic query params that I handle in the server. Is there any way to create this using tsoa?

I tried something like this -

[code]

[code]

but I'm getting error -
[code]

[2019-05-14 19:58] ancizararenas opened #354 "TSOA - @Example does not allow require json file"
I am trying to auto-generate my api documentation as much as possible. Using @Example annotation, I believe it would be good to do the following for example :

`@Example<IApiResponse>(require('path_to_json_file'))`

`Currently even when doing something as below it does not allow to pass an object and for the documentation to be auto-generated:

`@Example<IApiResponse>({ apiVersion: 'test', context

[2019-05-18 16:11] oreporan commented on #352
Any updates? Is there a maintainer for this repo?

I've also tried giving another interface

`<User | NoUser>` still generates `Promise<any>`

[2019-05-18 16:21] oreporan opened #355 "updating to Swagger OpenApi 3"
There are alot of great additions in [OpenApi 3](https://swagger.io/blog/news/announcing-openapi-3-0/)
I could take a try on updating

[2019-05-21 13:02] alfetch commented on #174
Having same issue.. Any ideas?

[2019-05-22 14:49] hatim-heffoudhi commented on #150
Hello,
Do you use koa or express  as a middleware ?

[2019-05-23 15:37] dgreene1 commented on #207
Hi @lukeautry, I'd be happy to add to the documentation a section on how to regenerate the routes but I wanted to check in with you to see if a PR would be accepted for that?

Basically I would just add a section to the readme like this:
[code]

Does that look right to you? And more importantly, am I correct to call out that there are risks to automatically regenerate on every build?

[2019-05-23 15:38] lukeautry commented on #207
I'm fine with it, feel free to open a PR.

[2019-05-23 17:03] dgreene1 commented on #236
Count me in. :)

[2019-05-23 18:13] dgreene1 commented on #355
There's an open PR to support Open API 3, but it is stale and currently has merge conflicts: https://github.com/lukeautry/tsoa/pull/249

I'm closing this issue since it can be tracked in that link above.

[2019-05-23 18:13] #355 closed

[2019-05-23 19:04] dgreene1 commented on #326
@eric-caslake I fixed the vulnerabilities in [this PR](https://github.com/lukeautry/tsoa/pull/357) and a new version of `tsoa` should be getting published soon.

[2019-05-23 19:04] #326 closed

[2019-05-23 21:25] kjr247 commented on #354
Worked for me for a few tries then just died with the same error and won't work again.
Hope this helps!

@Example(ResponseModel)
public async create(

export const ResponseModel = {
    kindOfName: "",
    stuffId: 0,
    thingName: "things",
    data: {
      nameSpace: "woot",
      ids: [
        0
      ],
      type: "whistles",
      someOtherIds: [
        0
      ],
      channels: [

[2019-05-23 21:32] kjr247 commented on #354
works fine when I do this manually:
**Note that two of these were enums and had to match that contract.**
_Also note that this would not work if I imported the model. I had to copy and paste it to every place I called @Example._
[code]

[2019-05-27 14:00] endor commented on #174
The documentation is out of date here. Check `tests/fixtures/controllers/securityController.ts` on how to use `Response` and an `ErrorResponseModel`.

[2019-05-28 21:14] dgreene1 commented on #341
It's not entirely clear what you mean by "anonymous." Can you explain what value this would provide?

[2019-05-29 19:08] wolever commented on #341
@dgreene1 "anonymous" in the sense that the return type has been inferred by TypeScript without explicitly defining a type / interface. From he example above:

[code]

Would generate a model similar to

[code]

The value would be better consistency with TypeScript (which makes no distinction between returning named types - ex `new Widget()` - and anonymous structures - ex `{ status: 'working' }`).

[2019-05-30 23:05] Bucky24 commented on #340
I am running into the same issue.

`There was a problem resolving type of 'SimulationModels.CookingSimulationResult'.
Generate routes error.
 Error: No matching module declarations found for SimulationModels.`

TSC has no issue with this code, this seems to be a tsoa issue only.

[2019-06-01 00:42] Bucky24 commented on #340
Figure out that my issue was because my interfaces were coming from a separate module, being exported like this:

[code]

TSOA doesn't appear to recognize this as a typescript object, which is fair, since it's not, but typescript itself has no problem with it. Moving the interfaces out of the external module solved the issue.

[2019-06-02 18:05] endor commented on #341
To me this sounds like something worth having in tsoa. The only question for me would be how to document it. While it’s nice to support this, the recommended way should be a model, in my opinion, as that allows more documentation, and even just the name is or could be already documenting intent.

[2019-06-02 18:11] dgreene1 commented on #341
You reminded me of an important point @endor which is that the documentation (the Swagger json) would need a name for the model that is produced, right? So in order to support this, wouldn’t we need to dynamically generate a name behind the scenes? And that seems kind of silly to me when the developer can simply name the interface themselves.

[2019-06-07 11:51] Kampfmoehre opened #358 "how to correctly generate OpenAPI 3 document"
Hi, I was trying the new OpenAPI 3 generation from [this pull request](https://github.com/lukeautry/tsoa/pull/249) but I wonder if I'm doing something wrong. There is no documentation so far, so I looked at the code, and figured out, I have to set the swagger.version property to 3.x. This is generating me an OpenAPI 3 compatible document, but isn't this also the field where I would set the applica

[2019-06-07 13:06] 0v3rst33r commented on #358
Yes @Kampfmoehre I also noticed now that the `SpecGenerator` version and the API version are now the same thing.  So if my API version happens to be in the `3.x.y` range then only the `SpecGenerator3` version will kick in.

The `SwaggerConfig` type at the moment has a property:
[code]

Can it have a `specVersion` property as well where one can override the default `2` with `3` when one wants to ge

[2019-06-07 13:09] endor commented on #358
Sounds good to me.

[2019-06-07 17:01] 0v3rst33r commented on #358
@endor I added PR #359 for the above.

[2019-06-10 10:40] HoldYourWaffle opened #360 "Add option to change output filename"
The `routes.ts` output filename is currently hard coded:
https://github.com/lukeautry/tsoa/blob/7c9dbd0798340c04721dfdca3f2fd31d8be3aca8/src/routeGeneration/routeGenerator.ts#L26

I'd love to have an option to change this filename. I was going to make a PR for this, but the fact that such a trivial thing hasn't been implemented yet makes me wonder if there's an actual reason for it.

[2019-06-10 14:45] lukeautry commented on #360
There really isn't a reason. Feel free to PR to make it configurable.

[2019-06-10 14:47] lukeautry commented on #358
#359 merged.

[2019-06-10 14:47] #358 closed

[2019-06-10 14:49] lukeautry commented on #354
Yeah, I think this is sort of just by design - the way tsoa works is to analyze the actual code wrapped inside of the `Example` decorator; a require is a dynamic runtime thing and tsoa won't try to resolve a JSON file and start to resolve it. Closing this for now, but feel free to open a PR if you have an idea of how to better handle it.

[2019-06-10 14:49] #354 closed

[2019-06-10 16:50] HoldYourWaffle commented on #360
#361

[2019-06-11 09:54] alokrajiv commented on #334
Hi. Stuck on the same/similar problem here. My model that extends [`mongoose.Document`.](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8c15eef1b9a55d5a15b2a8a0e51efcf1b35bf37c/types/mongoose/index.d.ts#L3235)

I have a controller:
[code]
And the associated Model is:
[code]

The above would throw an error during `tsoa routes`:

Any solution to this problem?

[2019-06-11 16:27] alex-borkun opened #362 "DELETE body is not supported"
Hi,

Http request Body used with Delete method throws the following error:

[https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request](https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request)

As per Quote from SO: request body is not forbidden according to Spec.
Can you please allow it?

[2019-06-12 15:36] HoldYourWaffle opened #363 "Compilation error in test using TypeScript 3.5.1"
While making some modifications to expand the possibilities of custom templates I encountered the following compile time error after I updated TypeScript 3.5.1. It doesn't look like a TypeScript bug to me, I think TS 3.2.2 simply didn't catch this mistake(?) before.

The error occurs here:
https://github.com/lukeautry/tsoa/blob/f7c0f17ae592045cae6fea3fb56db752a4677eb2/tests/prepare.ts#L13-L28

###

[2019-06-14 00:15] candyapplecorn commented on #182
Just discovered this bug today. Still doesn't work.

[2019-06-14 12:10] HoldYourWaffle opened #365 "Allow aliased imports for parameter decorators"
The decorator names for parameters are hardcoded as per this piece of code:
https://github.com/lukeautry/tsoa/blob/951045542a27f8cb39e440d0d643edcf9f723d5f/src/metadataGeneration/parameterGenerator.ts#L18-L37

This prevents the use of imports like these:
[code]

I want to use such an import because having 2 `Request` types (tsoa and express) gets confusing and error-prone fast.
Using `Express.Requ

[2019-06-14 12:15] HoldYourWaffle commented on #47
@lukeautry Has this functionality ever been implemented? As far as I know (which isn't much) there's no way to add additional custom metadata to controllers/methods making it really awkward and maintenance-heavy to implement this using custom templates.

[2019-06-15 19:10] HoldYourWaffle commented on #242
@endor I'm not sure why this was closed, the feature hasn't been added yet.
I have created a **very basic** implementation, once it's done I'll submit a PR.
Right now it still lacks proper tests and schema/spec generation (I only need very basic parsing myself) but I think I'll have the time to add these things somewhere in the coming weeks.

[2019-06-15 19:19] HoldYourWaffle commented on #353
I'm currently working on an implementation of `refObject` for `@Query` (and possibly `@Header` too) by "flattening" the properties as individual parameters and reassembling them at the server.

I have a **very basic** but (mostly) working implementation ready, which is good enough for my own project for now. When I have the time I'll add the missing parts and create a PR.

[2019-06-19 12:59] lukeautry commented on #150
Looks like this is a solved problem.

[2019-06-19 12:59] #150 closed

[2019-06-19 13:00] lukeautry commented on #31
I think this is part of a bigger story to allow returning non-internal or non-project types, but probably won't make a specific integration for RxJS.

[2019-06-19 13:00] #31 closed

[2019-06-19 13:10] hatim-heffoudhi commented on #150
hey it's seem so :)

[2019-06-21 10:07] sipanmargaryan commented on #340
Is there anyone who solved this issues ?

[2019-07-07 06:42] HarelM commented on #47
I'm looking into migrating out of inversifyjs into this library and typescript-ioc.
I'm currently using passport for authentication and I'm looking for a way to integrate it using a middleware for a specific route (login only). I couldn't find how to do it using the documentation here, can someone share a demo project?
I also favor the decoration for middleware inversify is using, I hope this can

[2019-07-08 02:46] HarelM commented on #224
Any updates on this? I'm also interested in returning stuff that are not JSON. I might be able to send a PR if I'd know what should be the required approach...

[2019-07-09 02:18] alokrajiv commented on #44
ok, am I missing something here? The exact same code that works on a typical express response object, fails with no warning on tsoa.

**Plain Express (this works):**
[code]

**Tsoa (doesn't work - 204 No Content):**
[code]

@AmazingTurtle Do you think there anything happening under the hood that's making the difference?

[2019-07-09 07:09] dgreene1 commented on #44
@alokrajiv you’re missing a return statement in the second example since it’s not a “fat arrow” function.

[2019-07-09 07:18] alokrajiv commented on #44
@dgreene1 I've tried these too.

[code]

[code]

[2019-07-09 07:27] dgreene1 commented on #44
Forgive me for not seeing this earlier, but it actually has nothing to do with the return. I believe the code you’re writing (and this is a guess, just like my previous guess) is asynchronous because you’re using `.on`. So I would recommend using `res.end(` like in @amazingturtle ‘s example.

[2019-07-09 07:55] alokrajiv commented on #44
@dgreene1 Interestingly, you see my second example I'm already using `req.res.end`.

But, you are right that, it is async because of its a stream after all, so I can't use promises. Maybe, I need to manually return a promise when the end event hits on the stream. I'll update here if I am able to crack it. Thanks anyways.

[2019-07-09 15:34] alokrajiv commented on #44
So, the soln is exactly that. The stream is being piped continuously but is not waited on. So, before my end hits from the stream's end event, tsoa's generated controller issues its own `response.status(statusCode || 204).end();` inside `promiseHandler` of its auto-generated `routes.js`Adjust for that and everything works. Viola!

[code]

_Fyi, to anyone coming here for a similar issue: the above

[2019-07-10 09:09] simllll commented on #204
We just ran into the same issue, any updates on it?

[2019-07-10 15:09] gitowiec commented on #252
Do you know already how to refresh examples written in here https://github.com/lukeautry/tsoa#dependency-injection-or-ioc ? I would really love to make my controllers more independent of imports.

[2019-07-10 17:10] gitowiec commented on #252
I tried really hard :D but I failed.
Here is my `ioc.ts`
[code]

Pay attention that I removed `makeProvideDecorator, makeFluentProvideDecorator` because "inversify-binding-decorators" package does not export them more.
I had to remove also these lines
[code]
Because I have another place to make Container instance, there I have it in `container.ts`
[code]
Then I tried to use this configuration to i

[2019-07-24 08:32] manast-apsis opened #372 "Support for mapped types (including Omit)"
Currently TSOA is not generating correct models for MappedTypes, and for some of them, like Omit it just giving an error:
[code]

In particular Omit is really important when implementing Rest Apis. You may have a Model class, that represents all the fields part of the model, some may be mandatory other optional, however, in the REST api you will not support all these fields, for example, your mode

[2019-07-25 08:33] danshapir opened #373 "The example Controller is invalid for swagger generation"
Having two @Get('{id}') with different query parameters just don't work.
You get only the latter one generated in the swagger.yaml file.

Is this intended?
[code]

[2019-07-25 12:52] manast-apsis opened #374 "Support for index signatures"
Seems like index signatures such as
[code]
are not currently supported.

https://www.typescriptlang.org/docs/handbook/advanced-types.html#index-types-and-string-index-signatures

nodes will just show as an empty object in the swagger file.

[2019-07-28 18:38] maxfouquet opened #376 "Inject express response object to render specific view"
Hi,

I use pug view engine and i would like to render view inside my controller

[code]

An idea to get around this?

[2019-07-28 20:36] dgreene1 commented on #376
When you say “get around this” what do you mean by “this?”

I think we’ll need more information to help you.

[2019-07-28 21:04] maxfouquet commented on #376
It's possible to catch the Express.Request object like that :

[code]

How can I get Express.Response object inside a controller using a decorator ?

[2019-07-29 20:55] lucas-rudd opened #377 "Using types from external modules"
So, I am trying to set up tsoa with my typescript project. This project utilizes AWS lambda. As such, I have a request body, as well as Lambda context that gets provided to my lambda.

Since the Lambda context does not need to be exposed to documentation, I'm ok with it being excluded from swagger docs.

However, when I attempt to ignore node_modules, tsoa complains
[code]

However, when not ignor

[2019-07-30 03:26] dgreene1 commented on #377
Recommended solution:
* You should create your own type that has the same shape as AWS-lambda’s context
  * due to TypeScript’s structural subtyping abilities, it doesn’t matter if the name of the interface is different so long as the properties and values are the same. So just copy the Context interface instead of importing it. Yes, I realize that this is not what you want to do, but since interf

[2019-07-30 07:13] bkawk commented on #330
I also want to be able to return a friendly error if the user fails to send a parameter or if the parameter is of the wrong type.
[code]
simply returns...
[code]

[2019-07-30 15:02] lucas-rudd commented on #377
Sure, I understand that thought process, I just wanted to clarify something.

My controller does not need the consumer to pass in the Context. It only needs the consumer to know about the body structure, query params, etc. The Context is provided to my Controller by AWS when the lambda is invoked. So, I do _not_ need the Context to be in the documentation, but I do need it as an one argument (alon

[2019-07-30 22:05] lucas-rudd opened #379 "Support ObjectKeyword type"
The current functionality for utilizing the object keyword in an interface results in an error being thrown:

interface example:
[code]

the resulting error:
`Error: Unknown type: ObjectKeyword`

While, the expected behavior is to generate a swagger definition with the type set to the following

[code]

Support for the `object` keyword would allow for interfaces with a parameter of the type `objec

[2019-07-30 22:16] dgreene1 commented on #379
Solved in https://github.com/lukeautry/tsoa/pull/378

[2019-07-30 22:16] #379 closed

[2019-07-31 08:52] cKhoff commented on #178
any updates on this ?

[2019-07-31 12:28] sg2231 opened #380 "Request for new release for security"
Hi,

Could you please publish a new release. We have some security issues from dependencies.

With regards to snyk:

https://app.snyk.io/test/npm/tsoa/2.4.3?vulns%5B0%5D=vulnerable&vulns%5B1%5D=all&tab=issues

Latest version of package.json has already mitigated them.

Thanks

Svenn Helge

[2019-07-31 19:28] dgreene1 opened #381 "Why is my middleware not being hit?"
I figured it out, but I'm sharing this for others who might discover this. See below for the answer.

**Problem:** my error middleware isn't being hit even though I have it set up in `index.ts`

[code]

[2019-07-31 19:30] dgreene1 commented on #381
**Answer:** Turns out that the order matters, especially for middleware that is catching errors.

**Solution:** If you have a middleware function with a try/catch inside of it, you'll want that to be inserted into your router (via `app.use`) before you insert the tsoa routes.

Like this:
[code]

[2019-07-31 19:30] #381 closed

[2019-07-31 19:32] dgreene1 opened #382 "How can I catch errors by their status code?"
Figured out another thing that I'd like to share with the community.

**Goal:** You want to try/catch the results of your entire app, and if the error that's thrown has an http status code, then you want to return that to the user so they have more information. This is a common pattern due to the use of [Boom](https://github.com/hapijs/boom)

[2019-07-31 19:36] dgreene1 commented on #382
Here's how I wrote it:
[code]

And then in your `index.ts` just remember to "install" the middleware:
[code]

Note: just remember to add the middleware before the routes are added (as I describe in https://github.com/lukeautry/tsoa/issues/381)

[2019-07-31 19:36] #382 closed

[2019-08-01 23:27] #376 closed

[2019-08-05 13:05] dgreene1 commented on #274
Since this issue not preventing anyone from using tsoa and because the key maintainer already clarified his views on this, I'm going to close the issue.

I'm closing for housekeeping purposes. In order for tsoa to get increased adoption, it's important that we have a smaller number of open issues and PRs.

[2019-08-05 13:05] #274 closed

[2019-08-05 13:14] dgreene1 commented on #340
The solution is to make a copy of the interface that lives inside of your repo and that is not a dependency.

So for your problem, please create interfaces like this:
[code]

So instead of including the external dependency, include your internal representation:
[code]

Thankfully, due to TypeScript's structural subtyping, the code won't care if the interfaces have different names. TS only cares th

[2019-08-05 13:14] #340 closed

[2019-08-05 13:18] dgreene1 commented on #334
The solution is to not expose any interfaces from dependencies in your swagger/tsoa models. Basically, just make a copy of the interfaces you got from other libraries and use those instead. Trust me it will work ([see this explanation here on "structural subtyping" as to why this works](https://github.com/lukeautry/tsoa/issues/340#issuecomment-518229063)).

[2019-08-05 13:18] #334 closed

[2019-08-05 13:33] dgreene1 commented on #257
Since the desired solution of being able to use the nullable properties of Open API 3 is now possible thanks to PR https://github.com/lukeautry/tsoa/pull/249, I'm going to close this PR.

[2019-08-05 13:33] #257 closed

[2019-08-05 13:41] dgreene1 commented on #226
My personal approach has been to have a separate create model and a return model. This resembles the approach recommended by `TypeOrm`.

[code]
And then you can use it in your route like this:
[code]

I realize that this doesn't solve issue https://github.com/lukeautry/tsoa/issues/210 but it is a very sturdy workaround for this particular issue. It's actually how I would recommend writing your cod

[2019-08-05 13:41] #226 closed

[2019-08-05 13:48] dgreene1 commented on #205
I agree.

The solution is to not expose any interfaces from dependencies in your swagger/tsoa models. Basically, just make a copy of the interfaces you got from other libraries and use those instead. Trust me it will work ([see this explanation here on "structural subtyping" as to why this works](https://github.com/lukeautry/tsoa/issues/340#issuecomment-518229063)).

[2019-08-05 13:48] #205 closed

[2019-08-05 13:50] dgreene1 commented on #377
The solution is to not expose any interfaces from dependencies in your swagger/tsoa models. Basically, just make a copy of the interfaces you got from other libraries and use those instead. Trust me it will work ([see this explanation here on "structural subtyping" as to why this works](https://github.com/lukeautry/tsoa/issues/340#issuecomment-518229063)).

[2019-08-05 13:50] #377 closed

[2019-08-05 13:54] dgreene1 opened #384 "Better documentation for when external interfaces are not found"
**Proposal:**
Add a more clear message when tsoa can not find the interface that you're using.

Specifically, I'd like to recommend we change this:
[code]
to be:
[code]

**Context:**
It seems like a common challenge of adopting `tsoa` is the idea that the interfaces that you expose to your consumers should not change. Therefore `tsoa` does not allow you to use interfaces that are defined in depend

[2019-08-05 15:51] dgreene1 commented on #178
It's available now thanks to PR https://github.com/lukeautry/tsoa/pull/249. Set specVersion to the number 3 in tsoa.json to start outputting OpenAPI 3.

[2019-08-05 15:51] #178 closed

[2019-08-06 16:05] dgreene1 commented on #374
I'll look into making a PR for this after https://github.com/lukeautry/tsoa/pull/385 merges (since that's a big PR with lots of changes.

In the meantime, although the swagger output will not contain the correct information, the request validation will ensure that the data is correct. There is an API test that confirms that the following interface actually gets validated.
[code]
And here's the uni

[2019-08-06 16:11] dgreene1 commented on #365
@HoldYourWaffle we should probably close this issue unless you're interested in putting a PR in. I say this because there doesn't appear a lot of interest in this feature yet (based on the lack of comments). This leads me to believe that most people are okay with using `@Request() request: express.Request`. Perhaps I'm missing something. How does `express.Request` differ from `Request`?

[2019-08-06 16:13] dgreene1 commented on #372
@manast-apsis we'd be open to a PR for this if you'd be interested in enhancing tsoa to support this.

[2019-08-06 16:16] dgreene1 commented on #363
This issue was fixed by PR https://github.com/lukeautry/tsoa/pull/375

[2019-08-06 16:16] #363 closed

[2019-08-06 16:30] dgreene1 commented on #341
Having slept on this, I agree that we should be explicit about interface names like others have said:

Additionally, I think it's dangerous to have contracts that can "move." In other words, if the contract changes, consumers should know. I think having a statically defined interface is more aligned with the design goals of tsoa: namely to be clear about inputs and outputs.

So while it's a cool i

[2019-08-06 16:30] #341 closed

[2019-08-06 22:29] javichi commented on #374
Looking forward for this feature :)

[2019-08-07 11:20] WoH opened #387 "Add an option to explicitly type SuccessResponse"
Usually, the SuccessResponse uses the return type of the annotated function to determine the type to be documented by swagger. However, there are cases when I want to return a type union `A | B` documented as `SuccessResponse<A>()` and `Response<B> `from a controller.

In these cases, the function body returns a type union of `A | B` to get full TS support.
In order to document this behavior using

[2019-08-07 12:22] dgreene1 commented on #387
If you wouldn’t mind, could you please give a real world example of why the api would return different types?

I saw your example in the tests but it’s hard to understand why someone would want to do this.

Please provide the explanation in a non-technical / user-story-centric manner. In other words, pretend I know nothing about TypeScript or Swagger, but I just want to get some kind of business g

[2019-08-07 12:27] #384 closed

[2019-08-07 14:44] dgreene1 opened #388 "No decorator for Koa's ctx"
**UPDATE**
I discovered that you can get the Koa `ctx` object by using the @Request decorator. So I've created a PR that updates the readme to demonstrate that. So I won't need to create a `@Ctx` decorator since the `@Request` decorator works just fine! :)

---------- earlier comment ------
**Proposal:**
I'd like to create a `@ctx` decorator that allows developers to get access to the Koa ctx obje

[2019-08-07 14:46] luli0822 opened #389 "Autogenerated swagger.json Comes with Errors as per OpenApi 3 spec"
Hello,

I am using tsoa that is autogenerating swagger.json. But it failed because of some errors in the browser console. I tried it in [editor.swagger.io](https://editor.swagger.io/), and it reported like the screenshot attached here.
Am I missing something somewhere?
Also, how do we verify api with headers and params, e.g. Authorization, and others?
Thanks and appreciate any advice and feedbacks

[2019-08-07 15:29] dgreene1 commented on #181
@jakubzloczewski since your [custom template](https://github.com/lukeautry/tsoa#override-route-template) is working for you, I'm going to close this issue. If someone else would like this feature, they're welcome to comment again and we can consider reopening the issue. But to be honest, having the validation is most of the reason why tsoa exists. So to turn off the validation seems rather strange

[2019-08-07 15:29] #181 closed

[2019-08-07 15:30] dgreene1 commented on #388
Woops. I just realized that this issue is a duplicate of https://github.com/lukeautry/tsoa/issues/175. I'll close that issue since this one has more information about the proposal.

[2019-08-07 15:30] dgreene1 commented on #175
@Gyunikuchan I'm working on a fix for this under issue #388. We'll track the progress there.

[2019-08-07 15:30] #175 closed

[2019-08-07 15:36] dgreene1 commented on #389
We can look into this. Thank you for your thorough information on how to reproduce this. In the meantime, please consider using `"specVersion": 2` in your config. This appears to be a problem with OAS 3. @endor does anything pop out to you in this?

@luli0822 can you open a separate issue for this other question?

Thanks and appreciate any advice and feedbacks.

Also, when you add code, please use

[2019-08-07 15:48] luli0822 commented on #389
I am sorry that I was using the embedded default icon <> on the tool bar. Thanks a lot for letting me know the trick. Have already updated using three back-ticks.

[2019-08-07 15:53] luli0822 opened #390 "How to Verify Endpoints Headers and Params via Auto-generated Swagger UI"
Hello,

As addressed in the headline, is there a way to try out the endpoints with parameters annotated with @Path(), @Header(), @Query() in the endpoint?

[2019-08-07 16:01] dgreene1 commented on #390
There are many examples on how to use those decorators in this directory: https://github.com/lukeautry/tsoa/tree/master/tests/fixtures/controllers

And you can see those tested in the following test files:
https://github.com/lukeautry/tsoa/tree/master/tests/integration

As fare as "a way to try out the endpoints", I would recommend installing `tsoa` and give it a shot. If you want a test area, you

[2019-08-07 16:01] #390 closed

[2019-08-07 17:47] luli0822 commented on #390
I am sorry that I didn't address the question clearly, which was to figure out how to verify the endpoints using @Path() for example through autogenerated Swagger UI. But I think this might get done when we have the issue #389 resolved. Thanks very much for your prompt response.

[2019-08-07 18:48] dgreene1 commented on #390
@luli0822 you should be able to experiment with the validation that comes with the decorators even while your swagger.yaml is invalid. That's due to the fact that the validation is unrelated to the swagger.yaml. To see this, try hitting your API from [Postman](https://www.getpostman.com/) instead of Swagger UI. You'll see that you get the validation as expected.

[2019-08-07 18:59] luli0822 commented on #390
Yes, it works well via Postman, but my client wanted to use Swagger if feasible.

[2019-08-07 19:10] dgreene1 commented on #26
@empitegayan I know this is a very old post, but we'd be interested in a PR if you'd like to enhance the `@Tag` decorator to accept an object or a string so that you could add `description` as well as `name`. Btw, are you still using `tsoa`? How is it going for you? :)

[2019-08-07 21:17] dgreene1 commented on #182
Isn't this the workaround?
[code]

[2019-08-07 21:39] dgreene1 commented on #288
@gitowiec we don't support `...args`. My apologies. If you wanted to get `hiddenParam` then you would need to explicitly create the function property like you did with `secret`.

[2019-08-07 21:39] #288 closed

[2019-08-08 03:30] luli0822 commented on #389
I am sorry about closing the issue by accident. Just wanted to confirm that it works pretty well on Swagger 2.

[2019-08-08 12:48] avizcaino opened #391 "Swagger not showing intersection model properly"
I have the following model:

[code]
Where key can be any key since we are working with a quite dynamic interface.

Build works great but the model shown in Swagger UI is the following:
![image](https://user-images.githubusercontent.com/12660226/62704144-fe36c980-b9ea-11e9-85d3-2bcbc6dd7aa8.png)

Is there any way to show this intersecction properly? I would expect both `aggregateId` and the diction

[2019-08-08 13:29] #388 closed

[2019-08-08 13:30] dgreene1 commented on #388
As you can see from the PR, I updated the readme to show how to get the Koa `ctx` object: https://github.com/lukeautry/tsoa/pull/392/files#diff-26205fa396afae7e698346556c23f256R253

[2019-08-08 13:31] dgreene1 commented on #175
@Gyunikuchan actually, no code fix was necessary. Here's an example of how to get the Koa `ctx` object: https://github.com/lukeautry/tsoa/pull/392/files#diff-26205fa396afae7e698346556c23f256R253

[2019-08-08 14:21] dgreene1 commented on #391
@avizcaino there are a couple of things currently going on here.

1) You're trying to represent a dictionary (in C# terms) or a `Record` (in TypeScript terms). The way that swagger represents dictionaries is actually as an object but with additional properties allowed. Read more here: [https://swagger.io/docs/specification/data-models/dictionaries/](https://swagger.io/docs/specification/data-model

[2019-08-08 14:28] dgreene1 opened #393 "Seeking contributions to add `anyOf` and `oneOf`"
Swagger supports JSON Schema's `anyOf` and `oneOf`.
* `oneOf` is analogous to the `|` (i.e. TypeScript union)
  * Could find inspiration from `typescript-json-schema`'s implementation (but be wary because JSON Schema is **not** equivalent to Swagger/OpenApi): https://github.com/YousefED/typescript-json-schema/blob/4f2d3da6f3f1ae3e1641b6777324c888a21264a3/typescript-json-schema.ts#L220
* `allOf` is

[2019-08-09 13:09] WoH commented on #387
One example:
As a user I'd want to know why my requests fail. As a developer, when I know I can't handle a request, I want to not just throw an undocumented error and exit but have a well defined and documented response through swagger.
Writing typescript, I'd want to `retrieveModel(...conditions): Model | ModelNotFound`.
In swagger, both these things should be documented, the 200 with the model a

[2019-08-09 19:49] dgreene1 commented on #387
Thank you so much for explaining your use case. Your goal of defining a union of response types should be handled through https://github.com/lukeautry/tsoa/issues/393 (which we're taking submissions on. If you'd like to submit that help, we would love the contribution 😍). I describe that more in detail here: https://github.com/lukeautry/tsoa/pull/369#discussion_r312624950

[2019-08-09 19:49] #387 closed

[2019-08-09 20:01] dgreene1 commented on #387
Your original PR gave me an idea that could be closer to your original intention. So if you wanted to get swagger output that resembles this:
[code]
we could extend `@Response` to allow an explicit type. However, I'd have a few conditions before I would accept the PR:
* The type T in `@Response<T>` would have to be one of the return types in the union that the route is returning. So we'd have to h

[2019-08-09 20:15] dgreene1 commented on #50
@ThorstenBux / @fhewitt / @donahchoo / @manast-apsis if `tsoa` were to generate the swagger model "on-the-fly" it doesn't have a name for the model. And that's the problem, swagger requires a name for the "$ref" ([see here](https://swagger.io/docs/specification/using-ref/)). So my question for you is, how would you like it create that name?

An example @manast-apsis provided looks like this:
[code

[2019-08-09 20:16] dgreene1 commented on #374
I'm closing this because it's a duplicate of #50. However, until #50 is solved, the workaround for this particular case is:
[code]

[2019-08-09 20:22] dgreene1 commented on #90
I believe this is solved now by using the `keyof T` feature that TypeScript added. So you don't need tsoa to accomplish this.

[code]

That should either solve your problem or it should help you find your way; but unfortunately this issue is from 2017, I'm going to close it for housekeeping purposes. Thank you for using tsoa and please tell your friends! :)

[2019-08-09 20:22] #90 closed

[2019-08-09 20:45] dgreene1 commented on #94
Since `tsoa` allows you access the request object, you explicitly set it the same way you would in `express` or `koa`:

In `koa`:
[code]

But you'll notice that the first `return` will cause a TypeScript error since you aren't actually returning an `IThing`. So you have two options:

1. `return {} as unknown as IThing` but since that completely subverts the type system, I'd recommend option 2.
2.

[2019-08-09 20:45] #94 closed

[2019-08-09 20:54] dgreene1 commented on #180
Yes @vlad-tkachenko and @Recodify you can. An illustration of how to use the `@Example` decorator can be seen here: https://github.com/lukeautry/tsoa/blob/41dcf54ec2bfac4a301328f9a602718e4b2e3674/tests/fixtures/controllers/getController.ts#L31

[2019-08-09 20:54] #180 closed

[2019-08-09 21:00] dgreene1 commented on #119
I think the fix for this would be:

1. tsoa should validate that the first parameter of `@Response` is a valid http status code.
2. the status code should not be allowed to be `200` or "200"` since that return type is already defined by the return of the route function.

If we're able to validate those two concerns, then it would prevent someone from creating the duplicates that you describe above

[2019-08-09 21:01] #125 closed

[2019-08-09 21:05] dgreene1 commented on #137
Personally, I think the beauty of `tsoa` is that it's compatible with `express`, `koa, `hapi`, and more (via custom handlebars templates), so I think tsoa is a much better choice than "all-in" frameworks like NestJS.

Either way, this issue is neither a feature request, a bug, or a usage question. If you have a specific question about how to use tsoa with NestJS, please open up a new issue with mo

[2019-08-09 21:05] #137 closed

[2019-08-09 21:07] dgreene1 commented on #138
Closing since this is old and may no longer be reproduce-able after https://github.com/lukeautry/tsoa/commit/f7ae88d9ed540b6978af85798f223657210503ec was completed. If it is reproduce-able still, can someone please provide some example code or an example repo? In the meantime, we'll close this for housekeeping purposes.

[2019-08-09 21:07] #138 closed

[2019-08-09 21:09] dgreene1 commented on #167
I believe this was fixed in https://github.com/lukeautry/tsoa/commit/d27126d326265e68fc7a003e0b1eb0bdea5e63ec. If it's still reproduce-able, we can reopen.

[2019-08-09 21:09] #167 closed

[2019-08-09 21:10] dgreene1 commented on #169
If it is a request for union types, then we can track it in https://github.com/lukeautry/tsoa/issues/393. Closing as a duplicate.

[2019-08-09 21:10] #169 closed

[2019-08-09 21:13] dgreene1 commented on #275
Cool idea @MatthiasKunnen. But from what I can tell, JSDoc does not support markdown by default (but I'm only basing that off of what I found from a quick google search https://github.com/jsdoc/jsdoc/issues/1499). I don't think we should support this until JSDoc supports markdown as a standard. If it is part of the JSDoc standard, then we can reopen this issue.

[2019-08-09 21:13] #275 closed

[2019-08-09 21:15] dgreene1 commented on #290
Good catch. This seems to be partially a user error since an object is the only valid type a body can have (unless tsoa were to pass the raw string before it sends it to JSON.parse). That being said, tsoa shouldn't necessarily allow for this configuration. So I'll add the help wanted flag since this would be easy to validate during route generation.

[2019-08-09 21:45] dgreene1 commented on #187
I’m also a maintainer, so @taicho you can cc me on any enhancements you’d like to make. I just solved or closed 20 issues today. So if you want to make a new issue for a specifically proposed enhancement, we’re all ears. :)

[2019-08-09 21:45] #187 closed

[2019-08-09 21:45] WoH commented on #387
Thanks for your response.
Here is why the way you want to approach this might not work:
If #393 were to be added, that would indicate documenting `Model | ModelNotFound` as swagger's `anyOf` with response code 200.

[code]

I want to split both onto different http status codes.
Since this is done in code using `this.setStatus()`, I believe it will be hard to infer and would look like:

[code]

As

[2019-08-09 22:26] dgreene1 commented on #387
Good point about the success response containing the error model. That’s not a good choice on my part. So maybe the solution is to use `@Response<T>` in combination with the error middleware approach defined in https://github.com/lukeautry/tsoa/issues/382#issuecomment-516990535. This is making me realize we probably need something added to the readme.

It will be prevented after https://github.com

[2019-08-10 04:32] vlad-tkachenko commented on #180
That link shows how to use example for response. My initial question was different - on how to provide example for request body.

[2019-08-10 10:51] dgreene1 commented on #180
Yes the `@Example` decorator places the example in the response section of the success code area in Swagger. I’m actually rather new to tsoa so I apologize for not knowing that. So apparently there isn’t a way to provide an example for the request body. But since most APIs respond with a structure that is the same as request body, this is the first time we have had someone ask for a way to set an

[2019-08-10 11:04] vlad-tkachenko commented on #180
@dgreene1, check my original request, I'm not suggesting changing the `@Body` decorator, but to add support of additional extra decorator `@Example` specifically to provide payload example.

I will be honest, original request was opened in 2017, I'm no longer using tsoa as my library of choice for REST API development, so currently I don't need any help with that. However other users might need th

[2019-08-10 13:40] WoH opened #394 "TSOA unable to ignore constructor parameters"
When documenting classes, tsoa documents both properties and all constructor parameters not marked private or protected. This leads to issues with classes like this:

[code]

When TSOA parses this class, it correctly iterates model properties and filters the ignored property. Then it iterates the constructor parameters, which is perfect since I want to document the message. However, it re-adds the

[2019-08-10 13:47] dgreene1 commented on #394
In TypeScript, the default accessor is public if you don’t explicitly define it’s accessor ((citation here)[https://www.typescriptlang.org/docs/handbook/classes.html#public-private-and-protected-modifiers]). So if we were to make the change that you’re requesting, that would be hiding public members. This would be confusing and would likely result in other users filing bugs against tsoa.

So we’ll

[2019-08-10 13:50] dgreene1 commented on #394
But if you would like to submit a PR that fixes the fact that the ignore JSDoc tag isn’t being applied for constructor parameters, we’d accept that.

I just can’t accept this solution you described for the reasons I stated in the prior comment:

[2019-08-10 13:51] WoH commented on #394
That is semi-correct. You can parse the modifiers and check.

[code]

[2019-08-10 14:12] WoH commented on #394
I should clarify, because I didn't explain the issue well I think.

I was referring to explicitly declare public in the constructor, not model properties.

While
[code]
adds the accessor (tsoaError.status),
[code]
does not.

[2019-08-10 15:14] dgreene1 commented on #394
Thank you. I understand the scenarios better. It's clear to me now that this is a bug and it has nothing to do with the ignore tag. Simply put, in this example, status should not be generated in the model:

[code]

We would gladly accept bug-fix PR if there were a unit test that could pass for the following case:

This is the setup:
[code]

And the unit test expectation in `definitions.spec.ts` wo

[2019-08-10 15:25] dgreene1 commented on #394
P.s. I forgot to add a thank you @WoH for explain it. I don’t use classes much in TypeScript. I like doing a more data only / functional approach. Anyway, I think the case above should cover the bug and also maintains existing expectations.

[2019-08-10 17:02] joni7777 opened #395 "Support dyanimc controllers import glob"
Hey!

I think it could nice to add an option to the routes config (later on to the swagger as well) to support controllers glob like RoutingControllers library

Example in the PR

[2019-08-10 19:20] WoH commented on #394
@dgreene I found out about `@ignore` reading the source, maybe someone can document the behavior?

[2019-08-11 09:09] joni7777 commented on #35
Implemeneted a POC in the PR: https://github.com/lukeautry/tsoa/pull/396

[2019-08-11 11:54] dgreene1 commented on #394
I approved the PR, so this is closed. We'll push that fix out to NPM soon. Btw, I'm not a big fan of the `@ignore` JSDoc annotation, and since we were able to solve the issue without even using `@ignore` then I think this is settled. I don't plan on documenting it's usage since I believe it is dangerous. If a property is public and it's ignored, then the property would come in as undefined and the

[2019-08-11 11:54] #394 closed

[2019-08-11 11:55] dgreene1 commented on #380
coming soon @sg2231 once we merge and release https://github.com/lukeautry/tsoa/pull/385. We're waiting on people to agree on the name for the new config option in https://github.com/lukeautry/tsoa/pull/385.

[2019-08-11 15:10] #395 closed

[2019-08-11 16:18] Asterix112 opened #398 "Method return type problem when dealing with arrays"
If you define a request handler and want to return an array of some type you will face a type naming issue in the OpenAPI specification when writing
[code]
instead of
[code]

If you then try to generate an API client using the Swagger codegen executable you will face the issue of return types like this (Dart):
[code]
Expected behavior:
[code]

[2019-08-11 16:28] Asterix112 opened #399 "Nested type is being ignored"
When writing a request handler returning a nested type you will face a type name generation issue within the OpenAPI specification.

Example:
[code]

The name generated will be:
[code]
But is expected to be:
[code]

[2019-08-11 18:17] dgreene1 commented on #398
Before I try to reproduce this, please include
* the full controller file that uses this model
* the interface model definition
* the Swagger YAML that is produced
* the Swagger YAML that you wish was produced

[2019-08-11 18:19] dgreene1 commented on #399
Same as the other issue you opened:

Before I try to reproduce this, please include

the full controller file that uses this model
the interface model definition
the Swagger YAML that is produced
the Swagger YAML that you wish was produced

The reason why I’m asking this is because I don’t see how that would compile without giving testGet a generic parameter. Additionally, it doesn’t make sense to

[2019-08-12 13:43] WoH opened #403 "Generate a property for readonly constructor args"
Follow up on #397:

Before #397:
[code]

would generate properties for: `publicConstructorVar, defaultConstructorArgument, readonlyConstructorArgument, optionalPublicConstructorVar`.

After #397:
`publicConstructorVar, optionalPublicConstructorVar`

This is according to my understanding of the [TypeScript Specification for constructor parameters](https://github.com/microsoft/TypeScript/blob/master

[2019-08-12 14:17] WoH opened #404 "OpenAPI 3 spec format incorrect"
Tl:Dr: The OpenAPI 3 spec generated contains errors. For better reproducibility, I used the spec generated from the tests to illustrate some of the issues:

[code]

should look like this, according to the OAPI3 specification:

[code]

Notice how `produces` is no longer valid, but the value moved inside the response as `content`,
the parameter schema is now its own thing inside a parameter object,

[2019-08-12 14:21] vinniimiranda commented on #93
Any news about this issue?

[2019-08-12 14:48] dgreene1 commented on #403
#402 merged

[2019-08-12 14:48] #403 closed

[2019-08-12 15:25] dgreene1 commented on #380
@sg2231 I just released version 2.4.4 which contains the secure versions. Thank your for being a member of our community. If you wouldn't mind sharing with people on twitter, reddit, or [dev.to](https://dev.to)?

Also, there were a bunch of other enhancements. Check those out in: https://github.com/lukeautry/tsoa/releases/tag/v2.4.4

[2019-08-12 15:25] #380 closed

[2019-08-12 15:26] dgreene1 commented on #395
@joni7777 I just released version 2.4.4 which contains this work. Thank your for being a member of our community. If you wouldn't mind sharing with people on twitter, reddit, or [dev.to](https://dev.to)?

Also, there were a bunch of other enhancements. Check those out in: https://github.com/lukeautry/tsoa/releases/tag/v2.4.4

[2019-08-12 15:28] dgreene1 commented on #379
@lucas-rudd I just released version 2.4.4 which contains this work. Thank your for being a member of our community. I'd love to see more people using tsoa. If you wouldn't mind sharing with people on twitter, reddit, or [dev.to](https://dev.to)?

Also, there were a bunch of other enhancements. Check those out in: https://github.com/lukeautry/tsoa/releases/tag/v2.4.4

[2019-08-12 15:37] #373 closed

[2019-08-12 15:39] dgreene1 commented on #373
@danshapir I just released version 2.4.4 and PR https://github.com/lukeautry/tsoa/pull/408 which contains a readme update that clarifies the issue you presented. Thank your for being a member of our community. I'd love to see more people using tsoa since it's such a useful product. If you wouldn't mind sharing with people on twitter, reddit, or [dev.to](https://dev.to)?

Also, there were a bunch o

[2019-08-12 15:53] dgreene1 commented on #362
If anyone is looking for an easy first contribution, this one is super easy. Check out this code as a jump start: https://github.com/lukeautry/tsoa/blob/f47caefdedb8cc62200886c81135b7be4070f317/src/metadataGeneration/parameterGenerator.ts#L56

@alex-borkun please consider submitting a PR for this if it's still a feature if it's still something you're interested in. We apologize for the slow respon

[2019-08-12 15:57] dgreene1 commented on #352
@oreporan we're actively working on fixing this. There's a new issue number (https://github.com/lukeautry/tsoa/issues/393) that we're using to track this so I'm going to close this issue. And there's already a PR out with a proposal #400. Please note that union types can not be represented in Swagger 2.0, but they can be in OpenAPI 3.0. So once PR #400 merges, you'll need change `tsoa.json`'s `"sw

[2019-08-12 15:57] #352 closed

[2019-08-12 16:23] dgreene1 commented on #320
New maintainer here. Sorry for the delay. I'd like to confirm your expectations. So you'd like to see something like be produced right?

[code]

And that's if you provided:
[code]

[2019-08-12 18:40] dgreene1 commented on #377
@lucas-rudd after reading more about your specific case of using serverless, you might want to look into libraries such as https://github.com/awslabs/aws-serverless-express that do the conversion of the serverless context stuff into the standard express server. Maybe that would allow you to only document the swagger information for your service and not the serverless wrapper stuff. It's just an id

[2019-08-12 18:49] dgreene1 commented on #344
@aktary I just released 2.4.5 which has this change. Thank your for being a member of our community. I'd love it if more people were using `tsoa` since it's such a helpful library. If you wouldn't mind, please share it with people on twitter, reddit, or [dev.to](https://dev.to)?

Also, there were a bunch of other enhancements that went out in previous version 2.4.4. Check those out in: https://git

[2019-08-12 18:49] #344 closed

[2019-08-12 18:52] dgreene1 commented on #327
Thank you. I agree and we've just started doing that. [See here](https://github.com/lukeautry/tsoa/releases). Thank your for being a member of our community. If you wouldn't mind sharing with people on twitter, reddit, or [dev.to](https://dev.to)?

Side note, a bunch of really helpful updates just made it out in version
 2.4.4: https://github.com/lukeautry/tsoa/releases/tag/v2.4.4

[2019-08-12 18:52] #327 closed

[2019-08-12 18:54] dgreene1 commented on #325
I just added a section in the readme (https://github.com/lukeautry/tsoa#specify-error-response-types-for-swagger) that links to [the preferred way](https://github.com/lukeautry/tsoa/issues/382) of sending a body back that contains the error message. If you have any questions, please let us know. :)

[2019-08-12 18:54] #325 closed

[2019-08-13 02:00] dgreene1 commented on #93
I’m one of the new maintainers, and I’d love to help you guys out but (a) I have never had to send a file back from an API so so don’t feel qualified to review this PR and (b) the PR needs to be rebased again.

But I promise you that if someone else rebases it and gives it a solid review then I will merge it and push the new version to npm.

I do have one concern though, does it make sense to allo

[2019-08-13 02:36] dgreene1 commented on #93
Update: I did review the PR and there are a few things missing. Before we support this officially, we need to make sure that we are at least generating the correct swagger models. If we can’t do that then we’re not offering anything different than the workaround (which is to have a custom route that lives outside of tsoa) since neither would be providing swagger generation. That being said, I don’

[2019-08-13 02:51] dgreene1 commented on #240
Union types are being tracked under https://github.com/lukeautry/tsoa/issues/393 so we’ll close this and track the feature there.

[2019-08-13 02:51] #240 closed

[2019-08-13 02:58] dgreene1 commented on #261
To avoid code bloat in tsoa, I nominate that we do not support this feature when it’s very easy for users to add the path parameter as follows:

[code]

Personally, I also find this version to be more readable. That being said, if there’s enough interest we can re-open the issue.

[2019-08-13 02:58] #261 closed

[2019-08-13 03:02] dgreene1 commented on #264
This feature was added in https://github.com/lukeautry/tsoa/pull/385 and is currently being enhanced in https://github.com/lukeautry/tsoa/pull/411. Feel free to provide feedback in the [enhancement ticket](https://github.com/lukeautry/tsoa/pull/411).

Thank you for the great suggestion @mushketyk. It was fun working on this feature. If you wouldn’t mind sharing your enjoyment of the tsoa library o

[2019-08-13 03:02] #264 closed

[2019-08-13 03:07] dgreene1 commented on #204
@simllll from what I can tell of reading the code, tsoa simply never supported type aliases. That being said, we’d certainly be open to a PR to support this.

[2019-08-13 03:08] dgreene1 commented on #197
Fixed in https://github.com/lukeautry/tsoa/pull/233

[2019-08-13 03:08] #197 closed

[2019-08-13 03:09] dgreene1 commented on #194
Housekeeping

[2019-08-13 03:09] #194 closed

[2019-08-13 03:14] dgreene1 commented on #177
I am assuming the mistake is that you didn’t install node modules by running `yarn` first. I could try to help you diagnose your issue, but I think it makes sense to close the issue since (a) this is a very old issue and (b) I just started as a maintainer on tsoa. If you or anyone else has issues, feel free to open a new PR with reproduction steps, the outcome, and desired outcomes.

[2019-08-13 03:14] #177 closed

[2019-08-13 03:14] #174 closed

[2019-08-13 03:19] dgreene1 commented on #159
This is possible with the use of the `ignore` config option: https://github.com/lukeautry/tsoa/blob/master/src/config.ts#L18

You would need to run tsoa twice on your separate folders. I would recommend running tsoa programmatically as described in the readme so it will be easier to keep track of your separate configs. We’ll close the issue for housekeeping reasons since I just described a workaro

[2019-08-13 03:19] #159 closed

[2019-08-13 03:20] dgreene1 commented on #155
Fixed in https://github.com/lukeautry/tsoa/pull/161

[2019-08-13 03:21] #155 closed

[2019-08-13 03:22] dgreene1 commented on #120
Yes. And more importantly, that’s how Swagger / OpenAPI Spec describes a dictionary. Read more here: https://swagger.io/docs/specification/data-models/dictionaries/

[2019-08-13 03:22] #120 closed

[2019-08-13 03:26] dgreene1 commented on #212
If anyone wants to take ownership of their own example repo, we can add it to the readme. The current example repo may or may not get updated. The examples in the test files are probably the best resource for adopting current tsoa.

[2019-08-13 03:28] dgreene1 commented on #195
I added a readme explanation for this error: https://github.com/lukeautry/tsoa/blob/41dcf54ec2bfac4a301328f9a602718e4b2e3674/ExternalInterfacesExplanation.MD

Please see that for more information.

[2019-08-13 03:28] #195 closed

[2019-08-13 11:51] vinniimiranda commented on #182
This is a workaround, but when you go to swagger UI it's doesn't work propely.
This feature would be nice to have, and we will stick to REST.

[2019-08-13 12:05] dgreene1 commented on #182
@vinniimiranda I’ve updated the workaround. You have to have something in the route tag. I use this particular approach in my own project and it works fine in Swagger UI.

[2019-08-13 12:25] vinniimiranda commented on #182
I have, here's.
![image](https://user-images.githubusercontent.com/33462844/62941148-c09bbd00-bdab-11e9-936d-7bb448d9d2be.png)

But i also have another controller like this:
![image](https://user-images.githubusercontent.com/33462844/62941250-fccf1d80-bdab-11e9-8b2a-04602eb117b4.png)

When a click on /exams/{id}/notes he opens up both above.

[2019-08-13 12:40] dgreene1 commented on #182
@vinniimiranda that’s because they share the same value in @Tags. If you change that then swagger UI will update to what you’re expecting.

[2019-08-13 12:40] #182 closed

[2019-08-13 13:00] vinniimiranda commented on #182
I realize that, but both belongs to Exams. Anyways, this path variable would save a lot of time.

[2019-08-13 15:22] lucas-rudd opened #413 "Fileglob for Swagger doc generation"
Currently, the `entryFile` parameter takes a single argument.

With micro-service usage, consumers may have many services defined and independently deploy-able within a mono-repo.

Base files (such as tslint, tsconfig, etc) may be put at the root level for project level configuration, while others may be nested within the services.

The proposal here is to add support for an `entryFiles` key, whic

[2019-08-13 15:31] dgreene1 commented on #292
@timdev / @osdiab / @pjoe this fix (https://github.com/lukeautry/tsoa/pull/412) is now released in v2.4.7 so you don't need to use a custom template anymore. Also, there were a lot of fantastic improvements that came out in our other releases this week (especially 2.4.4 and 2.4.5 which include automatic controlller crawling and strict input types), so please check out the release notes to see what

[2019-08-13 15:49] dgreene1 commented on #389
@luli0822 we believe that this issue has been solved (in https://github.com/lukeautry/tsoa/pull/401) with the release of tsoa version v2.4.7. Please upgrade tsoa within your repo and let us know if you're still having the issue.

[2019-08-13 15:49] #389 closed

[2019-08-13 15:51] dgreene1 commented on #390
Yes, this other issue should be resolved now, see the other comment thread: https://github.com/lukeautry/tsoa/issues/389#issuecomment-520892764

And this issue we're currently in was resolved by the fact that tsoa does the request validation for you.

[2019-08-13 16:13] dgreene1 commented on #413
@lucas-rudd I am curiously waiting for mono-repos to become officially supported by typescript (you can [check out the future plans for official mono-repo support in TypeScript here](https://github.com/microsoft/TypeScript/issues/25600)). Until that happens, I'd really like to wait on adding that into tsoa since it could be subject to change.

So in the meantime, I would recommend that you use tso

[2019-08-13 16:13] #413 closed

[2019-08-13 16:18] lucas-rudd commented on #413
Hey @dgreene1, we're already using tsoa programmatically, and it works wonders. However, the one you've outlined looks a bit more comprehensive, and looks as though we could take some inspiration from it.

Currently, our generator file does not merge configuration from root/sub-directories, and it looks like yours would, which is a huge improvement to our current swagger generation process.

Thank

[2019-08-13 16:57] #404 closed

[2019-08-15 14:55] WoH opened #416 "ValidationService: Use joi for data validation"
Since becoming more familiar with TSOA internals and therefore the ValidationService, I noticed there is a lot of custom validation logic involved.

Would it make sense to shift these responsibilities to another library and avoid duplicated efforts?

Maybe https://github.com/hapijs/joi is a good candidate to promote from dev to runtime dependency.

@lukeautry @dgreene1 @endor

[2019-08-15 14:59] lukeautry commented on #416
@WoH I realize I'm pretty absentee on this project right now. My main focus (outside of my actual job, lol) has been on a library that does what you're talking about, but in a more TypeScript-ish way. Once I actually release this library there will be more to talk about.

What I'd like to avoid is adding runtime dependencies in the generated routes.

[2019-08-15 15:00] WoH commented on #416
@lukeautry sounds exciting, looking forward to that :+1:

[2019-08-15 15:00] #416 closed

[2019-08-15 18:49] ryankeener opened #417 "Internal typeResolver cache causes issues when running generateRoutes before generateSwaggerSpec"
This cache is re-used when running `generateSwaggerSpec` after `generateRoutes` within the same node process.
https://github.com/lukeautry/tsoa/blob/200b887c5d472ec53810c18f4d8b90a774b5785d/src/metadataGeneration/typeResolver.ts#L17

This bit of code
https://github.com/lukeautry/tsoa/blob/200b887c5d472ec53810c18f4d8b90a774b5785d/src/metadataGeneration/typeResolver.ts#L256-L259

short circuits the

[2019-08-15 20:59] dgreene1 commented on #417
@ryankeener, would you be interested in submitting a PR to fix this?

[2019-08-15 21:46] ryankeener commented on #417
I dug into it far enough to provide the information above but I don't think I have a deep enough understanding of what's going on (nor the time to do so right now) to create a PR. For now I'm just brute-force clearing `tsoa` and its components from the `require.cache` before executing the second stage.

I _think_ duplicating these two lines into the `existingType` check also worked but I can't be

[2019-08-16 14:10] novotl opened #418 "Warning line break tslint"
This issue is caused by #344. The first 3 lines of the generated routes file are
[code]

The warning message should not be before the disable of tslint/eslint. For example the [max-line-length](https://palantir.github.io/tslint/rules/max-line-length/) fails for the default value of 120 characters.

[2019-08-16 15:12] joni7777 opened #420 "Missing support for dynamic controllers in the spec generator"

[2019-08-16 16:22] dgreene1 commented on #420
@joni7777 I don’t understand what this PR is supposed to be accomplishing. I might be just tired so forgive the fact that I’m not picking it up from reading your code. But more importantly, we wouldn’t accept this until there’s a readme update that explains the value of this. So maybe when you push that change I can better understand the addition of this PR.

I’m mostly asking about this because I

[2019-08-16 16:27] #418 closed

[2019-08-16 16:34] dgreene1 commented on #418
@novotl Thank you for reporting this. I just published v2.4.8 which has the fix for this issue. My apologies for the inconvenience. Thank you for being a part of the tsoa community. :)

[2019-08-16 16:37] dgreene1 commented on #399
@Asterix112 it's been 5 days and we still haven't received any steps to reproduce this. Please see above. Due to that we'll close this for housekeeping purposes. However, if you are able to submit the information above we can re-open the issue and try to solve it. Thank you.

[2019-08-16 16:38] dgreene1 commented on #398
@Asterix112 it's been 5 days and we still haven't received any steps to reproduce this. Please see above. Due to that we'll close this for housekeeping purposes. However, if you are able to submit the information above we can re-open the issue and try to solve it. Thank you.

[2019-08-16 20:02] Asterix112 commented on #398
@dgreene1 Sorry for my late response. Because of project protection purposes i cannot send the whole controller to you. I could send you everything that is directly in touch with the problem we are facing (e.g. controller function including annotations and the controller class itself, also including annotations and of course the interfaces)

Controller:
[code]

Swagger:
[code]

Are you fine with t

[2019-08-16 22:23] dgreene1 commented on #398
The swagger looks accurate to me based off of the TypeScript types you’re showing. What is wrong with the Schema that was generated?

You mentioned dart in the original description. Are you saying that the problem is in the dart code that you are generating from the swagger documentation? If so, then it’s not an issue with tsoa.

[2019-08-16 22:56] lazylazyllama commented on #398
What he is talking about is:

"GenericResponseBaseSchool[]" should be "GenericResponseBaseSchool" ... without the "[]".

They are redundant and only cause problems. Example given: You cannot name a function "GenericResponseBaseSchool[]" because the brackets are not allowed in function names.

Also if you write Array<GenericResponseBaseSchool> the output is correct and you get "GenericResponseBaseS

[2019-08-17 03:15] luli0822 opened #423 "Authorization Header in Controllers Not Auto-generated"
Hello,

From the latest 2.4.7, the initial issue that the Swagger 3.0 was not working properly got resolved. But I found that the @Header('Authorization') I wanted to apply in the endpoints in any controllers didn't appear in the auto-generated request. For example,
[code]
From Swagger, I clicked the _Try it Out_ and entered the required the path param and the header (see screenshot below)
![image

[2019-08-17 03:26] luli0822 commented on #389
@dgreene1 The validation errors from OpenAPI 3 are resolved. Thanks very much. But I found another issue #423.

[2019-08-17 04:56] dgreene1 commented on #170
I believe the answer is to use the `@Request` parameter decorator. I’ve added more information to the readme on how to use it. Once you have that (and have set the type to be either `Express.Request` or `Koa.Request`), you have the full ability to set the header in the same that you would have with pure Express or Koa.

As for declaring it in Swagger... I actually don’t know (I just recently joine

[2019-08-17 05:08] dgreene1 commented on #423
@luli0822 I’m glad to hear that it’s working within Postman. Since the authorization header is showing up as a requirement in Swagger UI I can see that tsoa is doing its job of putting that documentation into the swagger.yaml.

Since tsoa is producing the swagger.yaml properly and it is enforcing the requirement that the header exists, it is doing it’s job properly.

Issues with swagger-UI are out

[2019-08-17 05:08] #423 closed

[2019-08-17 05:14] dgreene1 commented on #349
Issues 1 and 4 were fixed in https://github.com/lukeautry/tsoa/pull/408

To answer issue 2, I believe that the absence of the @Path decorator is there to demonstrate that you don’t need to use he decorator. I believe tsoa automatically infers that parameters of the route function are automatically path variables if not otherwise specified.

Issue 5: yes I think it was one of those things were we h

[2019-08-17 05:14] #349 closed

[2019-08-17 05:22] dgreene1 commented on #333
This is answered in the readme: https://github.com/lukeautry/tsoa#dealing-with-duplicate-model-names

[2019-08-17 05:25] dgreene1 commented on #330
The information on how to to intercept the error message is described here: https://github.com/lukeautry/tsoa/issues/382

From within your middleware, you have the opportunity to provide whatever formatted response you’d like.

[2019-08-17 05:25] #330 closed

[2019-08-17 05:27] dgreene1 commented on #324
This is a duplicate of https://github.com/lukeautry/tsoa/issues/353, so we’ll track the issue there.

[2019-08-17 05:27] #324 closed

[2019-08-17 05:31] dgreene1 commented on #353
@HoldYourWaffle we’d love if you could submit your PR for this.
@dmitrirussu had a similar and interesting request here: https://github.com/lukeautry/tsoa/issues/324#issue-391707399

I also work with another team that would find this really valuable as they use OData filters. So suffice to say, you’d be quite the hero if you were to submit this! :)

[2019-08-17 17:42] Asterix112 commented on #398
Please reopen ASAP

[2019-08-17 18:13] dgreene1 commented on #398
Okay, now that this issue has been made clear, we can reopen it.

For anyone looking to take on this PR for us, this is the acceptance criteria:

* given the interfaces described above, the $ref name that is produced should be `”GenericResponseBaseSchool"` not `”GenericResponseBaseSchool[]”`

[2019-08-17 18:35] dgreene1 commented on #398
@asterix112 I reopened it and updated the acceptance criteria above to clarify that the produced name should not have a [] but it must have the word Array as the suffix go clarify that T is of type Array.

[2019-08-17 19:41] joni7777 commented on #420
After some digging, I found out that the generate swagger spec is working with the dynamic controllers glob because of 2 reasons:
1. The cache across same node process the TypeResolver share
2. If you generate the routes file first, and import it to the program entry point, when you generate the metadata for the spec generator, the program starts from the server entry point which imports the route

[2019-08-17 21:36] WoH opened #426 "Model validation throws when key of a declared nested property is missing."
Model used:
[code]

Reproduction (express-server.spec.ts)

[code]

All of these will throw on the server and exit with a 500 because [`validateModel()`](https://github.com/lukeautry/tsoa/blob/master/src/routeGeneration/templateHelpers.ts#L365) assumes too much:

[code]

[2019-08-18 02:19] lukeautry commented on #420
IIRC, the purpose of the cache is to handle self-referencing types, although I think `inProgressTypes` sort of serves that same purpose.

I wonder if we deleted the cache totally, would tests still pass? I believe there is test coverage in place for the case I mention above.

[2019-08-18 07:25] joni7777 commented on #420
I think the cache is nice addition for all the reference type, just we need to clear it for every new run on files converted to program

[2019-08-18 11:15] dgreene1 commented on #420
@ryankeener, in your original issue report https://github.com/lukeautry/tsoa/issues/417 you said that the cache was causing issues. Can you clarify what those issue are?

In order for us to fix the bug we have to be able to reproduce the bug first. As soon as you can describe what you meant by “issue” we can add a unit tests that goes red and then fix the code so it remains green (ie “red green re

[2019-08-18 15:12] luli0822 commented on #423
@dgreene1 thanks a lot for letting me know this existing issue from Swagger UI.

[2019-08-18 18:53] Asterix112 commented on #399
@dgreene1 Sorry for my late response. Because of project protection purposes i cannot send the whole controller to you. I could send you everything that is directly in touch with the problem we are facing (e.g. controller function including annotations and the controller class itself, also including annotations and of course the interfaces)

Controller:
[code]

Swagger:
[code]

Are you fine with t

[2019-08-18 18:53] Asterix112 commented on #399
Please reopen ASAP

[2019-08-18 19:17] dgreene1 commented on #399
I understand that you want a better name to be produced for GenericResponseArray, but the name that us produced is valid.

I will reopen the ticket but since this is a potentially breaking change it will have to come out after the more pressing big fixes that are currently in PRs.

So if you’d like to see these two issues you've created get fixed, please submit a PR for them yourself. All tsoa sup

[2019-08-18 19:45] lazylazyllama commented on #399
Actually it is not only about the naming and causes quite some real problems for us:

Example given:
We have these two functions:

[code]
[code]

Now both get GenericResponseArray as their interface.
And GenericResponseArray looks like this:

[code]

As you can see "GenericResponseArray has data => items.
And those items point to #/definitions/Substitutionplan

But in our second case we need it to

[2019-08-18 22:40] WoH commented on #399
This is an easy bug fix since it is only about resolving the name clash, I opened #427 to address it.

I fundamentally disagree with @dgreene1 on what a bugfix is vs. a breaking change however, so you might have to build it from [here](https://github.com/WoH/tsoa/tree/nestedNaming) for the foreseeable future.

[2019-08-18 23:01] WoH commented on #399
This is an easy fix since it is only about resolving the name clash, I opened #427 to address it.

I fundamentally disagree with @dgreene1 on what a bugfix is vs. a breaking change (in terms of versioning) here, so you might have to build it from here until it is merged.

[2019-08-18 23:05] lazylazyllama commented on #399
Thanks A LOT! :):)

[2019-08-19 01:40] dgreene1 commented on #399
@WoH can you clarify what you mean by this?

Also, what version number do you think this should get?

[2019-08-19 02:15] dgreene1 commented on #399
And to clarify, I only though that this was ”potentially a breaking fix” when I thought that it was the difference between `[]` and `Array` (I confused the other PR @Asterisk112 made). But now that @lazylazyllama has clarified the acceptance criteria, it’s clear that this is a necessary change.

So I will review your PR @WoH as soon as I can. I’d prefer that you don’t recommend to others that they

[2019-08-19 09:29] ThomasKruegl commented on #170
Currently i am working in a completely different environment, and don't have time to follow up on this. Just saying so you know i won't be able to test or do anything here.
But thanks for picking this up anyway :)

[2019-08-19 10:55] WoH commented on #399
Whatever the next patch is at the time of the merge. Since this is an issue that only affects users that were using nested type parameters (which were broken).

I agree.

I take note of your objection. It seemed to me like you were not comfortable with merging it in so I offered a possible way to compromise between both parties for a limited amount of time.

[2019-08-19 14:42] WoH opened #429 "Discussion: Type Aliases should be aliases, not references"
Tl;Dr: Treat type aliases like symlinks, not like references (models/classes).

From the [Typescript handbook](https://www.typescriptlang.org/docs/handbook/advanced-types.html#type-aliases) on interfaces vs. type aliases:

TSOA currently supports a very narrow set of type aliases: Interface aliasing and Intersections of Interfaces/Classes (where it collects the properties of all members).

Given #

[2019-08-19 14:58] dgreene1 commented on #429
This looks like a question for @lukeautry

[2019-08-19 15:32] lukeautry commented on #429
In the current framework, yeah, we don't *really* support type aliases, and the way that we do support them is as a pointer to an interface or a class, so I think this is reasonable.

I actually think full support for type aliases makes sense though, i.e. discriminated unions. It's possible that this has been implemented, but to my knowledge it has not.

If we have, say:

[code]

...the end user i

[2019-08-19 15:33] WoH commented on #429
Somewhat related: #204.
We could get rid of the issue by treating the alias like a pointer to a union, which can be properly resolved on #400
For ppl that prefer to look at it: https://github.com/WoH/tsoa/commit/d5abad9fd1825eb073a26c9d4a7b104172424a8c

Note that some of the fixed tests refer to new properties on the TestModel and therefore would not be considered a breaking change in any case.

[2019-08-19 15:35] lukeautry commented on #420
Okay, yes. There should be a new instance of the cache for every top-level call of generateMetadata.

Re-using the cache can sometimes be useful when you're working with the module API (not CLI), and you don't want to redo the expensive work of generating metadata twice.

[2019-08-19 15:41] WoH commented on #429
If you're talking about ValidationErrors, here is what TS does:

(from the handbook):

[code]

[2019-08-19 15:42] #398 closed

[2019-08-19 15:43] lukeautry commented on #429
I think it probably makes sense to align with what TypeScript does, then.

[2019-08-19 16:02] #417 closed

[2019-08-19 16:04] dgreene1 commented on #417
@ryankeener this fix will go out in today's release. Please let me know if it works for you. Should be version 2.4.9.

[2019-08-19 18:30] #420 closed

[2019-08-19 18:48] dgreene1 commented on #417
k @ryankeener it was released. Please let us know if the issue is still occurring. See our release notes for other changes: https://github.com/lukeautry/tsoa/releases

[2019-08-19 18:50] dgreene1 commented on #399
@Asterix112 / @lazylazyllama the fix for this was released in 2.4.10. Thank you for informing us of the issue. Please let us know if it's resolved. You can also see what else was released in our release notes: https://github.com/lukeautry/tsoa/releases

Lastly, if you're enjoying using tsoa, then please consider sharing your enjoyment on Twitter, Reddit, or [dev.to](https://dev.to). :)

[2019-08-19 18:50] #399 closed

[2019-08-19 18:50] dgreene1 commented on #398
@Asterix112 / @lazylazyllama the fix for this was released in 2.4.10. Thank you for informing us of the issue. Please let us know if it's resolved. You can also see what else was released in our release notes: https://github.com/lukeautry/tsoa/releases

Lastly, if you're enjoying using tsoa, then please consider sharing your enjoyment on Twitter, Reddit, or [dev.to](https://dev.to). :)

[2019-08-19 23:53] dgreene1 commented on #27
Full support for generics was added in v2.4.10.

[2019-08-19 23:58] dgreene1 commented on #121
Closing for house keeping. Significant improvements to generic handling occurred in 2.4.10

[2019-08-19 23:58] #121 closed

[2019-08-20 08:53] dgreene1 commented on #426
Would you like this merged before or after your intersection/union PR? In fact, if you could write down the order you want all of your PRs merged, that would be helpful. I don’t want you to have to do more rebasing/merge-resolving than necessary. :)

[2019-08-20 08:57] dgreene1 commented on #231
@fhewitt / @shaicantor we’d love to include your restify template in tsoa if you’d like to submit a PR. If not, we’ll probably have to close this issue for housekeeping.

[2019-08-20 08:59] dgreene1 commented on #225
Closing due to inactivity in the PR: https://github.com/lukeautry/tsoa/pull/234#issuecomment-520676547

[2019-08-20 08:59] #225 closed

[2019-08-20 09:01] #142 closed

[2019-08-20 09:06] dgreene1 commented on #143
Closing this since it’s unclear what the question is and also because it’s very old. The best I can tell, the answer is to use the JSDoc annotations.

There are examples of the JSDoc validators at these two links:
https://github.com/lukeautry/tsoa/blob/121565d0facbe86d1793612cab0a8df666e5d6f9/tests/fixtures/testModel.ts#L236
and here:
https://github.com/lukeautry/tsoa/blob/41dcf54ec2bfac4a301328f9

[2019-08-20 09:06] #143 closed

[2019-08-20 09:08] WoH commented on #426
This one should be first since I'd like to add integration tests for unions based on this behavior before the union pr is ready to be merged.

[2019-08-20 09:09] dgreene1 commented on #146
Can you clarify what you mean by “reuse parameters?”

And since this question is 2 years old, I suspect that you might not recall what you were trying to accomplish. So I’ll close the issue in the meantime. If we can still answer your question, we can reopen the issue.

I apologize for the delay in answering your question— we have new and additional maintainers now to provide support.

[2019-08-20 09:09] #146 closed

[2019-08-20 09:13] dgreene1 commented on #124
We’d be open to a PR for this. However, I do wonder if a custom attribute (like `x-namespace-meta`) might be a better choice than description.

We can reopen the issue @egandro when/if you create a PR for this. But due to the age of the issue we’ll close it for housekeeping purposes.

[2019-08-20 09:13] #124 closed

[2019-08-20 09:21] WoH opened #433 "ValidationService: Add more descriptive error messages."
_Originally posted by @dgreene1 in https://github.com/lukeautry/tsoa/pull/432_

[2019-08-20 10:07] #426 closed

[2019-08-20 12:17] ryankeener commented on #417
@dgreene1 It works, thanks!

[2019-08-20 12:56] joni7777 commented on #236
Hey!

I would like to help to,
After merging 2 PR and had part in another I'm starting to get to know most of the base code.

[2019-08-20 15:35] Asterix112 commented on #399
@dgreene1 @WoH Thank you for your fast work and the well done fix! Everything works as expected now.

[2019-08-20 15:36] Asterix112 commented on #398
@dgreene1 @WoH Thank you for your fast work and the well done fix! Everything works as expected now.

[2019-08-20 20:12] haibei commented on #93
@ryo-nbx Hey, I am looking into the workaround solution you provided above. It is looking good. Would you please publish a sample project for the workaround solution.

[2019-08-21 11:44] dgreene1 commented on #360
@HoldYourWaffle what is the value in having the file name be different?

I believe there is a larger value in that if you’re a developer who is familiar with tsoa then you know that there will be a routes.ts file in the project. This provides consistency so that developers familiar with tsoa can move from project to project.

That’s why I’m wondering what the value is for changing the file name. I

[2019-08-21 18:24] vinniimiranda opened #435 "Reponse from express"
I need access to the reponse from express inside a controller, i've tried the @Reponse decorator but did not work, if i can't have this i will have to stop using tsoa.

[2019-08-21 19:55] dgreene1 commented on #435
Can you describe what kind of apiroute you’re trying to write?

This feature has never been asked for because if you return an object from your tsoa route function, then the result will be set to the response body.

So everything you want to do with the Express response should be possible.

If however you want to have an explicit handle on the response then you can use Koa which allows you to get

[2019-08-22 11:48] vinniimiranda commented on #435
I need res to send back a report generated by jsreport, here's an example:
![image](https://user-images.githubusercontent.com/33462844/63511637-1d882900-c4b8-11e9-9963-d83c1f92d6b2.png)

Here's an example working with access of the res from 'express'

![image](https://user-images.githubusercontent.com/33462844/63512188-90de6a80-c4b9-11e9-8c73-bda212ccf52f.png)

[2019-08-22 12:40] dgreene1 commented on #435
Here is an example of someone doing that same thing with tsoa: https://github.com/lukeautry/tsoa/issues/44#issuecomment-509693245

[2019-08-22 12:40] #435 closed

[2019-08-22 14:06] vinniimiranda commented on #435
Thanks for the quickly reply but this solution did not work for me, thanks anyway.

[2019-08-22 16:11] HoldYourWaffle commented on #360
The reason why I want to change filenames is because I use custom templates to generate both the server routes *and the client SDK* using TSOA. Having `client.ts` and `server.ts` makes a lot more sense in that case.

I do this because I want more control over generated code. Because both sides are in Typescript for me, Swagger/OpenAPI is an unnecessary middleman (and just generally very unhelpful)

[2019-08-22 16:14] HoldYourWaffle commented on #353
Sorry for the late response, haven't touched this in a while due to summer break.

I don't remember much and I'm not able to really look into the code right now, but from what I remember my implementation was very basic and specific to my use-case. I'll see what I can do to fix it up and maybe make it more usable for other use-cases.

[2019-08-22 16:20] HoldYourWaffle opened #436 "Pre-commit hook running full test-suite is very slow"
https://github.com/lukeautry/tsoa/commit/2a9e76ebdd874772a1ec8c998c3242cd79fbfac8 added a pre-commit hook that invokes the full linter/test-suite setup. Although I can definitely understand the reason for this, it's not really helpful when I'm just trying out some stuff and need to quickly make a "checkpoint" commit or when I'm ammending/squashing previous commits using interactive rebase. Especia

[2019-08-22 17:05] dgreene1 commented on #436
Right now that commit hook is the only thing that helps me as a maintainer for sure that PRs are actually passing when they’re submitted to us. If you’re looking for a way to save your changes, then I’d recommend using `git stash

[2019-08-22 17:07] dgreene1 commented on #436
Also, we have plans to have the unit tests run every time a PR is submitted. That should ease some pain.

Until then git stash should help you.

I’m closing this “issue” since there is nothing wrong with tsoa in regards to the husky hook. Moreover, this is a good and standard practice that you’ll see in many libraries.

[2019-08-22 17:07] #436 closed

[2019-08-22 17:19] HoldYourWaffle commented on #436
I have never come across a library that runs it's full test-suite on every commit but that might just be me.

This would be the best solution of course, most projects nowadays do this.

[2019-08-22 17:22] HoldYourWaffle commented on #436
I also just remembered that you can [skip commit hooks](https://stackoverflow.com/questions/7230820/skip-git-commit-hooks) with `git commit --no-verify`, that saves a lot of trouble when ammending/squashing commits.

[2019-08-22 17:27] dgreene1 commented on #436
If you want to do that, that's fine. But please do make sure to run the tests when you push your final commit. We've had many PRs that were merged under the belief that they were passing. However, once they were merged they broke every subsequent PR. If that happens, I'm much less likely to accept a PR from someone who has done that.

That's why I recommended `git stash` as a much safer option for

[2019-08-22 17:37] HoldYourWaffle commented on #436
Of course! I'm impatient, not barbaric ;)

Interesting... I wonder how many of those use it for preventing `push` rather than `commit` when tests are failing, which I know to be a common (and I suppose good) practice.

[2019-08-22 17:52] dgreene1 commented on #436
I used to use the `pre-push` hook but it doesn’t work with libraries since it creates an infinite loop when you run npm publish.

[2019-08-22 19:54] #393 closed

[2019-08-22 20:56] dgreene1 commented on #391
@avizcaino I'm happy to report that the we added our first draft of unions and intersections in v2.4.11. Please consider upgrading to it and let us know how it works for you. :)

[2019-08-22 20:58] dgreene1 commented on #169
@areijngoudt / @AmazingTurtle / @egandro, I'm happy to report that the we added our first draft of unions and intersections in v2.4.11. Please consider upgrading to it and let us know how it works for you. :) Please note: you must have config.swagger.specVersion set to 3 for this to work since `oneOf` and `allOf` are not supported in Swagger (but they are in OpenAPI 3.0).

[2019-08-22 21:00] dgreene1 commented on #352
@oreporan I'm happy to report that the we added our first draft of unions and intersections in v2.4.11. Please consider upgrading to it and let us know how it works for you. :) Please note: you must have config.swagger.specVersion set to 3 for this to work since `oneOf` and `allOf` are not supported in Swagger (but they are in OpenAPI 3.0).

I'm not 100% confident that we handled the `Promise<User

[2019-08-22 21:02] dgreene1 commented on #240
@adrianplavka, @strongpauly, @AmazingTurtle, I'm happy to report that the we added our first draft of unions and intersections in v2.4.11. Please consider upgrading to it and let us know how it works for you. We would appreciate the feedback. :) Please note: you must have config.swagger.specVersion set to 3 for this to work since oneOf and allOf are not supported in Swagger (but they are in OpenAP

[2019-08-22 21:02] dgreene1 commented on #393
went live in v2.4.11

[2019-08-22 21:10] HoldYourWaffle opened #438 "Current master doesn't compile on TS 3.2.2"
fixes #438
fixes #434
While fixing up #361 I encountered the following compilation error:
[code]

This project also occurs on the `master` branch and is *probably* caused by https://github.com/lukeautry/tsoa/commit/8344f9f8c7f6cf90ff039e05f0a5f8bd8cafb6b9 (at least that's what `git blame` tells me).

The error occurs in this piece of code:
https://github.com/lukeautry/tsoa/blob/8344f9f8c7f6cf90ff0

[2019-08-22 21:16] HoldYourWaffle commented on #365
The express `Request` interface is designed in a way that you (or modules you installed) can add additional properties to it using [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html). For example, [passport.js](http://www.passportjs.org/) uses this to tell Typescript that it adds a `user` property to the request object. I need these additional properties in

[2019-08-22 21:21] HoldYourWaffle commented on #436
That sounds odd, why would it create an infinite loop?

[2019-08-22 21:32] WoH commented on #438
I also experienced the issue with `Array.includes()` and believe I mentioned it, can't say where at the top of my head. But can confirm.
As the author of the lines in question, yes, that is a truthy comparison to ensure every subschema references a type tracked in the referenceMap :)

[2019-08-22 21:41] HoldYourWaffle commented on #438
The truthy comparison should be fine, that was probably just a bug in tsc.

The `includes` error is strange though. In the issue you linked @dgreene1 mentions that `Array.includes` should be in `es6` which I thought was the case too. Adding `es7` to the `tsconfig.json` did solve the issue for me though.
He also says that it works fine for him, and that CodeShip is passing. I'm pretty sure it worke

[2019-08-22 22:05] WoH commented on #438
Ok, just for the sake pf documentation. It's another yarn's ts vs. package-lock by npm difference. Tried to yarn install -> build -> worked.
Wiped, npm installed -> got exactly your described errors (even the ModelSchema issue).
Upgraded ts -> still got the es6 lib issue.
Run `npm upgrade @types/node` and see if you're fine now aswell. That's what did it for me.

[2019-08-22 22:19] HoldYourWaffle commented on #438
Updating `@types/node` fixed the error, I updated #434 accordingly. Might be good to do a full dependency update & lock-file resync commit...

You mean the choice between yarn/npm?

[2019-08-22 22:29] WoH commented on #438
Yeah.

Not sure it's related, but I think you might wanna upgrade the linter aswell: https://github.com/lukeautry/tsoa/pull/437#discussion_r316879447

[2019-08-22 22:31] HoldYourWaffle commented on #438
@dgreene1 I'd be willing to create a PR/extend #434 for this if you want me to.

[2019-08-22 23:56] dgreene1 commented on #438
@HoldYourWaffle yes please make a PR for this. And is there a way that we can force contributors to only use npm or yarn?

[2019-08-23 09:28] HoldYourWaffle commented on #438
There isn't really a way to "prohibit" the use of one or the other (that I know of), but [yarn is able to interpret the `package-lock.json` format](https://yarnpkg.com/blog/2018/06/04/yarn-import-package-lock/) while npm can't read `yarn.lock`.
It still converts and creates its own lock-file though, so my suggestion would be to auto-delete this file in some npm script. Adding an entry in `.gitigno

[2019-08-23 10:49] HoldYourWaffle commented on #438
I updated #434.

[2019-08-23 11:55] #438 closed

[2019-08-23 19:44] #362 closed

[2019-08-23 19:59] qqnc commented on #31
It's big, but I love the idea!

[2019-08-23 21:44] HoldYourWaffle commented on #429
I *almost* completely agree with treating aliases as "just symlinks", but there are two reasons why I'd want to keep my aliases in the output: documentation and readability.

I like to have aliases like `type Word = string` to better clarify the meaning of primitives, and in some cases these type aliases have additional validation constraints attached to them (for example, a `Word` must at least h

[2019-08-23 22:03] HoldYourWaffle commented on #433
Sounds *valid* to me

[2019-08-23 22:05] HoldYourWaffle opened #447 "CLI always requires a valid config for both swagger & routes"
I know the title might sound a little strange, but this really is an issue (albeit with an easy workaround).

While testing for #192 I struggled a bit with getting the configuration right (been a long time since I've used this library...). I discovered that the problem was that I didn't specify a valid config for the `swagger` part of the configuration, even though I was trying to generate routes

[2019-08-23 23:25] WoH commented on #447
I can confirm the issue and agree with the assessment. In my case, the swagger docs are created dynamically, so I don't load the swagger config from the tsoa file. I'm using dummy settings there but ideally I would not have to do that.

[2019-08-23 23:53] dgreene1 commented on #447
This admittedly strange result was the only possible fix for https://github.com/lukeautry/tsoa/issues/420

The shortest summary I can give is:
1) dynamic controller globs was added for generateRoutes. This required the new property to live on RouteConfig
2) immediately after releasing that, the developer of the dynamic route generation feature pointed out to me that CLI users that used this featur

[2019-08-23 23:56] dgreene1 commented on #447
I believe the best solution would be to create a new method that has this signature:
[code]

This would future proof things so that we can introduce any change to the inputs by simply adding a new property to the Config interface. Please advise if this would eliminate the confusion you’re having @HoldYourWaffle.

[2019-08-24 01:43] dgreene1 commented on #447
The noImplicitAdditionalProperties is something that impacts both swagger generation and the validation that is built dynamically when the routes are generated.

That’s one use case where configs from one of the two commands impacts the other command. Another use case is the one I described above where the dynamic generation glob started on the routes config and then we realized that it was needed

[2019-08-24 14:11] WoH commented on #429
How would that validation look like. Are we talking about tsoa related validations here?
Please note that you can still do that just like before, I am only talking about how we internally represent that construct's metadata. Anywhere you'd say `word: Word`, we would internally transform that to: `word: string`.

You can still do that. There just won't be a name for it. If there are errors you won'

[2019-08-24 22:20] dgreene1 commented on #447
Just follow up @HoldYourWaffle / @WoH so is there something actionable here?

[2019-08-25 07:57] HoldYourWaffle commented on #447
Wouldn't it be easier to move the `controllerPathGlobs` and `noImplicitAdditionalProperties` options "one level up" like this:
[code]
This might require a small refactor of the "configuration system", but the last time I checked (which was admittedly not at my brightest moment) it looked like that would be a welcome improvement anyway. This might be what you're trying to say with but I couldn't te

[2019-08-25 09:56] HoldYourWaffle commented on #429
(Sorry for my late response, English is not my first language so it took quite a while to properly formulate my thoughts on this, I know it looks long but please bear with me [TL;DR included])

No I'm using [ajv](https://github.com/epoberezkin/ajv) with [json-schemas](https://json-schema.org/) (automatically generated by [ts-json-schema-generator](https://github.com/vega/ts-json-schema-generator/)

[2019-08-25 10:20] WoH commented on #429
Yes, that's what I was referring to.

That's pretty much what I'm proposing.

Yes, but you should not rely on type aliases to create a name for you. Which is what you are doing when you are expecting it to $ref (and therefore $ref to a name that TS would not have created).
Passing the JSDoc and validators along should definitely happen.

I see your concerns with this idea and I will check if there

[2019-08-25 12:40] dgreene1 commented on #429
If a user of tsoa is concerned with bloat then they don’t have to use type aliases.

[2019-08-25 13:16] dgreene1 commented on #447
@HoldYourWaffle. What was the precise error message that you received?

Because if you’re not getting an error, then I can’t say that this is really an issue and therefore it will get closed.

[2019-08-25 14:06] HoldYourWaffle commented on #447
I don't remember exactly (not at my desk right now so I can't test it) but they were all in the form of:
[code]

Is there a reason why my "move up a level" suggestion wouldn't work? Even if it wouldn't fit your definition of an issue it would still be a welcome enhancement in my opinion.

I also read your comment again to see if there was anything I missed

I'm not sure what you mean by that, what

[2019-08-25 14:16] WoH commented on #447
I'd argue even if it's not a bug, it is still an issue that should stay open since it is confusing behavior.

These are the errors if you're trying to generate routes with only route specific config.

[code]

and

[code]

[2019-08-25 16:18] lukeautry opened #449 "Develop contributor guide"
We want to get as much help as we can to improve the reliability and usefulness of tsoa. With more and more people getting involved, it may be helpful to establish a `CONTRIBUTING` guide that makes this process easier.

This is basically an open-ended discussion thread to figure out if this 1) seems like something people would want and 2) if so, what we would like it to be.

To kick things off: Ar

[2019-08-25 16:39] lukeautry commented on #212
I updated the example repo, but we point to https://github.com/lukeautry/ts-app now, which is a better project.

[2019-08-25 16:39] #212 closed

[2019-08-25 16:40] #231 closed

[2019-08-25 16:43] lukeautry commented on #224
I think this is a questionable direction. I could probably be convinced otherwise with a more detailed proposal.

`tsoa` is really oriented around JSON APIs. When we start getting into HTML, we're talking about returning content that isn't structured data. In my projects, I use tsoa for the core API, but I often make separate handlers when it doesn't fit well into the tsoa approach.

[2019-08-25 16:43] #224 closed

[2019-08-25 16:48] lukeautry commented on #447
I agree with pulling up the relevant config properties into the root config object. Swagger generation should never require route generation config and vice versa. Unfortunately, fixing this will be a breaking change, but the features we're talking about are so new that it should be relatively easy for consumers to get updated.

[2019-08-25 16:50] lukeautry commented on #92
Looks like this is basically the same as #372 . Closing this one.

[2019-08-25 16:50] #92 closed

[2019-08-25 16:50] WoH commented on #447
@lukeautry Maybe it makes sense to collect all the (mostly small) breaking changes, work on a milestone and release them as 3.0?

[2019-08-25 16:51] lukeautry commented on #149
You just use @query(). It works with POST too.

[2019-08-25 16:51] #149 closed

[2019-08-25 16:52] #203 closed

[2019-08-25 16:53] lukeautry commented on #188
Fixed with #277

[2019-08-25 16:53] #188 closed

[2019-08-25 16:55] lukeautry commented on #185
I believe this would be solved by #347. We likely wouldn't support Summary and Description and standalone decorators.

[2019-08-25 16:55] #185 closed

[2019-08-25 17:03] lukeautry commented on #447
Yes, I think so.

[2019-08-25 17:13] HoldYourWaffle commented on #447
I think a new major version release to enable a good cleanup of these kinds of small annoyances would definitely be a good thing.

[2019-08-25 22:29] HoldYourWaffle commented on #429
Passing the JSDoc and validators along should definitely happen.

I'm not sure why it matters how the typescript compiler exactly handles type aliases. We shouldn't try to make stuff do things that they obviously weren't designed for, but saving an aliased name doesn't sound too far fetched to me. (This is all assuming it's reasonably possible to support this "feature")

As far as I remember it wo

[2019-08-25 22:51] WoH commented on #429
To clarify: This should work technically fine for most cases. I'm not sure if we'd want to do that for very dynamic stuff, for example, mapped and conditional types.

[2019-08-27 00:53] dgreene1 opened #452 "Support for the unknown type"
This is a proposal for the `unknown` type.

Before anyone takes on this PR, we need to
* allow the object literal PR and the type alias PR to close
* we need to determine what input and expected outcomes should be for aggregates and unions that contain unknown

**Value that the `unknown` type offers:**

Sometimes an API might allow the consumer to pass arbitrary data down to the service that will

[2019-08-27 12:32] dgreene1 opened #453 "endpoints with the same path are ignored"
So this one is easy enough for the developer to figure out on their own and eventually rectify it, but it might be nice to add some good developer experience (DX) by throwing if a user has a duplicate route.

**Bad situation:**
If you have two endpoints in the same route with identical paths, then tsoa will not generate swagger for the second endpoint.

**Expected result:**

Tsoa should throw an e

[2019-08-28 11:50] WoH commented on #452
What is the expected representation of the unknown type on its own?
Imagine a controller fn returning `unknown`. What's that intended to be documented as?

[2019-08-28 12:46] WoH commented on #452
Basically binary data? From the OpenAPI3 Spec:

[code]

[2019-08-28 12:57] WoH commented on #452
We document any like an object with unspecified properties, which is IMHO wrong and maybe should not be repeated.
On the validation side: We just don't do any checks, which is the most reasonable behavior for any.
`unknown` should check for existence at least I think.

[2019-08-28 14:02] WoH commented on #242
@dgreene1 can we reopen this given for discussion maybe?

I have to slightly disagree here. I agree it's not perfect to have slight inconsistencies here. I'd definitely want a description that communicates the order.

However, not implementing this is not a better solution. It basically forces the API developer to accept anything (just like we would have to do) and check on their own, when a tuple

[2019-08-28 14:18] HoldYourWaffle commented on #242
Do you mean "not support" as in error or just a warning? I don't think it's fair to error route generation just because a completely different feature doesn't support it. There's no additional processing required for heterogeneous tuples so as far as I can tell [here](https://github.com/HoldYourWaffle/tsoa-iso/blob/3fc757071e0cd6fdc8ca868d7b3dd3390c5261c7/src/swagger/specGenerator.ts#L175-L183), [

[2019-08-28 14:19] HoldYourWaffle commented on #452
Do I sense some shade 😉
Just to be clear, I agree that the guidelines you cited make sense for this project.

As an actual input to the discussion: what do you mean by aggregates in this context?

[2019-08-28 16:58] WoH commented on #452
I did not know that and it's really valuable information, thank's a lot for pointing it out.
I retract my initial assessment.

I should have clarified I did not mean JS existence. But since unknown may be `undefined` I'd agree.

[2019-08-28 18:31] HarelM commented on #224
I'm interested in creating an API, not just JSON API. this API can return files for example, or CSV data.
The entire API is automatically documented with swagger and we would like to avoid manually editing the swagger file for "external" API methods.
Thus we need to be able to return other stuff except JSON.
We are currently returning null and sending the file using the `res` property of the `req`

[2019-08-28 19:01] HoldYourWaffle commented on #452
As time consuming as it may have been (and it takes **a lot** of time for me to write my responses in somewhat OK-English), I did find it very insightful and I'm happy I got to see another point of view (no matter how much I disagree with some parts of it 😉)

I definitely agree that the original form of "that PR" was waaay too much effort to review, I honestly didn't even think of that. However, I

[2019-08-28 19:12] HoldYourWaffle commented on #242
I assume you only want this for heterogeneous tuples? Based on [this comment](https://github.com/lukeautry/tsoa/pull/451#issuecomment-524812258) I don't see a reason why homogeneous tuples wouldn't be possible in swagger 2.

That warning looks good to me.

I'll probably be able to do it once I know how to generate the swagger/open api part.

[2019-08-28 20:00] WoH commented on #452
[code]

Current union/intersection should take care of that making it (presumably) a lot easier to implement. Just add a validation for `unknown` that accepts everything (based on a metadata and spec representation for the (primitive) type).

[2019-08-28 20:24] HoldYourWaffle commented on #452
Sounds lovely 😉

[2019-08-28 21:01] HoldYourWaffle commented on #453
Definitely sounds like a good DX improvement to me, where would one look for a place to put such a check?

[2019-08-29 04:57] cohenshay commented on #190
having the same issue with tsoa 2.4.3 and tsc 3.4.5

[2019-08-29 08:51] HoldYourWaffle opened #454 "Suggestion: documentation on github wiki"
I have a small suggestion: moving the documentation from the *giant* README to a/the github wiki.

This allows for better organization (multiple pages) so you can find stuff (a lot) faster, there's more room for additional documentation/examples/tutorials/... without creating an absolute **giant** single-document and it avoids having "documentation files" in the main repository like [this one](htt

[2019-08-29 10:35] dgreene1 commented on #454
I prefer the documentation file approach to a wiki. So if you want to break the readme into documentation pages, the feel free to submit a PR for that.

Advantages of the documentation page approach include:
* versioning
* can get bigger like you mentioned for the wiki

[2019-08-29 10:54] dgreene1 commented on #453
I’m not 100% sure of where it would go. It could either be a check in this array that is produced, or internal to MethodGeneraton.generate
https://github.com/lukeautry/tsoa/blob/09b9eb3018f15b619af583e37123b664b117ff03/src/metadataGeneration/controllerGenerator.ts#L45

[2019-08-29 12:36] HoldYourWaffle commented on #454
Versioning is a good point, you want PR's to be able to immediately update documentation of course, so having a 'docs' folder could definitely work too.
In my experience this approach is however less convenient for users due to the lack of a "navigation sidebar" and I *think* (although I'm definitely not sure) that links between pages could be a little weird if they're located in the repository.

[2019-08-29 12:38] HoldYourWaffle commented on #453
I think putting it in the "controller interpreter" (the snippet you linked) would make more sense. I'll see if I can quickly add this.

[2019-08-29 12:40] HoldYourWaffle commented on #453
Actually that might not be true, is it valid to have 2 separate controllers bound to the same path?

[2019-08-29 13:15] WoH commented on #454
Docs repo + x + GitHub pages, with x being a static site generator with a solid markdown plugin

[2019-08-29 13:26] dgreene1 commented on #454
I agree that github pages would be ideal, but that’s something that @LukeAutry would have to do as owner.

I do wonder what the value of having split up pages outweighs the inherent search-ability of the “one page” approach. What I mean is that anyone can just ctrl-f and search the whole readme.

[2019-08-29 13:45] HoldYourWaffle commented on #454
Hmmm that's another good point. The current README is a mess in my opinion, but the formatting and structure might have a bigger impact on that than just it being a single page.

[2019-08-29 15:33] WoH commented on #454
Yes. On top, most generators offer a search plugin (some only for titles, some full-text).

[2019-08-29 19:23] HoldYourWaffle commented on #454
I was hoping you'd say something like that. So we just need @lukeautry to setup the project page, right?

[2019-08-29 21:11] dgreene1 commented on #449
I put a contributor guidelines, a pr template, and an issue template into the repo. I'll leave this PR open so people can provide more input. Basically I coped what I found from the TypeScript and ElasticSearch contributor guidelines.

[2019-08-30 00:12] dgreene1 commented on #353
I believe that https://github.com/lukeautry/tsoa/issues/219#issuecomment-526403819 is a duplicate of this. I’ll close that one to keep this open.

[2019-08-30 00:14] dgreene1 commented on #219
We’ll track this feature request for array and record type Query params in https://github.com/lukeautry/tsoa/issues/353#issuecomment-526405877

[2019-08-30 00:15] dgreene1 commented on #353
@Templum @anro87 when we introduce array like query params then this is the issue number to track. I’m cc’ing you so you’re not left out. We apologize that your original feature request was not added in a timely manner.

[2019-08-30 00:23] dgreene1 commented on #294
I’m bumping this because (a) there are requested changes on the PR (b) this is a great feature idea and (c) I need to adjust the stale bot to not mark “help wanted” issues as stale.

[2019-08-30 00:35] dgreene1 commented on #336
@jorshali this feature was added via https://github.com/lukeautry/tsoa/pull/385 and released in last version. See the instructions in the updated readme: https://github.com/lukeautry/tsoa#how-to-ensure-no-additional-properties-come-in-at-runtime

[2019-08-30 00:35] #336 closed

[2019-08-30 00:44] dgreene1 commented on #452
I'll remove the "feedback" label and add the "help wanted" label now that we've decided that:
* `unknown` will have runtime validation and swagger generation that is equivalent to the `any` type
* `unknown | T will always be `unknown`
* `unknown & T` will have to behave like the TypeScript readme explanation (https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#new-unknow

[2019-08-30 11:10] WoH commented on #454
Here's a poc of what I had in mind:
https://github.com/WoH/tsoa-docs
https://tsoa-docs.netlify.com/

[2019-08-30 11:15] HoldYourWaffle commented on #454
That looks pretty good to me.
Although I have a tiny nitpick: shouldn't the title in the top-left corner be either "TSOA Documentation" or "tsoa documentation"?

[2019-08-30 12:43] pdeak commented on #360
This feature is also very important for the swagger.json file. As of version 3 of the spec, it is no longer called Swagger. It is OpenAPI. It is wrong and misleading to call the output swagger.json.

It's more than just aesthetic though:  Visual Studio Code with the openapi-lint extension automatically picks up *swagger.json files as OAS2, and therefore the linting and intellisense is broken until

[2019-08-30 13:07] HoldYourWaffle commented on #360
I completely forgot that there's another filename that generates when creating the PR, we should definitely fix that.

@dgreene1 Should we create a new issue of this or reopen this one?
I'd be happy to implement this, should I go for the same approach as with router generation?

[2019-08-31 00:42] #37 closed

[2019-08-31 00:46] dgreene1 commented on #183
I suspect that at the time @mengyiyuan tried this, PR #87 was merged but not deployed. It was deployed a long time ago, and I don’t believe that this is an issue anymore.

[2019-08-31 00:46] #183 closed

[2019-08-31 09:07] HoldYourWaffle opened #457 "Clarifying what "refactors for the sake of refactoring" means"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request
  - [x] discussion point (@dgreene1 should this be added to the template?)

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior
This is the section of the contributi

[2019-08-31 11:45] dgreene1 commented on #457
I don’t appreciate the repeated suggestion that I am not a proponent of refactoring. To the contrary, I always try to improve the readability, the performance, and design of the code. The only difference is that I do that while I am introducing a feature or fixing a bug so that it’s easier for the code reviewer to quickly see what was changed and why.

To further cement that I am an advocate of re

[2019-08-31 12:27] dgreene1 commented on #457
To further cement that I am an advocate of refactoring, here are specific examples from my tsoa contributions:

* My PR that added the noImplicitAdditionalProperties has multiple pieces of code that I refactored:
  * I refactored some types to make it easier to ensure that I was covering every possible type case. Not only did I make that refactor so that I could more easily add the feature, but I

[2019-08-31 15:06] lukeautry commented on #457
If anyone hasn't read it, I highly recommend Martin Fowler's [Refactoring](https://martinfowler.com/articles/refactoring-2nd-ed.html). It's a book that helped clarify my thinking around what refactoring is and isn't when it should be done, and why it should be done.

At a high level, if `tsoa` worked perfectly and had every feature, then refactoring would probably not matter too much. This obvious

[2019-08-31 17:18] dgreene1 commented on #457
That’s fine Luke, but as someone who only recently starting understanding the internals of tsoa, I would not be qualified to review most PRs that are purely refactoring. So I think I’m doing people a favor by essentially saying, “a refactoring PR might languish for a long time until Luke can check this out.”

However, if it’s a small, targeted refactor of code that I have worked in before, then I

[2019-08-31 20:33] lukeautry commented on #457
I think that's actually good and we could just add a clarifying point here:

[2019-08-31 21:46] dgreene1 commented on #360
Sure I'll reopen this issue so you can add that @HoldYourWaffle. And@pdeak we'll get working on that for you. :)

[2019-09-01 02:41] dgreene1 commented on #219
Actually this might be a distinct issue. Can someone help by just reproducing this problem?

[2019-09-01 11:17] HoldYourWaffle commented on #457
Happens to the best of us ;)

I wasn't trying to imply that you don't like refactors at all, like you said they're needed for improvement. I was (and still am) referring to "banning" (in a very loose sense of the word) *standalone* improvements (in the form of refactors), not refactors in general.

Respecting the time and willingness of maintainers should always be a top priority, I definitely don

[2019-09-01 11:18] HoldYourWaffle commented on #452
@dgreene1 Can you please assign this to me so I don't forget?

[2019-09-01 11:18] HoldYourWaffle commented on #360
@dgreene1 Can you please assign me to this issue so I don't forget?

[2019-09-01 11:23] HoldYourWaffle commented on #416
So what's the actual outcome of this? Are we going to use luke's library when it's finished?
Personally I feel like runtime validation shouldn't be TSOA's concern at all, in my mind it's just a router (and swagger spec) generator.

In my own usecase I use a custom template with my own 'validator' that links a type name to the appropriate (external) JSON-schema validator. Perhaps a solution could b

[2019-09-01 14:03] dgreene1 commented on #416
@HoldYourWaffle you’ve mentioned this a couple of times in PRs and issues ([here](https://github.com/lukeautry/tsoa/pull/451#issuecomment-525768288) being the most recent). Let’s be clear: tsoa has always done validation. Validation is one of the goals of tsoa. You can say that you don’t think it should concern itself with validation, but that is one of it’s “critical path” features. So every desi

[2019-09-01 14:07] dgreene1 commented on #452
@HoldYourWaffle I don’t feel comfortable with the idea of reserving work. If someone else is able to provide a PR for this issue before you do and it meets all of the acceptance criteria, then that’s the one that we will accept. If we reserve this for you and you forget to do it, then all future contributors will ignore this PR and it won’t get done. If you you want a reminder, please use a person

[2019-09-01 14:13] #457 closed

[2019-09-01 14:14] dgreene1 commented on #457
I merged the changes to the language that Luke requested.

[2019-09-01 15:12] WoH commented on #454
@dgreene1 do you think there's a potentially viable path here?

[2019-09-01 15:28] dgreene1 commented on #454
Yes, but I believe that github pages is something that needs to be set up by the account owner, which is @LukeAutry.

[2019-09-01 15:35] WoH commented on #454
Maybe we should use a docs repo for this. If you want to do this here, you can just push to the `gh-pages` branch and GitHub will most likely pick that up.

[2019-09-01 19:21] CristianoVotre commented on #236
Hi, I want to help. I sent a pull request of a implementation of:
https://github.com/lukeautry/tsoa/issues/180
Im using tsoa at work and we need this feature.

[2019-09-01 20:11] dgreene1 commented on #236
@CristianoVotre how were you able to submit a PR without using the pull request template?

[2019-09-01 20:25] dgreene1 commented on #180
@vlad-tkachenko which library are you using? I’d love to know so we can be aware of our competition.

[2019-09-01 20:32] WoH commented on #180
In tsoa, you can't set an exmple for the specific Request, but for the interface you use there. It looks like this:

[code]

[2019-09-01 21:37] dgreene1 commented on #236
@WoH, your help has been invaluable recently. Would you be interested in being an additional maintainer?

If so, reply and Luke can hook you up. :)

Even if the answer is “no,” I’d like to take a moment to express gratitude for your contributions. :)

[2019-09-01 21:55] CristianoVotre commented on #180
Its strange to put the specific request to the model interface, if I use the same model on 2 or more APIs entry points the example will be the same.... and how to resolve @Path, @Query initial values?
@vlad-tkachenko I understand and I see your problem, check my PR.

[2019-09-01 22:13] WoH commented on #236
Thanks for your kind words and your immediate feedback that kept motivated :beers:

I'm not sure about being a maintainer because I don't see myself being able to handle community interaction even nearly as patiently and friendly (compared to you). Maybe if you are looking for someone to tackle features and reviews, but if you're looking for someone to provide comprehensible documentation and resp

[2019-09-01 22:38] WoH commented on #365
A sane way to tackle this would be to define metadata on the Decorator target inside the decorator using the [Reflection API](https://rbuckton.github.io/reflect-metadata/).

[2019-09-02 05:59] deakster commented on #360
Thanks guys

[2019-09-02 06:45] vlad-tkachenko commented on #180
@dgreene1 depends on the project: ts.ed or just typescript with vanilla express + IoC libs. To be fair, I haven't yet checked if I can provide example for payload body with ts.ed yet, so it might fail with that use case too :)

[2019-09-02 08:21] pdeak commented on #360
Thanks guys

[2019-09-04 00:01] #351 closed

[2019-09-04 08:50] avizcaino commented on #391
Hi! I'm trying this new version but I'm encountering new errors that did not occur previously...

[code]

It looks like it is caused by a generic type in an interface
[code]

But this was working before... has something changed in the last release?

[2019-09-04 12:07] dgreene1 commented on #391
@avizcaino yes, we added the ability to calculate swagger docs from intersection and aggregate types.

Can you please copy here (1) your controller file and (2) the file that contains your interfaces?

I will try to fix the error, but I am fairly confident that the error is due to you using an interface that lives in node_modules. It’s regrettable that the error is only manifesting after we introd

[2019-09-04 13:05] WoH commented on #391
@dgreene1 I can explain what happened:
Previously, that union would've automatically been `any`.
Now that we actually try to resolve it, we run into this issue: https://github.com/lukeautry/tsoa/issues/27#issuecomment-526370940

This happens because tsoa doesn't really pass down the type arguments as parameters, but substitues `T`when it sees a property of type `T`when there is a declared paramete

[2019-09-04 14:02] fhewitt opened #460 "Empty string in Enum got converted to '0'"
When using empty string `''` in string Enum used a input parameter, it got converted as `'0'`.

So imagine an enum like:

[code]

## Sorting

* **I'm submitting a ...**
  - [X] bug report

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I would expect that the empt

[2019-09-04 14:36] fhewitt commented on #460
I'm not familiar enough with this code to propose a PR, but I suspect that the issue is around the typeResolver.ts line 286, where we do `return getEnumValue(member) || String(index);` Because '' is false, this defaults to the index. I would suggest to change for:

[code]

It still pass the testing, seem to work with what I read of string enum in TypeScript doc. Unsure if this require additionnal

[2019-09-04 15:03] dgreene1 commented on #460
Before someone can take this on, can you confirm that an empty string is even a valid enum value in OpenAPI?

Because this seems strange:
[code]

Since this is a rare use case, I suspect that it won’t get picked up unless you or someone who needs the use case is willing to put in a PR. I apologize for being that direct, but I want to clarify that this is lower priority than some of the larger init

[2019-09-04 15:34] fhewitt commented on #460
My issue is that I have not full control over the data, I don't receive null, but empty string. But I suppose I can temporarily marshalling the data when I get them before I sent them to the API. But I can temper the value before I sent them back to our API.

Seem valid in OpenAPI, even if it could looks a bit weird in documentation.

I push the test further, but even by changing the model to add

[2019-09-04 18:35] javichi commented on #50
This is super helpful for us. Would it be possible to get a release soon with all the recent improvements? Thanks

[2019-09-04 18:58] dgreene1 commented on #50
@javichi I just pushed version 2.5.0 that allows nested anonymous types. Please let us know if it works for you so we can consider closing this isue. Btw, I don't think it allows it at the first level because we need to be able to create a $ref name in swagger. So don't expect something like this to work:

[code]

However, I believe that PR #415 allows you to do this:
[code]

[2019-09-04 18:59] dgreene1 commented on #50
@ThorstenBux / @fhewitt / @donahchoo / @manast-apsis now that this feature was released in v2.5.0 if you could test and let us know what you think, that would really help us! :) See above for potential limitations.

[2019-09-04 19:54] WoH commented on #50
@dgreene1 You should try inlining :wink:

[2019-09-04 20:12] dgreene1 commented on #391
@WoH is there a way to preserve the original interface name for `T`? I tried debugging the code in `.getModelProperties` and `.resolve` and I wasn't able to find anything on the `typeReference` object.

[2019-09-04 20:22] WoH commented on #391
Yes, there is. Whenever there is a `TypeReference` to a (in this context) generic Interface, the types that should be passed down are on the `TypeReference` as `TypeReference.typeArguments`.

I think I have an approach to solve this issue, which would hopefully fix generic interfaces with an arbitrary amount of type parameters and handle propagating the arguments down the type resolver "right" in

[2019-09-04 22:24] WoH commented on #391
@dgreene1 I have the code, no tests no nothing, but I'd like to open a draft PR so we can spec this together, are you ok with that?

[2019-09-04 22:34] dgreene1 commented on #391
Yes please. Thank you for looking into it @WoH.

[2019-09-05 00:01] #342 closed

[2019-09-05 00:01] #328 closed

[2019-09-05 06:10] javichi commented on #50
Trying 2.5.0. I still can't get dictionaries of model objects to work properly. For example the following model:

`export interface AccountUser {
  _id: string;
  email: string;
  role: AccountUserRole;
  status: AccountUserStatus;
  actions: AccountUserAction[];
}

export interface AccountEntity {
  _id: string;
  type: string;
  name: string;
  address: string;
  lat?: number;
  long?: number;

[2019-09-05 06:56] dgreene1 commented on #374
We need to reopen this to make sure that the case presented by @javichi works: https://github.com/lukeautry/tsoa/issues/50#issuecomment-528213658

[2019-09-05 06:58] dgreene1 commented on #50
@javichi I’ve reopened #374 for you which is more closely related to your specific use case.

As for the additionalProp1, it seems to me that it never should have been there, right? Like it’s good that it’s gone now, correct?

[2019-09-05 10:25] WoH commented on #50
Can we close this?

[2019-09-05 10:40] javichi commented on #50
Yes, I think https://github.com/lukeautry/tsoa/issues/374 covers the issue i explained better.

[2019-09-05 12:14] #50 closed

[2019-09-05 12:14] #374 closed

[2019-09-05 19:40] #27 closed

[2019-09-05 20:05] dgreene1 opened #464 "Would you like _your company_ to be recognized as a tsoa user?"
We're looking to feature companies in the readme (and potentially in our upcoming website).

So if your company would be willing to have their logo featured in our readme, it would help raise awareness about your company and to help tsoa grow.

This is important since Github's "Used by" feature doesn't appear to include private repos. So we look less popular than we actually are used by quite a lo

[2019-09-05 20:08] dgreene1 commented on #391
@avizcaino this fix/feature was just [released in v2.5.1](https://github.com/lukeautry/tsoa/releases). Can you let us know how it worked out for you?

Side note: we're looking for companies that want to be featured in tsoa's readme: https://github.com/lukeautry/tsoa/issues/464

[2019-09-05 20:09] dgreene1 commented on #27
@ryankeener I know you already confirmed that this works, but I wanted to let you know that this fix/feature was just [released in v2.5.1](https://github.com/lukeautry/tsoa/releases). Can you let us know how it worked out for you?

Side note: we're looking for companies that want to be featured in tsoa's readme: https://github.com/lukeautry/tsoa/issues/464

[2019-09-05 20:09] dgreene1 commented on #374
@javichi / @manast-apsis this fix/feature was just [released in v2.5.1](https://github.com/lukeautry/tsoa/releases). Can you let us know how it worked out for you?

Side note: we're looking for companies that want to be featured in tsoa's readme: https://github.com/lukeautry/tsoa/issues/464

[2019-09-05 21:41] mravinale commented on #464
Okay, you can use our company !! http://www.nextonlabs.com/assets/nextonlabs-logo-129f5e4c4c5487c35a7e03642edac6a5.png

great work guys!

[2019-09-05 22:32] fabripautasso opened #465 "@Deprecated decorator for controller endpoints"
It would be nice to have a `@Deprecated` decorator to be able to update your swagger documentation to display endpoints that are not being used/maintained any more.

Right now you can accomplish this updating the `tsoa.json` file with the endpoints you want to deprecate.

[2019-09-05 22:52] dgreene1 commented on #465
That sounds like a useful feature. I’ll mark the PR as “help wanted.” Would you be willing to submit a PR for this?

[2019-09-06 00:01] #162 closed

[2019-09-06 00:01] #117 closed

[2019-09-06 10:19] Moohamed0058 commented on #453
AqzAqz11

[2019-09-06 11:34] fabripautasso commented on #465
@dgreene1 sure, I will work on this feature

[2019-09-06 21:40] fhewitt commented on #27
That's absolutely awesome. I love it!

But still have similar issue adding `extends`

[code]

And I got

There was a problem resolving type of 'T'.
There was a problem resolving type of 'GenContainer'.
There was a problem resolving type of 'ThingContainerWithTitle'.

[2019-09-06 23:14] dgreene1 commented on #27
@fhewitt would you be so kind as to make a separate issue for that scenario since the non-extended generic scenarios seem to be resolved?

[2019-09-07 10:27] HoldYourWaffle commented on #416
You're focusing on the wrong thing here, I never said anything about "removing validation" or anything remotely like that, I just *asked for the status on this* and provided some input (including a possible solution) based on my own use-case.

The built-in validation was very basic last time I checked (which is arguably pretty long ago now) and I can't imagine that the majority of users have it as

[2019-09-07 10:39] HoldYourWaffle commented on #452
The main reason I asked to be assigned is to avoid double work, the reason why you want these issues in the first place (which is a very good reason don't get me wrong).
The second reason, and the one I listed, is that I can see all my assigned issues/PR's in one convenient list. This allows me stay organized when I'm contributing to 3 upstream projects for another project on a somewhat tight dead

[2019-09-07 11:02] dgreene1 commented on #452
I’m sorry that you feel that way. I really am.

If you would like to submit code to help tsoa, that would be sincerely appreciated.

[2019-09-08 03:26] dgreene1 commented on #416
I think something might have gotten lost in translation, so I'd like to clarify why I specifically responded to the "all-in-one" aspect of tsoa.

But first, let's break that comment down for the moment:

I was not saying that the past is written in stone. To be 100% clear, I am not advocating for status-quo. I believe that software can and always should improve to support the needs of it's users.

[2019-09-08 04:54] dgreene1 commented on #447
## Proposed short-term solution:

Until version 3.0 is released, would it alleviate your concerns if we:
* made the swagger config optional on `generateRoutes`?
* and made the route config optional on `generateSwaggerSpec`?

That way you don't have to pass in `{}` and you can pass in `null` to be more explicit?

[2019-09-08 05:12] dgreene1 commented on #365
@HoldYourWaffle I still don't know enough about Passport.js to know the particular issue you're encountering. And I don't want to be like mean maintainers who would probably just say "create an example repo that recreates the issue." (although that would help us get to the root of your issue more quickly).

So at the moment, I'd like to suggest that you consider the opposite approach. Instead of f

[2019-09-08 05:42] dgreene1 commented on #452
Since I was very saddened by [your message above](https://github.com/lukeautry/tsoa/issues/452#issuecomment-529095689), I wanted to take time to reflect on your feedback.

@HoldYourWaffle here's a record of where all of the issues you presented are currently. I believe you'll see that I have done my best to be open minded. In all of the cases I have either:
* changed my mind to accept your suggest

[2019-09-09 02:40] rgripper commented on #460
Validation also doesn't work properly with empty string enum value.
Could we have this check in `validateEnum` method:
[](https://github.com/lukeautry/tsoa/blob/28e599d44571803e8c90697a0d78b95550d28077/src/routeGeneration/templateHelpers.ts#L240)
changed to:
`if (enumValue === undefined) {`
to

[2019-09-09 02:43] dgreene1 commented on #460
Sure, please make a PR.

[2019-09-09 12:36] avizcaino commented on #391
Hi! I'm sorry to say that we still have the same problem...

@dgreene1, as you requested, here is the controller and interface (summarized):
[code]
[code]
Not sure what we are doing wrong... This works on 2.4.7.

@WoH don't worry, we still can fix to previous versions in the meantime. Thanks to you for your work and ultra-fast answer!

[2019-09-09 12:52] dgreene1 commented on #391
I think it might be the `extends` keyword. I don’t believe we have a unit test for that. I’ll reopen.

In the meantime you could try to rewrite it using aggregation, like this:
[code]

[2019-09-09 13:14] fhewitt opened #467 "Generic type inside extends don't resolve"
Following the addition of generic type support (awesome addition! 👍) I've made some tests with it with the hope of simplifying my project, and one of my scenario is failing when I use extends over a generic class where the type used in the controller, is not generic itself.

## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [X] feature request
  - [ ] support request

* I confirm that

[2019-09-09 13:14] fhewitt commented on #27
Can do that! > https://github.com/lukeautry/tsoa/issues/467

[2019-09-09 14:16] WoH commented on #391
We do not check the heritage clauses for type arguments, that's the issue here. Duplicate of #467.

[2019-09-10 13:09] avizcaino commented on #391
yep, that solution works, although I would like to maintain the original solution since the model is likely to grow in future iterations.

[2019-09-10 14:44] WoH commented on #391
File a PR for #467 and you can ;)

[2019-09-10 18:40] WoH commented on #391
@dgreene1 Can we close this in favor of #467 (Duplicate + has workaround).

[2019-09-10 19:11] #391 closed

[2019-09-10 19:12] dgreene1 commented on #467
@avizcaino please follow along here for updates since we closed #391 as a duplicate

[2019-09-10 22:31] jaredkotoff commented on #338
Also running into this issue.
2.3.7 works though

[2019-09-11 04:27] javichi commented on #374
Sorry for the delay. I can confirm that all index signatures are generated in v2.5.1. Great work guys!

[2019-09-11 04:32] javichi commented on #464
Okay, you can use our company!

We are a new company and webpage is still on progress, should be completed in a couple of weeks: https://www.higg.com/

We come from here https://apparelcoalition.org/the-higg-index/

[2019-09-11 05:49] dgreene1 commented on #338
@jaredkotoff can you add code to show how you’re reproducing the issue? We need as much information as possible to be able to fix this and/or enhance it. It’s not clear if this ever properly produced good Swagger schemas or if it just silently did nothing. So what Swagger Schema output did you get in v2.3.7?

@gitowiec / @Circle6 can you also add what Swagger Schema you were getting in v2.3.7 and

[2019-09-11 19:39] jaredkotoff commented on #338
@dgreene1
I simplified the code and now even this fails on 2.3.7
[code]
and our controller is trying to return type Location
[code]

[2019-09-11 20:26] dgreene1 commented on #338
@jaredkotoff we still need to know this:

[2019-09-11 20:34] jaredkotoff commented on #338
@dgreene1 i updated my previous comment.
note that the `key` property was needed in `Location` otherwise i wasn't able to get a swagger scheme output in 2.3.7

[2019-09-11 21:14] dgreene1 commented on #338
Since the Schema for `Location` was set to `Object` in the generated output for v2.3.7 that leads me to believe that tsoa never supported `IndexedAccessType`. Additionally, I can’t find any evidence in the code that we ever had logic to handle or to test for this functionality. So this is definitely a new feature and not a bug.

I’ve marked this as an “enhancement” and “help wanted” so that contri

[2019-09-11 21:36] dgreene1 commented on #338
And for clarity, the Schema that tsoa used to produce was always wrong:

[code]

If someone submits a PR, it should produce this schema:
[code]

[2019-09-13 12:58] myalban opened #469 "Cannot find name 'Exclude'"
Hi,

After updating to latest version I go this error : node_modules/tsoa/dist/metadataGeneration/tsoa.d.ts(67,33): error TS2304: Cannot find name 'Exclude'.
node_modules/tsoa/node_modules/typescript/lib/typescript.d.ts(4913,20): error TS2304: Cannot find name 'unknown'.

Any help ?

Thanks,
best regards

[2019-09-13 14:28] dgreene1 commented on #469
@myalban next time can you please fill out the full issue report template? I notice that you've deleted a lot of helpful things such as
`Version of the library: `
`Version of NodeJS: `
`* Confirm you were using yarn not npm: [ ]`
Additionally the issue template asks that you show us your code so we can better understand your use case. So please add those if you don't mind since it will be helpful

[2019-09-13 19:23] WoH opened #470 "Improve Generics Naming"
The current naming for supported generic types (aka interfaces) is not very helpful.
Tsoa does some parsing around the model and the generics like `MyModel<Item[]>` becomes `MyModelItemArray` in the schema. However, this use case is very narrowly defined and might lead to more name clashes down the line. Passing literals like `MyModel<'id'> is entirely unsupported only because there is no case to

[2019-09-13 19:40] dgreene1 commented on #470
This sounds like a great idea. And since we only recently fixed the generic names, then I think it would be okay to release this as a minor or patch version if the existing unit tests pass. It sounds like this would simplify the code quite a bit. If so, then it sounds like a great idea. Thank you @WoH! :)

[2019-09-13 20:24] WoH commented on #470
The unit tests do rely on specific naming, unfortunately.
With a new patch in place (%-encoding for ease of implementation) I'm at

-  744 passing
-  65 failing

[2019-09-14 17:53] azaeng04 opened #471 "Request body not attached to request when posting from Postman"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

And there was an issue similar to this https://github.com/lukeautry/tsoa/issues/290, but not the same

## Expected Behavior
Request

[2019-09-14 18:16] azaeng04 commented on #471
I did not attach the express.json() and express.urlencoded({ extended: true }) variables to express

[2019-09-14 18:16] #471 closed

[2019-09-16 17:30] simllll commented on #429
I'm not very familiar with all the technical details, but I guess I ran into something that could be related to this.

We have a lot of different object types (e.g. user, house,  etc...). Every object has an object id, which is basically a string, but to distinguish between the different ids, and let typescript know what kind of ID i passed in, we are using following "type" for our ids:

`export t

[2019-09-16 18:30] WoH commented on #429
Yes and no.
While your problem would be solved with the ["pass-through" type aliases](https://github.com/lukeautry/tsoa/pull/444), they would also be handled fine a proper implementation of "referenced" type aliases.
But the issue you're describing is caused by one of the reasons I'm trying to fix type aliases (either "pass-through" or "ref" style).

[2019-09-16 19:46] #465 closed

[2019-09-17 12:15] #467 closed

[2019-09-17 12:27] simllll opened #474 "OpenApi (swagger v3) oneOfs are broken"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
I discovered some weird issues with OpenAPI schemas when they are using "oneOf". I just want to clarify if this

[2019-09-17 13:47] dgreene1 commented on #474
When I opened up your link (https://editor.swagger.io/?url=https://test.hokify.com/ats-api/openapi.yaml), the swagger editor UI shows no issues in the Swagger YAML that tsoa generated. If there were issue in what tsoa generated, then there would be a ❌ to the left of the bad yaml parts. But since there isn't, then this is not an issue with tsoa.

@simllll please file a bug with https://github.com/

[2019-09-17 13:47] #474 closed

[2019-09-17 13:54] simllll commented on #474
Thanks for clarifying, I actually thought so, just wanted to be sure.

Besides that, is there any specification out there for all the swagger parts? e.g. for "OneOf". I couldn't find anything that would describe the syntax or allowed values or anythign like this (except to this one page https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/ which is more like an example than a de

[2019-09-17 14:27] dgreene1 commented on #474
That documentation link you found is the best information I know of for understanding oneOf/allOf/anyOf. If you have more questions regarding the OpenAPI spec, I would recommend stack overflow.

As far as the generation issue, I believe the swagger codegen repo that I linked to should be able to fix your issue.

[2019-09-17 14:34] WoH commented on #474
https://github.com/OAI/OpenAPI-Specification/

[2019-09-17 14:34] simllll commented on #474
Alright thanks again,
I have opened or actually renamed my already opened issue there, let's hope they find something :)
(ref https://github.com/swagger-api/swagger-codegen/issues/9722)

Regards
Simon

[2019-09-17 14:52] dgreene1 commented on #474
Would you mind updating your referenced issue to clarify that the issue is not on the tsoa side?

[2019-09-17 20:33] Circle6 opened #476 "Data Model Property Description With JSDoc Syntax"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Detailed Description

Seeing as you can currently use JSDoc syntax to generate parameter descriptions for tsoa controllers it wou

[2019-09-17 21:16] fhewitt commented on #467
Woohoo! You guys are my hero. Thanks for the fix! I'll apply it tomorrow.

I found it great to see my example naming in the unit test :)

[2019-09-17 22:06] dgreene1 commented on #467
Thanks goes out to @WoH.

Btw @fhewitt, since you’re enjoying tsoa, please consider writing about tsoa on Twitter, dev.to, or reddit to spread the joy! :)

[2019-09-17 22:11] asilluron opened #477 "Namespaced cross-references not recognized without parent namespace"
When referencing an interface in the same namespace, tsoa does not recognize the referenced namespace without the parent namespace attached

## Sorting

* **I'm submitting a ...**
  - [ X] bug report

* I confirm that I
  - [ X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I should be abl

[2019-09-17 22:38] WoH commented on #476
[code]

Is that what you're looking for?

[2019-09-17 22:53] Circle6 commented on #476
That is exactly what I'm looking for. I've been trying to find this for weeks thanks! You are wonderful :)

[2019-09-17 23:40] dgreene1 commented on #476
We can close this then since the correct way has been shared, right?
(If that doesn’t generate what you want in the swagger document then we can reopen)

[2019-09-17 23:40] #476 closed

[2019-09-18 12:12] #460 closed

[2019-09-18 13:45] dgreene1 commented on #460
Released in 2.5.3

[2019-09-18 14:45] WoH commented on #429
I thought about this issue and while I think it's perfectly reasonable to "inline" type aliases, there are valid concerns and probably some missed opportunities I'd like to point out:

Is it more intuitive to expect a named entity here? Yes, especially since [OpenAPI supports this](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schemaObject).

Also, @HoldYourWaffle rais

[2019-09-19 08:56] enersis commented on #464
Okay, you can use our company!

We are more on the Bitbucket side but doesn't really matter.
http://enersis.ch/wp-content/uploads/2017/09/Logo_enersis.png

Thx for the project so far, it helped us alot.

[2019-09-19 13:06] dgreene1 commented on #477
Out of curiosity, why are you using namespaces at all?

I ask because, the TypeScript documentation mentions that mixing modules and namespaces is discouraged, and in fact it mentions that namespaces themselves are unnecessary:

https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html#needless-namespacing

That being said, I think it's totally reasonable to look into this bug-fix/f

[2019-09-19 19:39] WoH commented on #429
Glad to hear that. I think is still a relevant topic because nearly all of the "modern" TS convenience types are type aliases of mapped, conditional or some other types. So I'd really like to get this "right".

If I could get help with specs, code review, and docs from anyone that'd really really help me out.
But I agree, there should be interest from the community.

[2019-09-19 19:48] dgreene1 commented on #429
Yea, don't forget #210 which actually has a [bounty prize](https://www.bountysource.com/issues/58538144-extend-not-computed-correctly-by-tsoa) on it.

Yea, I think if we have a spec that verifies `Omit` and `Exclude` work as expected, then we'd be in a good spot.

I can help with the specs if/when the time comes.

[2019-09-20 09:20] WoH commented on #429
Just to clarify: The bare alias implementation won't make those work, but they are a necessary precondition for them to work.

We still need a PR that properly parses these (MappedType)Nodes in the AST, but we can't even get to that point if the alias node already won't work.

So first we have to address type aliases to tsoa compatible types first (in a way that also works out well with future nod

[2019-09-20 14:20] dgreene1 commented on #151
This feature was actually added a while ago with the `@Hidden` decorator which was added with PR https://github.com/lukeautry/tsoa/pull/152

[2019-09-20 14:20] #151 closed

[2019-09-20 16:45] dgreene1 commented on #95
I started to implement this and it suddenly occurred to me that the vast majority of tsoa users (myself included) use BodyParser which expects the body to be JSON. And since string and number are not valid  JSON, the following don't even come into the route in the way you would expect. So what I'm getting at is, should tsoa really support string and number as a body type?

Take for instance the st

[2019-09-20 16:47] dgreene1 commented on #290
Hi @redlock, I thought about this a while, and I even tried to implement the feature. It turns out that (a) it's more complicated than I thought and (b) it's actually pretty uncommon for a body to be just a string.

Please read my full explanation in this related issue: https://github.com/lukeautry/tsoa/issues/95#issuecomment-533628700

[2019-09-20 17:09] drdgvhbh commented on #331
unstale so i can push plz!

[2019-09-20 19:21] dgreene1 commented on #220
@Izabrr as a followup, did the above workaround help you? Or do you still need a per-method override for content-type?

[2019-09-21 03:22] luli0822 commented on #62
I would love to see any example of this too. @lukeautry, thanks.

[2019-09-21 05:19] dgreene1 commented on #62
I’d like to find a way to document how to do this without a custom template. I believe it should be possible to do with the @Request decorator. I’ll reopen this issue as a note to myself.

[2019-09-21 14:56] WoH commented on #62
What about a class/method level `@UseMiddleware(fn)` decorator that applies the middleware?

[2019-09-21 20:30] dgreene1 commented on #470
@WoH, how do you feel this proposal would work with code generation?

I know that it’s out of tsoa’s scope to worry about someone trying to generate code from the swagger, but we have gotten complaints before (which is why that “hard assert” code is in there).

So if you get a chance to try out how pipe and period work in the names when swagger editor generates C# code (for instance), that would b

[2019-09-21 21:39] WoH commented on #470
I've tried very hard to avoid potential issues considering the specs (json schema, uri, openapi & swagger) but I think if we can avoid issues with the swagger codegen I'd like to do that. Will report back.

[2019-09-22 14:05] WoH commented on #470
I assumed from the comments that this was supposed to ensure we follow the RFC3986 using percent-encoded URIs (which `encodeURIComponent` now does)

Do you have a link to that issue by any chance? I assume that specific codegen does not translate legal swagger/openapi3 names into valid c# names?

[2019-09-22 19:41] atomicus opened #479 "Union with null is not supported"
TSOA fails on generating routes when interface includes 'null' type.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Generate propper swagger for empty-valued patams

##

[2019-09-22 19:57] dgreene1 commented on #479
Hi @atomicus. Out of curiosity, why have you chosen to represent the type as `EmptyVal: string | null` when `emptyVal?: string` is more typical? Btw, I’ll mark this as “help wanted” so that contributors know that this is free game.

cc’ing @WoH since he and I have discussed this use case before, but we were both interested in learning more about the use case from users. So any context you can prov

[2019-09-22 21:23] WoH commented on #470
I tried the OpenAPI 3 generators from [here](https://openapi-generator.tech/) since the swagger ones are all over the place for OpenAPI 3 specs.
Seems like they escape all invalid class/file names, which might lead to name clashes down the road, but are overall valid. (Not sure if they detect and rename though).
The ts-node is mostly fine, some import issues which are known bugs and multiple refs

[2019-09-22 21:31] WoH commented on #470
I tried the OpenAPI 3 generators from here since the swagger ones are all over the place for OpenAPI 3 specs.
Seems like they escape all invalid class/file names, which might lead to name clashes down the road, but are overall valid. (Not sure if they detect and rename though).

[2019-09-23 07:45] ryo-nbx commented on #95
I think you can close this topic. The main reason is the Open API specification.

https://swagger.io/specification/#operationObject

The specification only supports objects as body parameter. No plain string or integer is allowed anymore. So there is no need to support plain datatypes as body parameters.

Though an important question should be answered. What version of OpenAPI should TSOA support

[2019-09-23 08:17] ryo-nbx commented on #95
After looking further into the spec the matter seems more difficult than it seemed to me at the first look.

In both V2 and V3 OpenAPI spec the body can use the schema description. And by doing so you can use plain datatypes or strings or arrays as type. It looks to me that this data is not wrapped in an object by the spec. So the spec allows using plain datatypes as body parameters.

https://swag

[2019-09-23 10:49] dgreene1 commented on #95
Yes @ryo-nbx. I’m aware of what you mentioned about the spec. The spec is wide and has many use cases. Not all of them are popular.

The remaining problem is that I’m not aware of how to implement an Koa server that sometimes accepts JSON bodies and other times accepts string bodies. I described that problem in detail in comment https://github.com/lukeautry/tsoa/issues/95#issuecomment-533628700. B

[2019-09-23 12:42] Izabrr commented on #220
Hi @dgreene1

The solution suggested by @Esya has been applied to my projects and I still use it => I use a `sed` to convert all occurrences of `application/json` to `application/vnd.api+json`.
It works very well (because I use this `application/vnd.api+json` content-type for all endpoints) buuuuuut... a new decorator (like `@Produces` as suggested) would be an even better solution 😄

[2019-09-23 18:35] WoH commented on #479
This also applied to unions with `undefined`.

To add to @dgreene1's points, while there is the concept of `(x-)nullable` in swagger, it won't always work as intended. While you could mark a property nullable, this won't work for more complex types, i.e.:

[code]

will not actually work. Even

[code]

will not work for now. As far as I'm aware, this should work in a future version of json schema t

[2019-09-23 18:39] dgreene1 commented on #479
@WoH why won’t he second case work?

[2019-09-23 18:47] WoH commented on #479
https://tools.ietf.org/html/draft-wright-json-schema-00#section-7

[2019-09-23 20:00] scttcper opened #480 "CLI generate both swagger and routes with one command"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Generate both the swagger docs and the routes file with one command. This would be faster than running both com

[2019-09-25 14:39] simllll opened #483 "internal tsoa error: the metadata that was generated should have had nested property schemas since it’s for a nested object,however it did not"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Bug
I get the tsoa error mentioned in the titel. It tells me to open a bug report ;)

What I send to the API:
![image](https://us

[2019-09-26 00:01] #93 closed

[2019-09-26 00:01] #290 closed

[2019-09-26 22:07] HoldYourWaffle commented on #452
First off, I want to apologize for the **very** late response, as I said before I'm currently working on a project with a somewhat tight deadline. I think the notifications for your comments didn't come through correctly, since I didn't notice them until stale bot commented on #446. I'll be responding to all your comments (at least those I could find) shortly.

Next up, I'm really, *terribly* sorr

[2019-09-26 22:30] HoldYourWaffle commented on #416
**Upfront disclaimer: I'm pretty tired right now, I tried as best as I could to explain myself but I probably didn't catch everything. Just say the word if you need me to clarify some more :)**

I definitely think some things got lost in translation.
Just to be 100% clear: I'm not proposing to remove or otherwise change the current "default validator". My *personal opinion* is that TSOA shouldn't

[2019-09-26 22:30] HoldYourWaffle opened #486 "What is the function of express/hapi/koa.d.ts?"
There are currently 3 declaration files that add an optional `user` field to the `Request` interface of the corresponding framework:

https://github.com/lukeautry/tsoa/blob/0d4f17aa651418a1fec735e096cc0d907ff0449f/src/koa.d.ts#L1-L6

https://github.com/lukeautry/tsoa/blob/0d4f17aa651418a1fec735e096cc0d907ff0449f/src/express.d.ts#L1-L6

https://github.com/lukeautry/tsoa/blob/0d4f17aa651418a1fec735e

[2019-09-26 22:31] HoldYourWaffle commented on #447
That looks like a valid short term solution to me.

[2019-09-26 22:31] HoldYourWaffle commented on #365
I have no idea what happened, maybe VS Code or Typescript was just being buggy, but using `express.Request` is working for me now.

I add my own properties to `express.Request` like this:
[code]

Previously these extra properties weren't detected when I used `express.Request`, fortunately it looks like this is fixed now.

I still think this should be implemented for overall developer experience, b

[2019-09-26 22:33] HoldYourWaffle commented on #429
So if I understand correctly, you want to keep the alias references to allow the 'meaningful types' you mentioned? I'm very tired so I'm sorry if I'm missing something obvious here...

[2019-09-26 23:29] dgreene1 commented on #416
Every validation you asked for is already in tsoa.

[2019-09-26 23:30] dgreene1 commented on #486
These files are there so that the internal tsoa code can test the security decorator.

[2019-09-27 10:47] #331 closed

[2019-09-27 12:35] WoH commented on #429
No, please read again. when you are not tired.

[2019-09-27 19:51] HoldYourWaffle commented on #429
After reading it again and scanning #485 I still don't think I understand. It looks to me like your saving the reference, just in a different format with extra handling.

[2019-09-27 19:51] HoldYourWaffle opened #487 "Massive code duplication between router generation templates"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request
  - [x] suggestion

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
You generally want to minimize code duplication to avoid maintenance and readability issues.

[2019-09-27 19:51] HoldYourWaffle commented on #486
Interesting, I somehow managed to completely miss the security features that TSOA has to offer (no idea how).

When looking into these security features I noticed something that has been unknowingly bothering me for months: TSOA adds a `user: any` property to the `express.Request` interface. This is a problem because it makes it impossible to add your own type to the user through declaration mergi

[2019-09-27 19:52] HoldYourWaffle commented on #416
Not sure if this was all added recently or if I was just blind, but I have now found the actual validation 'implementation' so to speak. I'm pretty sure I rummaged around in those files before when working of #445 and #451, no idea how I didn't manage to connect the dots.

You didn't address my proposal though. Even though TSOA probably has all the *features* that I need right now, there's still a

[2019-09-27 19:52] HoldYourWaffle commented on #486
Hold on I might have misunderstood your comment, did you mean actual *test* tests, as in unit tests? (This doesn't invalidate my comment but it might change the implications)

[2019-09-27 19:54] dgreene1 commented on #487
Sure, we’d accept this refactor

[2019-09-27 19:57] dgreene1 commented on #486
So if you can find a way to get tsoa to compile after you’ve removed those declaration files then we’ll accept the PR.

[2019-09-27 19:59] HoldYourWaffle commented on #486
I'll check this out in a bit.
Do you think a note on adding your own `user` declaration would be sufficient documentation for users?

[2019-09-27 20:26] HoldYourWaffle commented on #452
I want to start by responding to the end of your comment:

I couldn't agree more, and I deeply appreciate and admire your interest and ability to listen and sometimes even change your mind after discussion on these important topics.

<br>

On to the actual "material" here. Perhaps 'hindered' was not the right word to use, a certain kind of "resistance" would probably be a better description. I won

[2019-09-28 07:49] HoldYourWaffle commented on #242
https://github.com/lukeautry/tsoa/pull/451#issuecomment-536163359

[2019-09-28 09:13] WoH commented on #429
What are "alias references" in your mind and what do you mean by "saving the reference"?
The main difference between my previous approach is that instead of inlining all the type information, I now create a schema that can be linked to in swagger/openapi.

[2019-09-28 14:31] dgreene1 commented on #470
I know I’m very late to be asking for an alternative approach, but maybe this would be an easy change.

So it’s a small tweak on your recommendation (copies here for convenience):

[code]

I like all of that except the generic substitutions since I find the underscore to be less than readable. So I’d like to recommend an approach that has two benefits:
* It replaces all punctuation so it will have

[2019-09-28 15:02] WoH commented on #470
I thought about this, but this would clash more easily. I.e.:
`GenericRequest<Generic<T, U>>` would become `GenericRequestOfGenericTAndOfU`
`GenericRequest<Generic<T>, U>`would become `GenericRequestOfGenericTAndOfU`

[2019-09-28 15:12] dgreene1 commented on #470
I have three followup questions:

* (Question A) Oh okay, so the ending > become __ too? So (question A) if I’m understanding correctly, `GenericRequest<Generic<T>, U>` will become “GenericRequest__Generic__T__.U__” right?
* (Question B) I still find the period to be a strange thing to read, so what if we replaced comma with “With” so that `GenericRequest<Generic<T>, U>` became “GenericRequest__Ge

[2019-09-28 15:17] WoH commented on #470
One underscore for `<`, one for the `>`.
So GenericRequest<Generic<T>, U> will become `GenericRequest_Generic_T_.U_`.
The main goal is to avoid name clashes, both with and generic interfaces (which already are an issue) and generic types (typeAliases).

[2019-09-28 15:19] WoH commented on #470
You said conditional, but you mentioned both mapped and conditional types.
I have an idea in mind for both, they are not that hard if you work with the Typechecker.

[2019-09-28 15:23] dgreene1 commented on #470
Great. So I’m aligned with your vision (I think). And the parts I don’t get, I trust and/or will help verify. So I recognize that what I’m about to say is a change of decisions, but maybe it really does make sense to change these PRs so they merge to a “v3Branch” branch?

That way when we’re read to go, we just merge master back into the v3Branch branch and we’d be able to release v3.

Because I w

[2019-09-28 15:26] WoH commented on #470
I wanted to ask for a branch at some point, but it felt like I'd overstep my boundaries. That being said, I'd say it definitely makes sense if you want to make a "big 3.0".
I recall a few issues we could put on a roadmap and get done on that branch without impacting 2.x users.

[2019-09-28 15:28] dgreene1 commented on #470
Yes and yes. A roadmap would be helpful I think. What is the best way to do that?

(I’d google it but I’m grocery shopping right now haha)

And if you’re okay with changing the PR merge destination to this branch then please do so. :)

[2019-09-28 15:30] WoH commented on #470
https://github.com/lukeautry/tsoa/projects

GitHub supports this and you can add both PRs and issues to a milestone, maybe it's a good idea to make it visible to everyone so they can track our progress / find issues to help with.

[2019-09-28 15:32] WoH commented on #470
I don't have the permissions, but you can add a milestone and attach the issues and we get a nice kanban where we can track progress.

https://help.github.com/en/articles/about-project-boards

[2019-09-28 15:36] dgreene1 commented on #470
Okay, I added a few of the PRs to the new board. Please let me know if I’m missing any across the multiple columns: https://github.com/lukeautry/tsoa/projects/1?add_cards_query=is%3Aopen#column-6640263

[2019-09-28 15:38] WoH commented on #470
Maybe [this](https://github.com/lukeautry/tsoa/issues/447) and removing boolean as a valid setting for excessProps

[2019-09-29 01:02] dgreene1 commented on #449
Closed by https://github.com/lukeautry/tsoa/pull/455

[2019-09-29 01:02] #449 closed

[2019-09-29 10:40] WoH commented on #236
@dgreene1 @lukeautry Would you be comfortable with me being an additional collaborator to coordinate a 3.0 release and manage issues related to that?

[2019-09-29 18:17] WoH opened #489 "Add argument to Parameter Decorators"
# Proposal: Add argument to Parameter Decorators

Affected Decorators:
- Query
- Path
- Header

## Current Behavior

Parameter Decorators can't be used to specify parameter details.

## Expected behavior:

[code]

produces:

[code]

## Possible Solution

Parameter Decorators should have an optional argument of type

[code]

## Breaking change?
No, since the config object should be optional.

## No

[2019-09-29 18:29] dgreene1 commented on #489
@lukeautry, what do you think about this approach?

@WoH, #180 also asked for this feature but specifically for the examples portion. There’s a PR out there for it (https://github.com/lukeautry/tsoa/pull/459), but I believe that it’s awaiting updates. It’s been stale for a little while.

Anyway, the point is that people have asked for this before.

[2019-09-29 19:14] WoH commented on #489
That PR ist one of the reasons for this issue.
I think if we were to add this we should be very close to the spec which is one of the goals here. I should have mentioned that the config is based on:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#parameterObject
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#exampleObject

Also one config obj

[2019-09-29 19:55] dgreene1 commented on #489
Yup I figured as much @WoH. And I agree that it should be a config object not multiple parameters.

[2019-09-29 21:02] sratemo commented on #252
use an older version --> "inversify-binding-decorators": "^3.2.0"

[2019-09-30 00:25] mwit-a opened #490 "Authentication with @Security('Auth0') from express-jwt"
I wanted to implement authentication on my express API that is generated with tsoa. At the moment I'm using the `express-jwt` middleware in my old express API without tsoa. I get a JWT from Auth0.com.

Authentication needs to happen route specific an thus I followed the documentation and tried to use @Security() method.

`express-jwt` verifies if the `Authorization: Bearer jwt-token-xxxxxxxxx` (pa

[2019-09-30 09:37] simllll commented on #47
Can we reopen this issue? I'm also having the same issue right now, even though I'm aware of the custom route templates, It would be way cleaner if I just coudl add @Middleware like propsed earlier. I could work on this feature if this is a "valid" feature @lukeautry ?

[2019-09-30 10:05] WoH commented on #47
#62 is the currently open middleware issue.

[2019-09-30 11:00] dgreene1 commented on #62
@simllll we’d love a PR for this if you’d like to add a middleware decorator. I’d consider looking into how the routing-controllers library does it. If we can keep parity with them it would help people migrate over to tsoa.

[2019-09-30 11:58] mwit-a commented on #490
I found a way to solve my issue:

I added the token in the header in this format:
`Authorization: jwt-token-xxxxxxxxxxxxx`
and removed the 'Bearer' `Authorization: Bearer jwt-token-xxxxxxxxxxxxx`

[code]
[code]

[2019-09-30 11:59] #490 closed

[2019-10-01 08:51] marius-usvat commented on #320
Am having this problem as well. This currently throws `Error: Unknown type: LiteralType`

[code]

From what I understood from the [OA Specification issue 1313](https://github.com/OAI/OpenAPI-Specification/issues/1313) is that mattchr's described behaviour is the current workaround for specifying constants and will be reworked in OAS 3.1

Any possible workaround in the current version?

[2019-10-01 18:22] mattchr commented on #320
@dgreene1 , yes, that looks correct to me.

Sorry for the delay, I switched companies and am no longer working on this project.

[2019-10-02 00:40] dgreene1 commented on #454
@lukeautry I think this would help more people to use tsoa. I believe (but am not confident) that you might have to be he one to set up the project page. I’m saying “project page” since they don’t have the 1-page-per-account limit that a “user page” has.

[2019-10-02 08:36] marius-usvat commented on #483
Am getting this error for union type arrays as well.

[code]

I did not run into this error before since I used to handle this array via an intermediary object like the one below but I feel like it makes more sense to pass all the objects in the same array since they inherit a common type and I provided a discriminator `type`.

[code]
[code]

I tried copying @WoH 's PR fix to my local repo but the

[2019-10-02 09:00] WoH commented on #483
My PR can't really help you here.
These seem to be 2 different issues and I am confused as to how your code may result is missing ObjectLiteral metadata since I can't see any in your code.

However, it seems like both issues are related in that they generate incorrect metadata for the array. If you could tell me about the metadata for your Model after applying my fix I'd be able to take a look.

[2019-10-02 09:11] marius-usvat commented on #483
Thanks for the edit I was a bit confused about where to find it. Here's the full error message for reference as well: `internal tsoa error: the metadata that was generated should have had sub schemas since it’s for a union, however it did not.`

[code]

[2019-10-02 09:17] marius-usvat commented on #483
@WoH sorry, I didn't copy your PR properly, it does indeed generate the subschemas now and the error is gone

[code]

[2019-10-02 09:30] WoH commented on #483
Given the error message I can see how it got mixed in there, don't worry (it's good it did since it's a different error caused by the same issue).
I had just assumed there was something else going wrong after applying my PR resulting in an error that I'd have to fix which is why I had to ask critical questions.

[2019-10-02 13:07] marius-usvat commented on #320
@dgreene1 I tried adding the case to `resolve()` in `typeResolver`. The swagger generation worked but I have no idea how this would impact the codebase. Unfortunately don't really have time to look into it further atm 😞

[code]

[2019-10-02 13:09] #483 closed

[2019-10-02 13:44] dgreene1 commented on #331
@drdgvhbh I released this in version v2.5.4. Thank you for your contribution! :)

[2019-10-02 13:46] dgreene1 commented on #483
@marius-usvat & @simllll I released this feature/bug-fix in version v2.5.4. If you're enjoying using tsoa, please consider sharing it with friends/coworkers or on reddit, [dev.to](https://dev.to), or twitter. Thank you for being a part of our community! :)

[2019-10-02 13:49] simllll commented on #483
Thanks a lot!
Yeah at least for Austria (Vienna) I can tell that I told already several people about it ;)
Great work so far, still some way to go, but I already love what we got! Really awesome project!

[2019-10-02 13:54] WoH commented on #320
@dgreene1 Can you add this to 3.0? I'll take a look

[2019-10-02 14:43] dgreene1 commented on #483
@simllll thank you. Yes it’s quit mature.

Great work so far, still some way to go, but I already love what we got! Really awesome project!

What features or aspects do you feel are lacking when you say there’s “still some way to go?”

[2019-10-02 14:45] dgreene1 commented on #320
I added it to the 3.0 branch project, but it would be really great if this could be accomplished in the current code.

[2019-10-02 14:54] simllll commented on #483
first things that come into my mind are:
- more focus on open api 3 (e.g. the defintions that are available right onw in the config, do not work for open api, you can easily overcome that by merging custom spec, but it's not so nice (
- middleware annotation feature (as soon as I find time I will work on this :))
- support of type aliases (e.g. we are working with a type called "TypeObjectId" whic

[2019-10-02 16:04] dgreene1 commented on #483
Okay, yea I believe there are open issues and/or PRs for all of those. If you don’t see one, please open a new issue. Thank you for your feedback. :)

[2019-10-02 16:10] WoH commented on #483
Could you elaborate a bit more?

My current implementation should handle that, if you want to make sure, I'd be very grateful if you could add tests on top of #485 to confirm your expectations.

I have an error handler for ValidationErrors I should probably share with everyone, the error messages tsoa sets are pretty good.

[2019-10-02 16:16] simllll commented on #483
"servers" is the new way how you define your endpoints in open api. in swagger it was basehost and some others.
e.g. what we have in our tsoa file is something like this:
[code]

I will look into that. I will for sure test it :)

Would be great, for example if I use a some unsupported "constelation" somehwere, you don't see where it is actually. (e.g. tuple...)

[2019-10-02 16:53] WoH commented on #483
Is there anything you can actually assign here?

I see.

[2019-10-02 16:58] #486 closed

[2019-10-02 17:05] dgreene1 opened #492 "Numeric enums are being documented as string enums"
The numeric enum PR (https://github.com/lukeautry/tsoa/issues/331) didn't have the correct type showing in Swagger.

## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Beh

[2019-10-03 08:56] marius-usvat commented on #320
I'm trying to implemented discriminated union types and another thing I've noticed is even the current workaround `'hello' | 'hello'` breaks this. Pulling out my example from the array metadata issue:

[code]

With this configuration, the validation works (getting an error if the type is not `purchase` or `rent`) but the order line object passed to my controller has `type: undefined`.

Configuring

[2019-10-03 10:02] simllll commented on #483
Wow :) thanks already for another PR regarding error messages :+1: !

Regarding:
`export type TypeObjectId<T> = string & { type: T };`

during runtime this is just a string, but for explicit assingments we use a "wrapper" function that also validates the values, it looks something like this:
[code]

therefore in code we use it either by getting this kind of object alredy e.g. from databse models w

[2019-10-03 11:31] WoH commented on #483
Somewhat. Your answer helps me ask a better question: Why is this not `export type TypeObjectId<T> = string | { type: T };`

[2019-10-03 12:43] simllll commented on #483
Well, for regular things this would probably be sufficient, but as we would like to force the ObjectId validation if we cast manually from string to objectid, it must be an "and" instead of an "or".

Let me show a petter example:

[code]

But I understand that this could be a problem in TSOA, at least as long as we have no way to "insert" custom transformations / validtions for input variables. Wh

[2019-10-03 12:52] WoH commented on #483
Fun fact, it isn't when it comes to swagger generation. I just think nothing you could send to the server should ever get past my ValidationService checks.

[2019-10-03 12:57] dgreene1 commented on #483
@simllll the idea for custom transforms sounds fun. Would you mind moving that to a new issue?

[2019-10-03 13:00] simllll commented on #483
haha, interesting. but unsure if I quite understand it correclty what that means. The swagger defintion can be generated but when someone wants to send data to the api it gets rejected? Or does it just "slip" through as string and the validation is just for a valid string (which is probably no validation at all?). If it's the latter case, then this would be totally fine for me.
If it's the first o

[2019-10-03 13:09] simllll opened #496 "custom transformers / validators for input data"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Issues
Right now it's not possible to add a custom validator / transform for the input that comes to a controller method.
E.g. if

[2019-10-03 13:18] WoH commented on #483
Yes, since tsoa errors when you send data that does not match what you asked for.
Basically, the ValidationService is a Swagger validation layer that checks if the data matches the spec, which will never be possible.

[2019-10-03 13:23] simllll commented on #483
but wouldn't #496 solve this?

[2019-10-03 13:26] WoH commented on #483
I think you the way to do this is use a `export type TypeObjectId<T> = string | { type: T };` and reassign to a `export type TypeObjectId<T> = { type: T };` or whatever you want to cast this to in your code. I personally don't think it's up to tsoa to handle that.

[2019-10-03 13:39] simllll commented on #483
I fully agree that this case should not be handled by tsoa out of the box, but in case you will allow a custom transformer / validator to be applied anyone could handle this kind of things exactly at the right place (e.g. to the type cast inside the custom transformer).

[2019-10-03 13:42] marknelissen opened #497 "generate swagger v2 without x-nullable"
#257 has been closed, stating that it is possible to mark a property as nullable by making use of the v3 spec. However, the original problem of #257 is the presence of x-nullable in v2 generated files.

This still causes the same problems for people having to use v2. As such, this addition should be removed or at least the option should be added to disable this behaviour through config.

## Sortin

[2019-10-03 13:52] WoH commented on #496
I feel like this is something that should be done in userland.

I don't (yet) see the value of not casting in the controller, but adding a new mechanism and related complexity to the framework?

[2019-10-03 14:11] simllll commented on #496
For my understanding I though the validators are acutally doing exactly this, but right now only for "pre defined" types.

E.g. If you look into the validatorservice https://github.com/lukeautry/tsoa/blob/a88de0f34eee7cd52d1a87b62fcf2144f6e6837d/src/routeGeneration/templateHelpers.ts#L161
here the input (which is by nature a string in this case) is transformed to an integer [transformer] (if it ca

[2019-10-03 14:26] ryankeener opened #499 "Add support for @Hidden() decorator for controllers"
In some cases I'd like to hide all endpoints for a particular controller (e.g. `/admin` endpoints).  Instead of adding the `Hidden()` tag on each endpoint it'd be cleaner to just add it to the controller and have it apply to all of its endpoints.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](

[2019-10-03 14:39] dgreene1 commented on #497
@marknelissen can you clarify how this is a bug? Swagger v2 allows the use of custom properties. See here: https://swagger.io/docs/specification/2-0/swagger-extensions/

What I'm saying is that (without me knowing more about the situation) I believe that `x-nullable` is valid schema. However, if you're encountering a problem due to the presence of a custom property, please describe at which point

[2019-10-03 14:43] dgreene1 commented on #496
@simllll how would a custom transformer avoid multer? Like if someone uses `bodyparser` as a middleware in `koa`, then every incoming request will be parsed as JSON.

Is my question clear? (I'm struggling to phrase this)

I guess to put it another way, aren't most middleware functions applied across all routes?

So even if we provided some hook that allowed consumers to serialize the raw http stri

[2019-10-03 15:05] simllll commented on #496
Yeah sorry that I mixed that in my example, but it was necessary to see the whole problem and what can be solved with this idea.

Multer can not be avoided with this approach at all, there is probably always some kind of middleware. Multer has the only difference to any average middleware function that it is only applied to certain routes with custom parameter (e.g. what's the name of the field fo

[2019-10-03 15:09] fhewitt opened #500 "Omit Pick and other utility tyles"
## Sorting

* **I'm submitting a ...**
  - [X] feature request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
With a type like
[code]

I would like TSOA to resolve correctly (Yes I know, I'm never satisfied!) If TSOA can't resolve external library, it should proba

[2019-10-03 15:10] fhewitt commented on #500
I imagine it represents tremendous amount of work, maybe even in depth refactoring... And I have absolutely no time right now, but if someone can point me quickly where / how the work should be done, I hope for some free programming time end November or December (if no one take it before).

[2019-10-03 15:19] dgreene1 commented on #500
Duplicate of https://github.com/lukeautry/tsoa/issues/372

[2019-10-03 15:19] #500 closed

[2019-10-03 15:21] dgreene1 commented on #372
I'll add this to the roadmap/project for version 3 of tsoa.

@fhewitt I'm cc'ing you hear so we can continue the conversation here that you started in #500

[2019-10-03 15:38] marknelissen commented on #497
Hi @dgreene1 , in general, this does not pose any problem. However, for my current project, the swagger.json needs to be submitted in order to publish the api in an api store. In order to do this, the API specification needs to meet the store standards. There are several rules (eg. no 200 response on POST), and among these is also a rule that trips regarding the presence of x-nullable in the gener

[2019-10-03 16:15] fhewitt commented on #372
Ha I missed this one, searched for "Utility" based on TypeScript doc and "Pick". I re-add the documentation link form my ticket: https://www.typescriptlang.org/docs/handbook/utility-types.html

Same point than @manast-apsis : all utility types would be great, but `Omit` and `Pick` are probably the most the commons in the context of REST API.

Searching for a workaround and investigating further, I

[2019-10-03 16:28] #492 closed

[2019-10-03 16:38] dgreene1 opened #501 "Enums with strings and numbers should not be supported"
The goal is to be more strict in v3 so we can clarify to users why they're getting a bad swagger document when they used mixed enums (i.e. enums with strings and numbers).

See this comment for more information: https://github.com/lukeautry/tsoa/pull/493/files#r330696346

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I

[2019-10-03 17:00] WoH opened #502 "Error message when tsoa throws on excess properties contains 2 dots"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## Description
Error message when tsoa throws on excess properties contains 2 dots instead of one.

## Currently

See [here](https://github.com/lukeautry/tsoa/blob/master/tests/integration/koa-server-no-additional-allowed.spec.ts#L28)

body.fields['model..someExtraProperty'].message

## Expec

[2019-10-03 17:05] dgreene1 commented on #497
Okay, I changed it to be a feature request because I want to be clear to future readers that it’s not a bug and is in fact valid Schema.

But I think it’s reasonable to have a flag that removes all custom properties.

[2019-10-03 17:16] WoH commented on #496
These are specified by JSON Schema and can be expressed in Swagger/OpenAPI documents.
Right now I see the job of the tsoa validation layer to check if the input matches the spec. If it does, pass it to the controller. Basically, a user of your API should know why it did error based on the swagger spec.

The tuple pr is a great example here: We can't express the order of the types in the API spec,

[2019-10-03 17:40] WoH opened #503 "Remove DeprecatedOptionForAdditionalPropertiesHandling"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

`noImplicitAdditionalProperties: false` is invalid

## Current Behavior

Reference: https://github.com/lukeaut

[2019-10-03 19:08] marknelissen commented on #497
All right. I updated the original message to feature request.

[2019-10-04 00:03] #242 closed

[2019-10-04 12:42] fhewitt commented on #372
Also strongly linked with #469 which is a duplicate too.

[2019-10-04 16:14] pawankorotane commented on #224
I have faced the same problem thanks @karpoff  for your suggestion but found some of bugs  but manage to fix it here is what I have done:

###  **express-tempate.hbs**

[code]

### **tsoa.controller.ts**

[code]

### **tsoa.json**

[code]

[2019-10-04 19:19] dgreene1 commented on #224
@pawankorotane would you please submit a PR for this?

[2019-10-05 15:48] WoH commented on #320
Not properly. I guess we could just patch the issue identified and move on until someone discovers the next unfortunate assumption this method makes, like filtering all type aliases, but I think that's uhm... un unfortunate decision.

Right now, getLiteralType is a very narrowly defined TA implementation. (A typealias with for multiple literalTypes). A better way would be to ref the alias and reso

[2019-10-06 17:57] WoH opened #506 "Unions are not documented/validated equivalent to Typescript"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[See the playground](https://www.typescriptlang.org/play/index.html?ssl=21&ssc=1&pln=1&pc=1#code/JYOwLgpgTgZghg

[2019-10-07 01:26] WoH commented on #506
Well reopen with more details

[2019-10-07 01:26] #506 closed

[2019-10-07 12:41] WoH commented on #506
@dgreene1 I have some questions related to excess properties. Is there any place we can privately chat? Sorry to ask here but I think trying to validate type aliases broke my brain yesterday.

[2019-10-07 16:15] #499 closed

[2019-10-07 18:17] dgreene1 commented on #499
Released in v2.5.6

[2019-10-07 19:26] dgreene1 commented on #506
This strictness is by design since it matches the definition of a union.

That would be inaccurate since once you narrow a union, you it can no longer be one of the other types. See [this playground here](http://www.typescriptlang.org/play/index.html#code/JYOwLgpgTgZghgYwgAgJIEFkG8CwAoZQ5EOAWwgC5kAiDagGnyOVIE90qQBXUgI2kZ4AvvnyhIsRClQAhbEyIlyVWjIYLCbGZx78ogkXjHho8JGgDC8gorKUaqC+pubWFnXwH5D+MKwAOKOg

[2019-10-07 22:36] WoH commented on #506
I know, I think I am kinda responsible for that and I also remember a very similar discussion we had about this, so I guess I should explain myself a little bit here.

Let's say we have a type X = (A|B) & (C|D) with properties a, a2 on A, b on B, c on C and d on D.
If we were to validate that, possible combinations should be {a, c}, {a, d}, {b, c} and {b, d}.
Currently, our implementation would al

[2019-10-07 23:51] dgreene1 commented on #506
Part of me thinks that it’s irresponsible of API developers to even expose unions and aggregates. Like, why wouldn’t people want to keep it simple for their API consumers.

I have similar feelings about Pick and Omit.

On other words, if I felt that it was acceptable to take this stance, I would say: Don’t create crazy combinations— if you do, TSOA won’t support them.

But maybe I’m just in a cran

[2019-10-08 00:04] #454 closed

[2019-10-08 00:35] WoH commented on #506
I'll read this as: This is fine for 2.x (where it is hard to even create these combinations since Aliases are not fully supported).

However, since I went down the rabbit hole already: Are you fine with these strict checks in the future?

[2019-10-08 01:44] dgreene1 commented on #506
Can you show the tests first or something?

That way we could work backwards?

It doesn’t matter if the tests are passing or not.

Or if you still want help with writing the tests, I can help sometime towards the end of the month.

[2019-10-08 09:57] WoH commented on #506
https://github.com/lukeautry/tsoa/pull/505/commits/b347d52d60bad583028bc468ad1187e430dac797

[2019-10-08 10:48] dgreene1 commented on #506
I can’t give it an in-depth review right now, but it looks like you’re on the right track. :)

[2019-10-08 12:52] WoH commented on #506
I think I will just have to keep pushing onto this branch for LiteralTypes and others? Still no feedback from Luke, which is fine I guess, but not having a 3.x branch to push for an alpha release or some targetable goal is a bit demotivating.

[2019-10-08 17:02] dgreene1 commented on #506
@WoH made you a collaborator from what he’s told me.

Still would be great to have separate PRs but you’d have to tell me when you want to “call it done” for a particular set of features.

But I’m also okay with a mega PR. Ultimately it’s whatever serves you best and helps you get the code review you desire.

[2019-10-08 17:09] WoH commented on #506
Since each of them require aliases, they'd just be on top of each other I fear, but I'll try.
Might have to ask you to filter by commits if it does not make sense though.

I got the invitation a few h ago :confetti_ball:

[2019-10-10 12:13] 0v3rst33r commented on #377
@lucas-rudd @dgreene1 apologies guys, I know that this is closed already.

Any further progress that any of you know about on this?  I am asking as I have been using `tsoa` for more than 2 years now in a production application (with `nodejs microservices`), and am finally prototyping some serverless architectures (using the `serverless framework` with `AWS` as the cloud provider) and if I can not

[2019-10-10 18:31] ofuochi commented on #252
Update the file like so...

_./inversify/ioc.ts_
[code]

[2019-10-11 10:57] #480 closed

[2019-10-11 13:56] dgreene1 opened #510 "Better handling for `true` or `false` literals in unions"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]

I would expect to get OpenAPI schema like:
[code]

## Current Behavior
In the 2.0 branch it pretends th

[2019-10-11 13:58] dgreene1 commented on #510
Btw, the reason why I think that it should be two separate enums is due to this explanation in JSON Schema:
[code]
And yes, I recognize that OpenAPI is not JSONSchema, but it's a great example of the principle that the values in the enum must satisfy the type of the enum.

Read more here: https://json-schema.org/understanding-json-schema/reference/generic.html#enumerated-values

[2019-10-11 14:07] dgreene1 commented on #62
I'd like some more information before we introduce a milldeware decorate. So, @janhorubala @anzemur @luli0822 @Paldom @ezra-quemuel @myflowpl @ezra-quemuel @HarelM @simllll...

I'd like to know:
* Which is more important:
 [ ] A middleware decorator that is called _before_ the route?
 [ ] or one that is called _after_ the route?
* What kind of transformations of the request type are you expecting

[2019-10-11 14:21] WoH commented on #510
My plan is to produce a type aware enum for each literal type and treat that like any other union for the next major.

[2019-10-11 18:08] dgreene1 commented on #510
Cool, then you can use this issue number to track that.

[2019-10-11 18:09] dgreene1 commented on #510
And more importantly, now you have acceptance criteria. Because neither of the following should happen:

[code]

[code]

[2019-10-16 13:29] solid-studio opened #511 "Add specMerging option "exclusive""

[2019-10-16 13:30] #511 closed

[2019-10-16 13:32] EdsonAlcala opened #512 "Add specMergin option "exclusive""
## Add specMergin option "exclusive"

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior

I'm trying to overwrite a Swagger definition in tsoa.json

As https://github.com/luk

[2019-10-16 16:29] dgreene1 commented on #512
There are a lot reasons why we would have to be hard-pressed to introduce a way to completely overwrite what tsoa produces. So before we entertain the idea of this feature, please share 2 things:
* the output that you're currently getting from tsoa
* the output that you wish you were getting

[2019-10-17 09:39] EdsonAlcala commented on #512
My current tsoa.json contains for specMerging and spec the following:

[code]

So, I know that tsoa will generate ITemplateBase and ITemplate, so I want to overwrite ITemplate.

What tsoa is giving to me in the swagger.json is:

[code]
As you notice, because recursive mode do a merge it is including the properties of ITemplateBase.

So, the output that I would like to get is:

[code]

[2019-10-17 10:53] ofuochi opened #513 "HTTP status is being overwritten in route file."
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I was expecting that the error status code  be retained instead of overriding

## Current Behavior

The auto-g

[2019-10-17 11:05] dgreene1 commented on #513
@ofuochi I agree that this should be fixed. Since you basically found the fix already, can you please submit a PR?

Please add this change to all 4 of the templates (express, koa, hapi, and custom):

`error.status = (error && error.status) || 401;`

[2019-10-17 11:20] dgreene1 commented on #512
I believe that the Schema you’re expecting to have outputted will be exactly what you want once #429 is completed.

So I still dont think we need to allow manual overwriting when tsoa can and will soon produce the Schema you want from just the type information alone.

@WoH can you confirm how he would write this once aliases have been added to

My assumption is that you would write the code as suc

[2019-10-17 11:21] ofuochi commented on #513
I'll gladly do that.

[2019-10-17 13:02] Kampfmoehre opened #514 "Numeric enums in query don't work"
Numeric enums don't work with tsoa when used in a query parameter.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
They just work.

[code]

## Current Behavio

[2019-10-17 13:27] dgreene1 commented on #514
I think the challenge here is that the query is always a string. So a fix for this would be able to safely try to parse the string as a number before making the comparison. However, when it comes to validating the body, JSON encoding clearly denotes the difference between a string and a number. So we wouldn’t want to match`{“a”: 1}` to `{“a”: “1”}`.

I’m sorry to push this onto you (the discoverer

[2019-10-17 13:28] dgreene1 commented on #514
And feel free to say “no” and then we’ll know that someone else should pick up this bug fix.

[2019-10-17 19:51] dgreene1 commented on #513
Thanks @ofuochi. I published your PR in v2.5.7. Welcome to the tsoa contributor club! :)

[2019-10-18 05:43] ofuochi commented on #513
I'll be happy to do more

[2019-10-18 05:46] Kampfmoehre commented on #514
Hm I could take a look at it, but that will have to wait until at least November. Right now we are in the middle of something and I have no time do deep into this library.
Just for anyone that wants to look at this, my attempt would be to look at the Enum value type and cast the query value to the appropriate type without affecting any other validations.

[2019-10-18 12:03] dgreene1 commented on #513
@ofuochi wonderful. Here’s the list of issues that we’ve identified as being high value: https://github.com/lukeautry/tsoa/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2019-10-18 17:21] WoH commented on #514
This is related to the way we try to extract enums in header/query params.

@dgreene1 for context, we already try to parse `@Header('index'): index: number` etc., so enums should also do that.

This will be addressed in a way that works for the next major, if someone wants to take a look to fix this in a non-breaking fashion I'd be happy to review.

[2019-10-18 17:36] WoH commented on #512
I'm not sure why this is not a case for `interface Template extends TemplateBase` which should avoid the need to override templates I assumed.

You can alias a type on the 3.x branch as you pointed out: `export type ITemplate = ITemplateBase;`

If you want to make a reference to type TemplateBase just to overwrite I guess that would be an approach, albeit I'd call it a workaround at best.