[2019-10-18 20:27] dgreene1 commented on #512
Yes I agree with @WoH.

[2019-10-18 21:44] SmerkyG opened #516 "specGenerator3 does not generate output for @BodyParam"
When placing @BodyProp in a function's params, the params get outputted in Swagger v2 output mode but not in OpenAPI v3 mode. This is due to a lack of implementation in specGenerator3 as compared with specGenerator2.

## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/t

[2019-10-18 22:09] dgreene1 commented on #516
@SmerkyG thank you for finding this. Would you be interested in submitting a PR for this?

There are lots of example unit tests that should make it pretty clear in how to implement this.

[2019-10-19 12:34] WoH commented on #512
I still like the proposal, I just think it shouldn't be necessary to reach for that here.

[2019-10-19 13:16] dgreene1 commented on #512
If added this functionality, we would have to ask every bug submitter if they tried to override the schema. It places a burden on the maintainers that I think is unwarranted since tsoa has multiple ways to represent the types that are being asked for.

[2019-10-19 13:26] WoH commented on #512
Since there are implications on the validation here aswell, I do not think the idea has enough details to implement this, but I'd appreciate a way to override one definition we can't represent where the user may be able to fill in the details that one definition only.
For the bug templates, there could be a checkbox to confirm you're not overriding the generated spec.

[2019-10-19 19:46] WoH opened #517 "Support RFC6570-style arrays and objects in query, path and header"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

There are closed issues, none that offer a potential solution afaik.

## Expected Behavior

[code]

could automatically generate:

2

[2019-10-23 10:35] yiqingithub opened #518 "The server host can not be changed in swagger 3.0"
After I generate the swagger.json when using swagger 3.0, I found that in the swagger.json, the url of servers is always 'https://localhost:3000/'. How could I change the servers url?
servers:
  - url: 'https://localhost:3000/'

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ * ] support request

* I confirm that I
  - [ * ] used the [search](https://github.

[2019-10-23 11:03] WoH commented on #518
https://github.com/lukeautry/tsoa/blob/master/src/config.ts#L53

[2019-10-23 11:03] #518 closed

[2019-10-23 11:23] yiqingithub commented on #518
Hi, WoH, thank u for your link, now I could change the host, but I just don't know how to change the "https" to "http", for example, I want to change the url "https://localhost:3000" to "http://localhost:3000" Do u know how to do?

[2019-10-23 11:24] yiqingithub commented on #518
Hi, WoH, thank u for your link, now I could change the host, but I just don't know how to change the "https" to "http", for example, I want to change the url "https://localhost:3000" to "http://localhost:3000" Do u know how to do?

[2019-10-23 11:33] yiqingithub commented on #518
I just found that if I want to change the url "https://localhost:3000" to "http://localhost:3000", I could set the swagger config "schemes": ["http"], is that right? @WoH
https://github.com/lukeautry/tsoa/issues/518#issuecomment-545390326

[2019-10-25 01:47] yiqingithub opened #519 "A weird issue: error TS2307: Cannot find module 'tsoa'."
I have installed tsoa, and the command "tsoa swagger" worked well and could generate the swagger.json. However, when I typed docker-compose up [project_name] and just want to start up the project, it reports TS2307: Cannot find module 'tsoa'.

In my Controller.ts, there is the sentence below:
import { Body, Controller, Get, Header, Path, Post, Query, Route, Tags, Put } from 'tsoa';

## Sorting

*

[2019-10-25 02:22] dgreene1 commented on #519
since the issue is inside of your Docker image, this is almost certainly not an issue with tsoa.

I would recommend taking this question to Stack Overflow where someone might be able to diagnose your custom `Dockerfile` and your Docker compose file.

[2019-10-25 02:22] #519 closed

[2019-10-26 13:57] luli0822 commented on #62
Hello @dgreene1, thanks for the efforts.

In our case, we must use auth0 authentication so we need their auth middleware to secure apis. But some GET endpoints need to be public, so ideally for each endpoint with this new middleware decorator, it will use some specific middleware(s), otherwise bypass it.
[code]
In regards to the swagger docs, only an auth token header is required if we have @Secur

[2019-10-26 19:39] HarelM commented on #62
@dgreene1 Our use case is one that can inject a middleware much like how you would add it to the express pipe (a function that receives `req, res, next`). We are using passport before the route. It would help to tell swagger that a specific route needs authentication. We are using JWT so swagger only needs to add the relevant header when authenticated in swagger UI.
Our current solution is a custo

[2019-10-26 20:04] WoH commented on #62
@HarelM Any reasons you're not using `@Security`?
https://github.com/lukeautry/tsoa#authentication

[2019-10-26 20:22] HarelM commented on #62
It doesn't work with passportjs since passport requires req, res and next and only req is passed to the method.

[2019-10-26 21:34] WoH commented on #62
You can still use middleware before registering routes to handle the setup and `@Security` to reject if the context isn't what you want it to be.

[2019-10-26 22:12] WoH commented on #62
I should have been more detailed with my description.

- Add the passport middleware before the call to RegisterRoutes (I assumed that's what you did)
- Use `@Security("jwt")` to check if the context is allowed to perform the action
- Add something like this to tsoa config:

[code]

[2019-10-27 00:05] dgreene1 commented on #447
We’ll fix this in v3

[2019-10-27 03:23] HarelM commented on #62
@WoH I assure you I tried it all before posting my comment here :-)
The current template doesn't work with passport due to how passport middleware is.

[2019-10-27 12:39] WoH commented on #62
Wrong if you app.use it before routes. Maybe there are other reasons?

Well I guess that's very specific.

What you are saying is it does not work, but you can't tell me why.
However, an unspecified middleware decorator, where it is not clear how/when it would be applied, will?

I'll leave it up to Dan to engage, but I won't be able to help here.

[2019-10-27 13:11] HarelM commented on #62
I might be missing out something then, if you can send a short working example when not all routes are secured I'll be delighted. I think this can't be the case with app.use(...)
When using the secured attribute the documentation states that you need to provide a method - this method receives only the request object - it is not enough for passport.
Again, I might be wrong. If you can post here a w

[2019-10-27 13:14] HarelM commented on #62
A decorator that operates before the call, that works similarly to how express works, will allow adding things that are documnted for express but not for tsoa. Yes, it will be very helpful.
The other solution is to pass both req, res, and next to the security method. Which is more specific to my problem.

[2019-10-27 13:21] dgreene1 commented on #62
I think if someone could just show how to use passport.js within the tsoa authentication function ( https://github.com/lukeautry/tsoa/blob/master/README.MD#authentication ) then we would be good to go. Because that authentication function is only called when the Security decorator is on the route. I don’t have any knowledge of passport so I can’t help with creating that readme example.

But now th

[2019-10-27 13:33] HarelM commented on #62
I can send the custom template we are using to make passport work.
Passport has integration with mongo that comes out of the box to solve password hashing etc. This is one of the reasons. Another is that I prefer to use code that was battle tested instead of writing my own... :-)

[2019-10-27 14:28] HarelM commented on #62
The following is our template:
Note where the `authenticateMiddleware` is placed.
This is the only way I found that made passport work.
This is also how other middlewares in express are usually done whenever you find a middleware example.
Allowing TSOA to decorate a route with a middleware will allow TSOA users like me easier integration with third party middlewares that has an example that is wri

[2019-10-27 14:43] WoH commented on #62
Maybe I can find time to document our setup (passport/mongo) without custom template, but most of the ideas I already shared in https://github.com/lukeautry/tsoa/issues/62#issuecomment-546643699

Tl;dr is: Use global mw to set up the request obj and use `@Security` to verify on secure routes.

[2019-10-29 06:10] HarelM commented on #62
@WoH can you share your security method?

[2019-10-29 15:24] marius-usvat opened #520 "validateUnion overwriting params with undefined"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Trying to validate an array of a union of discriminated types results in only the discriminator of the last sub

[2019-10-30 00:05] #95 closed

[2019-10-30 13:02] WoH commented on #520
I'd happily accept a PR :)

[2019-10-30 13:18] marius-usvat commented on #520
@WoH I've went ahead and submitted it :) Thanks for the input

[2019-10-30 20:01] #520 closed

[2019-11-01 00:05] #365 closed

[2019-11-01 02:51] rgripper opened #522 "Empty string among union values causes union to be resolved as 'any' instead of 'string'"
Unions `type YesNo = "Yes" | "No" | ""` will have swagger generated with type object, as typeResolver produces 'any' data type.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

##

[2019-11-01 12:08] dgreene1 commented on #522
@rgripper please fill out the full issue template with all of the information. We need to get more context and code examples. At the moment I don’t know what the issue is and how we would reproduce it. That’s why the issue template was created.

[2019-11-03 00:06] #487 closed

[2019-11-03 22:12] smithbk opened #523 "Potential bug with excess properties + question about swagger UI authentication “try it out” button"
My tsoa.json is given below and have two questions.  Thanks in advance.

1) How do I make the "Try It Out" button result in sending the basic authorization header?  When I click on the "Authorize" button, I can fill in the username and password, but it does not send the Authorization header when pressing the "Execute" button.

2) The "noImplicitAdditionalProperties" property does not result in thr

[2019-11-03 23:32] dgreene1 commented on #523
That functionality is provided by the swagger UI repository. Please open a PR with them.

[2019-11-04 00:54] dgreene1 commented on #523
I didn’t see your second question. Sorry about that. So yea, can you add the following to the PR so we can assist?

* the typescript code for the API controller and route
* the typescript code for all of those interfaces that are used in the code for the controller and route
* the data that you sent to the API (and please specify if you sent it as a query parameter, a route parameter, or as the bo

[2019-11-05 02:30] scttcper commented on #479
When working with relational db i don't think `last_name?: string` is more common. I think many people would have `last_name: string | null` because most databases and orm's use null as a default instead of an empty string. We've got some services stuck using v2.4.10 because they now error on `NullKeyword` and whatever the error for using "unknown" is.

I'm going to try working on fixing NullKeywo

[2019-11-05 02:50] dgreene1 commented on #479
I’d encourage you and anyone reading this keep your tsoa types separate from your database types. It’s incredibly valuable for software to use abstractions. This allows your database to change and evolve while keeping your contract the same for consumers.

I realize that I’ve just given unsolicited architectural advice, so please forgive me.

But it’s still unclear to me how we can support `string

[2019-11-05 02:51] dgreene1 commented on #479
So what do you think of us having a more helpful error message that says, unions with null are not yet supported. Please use a union of undefined instead.

[2019-11-05 03:50] scttcper commented on #479
that's definitely good advice, unfortunately i think these other teams haven't done that and now they are keen on using the older tsoa version forever until it explodes in classic tech debt style.

I don't think a different error would be that helpful in this case as the existing error already links to the type and the line which it was found and that's really helpful. Really, they'd probably say

[2019-11-05 12:55] dimitor115 commented on #516
@dgreene1 I'm would like to prepare PR for this :smile:

[2019-11-05 12:56] dgreene1 commented on #516
Okay please do @dimitor115

[2019-11-05 15:22] SmerkyG commented on #516
Sorry for the delay, I do have one ready if you'd like me to submit it.

On Tue, Nov 5, 2019, 7:56 AM Dan Greene <notifications@github.com> wrote:

[2019-11-05 17:16] dgreene1 commented on #516
@SmerkyG you are also welcome to submit the PR. We can see which one is better and/or you can tag @dimitor115 so they can review it. I just want to make sure that one of  you submits it.

[2019-11-05 19:12] dimitor115 commented on #516
@dgreene1 Regarding fact that I haven't started yet and I'm quite new in this project code, I will need some time to prepare PR. However, I will write my code anyway to understand the code and prepare myself for some future issues.

[2019-11-08 01:19] dgreene1 commented on #204
Accidentally closed it because I was scrolling on mobile. I’ve reopened it.

[2019-11-09 16:09] simllll opened #525 "about undefined properties in tsoa request body"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [X] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Issue / Question

I have a simple input post body e.g.:
[code]

and if I call it with "firstName" only, all other properties are

[2019-11-09 16:25] dgreene1 commented on #525
@simllll can you describe the benefit of being able to distinguish between the two cases?

Because in both cases the consumer didn’t send a value. And since your swagger docs declare that it’s optional, then they don’t have to send it, right?

I’m asking this because while I appreciate the value of accuracy, this seems like a low priority change. However, if you can clarify the benefit then it cou

[2019-11-09 16:27] simllll commented on #62
I have no issues reagding @Security or passport middlware, but several other use cases:
I'd like to know:

Which is more important:
[X] A middleware decorator that is called before the route?
[ ] or one that is called after the route?

What kind of transformations of the request type are you expecting to be able to accomplish?
* add cors headers (not for all routes, only for specific ones)
* add l

[2019-11-09 16:59] simllll commented on #525
Basically we have a method here that sets values depending on that what is provided. E.g. only set a firstname if provided, set gender if defined or unset values if they are undefined.
For example the gender: It can actually have 4 states with this:
* it is provided and has a value of "male"
* it is provided and has a value of "female"
* It is provided, but undefined .. remove gender
* it is not p

[2019-11-09 17:11] dgreene1 commented on #525
If I'm understanding you correctly, the end result for anything other than ”male” or ”female” is that you transform it to not set.

So if the end result is the same, I still don't see why it's important to know if the consumer set it or not.

Btw, if you'd like to submit a PR for this I think it's a reasonable ask.

But if you take on this work, please consider this special case.

[code]

[2019-11-09 17:19] simllll commented on #525
no, not exaclty, my check for this is just this simple line:
[code]

'gender' in update checks if the gender is defined (can be male, female or undefined). If if is undefined, it will be removed.

Anyways, thanks for your input, I will look If I'm capable of solving this with a PR :)

[2019-11-09 18:19] simllll commented on #525
I've added a PR #526, let me know what you think. Thanks a lot

[2019-11-09 20:02] HarelM commented on #62
@simllll can you share your security method and/or configuration to allow passport and tsoa without a custom template?

[2019-11-09 20:13] simllll commented on #62
I just tried to copy paste something simple together, our setup is basically something like this:

[code]

and then you can use fo example @Security('BEARER') or @Security('BASIC')

[2019-11-10 14:11] simllll opened #528 "securitySchemes with open api"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Overview
specyfing the securitySchema in tsoa.json does not produce the correct open api definition in the yaml file.

e.g.
[code

[2019-11-10 14:13] dgreene1 commented on #528
I’m not that familiar with this, but I’ll mark it as help wanted so that it’s open for PRs.

[2019-11-11 08:15] rgripper commented on #522
@dgreene1 Feel free to point me to a test, that checks type resolver, so I could add a test.

[2019-11-11 12:38] dgreene1 commented on #522
@rgripper here’s a decent place to put a test like that for openapi 3: https://github.com/lukeautry/tsoa/blob/master/tests/unit/swagger/schemaDetails3.spec.ts#L182

[2019-11-13 12:27] #525 closed

[2019-11-13 18:05] dgreene1 commented on #525
@simllll since you said that you really needed this, I just released the fix as part of v2.5.9. Thank you for the fix. Thank you for being an active member of the tsoa community. We have other open PRs that would really benefit from your help if you're interested. Thanks again! :)

[2019-11-13 18:10] simllll commented on #525
Thanks a lot @dgreene1

Are you talking about a specific PR / bug / feature request?

[2019-11-13 18:27] dgreene1 commented on #525
Nope, nothing specific. I was just expressing gratitude for the contribution and requesting more contributions if you're open to it. If you're interested, I've added a "help wanted" label for any PR that is clearly defined, and I've added an "Easy First PR" label for PRs that are more achievable. Thanks again! I hope to see you around on these boards. :)

[2019-11-13 21:43] simllll commented on #516
this is now fixed in master (https://github.com/lukeautry/tsoa/pull/527)

[2019-11-14 11:07] rgripper commented on #522
@dgreene1 Thanks, I've updated the tests to cover this.

[2019-11-15 19:28] #522 closed

[2019-11-15 19:56] lukeautry opened #531 "Github Actions have been disabled for the project"
As of November 13th, our Github Actions flows have stopped working. This seems to have something to do with plan changes, but there's no clear resolution at this time.

Related issue: https://github.com/ansible/community/issues/505

Retweet here for visibility: https://twitter.com/luke_autry/status/1195430088352894979

[2019-11-20 08:38] oreporan commented on #302
What is the solution to do this? my `req.user` is null even when I set it in the middleware

[2019-11-20 08:40] oreporan commented on #111
Is this still the case? Do I need to put `request.request.user` in order to get the user object? This is not how its documented...

[2019-11-20 12:57] dgreene1 commented on #302
@oreporan if you can make a small github repository that demonstrates the issue and uses passportJS, I will reopen this issue and fix it in your example repo.

[2019-11-20 12:59] dgreene1 commented on #111
@oreporan the documentation in the readme is up to date with Koa.

[2019-11-20 13:11] WoH commented on #302
Please read: https://github.com/lukeautry/tsoa/pull/488

[2019-11-23 13:37] kdankert commented on #62
Is there any progress on this. I am working on an express sever that should be able to call keycloack-connect middlewares. I tried to solves this via the security decorator, but i dont know how to go on here. It would be easier if we could define RequestHandlers that is automatically called.

What I found out is that keycloak-connect needs access to the req, res and next variables

[2019-11-23 14:07] dgreene1 commented on #62
Short version: please open a PR if you want this.

@kdankert none of the maintainers uses keycloak or passport. I don’t use middleware at all since I find they make the logic more confusing. That’s not to say I don’t think tsoa should have them though. I think they should. But since myself and the other maintainers don’t have the personal knowledge to investigate this there will not be any progres

[2019-11-23 14:18] simllll commented on #62
@dgreene1 a PR for a middleware will be a accepted? How is the situation about custom validators? (If we do a distinction between these two at all). I will see if I can find time for a PR that allows a simple @middleware annotation,I guess this can be done easily and without increasing the complexity of tsoa, but solves some use cases.

[2019-11-23 14:38] WoH commented on #62
@dgreene1 I think we should be more specific here and lay out acceptance criteria for that PR since middleware may not only impact security and validation, but also documentation.

[2019-11-23 15:46] dgreene1 commented on #62
Correct. A PR for general middleware needs more discussion.

However, I was encouraging @kdankert to make a PR so that the security decorator can send all of the parts that’s express middleware typically need. Maybe that should be a separate github issue so we can track that by itself while we flesh out the acceptance criteria for general purpose middleware and/ validators.

[2019-11-23 16:06] kdankert commented on #62
Middlewares have slight problem though, they are not supported by every framework

[2019-11-24 18:23] iasbm opened #532 "express Request is undefined in TSOA route Controller"
Hello
I need to be able to access expressRequest in one of the TSOA controller.
here is my code....

import { Route, Get, Post, Delete, Request, Response, Header, Body, Security, Controller } from 'tsoa';
import * as express from 'express';

@Route('auth')
export class UserAuthController extends Controller {

  @Post('Login')
  public async login(@Body() request: IUserLoginRequest, @Request() expR

[2019-11-24 20:57] dgreene1 commented on #532
Why didn’t you fill out the issue template?

Please fill out the things that are missing like:
- the version of tsoa you see in your yarn.lock or package.lock
- if you’re using yarn or npm
- the version of Node
- the version of TypeScript

Also, I notice that you `@request` decorator is lower case but tsoa.Request is uppercase.

[2019-11-25 01:11] rgripper commented on #531
@lukeautry Maybe this is applicable?
https://github.com/ansible/community/issues/505#issuecomment-554661894

[2019-11-25 10:05] iasbm opened #533 "express Request is undefined in TSOA route Controller"
Hello
I need to be able to access expressRequest in one of the TSOA controller.  But it is coming as UNDEFINED

## Sorting

* **I'm submitting a ...**
  - [ YES] support request

* I confirm that I
  - [YES ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I expect to receive a valid express

[2019-11-25 10:07] iasbm commented on #532
Hi i have just reopened the same as new Issue by filling in the template with necessary details of versions of env.  No it is not @request, but it is actually @Request, but it automatically changed to lower case when i pasted the code in the   ##533

[2019-11-25 13:49] dgreene1 commented on #532
K we’ll track this in the other issue. Closing this one as a duplicate.

[2019-11-25 13:49] #532 closed

[2019-11-25 13:52] dgreene1 commented on #533
So I can’t tell what the problem is with your code by reading it, but I can tell you that we have multiple unit tests that utilize the @Request decorator, so if this wasn’t working then tsoa wouldn’t be able to publish.

Maybe someone else can determine what’s wrong with your code. I can’t tell what’s wrong.

[2019-11-25 13:53] dgreene1 commented on #533
If you’re willing to push your entire repository to its own github repo and send us a link, I can try to see what’s wrong.

Also, can you confirm that your are not use a custom handlebars template?

[2019-11-25 13:55] iasbm commented on #533
NO I am not using any Custom Handlebars template

[2019-11-25 14:40] OrKoN opened #534 "Use of TypeScript enums in @Security decorator"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

When a TypeScript Enum is used in the @Security decorator, it'd be great if the enum values would be used in t

[2019-11-25 14:57] iasbm commented on #533
below are relevant files...

**TSOA.JSON**
[code]
**Express.ts**

[code]
**Server.ts**
[code]
**Start.ts**
[code]

**UserAuthController.ts**

[code]
**So, the last logger.debug prints 'expReq is.... undefined**

[2019-11-29 18:00] dpinart-uxland commented on #59
I can't make it work
`export class MonitorController {

    @Get()
    /**
     * @isInt limit
     * @isInt offset
     */
    findMonitors(@Query() limit: number, @Query()offset: number, @Query() searchString?: string): Promise<QueryResponse<Monitor>>{
        return Promise.resolve(<QueryResponse<Monitor>>{included: [], currentPage: 1, lastPage: true, firstPage: true, })
    }
}`

and the swagg

[2019-11-29 18:17] dgreene1 commented on #59
I’m reopening so someone can see if this bug really did regress or if there’s simply an issue on @dpinart-uxland’s side.

@dpinart-uxland can you please delete all of your output files (like swagger.json) and rerun tsoa then confirm to us that the issue is still occurring?

[2019-11-29 18:19] dgreene1 commented on #534
You must not have searched for this since there already is an issue about this topic. I will close yours as a duplicate and reopen the stale issue: https://github.com/lukeautry/tsoa/issues/337

[2019-11-29 18:19] #534 closed

[2019-11-29 18:20] dgreene1 commented on #337
Reopening at @OrKoN’s request

[2019-11-29 18:26] dgreene1 commented on #533
@iasbm we can’t help you unless you create a github repo that shows the issue. Until then all we can do is ask you to try things. For instance, please tell us if the issue still reproduceable if you remove all of the express middleware (outside of bodyparser which is necessary). I’d be happy to try this for you, but I’ll need the link to a github repo where I can try it.

[2019-11-30 00:52] WoH commented on #59
It seems like this was supported at some point, however, the `isInt` jsDoc should be on the parameter declaration node now (in your case limit and offset).

[code]

If that does not work I'd appreciate if you could open a new bug report and I'll take a look.

[2019-12-02 15:25] WoH opened #537 "Validation: Set defaults for optional params"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]
sets 666 when no number gets sent in.

## Current Behavior
Generated metadata is correct, however, nothi

[2019-12-02 22:58] jtfell opened #538 "Nested Property Descriptions not being added to swagger output"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Explanation

Accompanying issue for the issue raised in this [PR](https://github.com/lukeautry/tsoa/pull/535). It just modifies t

[2019-12-02 23:43] dgreene1 commented on #538
A low value but helpful feature. It’s an easy first PR.

Please note, the workaround is that people can make two interfaces instead of one nested interface.

[2019-12-03 10:38] bvwells opened #539 "Upgrade handlebars version due to security vulnerabilities"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Detailed Description
The current use of handlebars version 4.1.2 has various security issues. It would be great if tsoa could be

[2019-12-03 11:15] Eoksni opened #540 "Support for relative `host` in openapi 3"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Have in the output something like
[code]

I'd like to be able to specify relative `host`, which is allowed by

[2019-12-03 13:48] #537 closed

[2019-12-04 00:17] dgreene1 commented on #497
@marknelissen this has been floating around for a while and no one has volunteered. Would you be willing to put a PR in for it yourself?

[2019-12-04 11:22] dpinart-uxland commented on #59
I upgraded swagger to spec 3 and it seems to be working now placing the jsDoc at method declaration. I guess for spec 2 (default one) the jsDoc must be placed at parameter declaration level

[2019-12-04 11:35] WoH commented on #59
Since they both share the same AST parser, both use the format I suggested, the initial implementation was done in 2017 and has changed for both Swagger and OpenAPI. (If I'm wrong, please correct me and I'll vertainly take another look)

Anyway, glad it worked out :+1:

[2019-12-04 13:07] marknelissen commented on #497
I'll take a look. However, since the end of the year is a very busy period, it might take me some time to get it done.

[2019-12-05 16:18] lucas-rudd commented on #372
@fhewitt any update on this? Or, has any work already been started?
Support for Pick would be fantastic, it allows our code base to be a bit more maintainable to just Pick properties from an Interface rather than create an entire new type for request/responses of our REST APIs.

[2019-12-05 17:50] WoH commented on #372
There's a PR up #505 where you can track the progress. Please refrain from asking for ETAs but feel encouraged to take a look and submit your review if you're interested in seeing this go live.

[2019-12-06 18:13] Eoksni commented on #496
I don't relate to the multer example, but my thoughts on the topic is that doing such transformations and validations in userland has a drawback: **it can't affect generated spec**. I'd like to specify some custom format, for example parenthesized strings:

[code]

So I would accept `{ someKey: "(hello)" }` and reject `{ someKey: "hello" }`. Then lets say I hate my customers and I dont actually *n

[2019-12-06 23:19] dgreene1 commented on #496
@Eoksni sounds interesting but it doesn’t seem like a real scenario. If anyone else can provide a realistic scenario that would be helpful.

For instance, I would like my routes to expect a JsJoda LocalDate. In order to do that I would need either need:
* Option A: a custom formatter (like what you have above)
* Option B: simply covert the string query param to a LocalDate object inside the route

[2019-12-07 04:16] Eoksni commented on #496
@dgreene1  I partly agree, conversion isn't that big of a deal. On other hand, custom validation is probably a big deal - tsoa provides a validation layer (only for built-in types/formats), but have you ever seen a validation library without support for custom validation?

Most ORMs have support for custom validation and it would be great if we can "lift" those validation from model-level to tsoa/

[2019-12-07 04:41] dgreene1 commented on #496
I hear you but the challenge is how would the formatter/validation describe the inputs versus outputs. And I’m particular concerned with this for query parameters.

I have to think on this. Let’s let it sit to see if others would also like this. It bloats the library. I’m not against maintaining this addition but I’d like to see what the community desires since there is a very clear workaround tha

[2019-12-07 14:11] WoH commented on #531
It's back up and running.

[2019-12-07 14:11] #531 closed

[2019-12-07 15:04] WoH commented on #496
That's precisely the point why it would be bad to add it.
I'll give a brief example. Given a controller method
[code]
we need to be able to look at this and expect to get h1 and h2 from the request (and therefore inject and document h1 and h2).
If we had an `@Middleware(myMiddleware)`, that was applied, it may be that middleware that sets those headers and therefore should not be part of the reque

[2019-12-07 16:38] dgreene1 commented on #496
We already decided against using ajv or joi internally when we discussed issue https://github.com/lukeautry/tsoa/issues/416.

However, nothing precludes a tsoa User from using a validation library inside of the route method.

Also, I feel like tsoa is flexible enough to allow a developer to document any and all of the string formats. I guess we just haven’t documented that well.

[2019-12-07 17:06] WoH commented on #496
I initially closed this because luke was talking about an unreleased version of this which I wanted to take a look at first.

Or replacing the generated output/validation through different templates and sharing these via npm.

[2019-12-07 21:03] Eoksni commented on #496
Yeah, I believe using a custom template is the simplest solution for me at this point.

@WoH Still, I think there is a bit of misunderstanding.

So I tried to explain it earlier, but I guess I wasn't successful at it. So I take another try :)
Once again, my suggestion is that specifying custom `@format` should enable custom validation at runtime. I don't talk about whole middleware that can inject

[2019-12-07 21:38] WoH commented on #496
Once again, my suggestion is that specifying custom @format should enable custom validation at runtime. I don't talk about whole middleware that can inject additional properties into headers or whatever.

I somewhat agree here and agree that it wasn't smart to refer to middleware and input validation in the same paragraph in my comment, but given what the initial issue discussed in here was, I mig

[2019-12-07 21:45] Eoksni commented on #496
I believe I can use `@format myformat` to have it show up in the generated spec. But specifying it in the spec doesn't mean it introduces any actual validation. So if I *could* specify a custom validation for my custom format, I'd be the happiest person on Earth :)

I'll start by implementing my custom template to fiddle with the validation process, and if I see something good coming out of it, I

[2019-12-07 22:28] dgreene1 opened #543 "New feature: “pattern” JSDoc decorator for regex"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Detailed Description

A new decorator that works within JSDoc that tsoa will pick up called

[2019-12-07 22:30] dgreene1 commented on #496
@Eoksni instead of a custom template can you create a PR that enhances format to accept a regex?

I’ve made a separate issue (https://github.com/lukeautry/tsoa/issues/543) where we can discuss this new feature as opposed to this current thread which should continue to discuss the potential need for a middleware decorator.

[2019-12-07 22:33] dgreene1 commented on #543
@Eoksni and @WoH lets continue the discussion here. @WoH note that I am recommending that we call this `pattern` instead of `format` since that’s what OpenAPI calls it. See here: https://swagger.io/docs/specification/data-models/data-types/#pattern

[2019-12-08 00:11] WoH commented on #496
Pattern and format are different things. Format applies to every data type, pattern is restricted to strings.

[2019-12-08 00:18] WoH commented on #543
Pattern jsDoc is supported and part of string validation. Are there any issues you're experiencing?

[2019-12-08 04:34] dgreene1 commented on #543
I’m very sorry that I didn’t realize that we already support pattern. So @Eoksni wouldn’t pattern accomplish your needs?

[2019-12-08 07:27] Eoksni commented on #543
Yeah, I didn't realize tsoa already supported a lots of standard validation rules besides simple type assertion, like `minLength`, `maxLength`, `pattern` etc after looking here https://github.com/lukeautry/tsoa/blob/master/tests/fixtures/controllers/getController.ts and in the source code of validation service https://github.com/lukeautry/tsoa/blob/master/src/routeGeneration/templateHelpers.ts

Wo

[2019-12-08 12:45] WoH commented on #543
We're always interested in documentation PRs.

[2019-12-08 12:48] #543 closed

[2019-12-08 12:58] #539 closed

[2019-12-08 20:08] dgreene1 commented on #543
@Eoksni  you can have a reusable pattern by setting it on an interface that you reuse. And it might even work for reusable type aliases too. Not sure. But it will for interfaces.

And I agree with @WoH we are always open for documentation PRs. We’re all volunteers here and non of us are the original author. So contributions like readme updates are super helpful. Especially since I obviously was un

[2019-12-10 00:06] #523 closed

[2019-12-10 07:31] bajzat commented on #528
Hey Guys!

I was facing the same issue and made a changes in the code, tests are added. I would gladly open a PR to merge it.

[2019-12-10 12:42] dgreene1 commented on #528
@bajzat yes submit a PR

[2019-12-10 12:58] bajzat commented on #528
@dgreene1 may I ask you to give me right, to open the PR always got 403 when I try to push my branch.

[2019-12-10 13:00] simllll commented on #528
@bajzat  you need to create a fork in your own account and create a PR from there against this branch, this one should work without any additional permissions :-)

[2019-12-10 13:52] dgreene1 commented on #528
* create fork
* git pull your fork
* make the change and push to origin
* in this repo you will click open PR but then change the source of the PR to be your fork

[2019-12-10 14:01] bajzat commented on #528
thanks!

[2019-12-10 23:02] oreporan commented on #50
Hey
I'm using 2.5.9 and still seeing

`additionalProp1` at the end of every post request on swagger
Any idea why?

[2019-12-11 00:09] dgreene1 commented on #50
@oreporan no one has reported that bug yet. So can you please create a github issue and be careful to fill out all of the information so we can reproduce it?

Please include all of your typescript interfaces and your route controllers.

[2019-12-11 13:24] jreusch-barco commented on #540
hey hey
actually we're also currently in need to have this feature.
i would volunteer to do a PR for this, perhaps we can agree on how to do it upfront?

as proposal:
1 ) just having localhost:3000 as a default does not seem reasonbale for me to be honest, how about in this case just using the "basePath"-only variant? (as this is valid in the spec anyway?
-> that would mean change the default -> c

[2019-12-11 13:47] dgreene1 commented on #540
@Eoksni and @jreusch-barco please share what the final resulting YAML would be based off of the configuration. Until I see that I am unclear.

[2019-12-11 14:05] Eoksni commented on #540
@dgreene1 https://swagger.io/docs/specification/api-host-and-base-path/

[code]

or

[code]

if basePath is specified.

I personally agree with @jreusch-barco (1) option, making it default would be natural way to do this.

[2019-12-11 14:19] jreusch-barco commented on #540
yep, yaml would look exactly like that, also confirmed that this works (e.g. in swagger-ui-express) by manually editing the schema file.

[2019-12-11 14:33] Eoksni commented on #540
@dgreene1 If you don't want breaking change, I suggest `host: '/'` to behave as relative path because right now it outputs something meaningless anyway (`http:///` is not a valid url as far as I know).

[2019-12-11 14:59] jreusch-barco commented on #540
that also was one of my thoughts, but IMHO i find it rather unintuitive and not nice..

tbh: i would be interested when the default value (localhost:3000) does actually make sense.
changing the default here is maybe really the cleanest solution (and most likely will not break anything out there)

[2019-12-12 01:18] dgreene1 commented on #540
Maybe we can change the default in v3 (cc @WoH) but for now we’ll need a v2 solution that is backwards compatible. So I think the forward slash solution is fine. I believe that is how relative paths work in Node’s `fs` and `path` modules right? If not, we should adopt a relative path strategy that follows Node’s.

[2019-12-12 03:24] Eoksni commented on #540
@dgreene1 In Node's `fs` and `path` `/` works as absolute path and `./` as relative. Personally I'm fine with both.

[2019-12-12 03:58] dgreene1 commented on #540
Okay (thank you for the reminder— I’ve been stuck working on C# last few months).

So yea, I think that there are only two valid options:
1) use `./` as a magic string that tsoa will use to create a relative path
2) have an additional flag like `”useRelativeHost”`

It sounds like we’re leaning toward option 1. I’d accept a PR for either.

[2019-12-12 04:06] dgreene1 commented on #540
Or a third option. If you’re looking to achieve this result from the OpenAPI documentation we could achieve it by specifying `null`

So in other words,
[code]

[2019-12-12 06:02] Eoksni commented on #540
I vote for `host: null`.

[2019-12-12 13:36] jreusch-barco commented on #540
also
host: null
we have to go for a "not nice solution", that's the cleanest one of them IMHO.

one additional request:
if "useRelativeHost" will be the agreement, please lets reconsider the name. it's not the host which is relative, is it?

[2019-12-12 19:15] dgreene1 commented on #516
So you're saying this is fixed @simllll? I'll close it. We can reopen it if I'm misunderstanding you.

[2019-12-12 19:22] dgreene1 commented on #533
@iasbm I'd like to repeat that this is not broken in our unit tests so that points to the error being within one of your express middleware. We'd be happy to dig into this further if you can create a github repo that we can pull down and run. However, since [this unit test](https://github.com/lukeautry/tsoa/blob/09b9eb3018f15b619af583e37123b664b117ff03/tests/fixtures/controllers/parameterControlle

[2019-12-12 19:22] #533 closed

[2019-12-14 13:38] oreporan commented on #302
#488 only speaks about the typescript definition, not the actual `Request` object

Should this work?

[code]

[code]

[code]

[2019-12-17 11:56] drothmaler opened #546 "Split `tsoa` package"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit
    * There was #304 but without any real solution...

## Expected Behavior

Adding TSOA should not drastically increase the size of

[2019-12-17 12:48] MarioGT90 commented on #479
We find a "solution"  for this OpenApi problem:
[code]
This not the best or more clean solution but work for us, but swagger don't represent well the model

[2019-12-17 13:19] dgreene1 commented on #546
I use tsoa as a devDependency so I don’t have this issue.

But I’ll cc other members of the tsoa community that might be able to better weigh in. @lukeautry @WoH

[2019-12-17 13:36] drothmaler commented on #546
@dgreene1 but the compiles JavaScript files still use stuff from `tsoa`(e.g. decorators and base class for Controllers and the `ValidationService` inside the generated routes).
So if you only install production dependencies (without `tsoa`) your app shouldn't work.

[2019-12-17 13:47] dgreene1 commented on #546
Oh maybe I don’t use tsoa as a dev dependency then. Sorry, I recently took a job doing C# so my knowledge of tsoa is fading.

But what I do recall is that I use webpack to reduce the size of my app when I’m running it in serverless (and where the size really matters due to cold start requirements). But if I’m using tsoa in a kubernetes / container hosted environment I rarely concern myself with th

[2019-12-20 20:35] jjm340 opened #548 "Support multipart/form-data per Open API v3"
Since the v3 spec supports mulipart form data, it would be great if I could use multer with this library to generate endpoints that could accept files uploads.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue

[2019-12-20 20:37] #548 closed

[2019-12-21 23:52] jjm340 opened #549 "Return type of file"
Can one specify a return type of binary or file on a model property?

[2019-12-22 01:10] dgreene1 commented on #549
There was a PR to introduce this but it required corrections and the submitter never returned. Feel free to resubmit it with the requested corrections: https://github.com/lukeautry/tsoa/pull/228

[2019-12-23 18:25] mattgtr commented on #50
you can set it in tsoa.config, inside the swagger block:

      "noImplicitAdditionalProperties": "silently-remove-extras"

Hope it helps

[2019-12-26 00:06] #512 closed

[2019-12-31 12:58] angellandros commented on #261
This is more of a philosophical problem. Consider the following example:
`/api/v1/user/12/device/1/`
I have `user/{userId}` at the beginning of everything. Now, how do you expect the `@Route` of `DeviceController` to look like, `'user'` (like all other controllers) or `'user/{userId}/device'`?

[2019-12-31 15:42] dgreene1 commented on #261
Yes, it’s a philosophical question that doesn’t have a clear answer.

For instance I have worked on many projects where routes to `user/{userId}` and `user` we’re both in the UserController. You seem to suggest that they should be different controller classes.

And that is certainly one logical approach, however, I’m not sure I want to introduce the additional scope to tsoa. Ever feature that is a

[2020-01-03 05:15] jtfell opened #551 "Ability to handle streams returned from controller"
I have a use-case where I want my controller to pipe streams through to the response object (eg. proxying from s3). This isn't possible to be encoded currently, but the changes required seem pretty minimal.

## Sorting

* **I'm submitting a ...**
  - [x] feature request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar i

[2020-01-03 07:12] 0v3rst33r opened #553 "express.hbs compile issues with "noImplicitAny": true and using IOC module"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
When enabling the following setting in `tsconfig.json`, I expect no compiler errors from the `routes.ts` file.

[2020-01-03 07:13] 0v3rst33r commented on #553
I am creating a PR within the next few with the suggested change above, unless otherwise advised regarding a better solution/fix.

[2020-01-03 08:50] #528 closed

[2020-01-04 19:45] #553 closed

[2020-01-04 20:04] dgreene1 opened #555 "Omitting the host property should make the host relative"
This is the v3 version for the compromise we made in https://github.com/lukeautry/tsoa/pull/547

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Assuming that

[2020-01-04 20:06] dgreene1 commented on #540
Thanks @jreusch-barco for submitting the v2 PR. I have a few minor requests there. And @Eoksni, I made a new issue for the "nice solution" which I have put in our v3 release bucket: https://github.com/lukeautry/tsoa/issues/555

[2020-01-04 20:09] dgreene1 commented on #549
@jjm340 have you considered opening a PR for this? All you'd have to do is copy the  #228 PR and make the [requested changes](https://github.com/lukeautry/tsoa/pull/228#pullrequestreview-274034476)

[2020-01-04 20:11] jjm340 commented on #549
I pulled down the PR to attempt to do this, but merging the latest was the problem. I'm not nearly familiar enough with the code base to do that. I can give it another shot, but I'm not sure if I'll have time.

[2020-01-04 20:12] dgreene1 commented on #546
@drothmaler if you have experience with lerna then perhaps you'd like to introduce a PR that would allow us to deploy 3 npm packages?

Those 3 packages being:
* `@tsoa/cli`
* `@tsoa/runtime`
* `tsoa` (which is everything. Essentially for those like me who do not care about the package size)

But I do not have experience with lerna (outside of knowing that it's designed for this purpose). So you or

[2020-01-04 20:37] dgreene1 commented on #553
@0v3rst33r This was just released in v2.5.11 (https://github.com/lukeautry/tsoa/releases). Thank you

[2020-01-04 21:59] drothmaler commented on #546
Well I played around with `lerna` for some time, but I haven't used it in a real project yet. But this seem like a good chance to get some practice :-)
I will provide a PR, as soon as I'm ready.

[2020-01-04 23:26] jreusch commented on #555
yep, nothing wrong thats correct. :)

[2020-01-04 23:27] jreusch commented on #555
btw: thanks for opening this issue, i just came back with the intention of doing it after this time and saw that you were a few hours faster :)

[2020-01-05 00:11] dgreene1 commented on #555
Awesome. Thank you @jreusch :)

[2020-01-05 18:09] 0v3rst33r commented on #553
@dgreene1 great, thanks! Appreciated (project `package.json` file already updated with `v2.5.11` and all happy again).

[2020-01-06 13:18] WoH commented on #479
This will not work in tsoa v3.x since we are properly able to resolve type aliases.
My best alternative at this point is to type `null` as:

[code]

While I think this is not ideal, it allows typing `null` as an isolated type, which is pretty important to avoid a lot of corner cases during type resolution.
Also, it would allow differentiating properly between `undefined` or optional properties and

[2020-01-06 13:21] dgreene1 commented on #479
I’m really not sure. I guess I don’t enough to have a strong opinion. I think we might need outside input. Maybe we can tag someone from the OpenAPI spec?

[2020-01-06 14:10] WoH commented on #479
I can add some more context for now, feel free to tag someone:

OpenAPI v3.0.3. adds language that clarifies that https://github.com/lukeautry/tsoa/issues/479#issuecomment-534227857 won't work (https://github.com/OAI/OpenAPI-Specification/pull/2046)

Since the behavior around `null` is not clearly specified, there is a proposal to fix: https://github.com/OAI/OpenAPI-Specification/blob/master/propo

[2020-01-06 15:05] dgreene1 commented on #479
if you think that would work then I guess we could give it a go.

My only hesitation is that it looks strange to me that the enum only has one type in it.

Ultimately the best way to gain confidence in this is to try to compile that schema back into TypeScript using some popular converter. If it becomes `string | null` then we know we’re doing it right.

[2020-01-06 15:18] WoH opened #557 "Optional properties should not be nullable by default"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]

[code]

## Current Behavior
[code]

## Possible Solution
Don't mark [optional properties](https://githu

[2020-01-06 16:15] WoH commented on #479
Swagger Core works: https://github.com/swagger-api/swagger-core/issues/3098

Supposedly it's fixed in OpenAPI generator: https://github.com/OpenAPITools/openapi-generator/issues/1997, however the bugfix only addresses python as far as I can tell and that one crashed on me when I did `null` on any enum and tried to generate code for any language.

[2020-01-08 20:56] dgreene1 commented on #204
@erykwarren @simllll @fbarbare @Esya @Superd22 @JakeStoeffler @ronjouch @james-ingold, @bgsandan, @WretchedDade, @AlexChambers, @HarryGogonis @adikaladik @AlexChambers -- We're super excited to share that we have a beta release of the type alias feature available and we'd love you to try it so we can consider releasing it to everyone. It's simple to do. All you have to do is install it with the ta

[2020-01-09 00:06] #497 closed

[2020-01-10 08:28] WoH commented on #469
Please feel free to try the 3.x beta releases for now, which include the required changes.

[2020-01-10 08:28] #469 closed

[2020-01-10 10:31] #551 closed

[2020-01-10 19:34] #540 closed

[2020-01-10 19:42] #452 closed

[2020-01-11 02:51] js2me commented on #352
Hi everyone , I've got that problem.

TSOA (v. `2.5.11`) config:
[code]

Part of controller where caused exception
[code]

And that's my output:
![image](https://user-images.githubusercontent.com/16340911/72197767-26ad6e80-3436-11ea-922e-d19135d0b8c4.png)

[2020-01-11 08:30] WoH commented on #352
https://github.com/lukeautry/tsoa/issues/479

[2020-01-11 09:00] dgreene1 commented on #352
Just a reminder: The workaround is to make it a union with undefined. But yes, #479 tracks the feature enhancement to allow a union with null.

[2020-01-11 11:57] jreusch commented on #555
hey hey
i would volunteer to do a PR for this.
do i see this right that the target for this PR should be the 3.x branch?

[2020-01-11 13:06] WoH commented on #555
Yes. The 3.x does not have https://github.com/lukeautry/tsoa/pull/547 yet, so please keep that in mind :)

Thank you very much :heart:

[2020-01-11 13:15] WoH commented on #549
If you're interested in working with me on this, I'd love to help you along the way @jjm340.

[2020-01-13 02:14] Ze-Khan opened #561 "@Query() Can't support array 'refAlias' type"
Previously in v2.5.x tsoa was able to support string literal type arrays in the query parameter. However v3 is showing breaking changes on this behavior.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn'

[2020-01-13 02:37] dgreene1 commented on #561
@WoH

[2020-01-13 11:09] WoH commented on #561
https://github.com/lukeautry/tsoa/commit/85e5cc08b66ce547822afa05eb960d97a387a332

Thanks for reporting this and testing the 3.x beta.
I am aware and this regression should be fixed in the next release.

[2020-01-14 19:00] Burnett2k opened #562 "Emit better error if no controllers are discovered"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [ ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

When I enable the tsconfig option noUnusedParameters and try to compile the app after routes have been generat

[2020-01-14 19:02] dgreene1 commented on #562
If you’d like to submit a PR for this, we would accept it. But I don’t like the ideal of `ts-nocheck`. I think we should just delete u used variables.

[2020-01-14 20:16] Burnett2k commented on #562
Agreed, it seems like a hack. But, I'm fairly new to this library and don't understand why it has these unused functions included.

I could add code to omit the `app` variable or replace it with a empty object `{}`.  But, that doesn't solve the issue where there is a `promiseHandler` function which is declared and never used. Same with `getValidatedArgs`.

I'm curious how you are getting around th

[2020-01-15 09:41] WoH commented on #561
@dgreene1 Could you release this fix + unknown type + express Streams for 3.x?

[2020-01-15 10:30] marudor commented on #546
I would also love a package split.
In my experience I would not keep a single tsoa package and instead split it.
Keeping the all in one adds extra overhead and it's not that much of a hassle to install both.

[2020-01-15 16:37] Burnett2k commented on #555
Please let me know when this issue is resolved. I'm using specVersion 3 and it always defaults to https with or without the host included.  Hopefully this is the same issue because I want the host to be protocol relative.

[2020-01-15 16:46] jreusch-barco commented on #555
hey hey
according to
https://github.com/lukeautry/tsoa/blob/master/src/swagger/specGenerator3.ts#L119
you should already be able to specify the scheme.
it defaults to https yes, but when putting "schemes": ["http"] you should be fine?

[2020-01-15 16:50] Burnett2k commented on #555
@jreusch-barco Thanks for that tip! I looked through the config and skipped over schemes.  As I learn these things I'm wondering if it would help to actually list out all the config options in the readme?

[2020-01-15 16:54] jreusch-barco commented on #555
i think they'd be open to a PR with the readme.
or at least have something pointed to
 https://github.com/lukeautry/tsoa/blob/master/src/config.ts
where the acutal implementation/comments are.
or maybe just a page where the jsdoc of this file is written, endless possibilities, someone just has to do it :)

[2020-01-15 17:20] dgreene1 commented on #555
@Burnett2k the readme already links to the config file. Our hope was that the JSDoc comments would be enough. Although it would be nice to have that in the readme, it would be a bad idea to have duplicate documentation. So a better route is to have an auto generated documentation page which JSDocs provides. There’s also a issue request that asks for us to create a website for tsoa, but that got st

[2020-01-15 21:08] Univac1107 commented on #533
I had the same issue with @Request and @Header. You must generate your routes again.

[2020-01-15 21:30] Burnett2k commented on #340
@sshivananda do you mind sharing what that looked like? I'm in the same boat right now and the Interfaces I'm trying to use are way to large for it to be scalable to create my own Interfaces for each of them. Ironically, I'm also using the Patient FHIR type.

[2020-01-15 22:44] dgreene1 commented on #340
The solution is here: https://github.com/lukeautry/tsoa/issues/340#issuecomment-518229063

[2020-01-17 06:44] labe-me opened #563 "jsDoc cannot contain '@'"
## Sorting

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]
It should create a validator containing the full pattern :

[code]

## Current Behavior

The pattern is

[2020-01-17 08:00] dgreene1 commented on #563
Would you be interested in submitting a PR for this @labe-me?

[2020-01-17 13:16] labe-me commented on #563
I don't have a lot of free time, but just in case if you can point me the part of the code which is in charge of parsing the jsDocs, I will take a look !

[2020-01-17 13:59] dgreene1 commented on #563
I just had to search for “pattern” in github because I don’t know all of the code either. Here you go:
https://github.com/lukeautry/tsoa/blob/28e599d44571803e8c90697a0d78b95550d28077/src/utils/validatorUtils.ts#L84

[2020-01-17 14:07] labe-me commented on #563
I believe the problem is not in the usage part but in the parsing part.

It looks like the jsdoc parser is blindly splitting on @, I tried to escape using @@ and \@ but didn't work.

Hope to find the time to inspect more carefully later.

[2020-01-17 14:48] WoH commented on #563
Yes, this used to be an issue with TypeScript / the TS AST as far as I know. I remember running into this. I'll see if I can dig up the issue.

[2020-01-17 20:47] dgreene1 commented on #561
@Ze-Khan I just deployed version 3.0.1 which @WoH thinks will fix this. Please upgrade (by using tag `v3beta`) and let us know if the issue is resolved?

[2020-01-17 20:53] dgreene1 commented on #561
@WoH I have a couple of questions. You asked:

What fix are you talking about. If you're talking about https://github.com/lukeautry/tsoa/commit/85e5cc08b66ce547822afa05eb960d97a387a332 then that was actually released as part of 3.0.0 (not the 3.0.1 release I just pushed which only contained the unknown type)

That was also released in 3.0.0

Anywho, @Ze-Khan if you're willing to test this for us a

[2020-01-20 11:29] manast-apsis commented on #372
The mentioned PR #505 I am afraid does currently not resolve this issue.

[2020-01-21 05:03] Ze-Khan opened #565 "v3.x mapped type Swagger UI compatibility issue"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior

[code]
Swagger UI shows the following error:
[code]

## Possible Solution

[2020-01-21 08:41] benjamin-carl opened #566 "TS2322 - Type '{ ... }' is not assignable to type 'ModelSchema'"
Hi tsoa Team,
hi to all others,

after moving the working and untouched code to a new environment transpiling with tsc fails with the following error:

[code]
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue h

[2020-01-21 08:52] l3ku opened #567 "Add support for string URL validation in models"
It would be nice to have validation for URLs as part of tsoa so that for a model we could use the `@isURL()` decorator for a string attribute of a model to add extra validation (like e.g. `@isInt()`/`@maximum`/`@minimum` for numbers right now).

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](ht

[2020-01-21 12:47] dgreene1 commented on #567
We already provide the `@pattern` And `@example` decorators. We won’t add this since it’s a duplicate (with minor syntactic sugar) which would open the flood gates for a new PR for every common pattern.

[2020-01-21 12:47] #567 closed

[2020-01-21 12:52] dgreene1 commented on #566
I’m happy to help diagnose this issue with you but I can’t do it without seeing the TypeScript code. Please add that above to the issue. I’ll need to see the types and the routes that use the types.

[2020-01-21 12:53] dgreene1 commented on #565
I’m gonna assign this to @WoH since I’m triaging some v2 stuff right now.

[2020-01-21 13:47] WoH commented on #567
I'd add that anything beyond should only be solved using a Custom formatter proposal, see #496

[2020-01-21 13:48] WoH commented on #565
Do I read that correctly, the reference gets created properly, but SwaggerUI has issues because the name is "illegal"?

[2020-01-21 14:27] Ze-Khan commented on #565
Glad I could help and thank you for being so responsive and always improving the library

[2020-01-21 14:40] WoH commented on #565
I fixed the apostrophes, but Swagger will still complain.

OpenAPI specifies all URIs as permitted by JSON-Schema should be valid.

JSON Schema uses JSON-ref, which permits all URIs as laid out in RFC3986..

RFC3986 allows %encoding, which is what I'm doing to ensure there are no illegal characters. Althought the '|' does not have to be escaped (however, the %7C is exactly that, not sure what enco

[2020-01-21 15:08] Ze-Khan commented on #565
just for your info %26 which is & also doesn't work

[2020-01-21 15:27] benjamin-carl commented on #566
Cool @dgreene1 - thank you. I will collect the required information for you and provide it in the next minutes.

What I've found out so far is:

- going back to tsoa 2.1.8 while everyrthing else (code: same, node: 12.14.1 and tsc: 3.7.5) stays the same will transpile fine - in the new environment! So just going back to 2.1.8 will fix it.

The report above contains one misleading information. The i

[2020-01-21 15:44] WoH commented on #565
I pushed the relevant changes (291280927a738928638cb307a48d34e1766ec154 and 4d13f3fb37d6f27b150b00c418f7b205b9481e46). I checked the output from the tests in SwaggerUI and didn't see any remaining issues.

Would be great if you could check the next release.

[2020-01-21 18:05] WoH commented on #565
I'll ping @dgreene1 for another 3.x release.

[2020-01-22 13:14] sittingbool opened #569 "Doc for added jsDoc descriptors"
Hi, I was trying to integrate your system ito my new API and its a bit hard to understand this at first. Many things only came clear when digging deep into examples. For example where the RegisterRoutes comes from.

After figuring things out pretty much I started working and I wanted to describe my models better and see if its really validated like that.

So I saw in your tests/fixtures in the tes

[2020-01-22 13:24] sittingbool opened #570 "Model @example json cant have @ inside (like email)"
If I put an example string that contains an @ the generation fails

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
I can use an @ in a string in my example JS

[2020-01-22 13:27] sittingbool commented on #570
relates to https://github.com/lukeautry/tsoa/issues/563

[2020-01-22 14:47] benjamin-carl commented on #566
Hi @dgreene1

I digged a bit deeper and so it seems currently being more a layer 8 problem than a bug.

When I switch from 2.1.8 to 2.2.0 where it breaks the first time ...

[code]

So I need to migrate the code - my assumption was that it would not break when switching from 2.1.8 directly to v2.5.7||v2.5.7.

Do you have a migration guide from version to breaking version? So for example from 2.1.8

[2020-01-22 14:51] dgreene1 commented on #566
We started adding migration guides / deprecation notices pretty recently (when I took over as maintainer). The version you were on is way older than when I started on tsoa.

As I mentioned, I can assist you further if you provide the full files for your types/interfaces and the full files for your routes.

[2020-01-22 16:02] WoH commented on #569
Right now, the Readme covers basic setup, but while the tests (Models and Controller fixtures) show a lot of the possibilities around specs and validation, it's hard to find them and there is a lot of room for improvement especially around the visibility.
We are always looking for doc contributions and would be very grateful if you'd be willing to provide a PR :+1:

[2020-01-22 16:04] WoH commented on #570
I changed the title of #563, but since it's the same problem with the AST parser, I'll close this as a duplicate.

[2020-01-22 16:04] #570 closed

[2020-01-22 16:38] sittingbool commented on #563
Hi, I am currently working on a solution for this.
I'ts a bit hard reverse-engineering this.  Could someone point me to the code that creates the tags? It cuts off everything after the @ and creates a new tag for the word ofter the @.
Possible solutions:
1. This should not be done when the line is inside { }
2. make t possible to escape the @ using `\@` ans tell the TypeResolver or whatever parses

[2020-01-22 16:56] WoH commented on #563
This is mostly happening in TypeScript.
There's a tool for TS AST visualization, so I've recreated the situation here: https://ts-ast-viewer.com/#code/JYOwLgpgTgZghgYwgAgJIDFEoN4ChkHID0AVCfocicgAIAOcYkUIyAFsDRwHQID2AWwqESRYcggC4wADYAuZAGcwUUAHNcAX1xA

If you turn on the "options" -> "show internals", you can see the jsDoc contains 2 JsDocTags for the `string`.
So unless you wanna tackle this upstr

[2020-01-22 17:11] sittingbool commented on #563
I saw that but where where is the file-content read into AST? My idea would be to replace the `\@` with like `<<at>>` before handing over to  AST. And before creating docs replace `<<at>>` with `@` to have the correct outcome. should be a simple regex-thing.

[2020-01-22 17:15] sittingbool commented on #563
Also I tried to do this using @Example() as a hotfix. But it never shows on my swagger...

[2020-01-23 13:06] gavinvangent commented on #566
I came across this a few days ago too. The problem was a result of the output from the route template that gets generated when running `tsoa routes`

I'm using a custom template, and I'm assuming you are too. You can change the `tsoa.json` file; if `middlewareTemplate` is set under `routes`, you have a custom template.

The change I made was to add the `dataTypes` to the `TsoaRoute.Models` declara

[2020-01-23 13:59] dgreene1 commented on #566
We’ve made so many advancements in tsoa and many of those are incompatible with custom templates. In fact, we recently added a warning to the readme about how using a custom template is a “proceed at your own risk” kind of situation.

Would you please consider coming back into the real codebase?

We’d be better able to assist you then.

And if there’s something that your custom template provides t

[2020-01-23 18:58] WoH opened #571 "RFC: Rework resolving TypeScript enums"
# Summary
[summary]: #summary

Currently, enum generation has some room for improvement. It supports constructs that should probably not be supported, in a fashion that leads to problems down the road.

# Motivation
[motivation]: #motivation

Currently, tsoa supports enums of 3 shapes of enum members:

- No initializer
- Literals
- Expressions

[code]

Metadata for MyEnum2:

[code]

While MyEnum2.

[2020-01-23 19:05] dgreene1 commented on #571
I agree, the enum stuff is problematic. I think this is a fine proposal for OpenApi 3 and in our v3 branch. I'd leave the Swagger v2 generation alone (I assume that's what you would have done anyway).

[2020-01-23 19:22] WoH commented on #571
For now, I'd just change from warning to error (Swagger), since that's what you  wanted to do for v3 If I remember correctly (please confirm). There is an idea in my head to rework enum validation and make it more consistent with other validations (number, string, boolean), that'll probably be more controversial, which is why I decided to separate it out.

[2020-01-23 19:53] fantapop opened #572 "Advice on not forgetting Security decorator"
## Sorting

* I'm submitting a feature request

* I confirm that I used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
We have multiple types of Security including some methods which are unsecured.  I'm worried that we may accidentally forget to include a Security() decorator for some new method

[2020-01-23 20:12] WoH commented on #572
To enforce any kind of API design practice, I'd suggest looking at a linter that works on top of OpenAPI.
Maybe have a look at [Zally](https://github.com/zalando/zally) or [Speccy](https://github.com/wework/speccy)

[2020-01-23 21:20] fantapop commented on #572
Interesting.  Thank you.

[2020-01-23 21:20] #572 closed

[2020-01-23 22:49] gavinvangent commented on #566
Hi @dgreene1

I am using a custom template because I was not happy with either `inversify-js`, nor `typescript-ioc` and prefer the less invasive approach that `awilix` has taken. Unfortunately, `tsoa` doesn't have a default integration for awilix (yet). Is there a roadmap for awilix?

In short, I don't like:
- `inversify-js` because of the amount of boilerplate code and decorators floating around

[2020-01-23 23:08] dgreene1 commented on #566
Actually @gavinvangent I’m not familiar with any TS IOC libraries. I’ve only used DI in angular 1 and C#. Anyway, please create a new issue and maybe you can explain it there so a noob like me can pick it up haha.

[2020-01-24 02:26] fantapop commented on #337
It would be nice to be able to use an actual enum vs a string type.  When using an enum such as:
[code]
I get the following error:
[code]

Converting to a bare string type works.

[2020-01-24 09:21] yamraj21 commented on #62
I am using passportjs, and crowd strategy for session based authentication and I'm confused how to write isAuthenticate middleware in my services any guidance how to do it

[2020-01-24 22:03] fantapop opened #573 "Custom Default OperationId generation"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior
OperationId is set by default to the method name which is by default often not unique and can be overridden on a

[2020-01-24 23:44] fantapop opened #574 "required Nested Properties are not validated for existence"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Types containing nested properties which are required should be validated to exist.

[code]

## Current Behavio

[2020-01-25 07:28] jjm340 commented on #549
I really appreciate that @WoH and will try and find time to take a look, but no promises at the moment.

[2020-01-26 07:31] ysabri opened #576 "How to serve swagger api using just http"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [X] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
I'm setting up a project quick and I want to host my swagger api using just http protocol for now.

## Current

[2020-01-26 13:23] dgreene1 commented on #576
There isn’t enough information in your ticket. Can you share a screenshot, or some logs?

And what do you mean by “swagger api?” Swagger is a specification.

So which of the following are you trying to do?
a) you’re trying to provide the swagger page?
c) you’re trying to provide a server that exposes restful endpoints?
d) you’re trying to serve the swagger JSON via a restful endpoint?

If you repl

[2020-01-28 00:21] fantapop commented on #337
On a related note, this same issue prevents using code which needs to be evaluated as a parameter to a decorator.  I was trying to not copy http response strings all over the code in my `@Response` decorators by doing something like:
[code]
It looks like the decorators are being parsed out of the code using the typescript compiler and the code is not actually being executed.

Maybe more work can b

[2020-01-28 01:02] fantapop opened #577 "recommendation for sharing @Response between methods"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Maybe I'm missing this. It would be great if there was a way to set default Responses for all requests.   Or at

[2020-01-28 14:00] dgreene1 commented on #573
Would a fix for this be to make sure that tsoa  always ensures the operation ID is unique?

As for the override, I think I would prefer a more generic solution like a decorator that takes a callback function. That way people could override it however they like.

[2020-01-28 16:38] benjamin-carl commented on #566
Hi @gavinvangent

that was the required "fix" - I just copy pasted it and did no further check on the change itself. I'm using a custom template. Currently not really sure if I need it. I'm not using IoC within the template and use the hardcoded way. I will change it in the next weeks to make use of IoC - and I'm using Awilix and would also like to have "native" support for Awilix. For the same re

[2020-01-28 19:28] fantapop commented on #573
If the method of uniqueness caused an unfortunate operationId to be used in the resulting swagger file, I'd likely still want to customize it.  However if the method for creating uniqueness also resulted in okay names for the operations, it could be fine.  For example, if the file name was used alongside the method name it, I would be less likely to further try and customize it.  Although, changin

[2020-01-28 20:07] dgreene1 commented on #573
@WoH what are your thoughts on the above?

@fantapop breaking changes aren’t a problem since we’re about to cut a new major release and it could be part of that.

[2020-01-28 23:15] jreusch commented on #555
hmm seems this time the automatic closing did not work.
since the PR is merged i think this can be closed?
keeping track that this ends up in the releasenotes is most likely done via other means?

[2020-01-29 11:35] gavinvangent commented on #566
@dgreene1 As soon as I find time, I'll write up a new issue requesting Awilix and add some insight into how best to implement it, along with information on why I believe Awilix trumps the other two IoCs. I'm happy to contribute towards an Awilix feature branch should tsoa want to add Awilix support 👍

[2020-01-29 13:47] dgreene1 commented on #555
@jreusch the auto-close feature of github only works when the fix hits master. In this case, our v3 branch is a long-living branch off of master that we manually publish as npm package v3.0.x.

Anyway, I'll add this fix to the release notes.

[2020-01-29 13:47] #555 closed

[2020-01-29 14:04] jreusch-barco commented on #555
ah, thanks for the explanation, that actually makes sense :)

[2020-01-29 14:23] WoH commented on #573
My thoughts are that this request is written under the assumption that we actually use the Decorators at runtime, which we (currently) don't do.
tsoa only does AST parsing at the moment, this would require a hybrid approach (AST parsing + Reflection (which would allow us to get the function result without writing an interpreter))

[2020-01-29 14:29] WoH commented on #566
We use a custom module to create the controllers and wrap it into a custom ioc module that exposes an API the default templates can work with, maybe you can wrap Awilix in a similar manner?

If you set the `iocModule` in the config, you can export an object which provides a function with this signature:

[code]

tsoa will call the `get()` function on this exported object with the class definition

[2020-01-29 23:47] fantapop commented on #577
I did see that the open api spec recommends using the default response for Errors that have the same shape so each response code doesn't have to be repeated.  I've gone ahead and done that for now.  Feel free to close this.

[2020-01-30 00:01] #577 closed

[2020-01-30 00:30] gavinvangent commented on #566
I don't mean to barge my way in and completely redirect the progress tsoa is making, and this is probably not the right forum for this, but I've added some context to what I was referring to above along with some suggestions. If there is a better place to take this discussion, please let me know. Again, I hope to make it known that I'm not trying to impose myself on your library. I'm no expert wit

[2020-01-30 00:50] dgreene1 commented on #566
My preference would honestly be to remove the ability to add custom templates since it’s an enormous maintenance headache. But I don’t plan on suggesting that since many people use it. But those that do are basically at risk of having their contract broken at any time.

As for IOC, I have never needed it since Jest allows me to provide runtime substitution at any time. So there’s no reason to inve

[2020-01-30 22:26] lucas-rudd opened #579 "Support for more than one decorator per function"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

There are use-cases where an endpoint can be mapped to more than one HTTP method. For example, in the case of

[2020-01-30 22:41] dgreene1 commented on #579
Removing this validation would prevent a host of easily catchable “copy and paste” errors.

In fact, that particular check helps me when I’m quickly building out an API.

The workaround is pretty easy too: Just have each route call the same function.

I’ll leave this open so other people can comment but it’s my belief that this should be marked as “will not fix” due to the reasons I stated above.

[2020-01-31 16:40] lucas-rudd commented on #579
That's fair.

I don't agree, but I do see your perspective.
Regardless, thanks for the quick response. I've done the workaround; it's not difficult, and it's probably a better practice anyway to have a controller per HTTP method, even if they just call the same method so that they can more easily be altered if necessary.

There are just some use-cases where I think it's appropriate to map several

[2020-02-10 21:36] Lev-Stambler opened #581 "Error when creating routes, "False Expression""
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [x] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

In the passed, tsoa routes and tsoa swagger worked as expected.

## Current Behavior

When I run ` tsoa routes

[2020-02-10 22:00] dgreene1 commented on #581
Please fill out the “steps to reproduce” section so we can assist you. And ideally you would provide a repo with your code so we can try to reproduce the potential issue.

[2020-02-11 13:48] WoH commented on #581
TSOA is failing on a virtual (inferred) type. Please specifically tell us what the inferred type is so we can fix the issue.
However, what's obvious is the symptom: We shouldn't try to call getText() on virtual types when we try to print them. Maybe there's a way to handle this more gracefully.

[2020-02-11 16:08] Lev-Stambler commented on #581
@WoH the virtual types were the issue. All works now. Thank you!

[2020-02-11 16:08] #581 closed

[2020-02-11 17:27] gdspicer58 opened #582 "Add support for @Hidden() decorator on Query Parameters"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

A developer should be able to hide a specific query parameter that they may not want the general public to kno

[2020-02-11 18:46] WoH commented on #581
Would be nice to see the the code with the inferred type that triggered the issue if you're able to provide an example.

[2020-02-12 18:56] tnrich opened #583 "Does this library handle "dynamic/generated" routes?"
Does tsoa perform a static analysis of the code, or will it handle finding "generated" routes

My colleague asked a similar question here in typescript-rest-swagger:
https://github.com/thiagobustamante/typescript-rest-swagger/issues/89

Thanks!

[2020-02-12 20:02] WoH commented on #583
Static analysis

[2020-02-12 20:02] #583 closed

[2020-02-12 21:44] tnrich commented on #583
Thanks @WoH

[2020-02-13 00:04] #496 closed

[2020-02-14 00:05] #538 closed

[2020-02-17 15:08] dgreene1 commented on #582
I'm unaware of how we could change the swagger JSON/YAML that is created so that Swagger UI (a different product) knows to not show that element. So I believe our only choice is to remove it from the swagger JSON/YAML that is created. That means that the specific parameter won't be available if someone wants to create an auto-generated client.

So is that what you're looking for?

If so, I think w

[2020-02-17 15:32] gdspicer58 commented on #582
Since the variable corresponds to a query parameter, if it isn't supplied, it defaults to a value, so it is an optional parameter for our purposes. In that case, I think removing it from the JSON/YAML created will work.

Otherwise, I've seen requests for "categorizing" certain variables, controllers or functions (for example if a company wanted an internal facing swagger doc and an external facing

[2020-02-17 15:37] dgreene1 commented on #582
Okay,  I'll mark this as ready to be worked now that we agree that the acceptance criteria would involve (a) tsoa generation failing if the parameter is on a non-optional parameter and (b) that the parameter would not be present in the output of the generated swagger JSON/YAML.

P.S. we'd also take a PR from you @gdspicer58 if you're interested. This is an easy to moderately easy PR. I'd do it mys

[2020-02-17 15:44] dgreene1 commented on #579
I just wanted to add that there are many reasons why the schema for these different calls would be different. So the premise that you could share the same function is not quite accurate. Here are a couple of reasons:

1.  The body for a PUT and PATCH should probably be substantially different due to the fact that a PUT will overwrite the entire resource and a PATCH is designed to overwrite only th

[2020-02-17 15:44] #579 closed

[2020-02-17 22:28] nodehack opened #585 "ValidateModel Overwrites Targets / Targets are not unique"
When using decorators to validate the fields of your input models, fields with the same name get overwritten with other errors.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

##

[2020-02-17 23:46] dgreene1 commented on #585
Would you be interested in submitting a PR to fix this? It would help a lot of people! :)

[2020-02-18 02:59] iursinoliveperson opened #586 "How to serve the swagger.json itself from the server."
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x ] support request

* I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

Is there a recommendation for how to serve the swagger.json itself in the server?

[2020-02-18 03:30] dgreene1 commented on #586
No, there is no standard recommendation. You should use whatever static file serving library you’re comfortable with that works with the version of swagger UI that you’d like. There are different ones for Koa and also for express.

While it’s not the 100% certain answer, you’re welcome to see how I did in my koa example: https://github.com/dgreene1/tsoa-koa-example-with-typeorm

[2020-02-18 03:30] #586 closed

[2020-02-18 04:29] iursinoliveperson commented on #382
What about with Express?

In express I get:
TypeError: Boom.badRequest is not a function

If I try to throw a Boom error after registering an express-boom handler with the server.

[2020-02-18 12:00] dgreene1 commented on #382
TypeError: Boom.badRequest is not a function

Please take that question to either StackOverflow or to the Boom github repo. It’s not tsoa related.

[2020-02-18 14:29] InsOpDe opened #587 "Can't find documentation"
I'm searching for various features of your project but could only retrieve them looking in test-files, issues or code. Thats rather cumbersome - I cannot find a proper documentation.
I'm aware that a similiar issue (#254) exists but would argue that it should stay open until it was fixed.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

*

[2020-02-18 15:21] edbrannin commented on #360
I'd like to take a stab at renaming swagger.json/yaml.

Naming things is hard; any thoughts on what you'd want the setting to be called?  I see `outputDirectory` and `yaml` are the related settings in play.

Maybe `outputFilename`?  But it would default to `swagger` and not `swagger.json`, so maybe `outputBasename`?

[2020-02-18 15:33] timstableford opened #588 "External depdency blacklisting"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [x] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

(Apologies for x'ing all 3 but it's kind of all of them)

## Current Behavior
Currently this framework doesn't allow including type

[2020-02-18 15:57] dgreene1 commented on #360
I like `outputBasename` and `outputNameMinusExtension`. Please choose whichever name of those two that you’d like and start the PR. If any reviewers have a strong preference they can let you know during the PR review. Thank you so much! :)

[2020-02-18 16:01] dgreene1 commented on #588
We have to keep the build process quick since it’s already pretty slow. The expected workaround is to create interfaces inside of the server application that have the same data. I.e just copy and paste them into your server side application. Then when you take the request body type and try to pass it to a function that uses your types from bode modules it will still work due to the way TypeScript’

[2020-02-18 16:01] #588 closed

[2020-02-18 17:56] WoH commented on #587
See #569.

[2020-02-18 19:58] iursinoliveperson commented on #382
ok np.

[2020-02-19 15:01] itamarco opened #590 "Colon support for path parameters"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
My project is written in nest.js.
Path parameters are declared using a preceding colon.
e.g.
[code]
Would like

[2020-02-20 13:04] dgreene1 commented on #590
Can you link to a repo that shows how your code is able to successfully integrate with NestJS?

I ask because it’s not currently on our list of supported frameworks but we would like to work with it.

[2020-02-20 15:16] itamarco commented on #590
I forked version of tsoa https://github.com/SSCIsrael/tsoa
and use it as a dependency in this demo nest.js progect:
https://github.com/SSCIsrael/nestjs-tsoa-integration

[2020-02-20 17:30] givethemheller opened #592 "Improve Docs for monorepo setup"
In the process of using this package in a Lerna MonoRepo I believe I have a good use case for an external dependency mode.

Note - I did read the MD file on why you made this choice. In the detailed description, I present a proposal to justify this use case.

Side bar: Happy to do the work and contribute this. Love your package. Would like to treat this as a discussion.

## Sorting

* **I'm submit

[2020-02-20 18:04] dgreene1 commented on #592
Sound alike a good proposal. I’d be interested in seeing a PR to see what’s possible. But I want to defer to my peer.

@WoH what are your thoughts?

[2020-02-20 20:28] WoH commented on #592
I'm kinda out of the loop here I think.
Any nodes that typescript considers within the program should be usable.
Can someone provide a minimal repo that reproduces the issue here?

We are sharing interfaces and types across services using our npm registry and I have not had issues. However, I'm pretty sure all of our services are running against 3.x, so maybe that might be the issue if you're impo

[2020-02-21 00:04] #546 closed

[2020-02-21 00:11] dgreene1 commented on #565
@WoH i do plan on releasing this for you but I think it might be time to talk about me stepping down. I just accepted a UI Architect position so I won’t have as much time/focus/interest to work on server-side code.

[2020-02-22 15:23] WoH opened #594 "Enum coercion"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request
  - [x] RFC

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Just like numbers, arrays, etc., enums should be coerced.

## Current Behavior

OpenAPI and Swagge

[2020-02-23 00:04] #561 closed

[2020-02-23 16:57] WoH commented on #594
@dgreene1 Would you be comfortable with pushing this for 3.0?

[2020-02-23 17:25] givethemheller commented on #592
Gonna get you all a demo branch today.
Just cut a PR for you on a little issue I ran into yesterday with multiple servers in the 3.0 spec. Wanted to bump to that before moving forward.

@WoH How are you sharing your types and interfaces? Are they a separate package that you build out into a separate package and then import?

I think the problem here is that TS treats the packages in a mono repo as

[2020-02-23 17:29] givethemheller commented on #592
also - for sake of noting it, I believe this is where the decision is being made to reject an imported type... though im not completely l

`  private resolveModelTypeScope(leftmost: ts.EntityName, statements: any): any[] {
    while (leftmost.parent && leftmost.parent.kind === ts.SyntaxKind.QualifiedName) {
      const leftmostName = leftmost.kind === ts.SyntaxKind.Identifier ? (leftmost as ts.Ide

[2020-02-23 17:44] WoH commented on #592
For the sake of the argument, it's just like a typings package from npm that exports types.

I believe your issue might  caused here:
[code]

If your package 2's tsconfig only includes files in `package2/*`, tsoa will use that config and not find definitions in `package1/*`. If you fix that any exports from package1 should be available in package2.

[2020-02-23 22:45] givethemheller commented on #592
Ah,  makes sense. The only thing it really runs afoul of at this point is the independent versioning. I suspect that I could just include the particular package I am interested, that's located in my node modules and have access to it just the same. I'll give that a spin and add some details to the docs if it works.

[2020-02-24 00:42] dgreene1 commented on #592
We would not accept a tsoa configuration that allows you to specify the version number of a package. Tsoa would need to respect the version in the lock file and if that isn’t present then I’m not really sure how tsoa should decide....?

How does TypeScript resolve which folder? I’m assuming it takes the root folders only...?

[2020-02-24 10:48] joppino opened #596 "Can not create an API with Post Data available in the Swagger UI"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [X] support request

* I confirm that I
  - [X ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
When using @BodyProp decorator, I'd expect that those BodyProp parameters are then available as parameters in

[2020-02-24 11:55] dgreene1 commented on #596
1) I can’t help you unless you provide the code that has the problem. Please follow the issue template that was provided.
2) We can’t control how Swagger UI works. That’s why the issue template also asks for the swagger YAML/JSON output so we can see if the mistake is on the tsoa side or on the swagger UI side. Please provide that too.

[2020-02-24 12:28] WoH commented on #596
I assume this is a duplicate of https://github.com/lukeautry/tsoa/issues/516.

[2020-02-24 15:56] eggysplat commented on #479
I know this is a bit of an older issue. However, as a workaround I created a wrapper generic type for a nullable, which works fine, and sets nullable: true, or x-nullable: true in v2 spec.

The code I used:

[code]

You can use that with any type / interfaces as well where a union with null is required.

[2020-02-24 16:01] WoH commented on #479
See: https://github.com/lukeautry/tsoa/issues/479#issuecomment-566527726
and: https://github.com/lukeautry/tsoa/issues/479#issuecomment-571134853

[2020-02-24 17:22] dfrechdev opened #597 "v3.0.2 pre-release: cannot generate routes or swagger doc any more"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Ability to generate routes and swagger documention.
[code]

[code]

## Current Behavior

Routes cannot be gene

[2020-02-24 17:38] dgreene1 commented on #597
I'd like to know a little more information: Are you using a [custom route template](https://github.com/lukeautry/tsoa#overriding-route-template)?

cc: @WoH

[2020-02-24 18:28] WoH commented on #597
Seems like a refObject type `undefined` properties? I would not know how we would generate that, if we don't find any, it should be an empty array. Custom template seems like the most likely scenario here.

[2020-02-24 20:56] ghost opened #598 "Responses other than 200 not being added to swagger gen."
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
With this method signature.

[code]

I expected to get the ErrorResponse and usage of it in the swagger.json

#

[2020-02-24 21:07] WoH commented on #598
Should work if you use a number instead of an enum.
If you're interesting in adding support for TS Enums there, I can point you towards where you should be looking.

[2020-02-24 21:17] iursinoliveperson commented on #598
Ah, kind of like how in java it won't compile unless you use literals and references to literals in annotations. I see. Thanks.

[2020-02-24 21:40] WoH commented on #598
I'm not familiar enough with Java to comment on them, but thinking of the tsoa decorators as annotations is a better mental model than a typical TS decorator, since we statically analyze them instead of evaluating them at runtime.

[2020-02-24 22:26] iursinoliveperson commented on #598
So does that mean if I have response bodies predefined to handle different errors I can't share the response code and description between them and the openapi spec?

[2020-02-25 08:38] dfrechdev commented on #597
No, we are not using a custom route template. Here is the tsoa.json of one of the services that throws the error:

[code]

[2020-02-25 09:07] transitive-bullshit commented on #464
Hey hey, I'm a huge fan of this project.

I was previously using a similar project of mine [functional-typescript](https://github.com/transitive-bullshit/functional-typescript) which also extracts a JSON Schema => OpenAPI spec from TS code, though it does this without decorators.

This approach has some pros and cons in terms of flexibility and hackiness. Anyhow, I just tried out using `tsoa` in a

[2020-02-25 09:26] dfrechdev commented on #597
Just tested building routes for our services on mac OS Catalina 10.25.3 but got the same errors.

[2020-02-25 11:18] WoH commented on #597
I'm sorry this upgrade is causing issues and hope you can help us find out what's going wrong.
Still however not sure how there could be Models with properties: `undefined`.
2 Things that could really help me track down this issue:
Can you please make sure the tsoa bin you're invoking is 3.0.2 (`tsoa --version`). My fear is that your path may still contain a 2.x version.
If that does not help and

[2020-02-25 12:10] dfrechdev commented on #597
No problem, thanks for your help. The problem seems to be related to the MongoDB id fields in our interfaces:

[code]
If I change the ref in the interface from "_id: TypeObjectId<IEducationLevel>;" to "_id: string;" it works for that interface. This affects interfaces, that are not used in the tsoa API directly as a request or result type. In the API types, we currently only return strings for the

[2020-02-25 12:30] WoH commented on #597
Thank you very much for investigating. Could you share the type definition of TypeObjectId?

I think the issue might be the circular reference in the type argument, but it would still help to verify.

[2020-02-25 12:39] dfrechdev commented on #597
sure:
[code]

[2020-02-25 13:38] WoH commented on #597
Well, `string` actually does not have properties, that makes sense.
tsoa should've thrown a useful error here instead of crashing.

For the code, I think this type should be `string | { type: T }`, since the intersection of a string and an object is unassignable.

[2020-02-25 14:21] dfrechdev commented on #597
We are using this to force ObjectId validation when we manuall cast from string to ObjectId. Simon already mentioned this in [issue 483](https://github.com/lukeautry/tsoa/issues/483#issuecomment-537928380). For us it would be great if we could keep generating the routes and maybe only get a warning, in order to keep our validations.

[2020-02-25 15:38] WoH commented on #597
How about exposing:

[code]

[2020-02-26 00:04] #502 closed

[2020-02-26 05:36] nvrdftd commented on #543
Hello there,
Just wondering if `@pattern` supports array annotations that _check every element_ in an array? It seems like the support is missing.
For example,
[code]
If you could throw light on this, it would be really helpful.

[2020-02-26 11:20] WoH commented on #543
No, OpenAPI/json-schema does not support that (at the array level, see [array validation keywords](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6.4). However, you could get there (at least in 3.x):

[code]

[2020-02-26 11:25] WoH commented on #598
Right now, there is not. However, that's mostly a wiring issue.

We have a utility function [here](https://github.com/lukeautry/tsoa/blob/master/src/metadataGeneration/initializer-value.ts) that could probably already grab the number from an object property. However, the [method generator](https://github.com/lukeautry/tsoa/blob/master/src/metadataGeneration/methodGenerator.ts#L113) does not use th

[2020-02-26 15:55] dfrechdev commented on #597
I tested your alternatives from above and also with `string | { type: T }`, but all would require a rewrite throughout out whole codebase that would also affect other dependencies. This is just not feasible. Further I tried to rewrite the type to `typeof String & { type: T }`, but in that case I get the following error when generating the routes:

[code]
Would that however be an alternative that c

[2020-02-26 16:23] dgreene1 commented on #597
If you use the workaround and then do a runtime assertion with a type guard then you can abstract away the change to only your route controller. Then the rest of the app can stay unchanged.

However, I don’t see why you can’t just ask users to pass simply the ID instead of asking them to pass this strange nominally typed object. I used mongo for over a decade and we never asked users to be aware o

[2020-02-26 19:56] WoH commented on #597
Well, I don't know how to best say this, but what you're essentially doing is trying to break/work around/hack past the runtime validation. By using `export type TypeObjectId<T> = string & { type: T };` at the edge of the program you were actively relying on the fact that tsoa could not resolve this type correctly and generate instead generate improper type descriptions.

I understand that this ca

[2020-02-27 00:05] #569 closed

[2020-02-27 11:23] dfrechdev commented on #597
I think there is a bit of misunderstanding of what we try to achieve and why we are doing this. Let me try to clarify: Our goal is to make it easier for consumers of the API to know, what a certain property contains. An example of how we want to use it:

[code]
In this case, the cosumer knows, that `id` is a match id, `job` is a job id and so on. This is also displayed in the swagger docs already.

[2020-02-27 12:43] dgreene1 commented on #597
Why reinvent the wheel? This is what JSDoc descriptions are for.

[2020-02-27 14:41] dfrechdev commented on #597
Our current Swagger doc has everything included in one place, without having to write and build/include separate documentation. So I kindly disagree and argue, that we explicitly prefer to not reinvent that wheel.

[2020-02-27 14:57] dgreene1 commented on #597
Can you please explain why JSDoc descriptions (which show up in the swagger model and in the swagger UI for consumers to see) aren’t helpful enough?

But I have to agree with my peer @WoH (and soon to be maintainer of tsoa) that you’re trying to represent a type that is not representable in TypeScript or JSON.

Here’s a link to a TypeScript playground that illustrates the problem with your type: h

[2020-02-27 14:58] WoH commented on #597
With 3.0 you can use:
`export type TypeObjectID<_T> = string;`, so the Users can see that a thing is a TOID, maybe that helps.

In fact this is a pattern I'd like to encourage, the same way we use UUID as a type alias with a regex pattern for validation.

[2020-02-27 15:01] dgreene1 commented on #597
I stand by the above comment about how we won’t support this, but I think you might have misinterpreted the recommended solution. You put a JSDoc description above the property as opposed to a separate documentation that lives away from Swagger.

So it would look like:
[code]

This way the documentation will be generated with swagger and your consumers will know which ID type to use.

[2020-02-27 15:05] #597 closed

[2020-02-27 15:06] dgreene1 commented on #597
Closing since you have WoH’s recommendation and mine. That’s two ways to help migrate to v3.

[2020-02-28 03:23] khaino commented on #596
I faced similar issue.
[code]
tsoa.json
[code]
If I send the following request body
`curl -X POST "http://localhost:3000/todos" -H  "accept: application/json" -H  "Content-Type: application/json" -d "{\"name\":\"string\",\"description\":\"string\"}"`
[code]
I got `{"fields":{"requestBody.requestBody":{"message":"'requestBody' is required"}}}` error

If I change `@Body()` to `@BodyProp()`, I got th

[2020-02-29 16:16] givethemheller commented on #592
Following up from WoH's recommendations.
Adding access to the particular file of interest in my tsconf.json worked.
`  "include": [
    "./src/**/*",
    "./src/tests",
    "./node_modules/@cannabinder/api-shared/src/index.ts"
  ],`

With reference to the local node_modules for the package in the monorepo, you get the version the package points to.

If you reference the package through the root of

[2020-03-02 00:05] #576 closed

[2020-03-03 07:27] itamarco commented on #590
@dgreene1 @lukeautry
I have a PR ready (to support colon path params).
Could I please send it?

[2020-03-03 11:18] dgreene1 commented on #590
You can send the PR but I can’t guarantee that we’ll approve it since it would be strange to have two different types of delimiters.

cc @WoH

[2020-03-03 13:22] WoH commented on #590
I think this is a welcome improvement for express users. My worries however are that we end up supporting an awkward subset of valid express style url definitions.
As an example: `/my/routes?` should be `/my/route{1}/` or at lease warn about incompatibilities.

[2020-03-03 16:37] fantapop opened #603 "Aliased void Api Response types use 200 response instead of 204"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior

[code]

[code]

## Possible Solution
It seems like the only solution to t

[2020-03-03 17:25] WoH commented on #603
I think the most obbious solution here is to set 200 even if no data is returned from the controller method.

[2020-03-03 22:14] simllll commented on #597
One more question regarding this,
I came up with something like this to workaround it:
[code]
but while rewriting and fixing some code parts (which where mostly strings before) I found some situations where it's really hard to find the source of the failing code part. Therefore my quesiton: Is it possible to debug the "root" of a type. Where it is used and how it got "included".
I added already th

[2020-03-03 22:31] simllll commented on #597
One more question @dgreene1 @WoH @dfrechdev ,
I came up with something like this to workaround it:
[code]
but while rewriting and fixing some code parts (which where mostly strings before) I found some situations where it's really hard to find the source of the failing code part. Therefore my quesiton: Is it possible to debug the "root" of a type. Where it is used and how it got "included".
I adde

[2020-03-03 22:45] WoH commented on #597
Anything with '<' and '>' should not be happening inside the refMap. I fixed a bug concerning that which is still unreleased, but I'll keep an eye on this.

[2020-03-04 06:51] fantapop commented on #574
Looks like this one is getting fixed. Let’s keep it active until it has time to be released.

[2020-03-05 00:05] #573 closed

[2020-03-05 17:41] fantapop opened #604 "Ability to generate swagger spec for specific authorization method"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior

Generated swagger document contains all methods.

## Use Case

We use the same back end api for 2 different cli

[2020-03-06 00:05] #566 closed

[2020-03-07 09:21] fantapop opened #605 "fields in ValidateError incorrect for arrays containing refObjects"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Field names returned inside a ValidateError object should be sufficient to locate field inside a type.

## Curr

[2020-03-07 15:05] WoH commented on #605
I like the idea! Would you be able to submit a PR for the 3.x branch?
This way we don't break compatibility.

[2020-03-07 15:25] WoH commented on #605
I looked at the code and noticed I fixed a similar issue for refType naming in aliases:

https://github.com/lukeautry/tsoa/blob/3.x/src/routeGeneration/templateHelpers.ts#L644

[code]

I think we should probably fix the model name instead of checking.

[2020-03-07 22:44] fantapop commented on #605
I totally agree this isn't the greatest fix. I'm unclear why we wouldn't always want to append name + '.' to create the new parent in this case.  When I make it this, a lot of the tests fail because it adds an additional layer to the expected field name.  For example, these https://github.com/lukeautry/tsoa/blob/3.x/tests/integration/dynamic-controllers-express-server.spec.ts#L666 become something

[2020-03-08 08:51] fantapop commented on #605
Okay, I dug a bit deeper into how this is being done.  Please take a look at the PR when you have time.  A couple other things I wanted to discuss:

1) does it make sense to leave the top level field name in the body? I think the current behavior is to use the variable name that the body is being stored in.   For our code base we put it in requestBody so I strip this value out before sending them

[2020-03-08 16:49] WoH commented on #605
Thanks for digging into this. First of all, I agree with your assessment that consistency is lacking here and I'd accept any PR that moves us to a more consistent error interface. I'll have a look at your PR as soon as my schedule allows for it.
The best approach imo would be to be compatible with JSON pointers as defined in [RFC6901](https://tools.ietf.org/html/rfc6901) because this is the format

[2020-03-09 17:39] givethemheller commented on #372
@WoH Sorry for the multiple PR's in action - this particular issues has become the biggest blocker for me. Without utility types, I cannot define a base type and then create restricted sub types.
e.g.
[code]
I have created a branch and currently have working features for Pick, Omit and Partial when the utility is used inside of an interface definition.

If the utility interface is used in the decl

[2020-03-09 20:11] givethemheller commented on #429
@HoldYourWaffle @dgreene1 or @WoH

Can anyone TLDR this thing?
It relates to https://github.com/lukeautry/tsoa/issues/372 which I've been getting at lately.

[2020-03-09 20:34] WoH commented on #372
@givethemheller the 3.x branch/releases include support for this in a more generally applicable approach. Are there any issues with these? If so, please open up a new issue.

[2020-03-09 20:52] WoH commented on #429
TL;Dr: Type aliases are proper references to a OpenAPI component / Swagger definition and merged in the 3.0 branch which is in beta and will be released once all issues in the 3.0 backlog are addressed. Please refer to the Project tracker.

[2020-03-09 21:26] givethemheller commented on #372
I think I am realizing that a bunch of issues im having may be 3.x resolved.
npmjs isn't showing your 3.X release as current release level and when you check versions with intellisense it shows 2.5.x as latest. is that by intent?

https://www.npmjs.com/package/tsoa

[2020-03-09 22:08] givethemheller commented on #372
also - sorry for re-opening. You should go ahead and lose this back out. I'm having some issues with this in 3.x - will re-open

[2020-03-09 22:21] givethemheller opened #609 "Make the 3.x Beta more obvious"
Would anyone object to mentioning the 3.x Release in big bold letters at the top of the Readme?

It wasn't obvious from the readme or npmjs that there was a 3.x release. Kinda need to spelunk the repo or look at some more detailed data farther down. I missed it in any case.

I put a lot of time into working on a problem that had been solved already in 3.x and I could have been working on more rele

[2020-03-10 06:26] givethemheller opened #610 "3.0 fails for utility types on route generation"
3.x Is not respecting Utility types. Fails to build.

Reproduction repo provided.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
The generator should honor u

[2020-03-10 11:05] WoH commented on #610
You'll need to add the types to the program. `Pick` is defined in `node_modules/typescript/...`

So, here is what I did:
1. `yarn add tsoa@v3beta`
2. remove the ignore key in your tsoa config.
3. `yarn tsoa:swagger` ✔️
4. `yarn tsoa:routes` ✔️

[2020-03-10 11:19] WoH commented on #609
Once I feel like it's ready for a RC, I'll make sure it's more obvious. Right now, installing 2.5 is the safer approach recommended for most users.

[2020-03-11 02:28] stories2 commented on #44
@alokrajiv

First, ty for save my life.

In my case, must set response status 206. If not response status will set 200 automatically and response close.

[code]

This [link](https://www.codeproject.com/Articles/813480/HTTP-Partial-Content-In-Node-js) is my partial content response reference.

[2020-03-11 11:04] #590 closed

[2020-03-11 17:49] jfrconley commented on #563
From my own testing, it seem like ` quotes prevent the parser from stopping on @. Perhaps we could allow quoting patterns (or maybe all jsdoc fields) with back ticks that we then remove after parsing.

[2020-03-11 20:05] jfrconley commented on #563
I made a PR that addresses this issue by allowing quoting of patterns using backticks

[2020-03-12 08:36] givethemheller commented on #610
Seeing multiple versions of Omit in my monorepo (Granted I used Pick for my example). Seems that some folks have re-emitted it. The TSOA package is complaining about multiple definitions found.

I cant seem to get a "include" - "ignore" config to work. Trying to ignore the whole of node_modules and include the typescript package to avoid the conflict. Would that be a feature request or am I missin

[2020-03-12 15:20] WoH opened #613 "ModelValidation does not apply property defaults/coercion"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]
sets 666 when no number gets sent in.

## Current Behavior
Generated metadata is correct, however, nothi

[2020-03-12 16:29] givethemheller commented on #610
Re-opening on account of the accidental closing.

Still need to resolve conflicts when multiple packages have declared or rather, redeclared a typescript utility type.

Solution would seem to be an "exclude" and "include" param. Block the whole of node_modules with exclude, honor specific folders in the "include".

[2020-03-12 16:30] givethemheller commented on #609
I'm good with that, though I think you may be able to get a little more mileage out of folks like me. Thanks again for the package.

[2020-03-12 16:30] #609 closed

[2020-03-12 17:10] WoH commented on #610
Yeah, I don't think this has anything to do with the initial issue, feel free to open a new issue with a support request for handling multiple models with the same name.

[2020-03-12 17:10] #610 closed

[2020-03-12 19:29] WoH commented on #565
@Ze-Khan would you mind checking if 3.0.3 solves this issue?

[2020-03-12 19:29] jfrconley opened #615 "v3.x @example tag does not work on model properties"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
@example tags placed on models should add examples to their respective properties

[code]

[code]

## Current B

[2020-03-12 19:29] WoH commented on #574
@fantapop  would you mind checking if 3.0.3 solves this issue?

[2020-03-12 19:33] WoH commented on #597
@simllll @dfrechdev I just released a new beta, would you mind checking if 3.0.3 solves the naming issue?

[2020-03-12 20:01] simllll commented on #597
Sure, what exactly you want me to look at? Right now we are already successfully deployed our test environment with tsoa3 :-)

[2020-03-13 13:24] WoH commented on #615
I like the idea, but I'd add on that we don't support `@example` for parameters either, i.e.:

[code]

[2020-03-13 16:16] jfrconley commented on #615
That seems like a pretty simple change as well. My opinion is that @example should work everywhere description does.

[2020-03-13 19:43] jfrconley commented on #615
I submitted a PR for this feature adding @example support for both parameters and properties

[2020-03-13 22:58] fantapop commented on #574
This is on my radar. I think I should have some time to check this weekend.  Thanks for your work here.

[2020-03-14 11:28] davebgreen commented on #204
Hi @dgreene1.  Hope you're welcoming some feedback on this issue :)  I've tried testing the V3 beta but I am still getting the same error as in the example given by Jake above (ie path param has custom type).   Not sure if this issue attempted to solve exactly this use case or if it was specific to return types, or I'm being a noob and doing something completely wrong.

export class IotService ext

[2020-03-14 14:20] WoH commented on #204
Dan is currently busy so I hope it's ok if I respond on his behalf:
I assume the formatting is somewhat off in your example, so I'll translate it to what I will assume was the intended format:

[code]

The issue occurs because tsoa has no way to know where your expected parameter `token: ApigeeToken` comes from and how it is supposed to pass it into your method, so it assumes it may come from the

[2020-03-15 16:34] davebgreen commented on #204
Thanks for the quick response Wolfgang.  I have controller like actions in my route and tried decorating my service which is completely wrong.  I have now created new controllers which work as expected.
A quick question however - is it correct that the only way at present to introduce other middlewares (like caching, cors etc per route) is by using a custom template and not relying on the generate

[2020-03-15 17:31] WoH commented on #204
Mostly correct. You're free to register middlewares before you register the routes created by tsoa.
However, there is no decorator/annotation to apply middleware at the Controller/Method level that's shipped out of the box with tsoa (exception: `@Security`).
One of the reason is that it's complicated to know what parameters/responses should be documented for a given middleware.

See https://github

[2020-03-15 18:59] WoH opened #617 "RFC: Provide Response Decorator for Express Users"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request
  - [x] RFC

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior
Currently, tsoa only supports 2 types of returns: The declared type of the controller method and `th

[2020-03-15 19:00] WoH commented on #617
Right now, if anyone is interested in this or a variation of this, I'd love to know what you think about the approach.

[2020-03-16 15:17] fantapop commented on #604
I recognize this is not on the current roadmap.  Would you be willing to accept a PR for this functionality or is it out of line with future plans for TSOA?

[2020-03-16 15:52] WoH commented on #604
I'd have to at least see the proposed changes to the API surface.
Right now I think this is a pretty uncommon requirement, so I'd see this as a post processing step applied to the generated OAS.

[2020-03-18 10:19] Eywek opened #618 "Some issues with typegoose"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Context (Environment)
Version of the library: v3.0.3
Version of NodeJS: v12.14.1
* Confirm you were using yarn not npm: [x]

## A

[2020-03-18 13:57] WoH commented on #618
We should ignore `@example` if you can't transform it to a JSON object, that should address the issue.

Regarding Omit: The most pragmatic approach is to redefine:

[code]

So we can make sure that one is used.
In the future, I'm looking at an approach to Entity resolution that uses a mechanism that's more like the one TS exposes in vscode as "Jump to declaration", which may solve these issues, bu

[2020-03-18 15:18] Eywek commented on #618
Thank you for the fix, it worked

I've tried to redefine `Omit` as `type OmitVersion<T, K> = Pick<T, Exclude<keyof T, K>>` and this error is triggered:
[code]

When and ObjectId is json stringified it becames a string, I've tried to extends ObjectId like that but it doesn't work:
[code]

[2020-03-18 17:09] WoH commented on #618
First of all, thanks for testing the v3 prereleases and reporting issues. I'll try to make sure we get all the issues solved before this hits the stable channel.

Regarding your `Test` type: Extending this way will not work because tsoa can't know this method is called before returning.
The dirty hack you could try would be defining a
[code]

The better approach however would be to declare an inte

[2020-03-18 17:31] WoH commented on #618
[code]
seems to not cause any issues. Would you mind sharing your entire class?

We should be able to resolve LiteralTypes, so I assume we are not expecting it to occur in one of the properties in a way we are not prepared for.

[2020-03-18 17:43] Eywek commented on #618
For the `SerializedDatasource` the output is:
[code]
where other properties are missing

-----

My controller:
[code]

@rlvt/lib index (we're using lerna with typescript paths):
[code]

models/datasources/index:
[code]

(I've stripped out some of our logic but I think this will be enough)

The `typeNode` variable from `tsoa/dist/metadataGeneration/typeResolver.js:524:19`:
[code]

[2020-03-18 18:08] WoH commented on #618
I forgot to confirm: You're not using custom templates, right?

[2020-03-18 18:11] Eywek commented on #618
Nope, my config:
[code]

[2020-03-18 19:15] jfrconley opened #619 "Type aliases should support the @format tag"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Format tag attached to an alias should generate a format requirement
[code]
[code]

## Current Behavior
No form

[2020-03-19 02:27] DouglassJWilson opened #621 "@ symbol in @example for types causes Swagger generation problems"
The below code causes and error in swagger generation
[code]
removing the @ removes the issue
interestingly putting back quotes around the @ (as in \`@\`) removes the generation error, but also leaves the backquotes in the example

## Sorting

* **I'm submitting a ...**
  - [ x ] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [ x] used the [search](https://githu

[2020-03-19 13:30] WoH commented on #621
Unfortunately, I can't give you a solution since you didn't fill out the version you're using.
If you're using the prereleases, namely v3.0.4, @jfrconley added support for escaping `@` symbols in JsDoc using backticks. So in that case, you should write:
[code]
If you're not using prereleases, this is the issue you should be looking at for context https://github.com/lukeautry/tsoa/issues/563

[2020-03-19 15:32] Burnett2k commented on #299
Just commenting to say this helped me out tremendously!  This advice could probably be placed in the main documentation since a lot of developers probably want the functionality to pass back a custom error message.

[2020-03-19 17:37] jfrconley opened #622 "@is[number format] tags only work if a comment is present"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
@is[number format] tags (isInt, isLong, isDouble, and isFloat) should not require a comment after the tag.
[cod

[2020-03-19 18:06] jfrconley opened #623 "Default tag only supports strings"
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
default tag should parse input so that number examples can be provided
[code]
[code]

## Current Behavior
Curre

[2020-03-19 21:43] jfrconley commented on #621
@WoH Currently only the @pattern tag supports backtick escaping, but this could be expanded. Because @example is run directly through JSON parse, we'll need to decide what escaping should actually do.

[2020-03-20 00:10] DouglassJWilson commented on #621
@WoH Thank you for the amazingly fast response!  The pointer to the other issues was exactly what I needed, and is indeed representative of the problem.   I. think that I failed to find it because I didn't not associate this issue with a JsDoc flaw although I had been looking a JsDoc for issues of this kind... sorry about the duplication

[2020-03-20 13:13] WoH commented on #622
Have you checked if this also applies to i.e.
[code]

and the class equivalent?

[2020-03-20 13:18] WoH commented on #621
@jfrconley my bad, i'll reopen.
Would it make sense to allow escaped examples aswell? Seems to me like tsoa should support that.

[2020-03-20 13:21] WoH commented on #623
Strings should be fine here. While it may not look great, the validation layer will support casting (default) strings to, i.e. numbers. Other way around is not supported, however, this is exactly what would happen if you specified `@default 10` on a string.

So unless the default parsing from comments is aware of the targeted type, string is probably the better option at first glance.

[2020-03-20 16:11] jfrconley commented on #623
my issue is that openapi spec generated is not correct. This makes third party software such as Redoc show bad examples.

[2020-03-20 16:16] jfrconley commented on #621
I definitely agree. We could support this by just handling stripping surrounding backticks before JSON parse, but then you would have to quote string examples inside the surrounding back ticks. We could avoid this by changing the JSON parse failure behavior to return the string value instead of undefined.

[2020-03-20 16:45] tarakeshp opened #624 "Custom middleware injection"
## How to inject custom middleware for certain routes ?
https://github.com/tarakeshp/stripe-node/blob/master/examples/webhook-signing/typescript-node-express/express-ts.ts
In the line number 34,  bodyParser.raw({type: 'application/json'}) is a middleware injected in the request pipleline.

app.post(
  '/webhook',  **bodyParser.raw({type: 'application/json'}),**
  (req: express.Request, res: expres

[2020-03-20 18:22] WoH commented on #623
I mean, if we were to beak stuff, it'd be now, so I'm down to discuss this.
Checking the test suite, we don't use default strings any where, I assume `@default "10"` for strings would be your suggested alternative?

I ran `@default 10` on an integer through an OAS and rendered with redoc. Looks suboptimal, but it doesn't break, is this your issue?

[2020-03-20 18:32] jfrconley commented on #622
Just tested and this is indeed the case. I'll update the issue

[2020-03-20 18:35] WoH commented on #621
I don't like it. Maybe the best way is just JSON.parsing all JSDoc (see the `@default` discussion) .
All JSDoc viewers I've checked show `{hi: 1}` as a string, so that should be our case aswell.
However, triple backslash seems to be an option that respects the type.

What's your opinion on JSDoc -> Remove triple backslash -> JSON.parse?

[2020-03-20 18:40] WoH commented on #624
Any middleware registered before the `RegisterRoutes(app)` call should be applied.
If this doesn't solve your issue, please feel free to use the Issue template to open a new issue with more information.

[2020-03-20 18:40] #624 closed

[2020-03-20 20:02] jfrconley commented on #621
That's a pretty good idea, would make the parsing behavior a lot more consistent.

The general steps would be:
* Surrounding triple backticks would be removed from all tag inputs
* All other quotes and backticks are left alone
* For tags that support string | number | object
    * JSON.parse(x)
* Numerical fields
    * Number(x)
* String fields
    * Do Nothing

[2020-03-20 20:11] jfrconley commented on #621
@pattern specifically would be a problem in that case as Regex might cause JSON parse to fail

[2020-03-20 20:28] WoH commented on #621
I'd like to have an approach that works for all custom tags at least. I could see a special case for `@example` and `@default`, but I'd really prefer not to have one.
One possible breaking change would be requiring stringish types to have either backtick or quotes to surround them if you want a string.

[2020-03-20 23:13] jfrconley commented on #621
I would vote that we only support triple backticks for escaping. I think @pattern may be the only exception that would break JSON parse. We could also avoid this by running JSON parse on everything and defaulting to a string if it fails

[2020-03-21 02:30] tarakeshp commented on #624
I would like to inject into only specific routes and not for all. You are saying app.use method which is global injection for every request. But I wanted only for very specific routes and cant rely on path conditions.

Please look at the above code and also link mentioned.

[2020-03-21 12:21] WoH commented on #621
We have several JSDoc tags that currently assume the argument to be a string.
In order to provide a smooth upgrade, I'd suggest we adapt your suggestion to assume strings when JSON.parse fails on the raw argument for now. However, we should log a deprecation notice to allow users to see we encourage them to use quotes when they want to have a string.

I.e. `@isInt should be an int` should log the

[2020-03-24 10:20] Eywek commented on #618
Hey,
Do you have any news on this?
Thank you

[2020-03-24 11:36] WoH commented on #618
Yeah. I was unable to reproduce the issue given the information I have so far. Can you remove the `routes.ts` and see if that changes anything?

[2020-03-24 13:42] Eywek commented on #618
I still have the issue when I'm only trying with:
[code]

[code]

On which typescript version are you trying? I'm on 3.7.2.

-------------------

Have you any idea for the SerializedDatasource issue?

Thank you

[2020-03-24 16:38] jfrconley commented on #621
My concern is the side effects of putting everything through JSON parse without an easy escape mechanism. Because triple backticks would only be used for escaping, strings would have to be quoted as ` ```"@ string"``` ` as JSON parse need additional quoting. Additionally, what happens if a regex pattern also happens to be valid JSON? Maybe regex should require about quotes as well? The deprecation

[2020-03-24 17:14] WoH commented on #618
Typescript version does not matter. We internally use 3.8 to parse the code but that won't matter.
The SerializedDatasource issue is a result of the Omit issue I'm prettu sure.
If my suggestions from https://github.com/lukeautry/tsoa/issues/618#issuecomment-603188505 won't work you're probably out of luck unless someone can provide a minimal reproduction repo I can debug.

[2020-03-24 17:54] WoH commented on #621
Yes. Should've made that clear.

Triple Backslash does nothing, except for forcing the grouping in the AST. So your example would be correct, quotes still required.

[2020-03-24 22:29] givethemheller commented on #622
This is a snippet from the project im working on. Currently not seeing this read @isInt in the controller declaration. Still formats as a double. Using 3.0.4

[code]

[2020-03-25 00:04] #587 closed

[2020-03-25 08:30] WoH commented on #622
This is an unrelated issue. Feel free to open up a new issue with a support request.

[2020-03-25 09:48] Eywek commented on #618
You can see the bug with this repo: https://github.com/Eywek/tsoa-bug
Just clone it, run `yarn` and `yarn bug`, you should see the error.

[2020-03-25 15:36] WoH commented on #618
Cloned the repo and I can confirm it happens. However, I was under the assumption you were using a beta version (some 3.0.x). Looking at the pck.json, tsoa is ^2.5.

So just to confirm this doesn't happen in v3 I ran:
[code]

[2020-03-25 21:15] jfrconley commented on #621
While a little clunky, it should be fairly robust. Sounds good to me

[2020-03-25 21:23] Eywek commented on #618
That's right sorry, I've probably got lost with all my tests and I've probably rollback to version 2 without noticing.
I have a new bug with methods on my model, you can reproduce with https://github.com/Eywek/tsoa-bug (Note: you'll need to update absolute paths in `packages/api/tsoa.json`)

Thank you

[2020-03-25 21:28] jfrconley opened #625 "any type incorrectly generates object requirement"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Usage of any should not generate a type requirement and explicitly allow additional props.
[code]
[code]

## Cu

[2020-03-25 22:42] E-gy opened #626 "@Hidden does nothing on [class based] model fields"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [ ] support request

Perhaps it was never inteded to, in which case, this is a feature request.

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Putting `@Hidden` on model [class]

[2020-03-25 22:45] E-gy opened #627 "Static properties in class based models get included"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
When declaring a class based model, only instance (non-static) properties are part of the objects of said type:

[2020-03-25 22:53] WoH commented on #618
I can explain what's going on, but I don't think that'll help very much. Basically the PR that introduced the controllerPathGlob doesn't all each file of the glob to the include path.
Basically you can imitate what's going on by setting:

[code]

Let's see if I can get around to fixing that.

[2020-03-25 23:04] WoH commented on #625
This is what we [explicitly set](https://github.com/lukeautry/tsoa/blob/3.x/src/swagger/specGenerator.ts#L162), checking the spec it seems like you're right.

[2020-03-25 23:09] WoH commented on #626
You're correct, but that decorator is not supposed to work on classes.
This should:

[code]

[2020-03-26 10:49] E-gy commented on #626
`@ignore` in jsDoc indeed works.
Thanks.

[2020-03-26 10:49] #626 closed

[2020-03-26 10:52] E-gy commented on #627
Current workaround is to `@ignore` all static properties (ignore works normally despite the props being static).

[2020-03-26 14:17] WoH commented on #618
Your config seems off, changing the compilerOptions tsoa is suppose to use to:
[code]

resolves the issue.
PSA: Serializing a class with public methods will not work, either ignore that or remove the method.

[2020-03-26 14:45] Eywek commented on #618
Right, I've fixed the config (https://github.com/Eywek/tsoa-bug/commit/1e1a3efc546bf7bd4d6069c0bdcedaed9f0b0cc9), but the bug is still there. I only want to ignore my methods in my swagger

[2020-03-26 15:03] WoH commented on #618
I took the time to fix your code twice, pointed out a possible issue and ran it through spec generation, which confirmed the generation was fine all along. That's honestly more than you can expect.
If there is another concrete issue, feel free to open another issue, but this issue has gotten out of hand and I can't provide free support on top of free software for everyone.

[2020-03-26 15:03] #618 closed

[2020-03-26 15:20] WoH commented on #623
I'll summarize the results from the other issue:
All JsDoc annotations that allow for parameters should JSON.parse these parameters to ensure we can distinguish based on data type. Because this would mean implicit strings, i.e. `@default hi` would have to become `@default "hi"`. In order to allow for backwards compat, we will quote these, but log a deprecation notice.
Triple backslashes should be

[2020-03-26 15:23] Eywek commented on #618
Yes, I'm sorry, I've done mistakes and took your time for a stupid issue about my tsoa version.
But right now I'm just trying to use your library and find out potential bugs that you may want to fix. I've tried to give you a repo where my issues are reproducible. And I've taken time on my side to debug as much as I can.

Last question, I've not understood if my method error is on purpose and it's

[2020-03-26 16:34] WoH commented on #618
If you look at the output, tsoa is now telling you there's an issue because we can't document the class. I told why it's happening (we can't document a method and probably shouldn't since it won't be serialized) and how to fix it ("either ignore that or remove the method").
I'm saying that because I already ignored the method (using `@ignore`) to verify the generation was fine. Therefore it's very

[2020-03-26 17:18] Eywek commented on #618
Okayy, thank you, as you replied with a config, I was thinking that was the solution to my issue and that your `PSA` was only a warning to tell me that my method will not be documented (which wasn't an issue in my case). So when I've tried with the new config (and without the `@ignore` which I've not thinking of), the error was still there and I wasn't understanding how to resolve it.

About `unpr

[2020-03-27 14:34] serhiyzablotskiy opened #630 "I have an issue with tsoa dependency vulnerability"
<img width="574" alt="Screen Shot 2020-03-27 at 4 31 46 PM 1" src="https://user-images.githubusercontent.com/7163430/77766795-ceefce00-7048-11ea-8f94-136b5c0e5d1c.png">

[2020-03-27 17:30] Eywek opened #631 "feature: class methods and getter"
I'm using tsoa with a typegoose model and I have some virtuals fields with getter and some methods used in backend.
I want to be able to display my virtuals in my swagger definitions and ignore my methods without adding any jsdoc comment to ignore it.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [sea

[2020-03-27 17:37] Eywek opened #632 "Error: Unknown type: TypeOperator"
I'm having an issue when trying to define a type with keys of an enum.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior

[

[2020-03-27 17:41] dimitor115 commented on #625
@WoH I can help with that 😃

[2020-03-27 17:45] dimitor115 commented on #627
@WoH I can try to help with this one also 😁

[2020-03-27 17:50] WoH commented on #631
Misclicked the classification here. While I think this would be a nice addition, my issue is that, by default, this method will not be serialized.
If someone wants to implement this, we should make sure this doesn't happen without explicitly asking for it.

[2020-03-27 17:56] Eywek commented on #631
Hm, yep, that's right, we could do an option then?
And, are you okay with ignoring class methods?

[2020-03-27 18:42] WoH commented on #631
Anything that goes beyond https://github.com/lukeautry/tsoa/issues/627?

[2020-03-27 23:23] givethemheller commented on #353
@WoH can you point me to where the changes in the code would need to be to get this working? Its currently blocking for me. Would be happy to work on it (maybe tonight/this weekend)

[2020-03-28 18:34] givethemheller commented on #622
@jfrconley @WoH After reviewing the unit tests, I discovered that, for at least method levels, the jsDocs defs need to be complete including the param definition. It did not require a comment to work though.

paramaterController.ts contains a good example.

[code]

[2020-03-29 14:07] WoH opened #634 "Swagger -> OpenAPI (v2)"
The name swagger is outdated for about 4 years now, version 3 of tsoa gives us the unique opportunity to catch up. All references to swagger should be updated.

Todo:
- [x] Update Docs
- [x] Update API
- [ ] Update internals (can be done after 3.0)

## Breaking change?
Yes!

If anyone is interested in updating the docs, I'll gladly accept a PR. Please make sure you target the `3.x` branch on githu

[2020-03-29 14:30] WoH commented on #623
@jfrconley are you interested in implementing this? This and #634 are the last changes I'm considering to bring into tsoa 3.

[2020-03-30 09:05] Eywek commented on #631
I'm talking about methods but not static one.

[code]

[2020-03-30 09:25] WoH commented on #631
Well static methods are called class methods, which is why I was referring to that issue. I usually refer to the type of method you're talking about as class instance methods. But in that case, no, no plans to support that. I am not very likely to half-ass the class spec when we can't determine correctness. I would instead allow scanning for a toJSON() method and document the return type annotatio

[2020-03-30 10:34] WoH commented on #631
Small additional Info about this issue for context: While we ignore method declarations on classes, we do not ignore method declarations in Mapped Types.
We should probably just filter them out.

[2020-03-30 10:54] Eywek commented on #631
In summary, we want to filter out `class methods`, `getter` and `setter` and allow a scan of `toJSON` methods to be able to override outputted type, right?

[2020-03-30 11:04] WoH commented on #631
Classes: We should filter class methods (see #627), we already filter class instance methods, getters and setters. We could add toJSON().

Mapped Types: We do not filter any declarations, we consider PropertyDeclatations and PropertySignatures and throw on everything else (including MethodDeclarations). We should ignore these probably except for toJSON

[2020-03-30 14:21] WoH commented on #353
This should not be a blocker, albeit you'd have to write the OpenAPI for yourself. Assuming Express, but you can inject the `Request` (and look at req.headers) and add the Spec to your tsoa.json.
I'm not sure how the API should look like for this, the one suggested is a non-starter.
`@Query() filters` would be a query param called filters, as in `?filters=`.
I could imagine resolving an interface

[2020-03-30 20:38] jfrconley commented on #623
Sure, this shouldn't take too long

[2020-03-30 22:45] jfrconley commented on #623
@WoH Looks like escape characters in strings will break JSON parsing, which kinda breaks RegEx. We might need to think a little bit more about options.

[2020-03-31 00:08] dr3s commented on #62
I had to wrap an express middleware so that I could use it with tsoa.  It would be nice if it supported this interface directly

[2020-03-31 07:45] rustam-crunch opened #637 "Unable to set more than one cookie"
Unable to set more than one cookie

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [*] feature request
  - [*] support request

* I confirm that I
  - [*] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submitted

## Expected Behavior
Multiple Set-Cookie headers with different names should be allowed to se

[2020-03-31 08:31] WoH commented on #623
According to the rules, this string should:
1: Be taken from the JSDoc (it's a string there, `'` used to indicate that): `'```"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"```'`
2. Triple backslash escaped: `'"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"' `
3. JSON.parsed: `JSON.parse('"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"') // -> '^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.

[2020-03-31 12:35] #627 closed

[2020-03-31 17:32] dimitor115 commented on #598
@WoH If you are still interested in PR, I would like to try implementing this :smile:

[2020-03-31 17:34] dimitor115 commented on #585
@dgreene1 @WoH  I would like to try :smile: If there is still need to do it.

[2020-03-31 18:01] WoH commented on #598
Sure, would be a nice feature!

[2020-03-31 18:04] WoH commented on #585
I think this may have been fixed by another PR, so please make sure this is still happening in the beta releases.

[2020-04-01 00:04] #549 closed

[2020-04-01 09:08] softmarshmallow commented on #328
any updates?

[2020-04-01 10:05] yukipastelcat opened #641 "Provide an example of setting response types other than application/json"
I'm writing service that compiles Svelte components to html and css to be injected into multiple frontend projects that will insert them via SSR. It's unclear how to set `Content-Type` header other than `application/json`, so my /html and /css endpoints are resulting into this in swagger.json:

[code]

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] suppor

[2020-04-01 18:53] WoH commented on #641
In your case I don't know if tsoa makes a lot of sense for this endpoint, maybe I'd consider writing an endpoint in your application that's not handled by tsoa and potentially merging the docs, similar to how we [handle file uploads](https://github.com/lukeautry/tsoa#uploading-files).

Right now, tsoa is very much built around JSON Responses (with very few exceptions). If there is an approach that

[2020-04-01 19:02] WoH commented on #637
Sorry about my lack of knowledge here. Does this only apply to `Set-Cookie` or are there other headers the server should provide multiple times without folding them?

[2020-04-01 19:13] #625 closed

[2020-04-01 20:00] jfrconley commented on #623
There are multiple issues.
The original regex ([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$) would not be equivalent to the final regex (^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$).

Additionally, JSON.parse would effectively look like `JSON.parse('"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$"')` as JSDOC would preserve the original escape character. This is what causes parsing to fa

[2020-04-01 21:46] WoH commented on #623
That's what I was counting on. But I didn't think about JSON.parse removing the backslashes, I missed that in my own example. I'll see if I can come up with something that actually works(TM)

[2020-04-02 06:35] rustam-crunch commented on #637
I've made some investigations about the subject.
This applies at least `Set-Cookie` header, but definitely there could be few more, especially taking into account mess in the related standards and definitions

Another thing I discovered: Issue can(and probably should) be solved just by allowing accept an array of strings but not only strings.
For Express and Koa middleware templates, this wouldn't

[2020-04-02 13:47] cjam commented on #44
I struggled with this one for quite a while.  Found the root of the problem for me to be here: https://github.com/lukeautry/tsoa/blob/f4f5434a5bbd7a08689b50484ad936209062a6ff/src/routeGeneration/templates/koa.hbs#L154

The automatic setting of the status resets many of the properties on the response including header and length, also resets body to null in the case of the 204.  I wanted a way that

[2020-04-02 15:16] fantapop commented on #604
I was able to implement this outside the framework by programmatically filtering the swagger doc.  It seems better to keep this outside of tsoa.

[2020-04-02 15:16] #604 closed

[2020-04-02 17:07] Eywek commented on #631
Okay
Have you any tips to implement the `toJSON` scan? Thank you

[2020-04-03 04:42] fantapop commented on #562
I ran into this as well with a new project and it turned out I hadn't configured the `controllerPathGlobs` yet in the tsoa.json configuration file.  During the build, tsoa didn't find any controllers to generate routes for and hence various of the validation functions weren't being called  in the generated routes.ts file.

[2020-04-03 10:02] michaelbeaumont opened #644 "Use @koa/router and update types"
Update the library to the new name as well as the newest version
## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Breaking change?
It seems there were no breaking changes from ko

[2020-04-03 14:06] michaelbeaumont commented on #387
I'm kind of running into this problem at the moment, in that I want to return multiple types depending on the status code.
Forgive me if this is already solved but it's not easy to figure that out from the docs and searching issues didn't give me anything besides the middleware and catching errors.

But throwing an error isn't type checked and arguably exceptions aren't the right concept for statu

[2020-04-03 14:14] WoH commented on #387
I'd like to head what you think about this: #617. I don't know koa very well, is there a similar option for that framework maybe?

[2020-04-03 14:24] michaelbeaumont commented on #617
Nice! This looks basically like what I want in https://github.com/lukeautry/tsoa/issues/387#issuecomment-608453128.

There I suggested that instead of a decorator `@Res`, the return type should be a union of possible responses and statuses, which I do like better, because what's the difference between `200` and `401` really? But I'm not sure whether decorators allow that much introspection.

I'm n

[2020-04-03 15:23] WoH commented on #617
`@Response` is used for documenting responses that are not returned according to method signature, i.e. what you try/catch.
`@Res` is an express response object. I'm not sure what the equivalent could be in koa.

The Problem with your implementation might be that it's going to involve a lot of change under the hood that I would not want to have to deal with (or, alternatively, most likely fundamen

[2020-04-03 21:20] joppino commented on #596
Worked for like 14 hours day for the past two weeks. I'll finish this soon, promised

[2020-04-06 13:13] Eywek opened #647 "feat: avoid sending response"
I'm using [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource) in one of my controller, but as tsoa is replying when the promise resolves, it prevents events to be sent.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues)

[2020-04-06 15:03] WoH commented on #328
I believe this should be fine in the beta releases for v3. If not, feel free to remind me to take a look.

[2020-04-06 15:07] WoH commented on #647
Would something like https://github.com/lukeautry/tsoa/issues/617 work for you in this case?
You could send on res and return from the controller method once you're done sending events.

[2020-04-06 15:14] Eywek commented on #647
I can already access the `Response` object via `req.res`, my issue is more that I'm never done sending events, it stops only when a user close the connection.

[2020-04-06 21:09] fantapop opened #649 "Composite types give error on swagger codegen"
I realize this format was already changed once but the tildes (~) in the generated model names cause swagger code gen to error out.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

[2020-04-07 00:15] fantapop commented on #574
@WoH This is working now.  Thanks for the fix!

[2020-04-07 00:15] #574 closed

[2020-04-07 04:46] fantapop commented on #592
This isn't working for me.  No files are found in `./node_modules/` for my subpackage because they're all hoisted to the root by yarn workspaces.  If i try to reference them at the monorepo root node_modules, it finds the files but complains that its out of the rootDir.  Any tips here?  My use case is similar to @givethemheller .  I was planning to share a data access layer between 2 of my subpack

[2020-04-07 07:34] moshewe commented on #353
It's very Javascript-esque to just get a params object. Would it not be possible to "break down" the interface/class given as a type? E.g. `@Query queryObject: IQueryParams` can be converted into `@Query qObjectProp1: prop1Type, @Query qObjectProp2: prop2Type, ...`

A possible conflict with this solution is when we have something along the lines of `@Query params, @Query('paramName') myParam: para

[2020-04-07 08:59] WoH commented on #353
The idea (getting the spec from an interface) is fine, we just need a way to indicate that it's a query param collection, not, for example, an object serialized from one query param.
I could see something like `@Query('/') params: { one: string, two: number }`, since it's impossible to use `/` as the name of a single query param.

[2020-04-07 15:00] fantapop commented on #605
@WoH my PR that was merged addresses the original concern that that I was raising with this issue.  I like your suggestions around error key formatting and I think v3 beta is a good place to do those.  It seems like we should close this issue and make a new one for the consistency bit.  What do you think?

[2020-04-07 16:20] fantapop opened #650 "Support multiple examples"
It looks like open api 3 supports multiple examples.  It would be great to support this.

https://swagger.io/docs/specification/adding-examples/

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already

[2020-04-08 02:57] givethemheller commented on #592
@fantapop Happy to lend a hand.

Setup in yarn workspaces.

at Root of package
lerna.json
[code]

package.json
[code]

If you wanna drop a link to a repo, I can take a look at do some comparing.
If your on slack or gchats, could talk there too.
tom@cannabinder.com

[2020-04-08 04:07] givethemheller commented on #592
oh and oh jeeeee golly is everything working, including my SDK generation.

[2020-04-08 04:07] #592 closed

[2020-04-08 09:51] WoH commented on #649
I'm not convinced this is the right place to report this :smile:
As far as I can tell, the [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v3.0/schema.yaml#L38) refers to[ JSON-Schema format uri-reference](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.7.3.5), which refers to [RFC3986](https://tools.ietf.org/html/rfc3986#section-2.2), sections

[2020-04-08 09:54] WoH commented on #605
Once 3.0 is released, it'll be closed.

[2020-04-08 09:55] #644 closed

[2020-04-08 09:59] WoH commented on #650
Same thing for `@Response` and `@Example`

[2020-04-08 10:29] michaelbeaumont opened #651 ""No matching module found" error when importing module as named"
Using models through a named `import * as` causes route generation to fail, even if it's in an adjacent module
Now obviously there's docs for this error and #195 is related but it seems there the problem was "solved" by not using external dependencies. The docs always refers to `node_modules` and external dependencies though, making it unclear if this use case is supposed to be supported or not.

[2020-04-08 11:35] aldenquimby commented on #337
It looks like https://github.com/lukeautry/tsoa/pull/648 may fix this issue by checking all decorators for `PropertyAccessExpression`?

[2020-04-08 16:55] Eywek opened #653 "mapped type: `Record<'foo', string>`"
I'm trying to use `Record<'id', string>;`.
I've seen https://github.com/lukeautry/tsoa/pull/505 and it seems that it's known that `Record<>` aren't supported, but I wanted to have some update on this.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=

[2020-04-08 23:45] arciel commented on #204
Hi,
I'm using the ([`ts-mongoose`](http://github.com/lstkz/ts-mongoose)) library for defining
typesafe schema for my Node app. In `ts-mongoose` the schema may be accessed
as a TS type with a helper like so

[code]
where `ExtractProps` is a complicated looking helper provided by `ts-mongoose`.
But using `MyProps` as the return type Promise\<MyProps\> in a controller route
leads to tsoa@v3beta crash

[2020-04-09 03:26] fantapop commented on #592
I was able to get this working.  I didn't need to add the node_module reference in my tsconfig.json file however.  @givethemheller are you certain this is necessary?  The issue I was having is that the path-mapping hadn't been setup yet in tsoa.json.  https://github.com/lukeautry/tsoa#path-mapping

[2020-04-09 03:53] fantapop commented on #649
I did some spelunking into the open api code base.  I found this issue https://github.com/swagger-api/swagger-parser/issues/1309 which seems to concern easing the regex against non-"fixed-fields" under components. It references this part of the spec which seems to indicate that all the keys of the schemas object should adhere to this regex.

https://spec.openapis.org/oas/v3.0.2#fixed-fields-5

[2020-04-09 10:07] WoH commented on #653
Record does not give me the properties, so I haven't had time to address this.
Similarly, mapped types that modify the type are not covered yet.
If someone has a good way to get that info back into TypeNodes we can resolve I'd be gladly taking suggestions.

[2020-04-09 10:19] WoH commented on #649
Interesting, so the `$ref` is not the issue, that'd be a legal reference to an illegal name.
I'd take a PR to change the naming, if we can make sure name clashes can still be avoided.
Maybe `-OR-` and `-AND-` would make sense.

[2020-04-09 10:27] WoH commented on #623
I think for now, I'd agree with any improvements that treat default like example and parse these Annotations (ideally supporting triple backslashes), while the other annotations remain untouched.

[2020-04-09 12:11] Eywek opened #655 "feat: No matching module declarations found for Enum"
I want to use `Enum.PROPERTY`

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

## Current Behavior

[code]

[2020-04-09 18:52] fantapop commented on #479
I'm having issues with this in our build. I'm unable to create an interface using `| null` in my types and then generate a remote client using swagger codegen for the typescript-fetch generator.  I think I probably need to bug it in openapi-generator but i wanted to raise it here as well.  What I'm seeing is that in order to represent the nullable enum type, the openapi-generator is creating code

[2020-04-09 19:02] WoH commented on #479
The reason is that `nullable:true` can only exist on a schema with a type.
TS allows null to exist on it's own:
[code]
What do you set there?

Another example:
Referenced types can't be `nullable: true`, but that's what we'd need to do if you want to ref to a `Model | null`. Issue is even worse with Unions:

[code]

Where do we set `nullable: true`.

Current implementation is valid, no reason to c

[2020-04-09 19:27] fantapop commented on #479
I understand, do you agree that this is likely an issue in open api generator? I can open an issue there and see If I can get any traction. Until then we're unfortunately going to be stuck on 3.0.2.

[2020-04-09 19:34] WoH commented on #479
I'd say so, yes.

[2020-04-10 07:33] dimitor115 commented on #337
@aldenquimby I will cover the enum case in my PR :smile:

[2020-04-10 12:16] WoH commented on #647
My approach would be to return a Promise that resolves only when this event is called, but given my lack of expertise, maybe you can inform me why this is stupid:

[code]

[2020-04-10 12:28] Eywek commented on #647
I thought about that but I was thinking resolving when the request is closed was going to lead to errors but in my tests it seems to work thank you

[2020-04-10 12:39] #647 closed

[2020-04-11 09:16] amitgilad3 opened #657 "support for path-to-regex"
i was wondering if tsoa supports path-to-regex on routes
for example:
  @Get('{id}')
  public async getUser(id: number, @Query() name: string): Promise<User> {
    return await new UserService().get(id);
  }

i would like id to be something like ":id([0-9]{6})" is this possible??

* **I'm submitting a ...**
  - [v] support request

* I confirm that I
  - [v] used the [search](https://github.com/lu

[2020-04-11 11:16] WoH commented on #657
No, because the OpenAPI specification does not provide a way to correctly express this route currently.

[2020-04-11 11:43] amitgilad3 commented on #657
ok, thanks for the response. do you know of any solution i can use to overcome this problem ? maybe change the the route @WoH ?

[2020-04-11 14:50] aldenquimby opened #658 "ValidateError should extend Error"
## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
- `ValidateError` should extend `Error`

## Current Behavior
- `ValidateError` does not extend `Error`

As a re

[2020-04-11 15:09] WoH commented on #658
I'd accept a PR on the `3.x` branch.
There may be people out there that rely on the fact that ValidateError doesn't extend Error. I'd assume this is unlikely, but we know of people that i.e. relied on a Error message strings, so changing that broke their code. Would rather be overly cautious here.

[2020-04-12 01:45] fantapop opened #659 "Hint from authorizer which error response to return to the user"
Our authorizer supports 3 different types of auth. In the case of all auth failing, the promise to resolve last is the one that is returned to the user.  For the express route that happens here:  https://github.com/lukeautry/tsoa/blob/0df645d5db22d6bc9c2b0e2e83b6550171004c86/src/routeGeneration/templates/express.hbs#L112

This is usually the correct error response. I think the one that is actually

[2020-04-12 04:56] NanoMeko commented on #79
Any solution to this?

UnhandledPromiseRejectionWarning: Error: Multiple matching models found for referenced type Model; please make model names unique. Conflicts found: "/Users/..../node_modules/sequelize/types/lib/model.d.ts"; "/Users/...../node_modules/sequelize-typescript/dist/model/model/model.d.ts".

[2020-04-13 10:22] WoH commented on #657
Sure, you can split the routing logic from the validation logic. Catch the entire path in the method and validate the Path Parameter:

[code]

[2020-04-13 11:24] aldenquimby commented on #658
@WoH sounds good, thanks for the quick response! I'd be happy to put up a PR. What tests would you recommend here? Should I just check that `ValidateError extends Error` in a unit test here https://github.com/lukeautry/tsoa/blob/313012a1214f0afa95756cf23bbc13f46277499e/tests/unit/templating/templateHelpers.spec.ts ?

Here is how Sentry checks if something is an error, which seems overkill for tsoa

[2020-04-13 22:38] wgcrouch opened #660 "Routes generation for Next.js API Routes"
I was wondering it it would be possible to generate routes/pages for Next.js [API Routes](https://nextjs.org/docs/api-routes/introduction) feature. Not sure how to go about this.

## Sorting

* **I'm submitting a ...**
  - [ ] bug report
  - [ x ] feature request
  - [ ] support request

* I confirm that I
  - [ x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make su

[2020-04-15 11:10] Eywek commented on #653
I've found this (to try in the `isMappedTypeNode` scope):
[code]
which prints this:
[code]
for:
[code]

[2020-04-15 15:31] eric-caslake commented on #630
Is anything going to be done about this vulnerability?

✗ Medium severity vulnerability found in minimist
  Description: Prototype Pollution
  Info: https://snyk.io/vuln/SNYK-JS-MINIMIST-559764
  Introduced through: tsoa@2.5.3
  From: tsoa@2.5.3 > handlebars@4.5.3 > optimist@0.6.1 > minimist@0.0.10

[2020-04-15 19:28] WoH commented on #630
tsoa is an open source package, if this bothers you feel free to create a PR. Please note however, that this vulnerability can not be exploited by anyone using an application built with tsoa.

[2020-04-16 19:42] J-Ibarra commented on #6
Hello any update for this support, actually I am try to add type and enum to response body but trow in TypeResolver, the enum name, UserType isnt equal to SafeArray

[code]
`
Unhandled rejection Error: No matching model found for referenced type MerchantStatus. If MerchantStatus comes from a dependency, please create an interface in your own code that has the same structure. Tsoa can not utilize i

[2020-04-16 20:26] moshewe commented on #353
You are correct. I was a bit confused there because we're using `nest.js` decorators for our controllers and `tsoa` "automagically" works with those. A `@QueryParams()` decorator seems the logical way forward, but your idea of using a wildcard such as `/` is better (and also keeps things working with `nest` 😄 ).

[2020-04-16 20:28] WoH commented on #6
Could you tell me if this issue still applies to the v3 beta releases?

[2020-04-16 20:30] WoH commented on #353
If anyone wants to implement this, I'd be glad to review a PR adding this.

[2020-04-16 22:09] J-Ibarra commented on #6
I just upgraded to version 3.0.4, and the problem persists

![image](https://user-images.githubusercontent.com/4218738/79511091-9a9a7c80-800c-11ea-831f-bc37e10783a2.png)

in the filter dont match

` return (modelTypeDeclaration.name as ts.Identifier).text === typeName;`

I noticed the change in the class **SpecGenerator**

`protected abstract getSwaggerTypeForEnumType(enumType: Tsoa.EnumType): Swa

[2020-04-18 00:04] #565 closed

[2020-04-18 17:25] WoH commented on #659
Can you provide some additional info, so we can better understand your use case.
Are you using one Security Decorator here or multiple?
Maybe it's a good idea to have a combined security decorator (if you are using multiple) so you have full control what to return from that one method?

[2020-04-18 19:06] fantapop commented on #659
We have 3 security decorators currently. 2 types of oauth implementations
and 1 api key decorator. Our web app has access to a different but
overlapping set of methods as our app. I’ve also written an endpoint to
create a custom swagger spec which is filtered by security type so that we
can generate clients with the subset of methods which are exposed to the
particular client. Currently that mecha

[2020-04-19 05:28] fantapop commented on #479
I had a chance to poke around this a bit more.  I looked over the swagger-codegen repo.  My assumption is that a fix from them will be daunting to achieve.  There are a few reasonable seeming PRs against the typescript code generation that have been sitting there unattended for a long time.

The bug on swagger-codegen side that causes this to fail is that using `oneOf` appears to generate invalid

[2020-04-20 14:57] joantune commented on #328
@WoH  - I had the same error using:
```    "tsoa": "^3.0.4",```

[2020-04-20 16:51] picturelink opened #665 "Add decorator to specify Anonymous access to a controller method"
If the `@Security` decorator is used on a controller class, there appears to be no way to override that setting for a specify method. It would be useful if there was an `@AllowAnonymous` decorator that we could use to override the security for a specific method - much like the [AllowAnonymousAttribute  in .net Core](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authorization.all

[2020-04-21 08:47] #634 closed

[2020-04-21 11:08] aldenquimby commented on #658
Fix will go out with 3.x. Thank you for the support here @WoH !

[2020-04-21 11:18] WoH commented on #658
Thank you for the PR!
This is already included in [the latest prerelease](https://github.com/lukeautry/tsoa/releases/tag/v3.0.5) if you want to try this.

[2020-04-21 11:28] WoH commented on #655
https://github.com/lukeautry/tsoa/pull/656 solves this, right?

[2020-04-21 11:29] Eywek commented on #655
right

[2020-04-21 11:35] aldenquimby commented on #658
Re-opening because I notice some other issues in the 3.x release are still open after PRs have merged, so I may have jumped the gun.

@WoH what is the process for closing issues? Do you wait until a version has been published to npm?

[2020-04-21 12:05] WoH commented on #658
I try to keep them open until they're included in a stable release.

[2020-04-21 12:27] WoH commented on #479
If you could open a separate issue for this, I'd add it to the 3.0 backlog.

It generates the correct types and works correctly with required as well. I think this would cover 95% of cases users need.

CBA. If someone opens a PR that handles this in a reasonable way (only affecting the SpecGenerator), I'd be potentially open for that.

[2020-04-22 01:02] fantapop opened #668 "Nullable enums should contain the value null"
Currently the string "null" is added to nullable enums instead of the value. This results in code generation where the value is the string value null.   This is described in more detail In the section on Nullable Enums [here](https://swagger.io/docs/specification/data-models/enums/).

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I con

[2020-04-22 01:03] fantapop commented on #479
@WoH

https://github.com/lukeautry/tsoa/issues/668

[2020-04-22 01:31] fantapop commented on #479
It turns out I'm not even using swagger-codegen.  I was having a really hard time tracking down what was going wrong, it all make sense now. I'm actually using the openapi-generator to generate clients in each of my projects.   It looks like they already have an issue tracking this there:

https://github.com/OpenAPITools/openapi-generator/issues/5202

It doesn't look like its been acknowledged yet

[2020-04-22 06:23] InsOpDe commented on #649
I think this fits to this issue as well:
When declaring an interface like so
[code]
My schema ends up having this name:
[code]
which triggers following error when using `openapi-generator`:
[code]

Possible solution is to use single quotation marks like so:
[code]
which results in
[code]
which works fine.

[2020-04-22 13:17] WoH commented on #649
@InsOpDe This should have been fixed in 3.0.3..3.0.5, see https://github.com/lukeautry/tsoa/commit/55687d7713a5c952d0b5790be763458d4fb3f34e

[2020-04-22 14:08] InsOpDe commented on #649
@WoH I am at 3.0.5.
And I dont think this is a whitespace issue as the diff suggests.

I rather think that it has to do with the regex on line 475 ([commented it](https://github.com/lukeautry/tsoa/commit/55687d7713a5c952d0b5790be763458d4fb3f34e#r38668318))

[2020-04-22 16:12] WoH commented on #649
I knew I tried to address double quotes, but I got the wrong commit. You're right, the regex is off.

[2020-04-23 04:33] fantapop commented on #479
A couple items of note.  IMO a more intuitive representation of null in openapi v3 is described here:
https://github.com/OAI/OpenAPI-Specification/issues/1368#issuecomment-580103688

It may be a moot point however because I see that nullable is getting deprecated in  v3.1.0 and a type = "null" is being added.  At the point this comes out, this seems to be the obvious choice to use.

[2020-04-23 04:44] nivnahmias commented on #557
hey, wondering if this has made it into v3-beta already? if not, is there an ETA on it?
thanks!

[2020-04-23 14:25] #668 closed

[2020-04-23 14:37] WoH commented on #623
@jfrconley What's your opinion on something like this:

[code]

Would be similar to `@param {number} asd` for type annotations in JSDoc.

[2020-04-24 05:08] fantapop opened #671 "typescript union should be implemented as anyOf"
Digging through the openapi docs, I ran across this:

https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/#anyof-vs-oneof

It seems that `oneOf` is an exclusive OR.  I believe the correct thing to use for unions is `anyOf`.

## Sorting

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* I confirm that I
  - [x] used the [search](htt

[2020-04-24 16:06] picturelink commented on #183
Just so others don't fall into the same trap as myself, #87 (09 April 2017) was reverted by
#0352cfe2 on 22nd October 2017. So the current behaviour is in fact as @mengyiyuan  described.

[2020-04-24 16:29] WoH commented on #671
There is no perfect equivalent, but here is why oneOf was chosen:
[code]

If you try to assign `{value1: "", value2: ""}`, TS will complain and so will tsoa if you throw on additional Properties.

[2020-04-25 03:20] fantapop commented on #671
I wasn't aware of this until doing some tests just now, but this is actually valid.  There's no errors here.

[code]

There's some info about it here:
https://devblogs.microsoft.com/typescript/announcing-typescript-3-5-rc/#improved-excess-property-checks-in-union-types

Is TSOA validating this as a disjointed union?

Before learning that typescript is loose with its unions, my concern with oneOf w

[2020-04-25 09:36] WoH commented on #671
Please read the discussion we already had.
https://github.com/lukeautry/tsoa/pull/400
If you have additional concerns, feel free to bring them up.

[2020-04-25 13:20] fantapop commented on #671
Is this the comment you’re referring to?

https://github.com/lukeautry/tsoa/pull/400#discussion_r314961781

There is a typo in the example  @dgreene1 included as justification. Notice
that the validation is failing because `value` is not a member of either of
the types.  It should be `value2` in that example.

On Sat, Apr 25, 2020 at 5:36 AM Wolfgang Hobmaier <notifications@github.com>
wrote:

[2020-04-25 14:12] WoH commented on #671
that the validation is failing because`value` is not a member of either of the types.  It should be `value2` in that example.

I didn't even notice that, oops.
Certainly would've tried pushing for `anyOf` in that case. I'd be curious to see what the other codegens are doing. Classifying this as a bug then.

[2020-04-25 14:21] WoH commented on #671
I'll have to think about the validation implications of this, but maybe we can live without changes for now. If you allow excess props you're already ok, if you wanna throw on excess props I'd assume you want to have the excess prop validation to be as strict as possible and now allow mixed schemas.

[2020-04-25 16:08] fantapop commented on #671
I found this open issue. If you read through, there’s clearly a lot of issues implementing this in many languages. Notably this comment sums it up

https://github.com/OpenAPITools/openapi-generator/issues/15#issuecomment-540003621

I’m curious to see where all this ends up. I personally feel like the spec is pretty explicit about oneOf only allowing one and only one match. This is a useful constru

[2020-04-25 20:32] fantapop commented on #671
here is a post I found informative on the subject. They even call the final product they end up with `OneOf`

https://timhwang21.gitbook.io/index/programming/typescript/xor-type

[2020-04-28 17:53] #653 closed

[2020-04-29 01:50] instantepiphany commented on #650
This would be great - I want to document all possible returned error codes, at the moment if I use multiple `@Response` decorators only one shows up in the swagger documentation.

[2020-04-29 09:09] #649 closed

[2020-04-29 09:15] #671 closed

[2020-04-29 23:18] #59 closed

[2020-04-29 23:20] #204 closed

[2020-04-29 23:20] #210 closed

[2020-04-29 23:21] #571 closed

[2020-04-29 23:22] #557 closed

[2020-04-29 23:22] #514 closed

[2020-04-29 23:22] #447 closed

[2020-04-29 23:23] #429 closed

[2020-04-29 23:23] #338 closed

[2020-04-29 23:24] #337 closed

[2020-04-29 23:24] #510 closed

[2020-04-29 23:24] #503 closed

[2020-04-29 23:25] #479 closed

[2020-04-29 23:25] #470 closed

[2020-04-29 23:26] #658 closed

[2020-04-29 23:26] #632 closed

[2020-04-29 23:26] #619 closed

[2020-04-29 23:27] #594 closed

[2020-04-29 23:27] #613 closed

[2020-04-29 23:27] #605 closed

[2020-04-29 23:28] #655 closed

[2020-04-29 23:28] #603 closed

[2020-04-29 23:28] #631 closed

[2020-04-29 23:29] WoH commented on #630
Please upgrade to 3.0

[2020-04-29 23:29] #630 closed

[2020-04-29 23:29] #501 closed

[2020-04-30 06:18] #372 closed

[2020-04-30 10:35] #615 closed

[2020-04-30 10:36] #598 closed

[2020-04-30 15:51] jayp commented on #236
Somewhat related but I want to say @WoH has been doing amazing work on 3.x release -- I am saying that based on reading the doc changes as I actually haven't tried it out yet but will try to migrate to it soon.

[2020-04-30 17:14] WoH commented on #236
Thank you so much :relaxed:
Wouldn't have been possible without all the PRs from @Eywek @jfrconley @fantapop @dgreene1  @aldenquimby @dimitor115 @michaelbeaumont @itamarco @AlexChambers @edbrannin @jreusch @jtfell @simllll @rgripper @marius-usvat @0v3rst33r and yourself! (Sorry if I forgot anyone)

I hope your upgrade goes smoothly, if there are any issues, please post them!

[2020-05-01 02:26] fantapop commented on #562
@Burnett2k are you able to repro this with the `controllerPathGlobs` configuration set?

[2020-05-01 07:10] zenmaster15 opened #677 "Is there any way to use express router with RegisterRoutes?"
So i'm trying to implement versioning in my app using endpoints with /v1 and /v2. But i'm kind of confused on how to use express.router() on RegisterRoutes. Is it possible? or how should i move about on implementing multiple api versions with tsoa?

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [searc

[2020-05-01 17:00] WoH opened #678 "tsoa 3 released!"
# tsoa 3 is now out :rocket: :fireworks:

I'm very excited since it took us a long time to get here, but this way I hope we can make sure it's worth the upgrade.
If you are new to tsoa, now is a great time to get started! :partying_face:

### A big thank you to everyone that contributed to this release!
An incomprehensive list can be found at https://github.com/lukeautry/tsoa/issues/236#issuecomme

[2020-05-02 13:23] WoH commented on #677
We currently do not expose the express router and do not intend to.
Given the very limited information provided for a very nuanced topic, I think you want to set the _basePath_ of the [RoutesConfig](https://tsoa-community.github.io/reference/interfaces/routesconfig.html)

[2020-05-02 15:41] WoH commented on #665
I'd like to find a better name, maybe `@AllowUnauthorized()` or `@NoSecurity()`, but the idea seems good.

[2020-05-03 11:25] #252 closed

[2020-05-03 12:43] WoH commented on #252
[Updated DI docs](https://tsoa-community.github.io/docs/di.html#inversifyjs)

[2020-05-03 12:45] WoH commented on #585
This should be fixed in v3

[2020-05-03 12:45] #585 closed

[2020-05-03 12:48] WoH commented on #489
See [Parameter descriptions](https://tsoa-community.github.io/docs/descriptions.html#parameter-descriptions)

We still need to add support for multiple examples, but this should be a more tsoa-like approach.

[2020-05-03 12:48] #489 closed

[2020-05-03 12:49] WoH commented on #85
See [Parameter descriptions](https://tsoa-community.github.io/docs/descriptions.html#parameter-descriptions)
Let me know if there are still issues, but I assume this can be closed.

[2020-05-03 12:49] #85 closed

[2020-05-04 06:56] asidorovgrv commented on #632
Hi @WoH, @Eywek

Does #635 handle `keyof typeof` for objects? I've tried upgrading to 3.0, but having issues with this.

### Example
[code]

The current behaviour seems to be:
[code]

[2020-05-04 08:17] Eywek commented on #632
I don't have issue when trying this, on which version are you?

[2020-05-04 09:16] asidorovgrv commented on #632
3.0.8, will try to reproduce in a small example later

[2020-05-04 10:57] dimitor115 commented on #665
@WoH I would like to add it 😄

[2020-05-04 20:04] WoH commented on #660
I saw an article that did something like this, maybe it helps:
- You can use [dynamic API routes](https://nextjs.org/docs/api-routes/dynamic-api-routes) to set up a catch-all route like this: `/api/[...catchAll].ts`

- define a handler in there:
[code]

I don't have any experience with Next, but their server seems to be at least based on express, so maybe making tsoa generate express routes may no

[2020-05-04 21:34] ivan-shaban opened #680 "Is it possible to define error response on @Route level?"
Hello, i have some protected routes that available only after authorization, so i think it is good to add possible response 401 to all controller's methods by one line. Also it is easy to forget decorate for method when project already in support stage.
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [x] support request

- I confirm that I
  - [x] used the [s

[2020-05-05 15:27] E-gy opened #681 "Deeply nested wide mapped types on enums do not resolve (sometimes)"
Nesting mapped types eventually [deeply] does not correctly resolve the schema - not marking top-level props as `required`; sometimes causing a crash, depending on the breadth of nested types; and in oddly specific configurations, it's weird.

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](htt

[2020-05-05 16:17] WoH commented on #681
O boy.
This one's really pushing it, thanks a lot for your detailed bug report.
Properly determining which props should be required seems like a good issue we can fix first.
I have no idea how the references are mixed up, I suspect this is the reason why some schemas are not even generated, but I'm curious to know how that would happen. Maybe our circular dependency resolver is giving up when it s

[2020-05-05 20:37] ivan-shaban opened #683 "Support client code generation?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

- I expect that some client services will be generated, that aware of how to work with server.

## Current Be

[2020-05-05 22:11] WoH commented on #683
Hi, client code generation is not what this framework will help you do.
However, the OpenAPI Specification generated by tsoa is the key to an entire ecosystem of tooling.
As a general overview, I can recommend [**OpenAPI.tools**](https://openapi.tools/#sdk).
There you will find an entire list of tools that can help you generate code for clients in pretty much any language your client could be writ

[2020-05-06 15:44] picturelink commented on #665
I've created a PR  - #684 - that **might** fix this (be gentle, I'm new to this project!). It has no unit tests nor any documentation at the moment, but I'd like to get the opinion of the maintainers before I go all out...

[2020-05-06 19:06] WoH commented on #665
Don't worry, especially because the PR looks great so far :+1:
I haven't had time to look at the details, but the approach looks good to me!

[2020-05-07 00:04] #641 closed

[2020-05-07 00:04] #62 closed

[2020-05-07 08:35] williamdes opened #685 "Error: Unknown type: TupleType"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]

HACK:
[code]

## Current Behavior

[code]

[code]

## Steps to Reproduce

Create an interface with:
[c

[2020-05-07 08:39] williamdes opened #686 "Interfaces declared by TypeScript can't be used"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
[code]

## Current Behavior

[code]
## Steps to Reproduce

Create a method with:

[code]

## Context (Environm

[2020-05-07 08:41] williamdes commented on #686
Having `fooBar: Number;` also triggers the error

[2020-05-07 08:42] williamdes commented on #685
`Error: Unknown type: TupleType` is also triggered by
[code]

[2020-05-07 09:20] williamdes commented on #62
I would like to have `bearerFormat` forwarded into swagger :thinking:

[2020-05-07 11:31] WoH commented on #685
We can't type tuples in OpenAPI yet, so this is intended.
See https://github.com/lukeautry/tsoa/issues/242

[2020-05-07 12:08] williamdes commented on #685
Could a link be added to the error so users know it is not an error but a missing feature ?

[2020-05-07 12:12] williamdes opened #688 "Error: No matching module declarations found for express."
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Build my spec.

## Current Behavior

[code]

## Steps to Reproduce

[code]

**This works:**

[code]

## Contex

[2020-05-07 12:13] williamdes commented on #688
for now I use `req.res.` to handle my response, how can I have it as a parameter ?

[2020-05-07 12:34] endor commented on #333
I would like to reopen this, because I'm not sure this answers the question.

I'm currently working on a service where we would like to use Stripe. I know that tsoa suggests creating copies of the interfaces defined in external libraries, but if I wanted to still use a type defined in Stripe as a property defined in my own interface, I end up with:

[code]

And I think it is, because Stripe define

[2020-05-07 12:35] endor commented on #333
ping @dgreene1 @WoH

[2020-05-07 12:39] endor commented on #688
Out of curiosity, what are you using the response for?

[2020-05-07 12:43] williamdes commented on #688
Infact I am migrating a codebase using `(req, res, next)` to TSOA and I would prefer to do 2 passes:
- add TSOA with minimal modification
- consider using TSOA fully

So I use it like any normal express responses. As the express docs shows us to make requests.

If I am convinced that I can use TSOA without having to refactor all my routes to Promises I will start using the tool everywhere.

[2020-05-07 12:56] endor commented on #688
I am not sure if tsoa supports this. You might be able to inject the `response` if you use a custom routes template. How do you document the response, if not by returning a typed Promise? Do you use `@Response()`?

I've recently converted an older codebase to TSOA. I did it controller by controller though, to see how much effort it would be. After seeing that it was actually quite quick to turn th

[2020-05-07 13:01] williamdes commented on #688
I use `@Response` because I discovered that `Promise` was not needed to make it work.
Actually I want to have TSOA > openapi generator and build E2E tests to cover the existing code so I am forced to make minimal changes in order to not break everything before adding total coverage..

And yeah I will need to make Controllers but the diff is pretty readable ;)

The response is available as `req.res

[2020-05-07 13:04] endor opened #689 "Since tslint is deprecated, should we switch to eslint?"

[2020-05-07 13:07] WoH commented on #688
`@Response` is **not** used to get acces to Res! It's an Annotation used to describe Responses. Working as intended imo.

[2020-05-07 13:09] WoH commented on #685
Sure, feel free to submit a PR!

[2020-05-07 13:14] WoH commented on #686
`fooBar: Number;` is not a type, but the NumberConstructor, not sure if that was intended.
Regarding your interface, I don't think I can reproduce that given the information provided.

[2020-05-07 13:18] WoH commented on #689
Tried it, it's a nightmare and it produces too much churn. (Given the automated migration tool)
Unless someone is committed to actually reproducing the tslint rules more or less 1:1, it's not worth it and I cba to invest more than an hour to configure eslint.
But if someone has the time, sure.

[2020-05-07 13:23] WoH commented on #688
a) Using **untyped** res to hack together responses that can diverge from the produced OpenAPI spec is something you can do with `req.res` if you really want to do something (99.5% of the time) stupid

b) Here's my suggestion how we might want to  handle this properly: https://github.com/lukeautry/tsoa/issues/617

Have you excluded express / node_modules from your tsconfig? If so, that's why.

[2020-05-07 13:32] WoH commented on #333
It's because we are still using the resolution approach luke wrote back when ts didn't have APIs for that I think.
Basically, we iterate over all the statements to find a matching node according to what tsoa considers matching, which is not correct in these cases.
I thought about rewriting that using the algorithm i.e. the language server uses to "Jump to declaration", but unless someone has time

[2020-05-07 13:38] endor commented on #333
This sounds like a big task, even though it's probably the right thing to do. I am wondering though, if it would also make sense or even be possible to try and take a smaller step and search those multiple module declarations for the member we're looking for.

[2020-05-07 13:41] #665 closed

[2020-05-07 13:45] WoH commented on #333
Since TS exposes `getDeclarations()` and `.valueDeclaration`, it's probably less work than supporting another hack on top of our custom implementation.

[2020-05-07 13:51] williamdes commented on #688
Nope

I agree, this is like using `@OA` php doc blocks, they can diverge.

It also works fine for normal responses, and yes they can diverge.

![image](https://user-images.githubusercontent.com/7784660/81302266-6dc10e80-907a-11ea-972a-6fdb982d87dd.png)

[2020-05-07 13:53] williamdes commented on #688
I did not find any tool that could be as good to make my documentations.
Sure I could go full textual, but no.

TSOA fits my needs quite good for now, except this stupid error.

Infact one of my issues is using Promises. I do not want to do this on all routes.

I hope It is okay ;)

[2020-05-07 13:57] williamdes commented on #686
Maybe try as a response interface content
[code]
instead

This looks like a bug :)

[2020-05-07 13:58] WoH commented on #688
Can you elaborate what issues you're facing? Using Promises should not be a requirement for tsoa's controller method.

[2020-05-07 14:05] williamdes commented on #688
Yes, as I said I am moving some old code to controllers witch is a very big task without any changes.

And I want to have a swagger based on interfaces I wrote and force returned objects to follow the interface.
It will take me ages to migrate everything to Promises and this is why I do not want to have promises for now.

If I did want to write some documentation not using typescript I would want

[2020-05-07 14:06] williamdes commented on #688
Another of my point of views is: add it and remove it simply without needing a refactor to add the tool and another one to remove the tool.

[2020-05-07 14:08] WoH commented on #686
I'm sure there's a bug here, what I'm saying is this works:

[code]

doesn't cause issues for me.

[2020-05-07 14:16] WoH commented on #688
You should be able to just declare a controller method that doesn't return a promise though, right?

[2020-05-07 14:36] williamdes commented on #688
Right it is possible, but I want to be able to use my existing parameters ;) `(req: express.Request, res: express.Response)`

[2020-05-07 14:38] williamdes commented on #686
Okay, then just try `@Response<Bug>('ok')`

[2020-05-07 14:48] E-gy commented on #681
Current workaround:
1. Export all [intermediate] types
1.1 (if any, expand ~`K3+` types into `J` types)
2. Create a dummy `unused` method (in a controller), declared before everything;
    in body or return, reference all the intermediate types
3. Straight up throw an error inside it just in case
4. mark as `@Hidden` to remove from docs

Thankfully `@Hidden` removes the method from docs, _and_ doe

[2020-05-07 14:49] WoH commented on #686
[code]

doesn't cause any issues either, shows up in SwUI aswell :shrug:

[2020-05-07 14:56] williamdes commented on #686
I tried once more and did not have the error.
The trace should be enough to fix the bug, let me know if you need more test cases

[2020-05-07 15:00] WoH commented on #686
Yup, the `Number` is causing issues here (not `number`). I just tried making sure a very basic case like an interface with some nested props wouldn't cause issues in tsoa.

[2020-05-07 15:05] WoH commented on #686
Just as a hint for other ppl. trying to use interfaces from the ts lib declarations:
We explicitly filter them currently to avoid issues with duplicated interfaces.
Relates to https://github.com/lukeautry/tsoa/issues/333#issuecomment-625258178

[2020-05-07 15:07] WoH commented on #686
@williamdes mind if I edit the description to better reflect the issue?

[2020-05-07 15:08] williamdes commented on #686
Go ahead ;)

[2020-05-07 17:00] Kriskit commented on #546
I've submitted a PR for this as I am having issues with Webpack trying to bundle Typescript and other things that aren't needed for runtime and it adds quite a bit of size to the overall deployment.

[2020-05-08 09:47] picturelink commented on #665
Wow, that was quicker than I expected. Thanks.

[2020-05-08 13:03] WoH commented on #688
Idk what to tell you. tsoa is focused on providing validation, which won't work if you pull stuff off the request directly. tsoa is heavily built around the idea of well designed, complete, accurate response docs, which you're actively trying to fight in order to keep awful API express provides out of the box.

I'd love to have a magic bullet here, but bare express applications are incompatible wi