[2021-02-08 20:37] matthewadams commented on #906
FYI, so no one's duplicating effort, I'm going to take a stab at a PR for this.

[2021-02-08 23:46] matthewadams commented on #906
Beginnings.... :) WIP at https://github.com/northscaler/tsoa/tree/issues/906

[2021-02-09 05:34] b6pzeusbc54tvhw5jgpyw8pwz2x6gs opened #907 "Is there a way to handle multiple http methods as one function in tsoa controller?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I want to write code like:

[code]

## Current Behavior

I have to write repetitive code.

[code]

## Detaile

[2021-02-09 05:45] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #907
After I created an issue, I found a related issue: #579

[2021-02-09 08:42] meyraa commented on #833
I have another case that this feature might solve. When I save a layer, it can have an existing and newly created attributes:

- When I define `attributes: Array<ICreateAttribute | IAttribute>` it only uses the `ICreateAttribute` and removes the `id`s.
- When I define `attributes: Array<IAttribute | ICreateAttribute>` it only uses the `IAttribute` and I get validation errors, because of missing `i

[2021-02-09 08:58] szymon-planeta commented on #904
I've added WIP PR https://github.com/lukeautry/tsoa/pull/908 and described my issues with tests

[2021-02-09 11:13] FahdAlShalhoub opened #909 "Feature Request: Servers Swagger Property In tsoa.json (Tsoa Config)"
## Sorting

- **I'm submitting a Feature Request**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
 Much like "securityDefinitions", I'd highly appreciate if there is a "serverDefinitions" array wh

[2021-02-09 18:48] matthewadams commented on #906
All existing tests passing with new functionality.  Getting ready to add tests for new functionality.

[2021-02-09 19:21] matthewadams commented on #906
@lukeautry I just saw https://github.com/lukeautry/tsoa/blob/master/docs/CONTRIBUTING.md#contributing-features after I had already begun this work.  Could you please add the help wanted label or discuss?

[2021-02-09 19:54] WoH commented on #906
What part of the functionality you want to introduced can't be modelled using `@Res`?

[2021-02-09 21:15] matthewadams commented on #906
_NB: I may not fully understand what `@Res` or `TsoaResponse` do.  Please correct me if I'm wrong._

The fundamental issue that I'm dealing with using `tsoa` is that your library makes the assumption that controllers have instance state that is specific to each request:   `statusCode` & `headers`.  That is certainly one approach to controllers (often termed "tear-off controllers").  Another patter

[2021-02-09 21:29] matthewadams commented on #906
I've looked at some of your tests that use `@Res` & `TsoaResponse`.  Is it possible for a controller method to _return_ an instance of `TsoaResponse`, rather than taking an argument decorated with `@Res()`?

[2021-02-09 22:11] WoH commented on #906
From the [docs](https://tsoa-community.github.io/docs/error-handling.html#typechecked-alternate-responses):

[code]

[2021-02-12 12:08] qqilihq opened #910 "Send File -- the next episode"
We have started using TSOA in our projects and found it extremely helpful -- so, here’s a big THANK YOU to the maintainers.

One major thing we’re currently missing is the ability to also send files instead of JSON responses (in our case, this could be (a) binary data, (b) exports such as CSV files).

There have been several requests and attempts on adding this in the past:

* https://github.com/l

[2021-02-12 13:19] tsimbalar commented on #910
Hi,
Just to add here some of my findings from the last weeks where I somehow got some binary file download to work ... currently returning a file sort of works if you controller method return a `Readable` (stream) or a `Buffer`.

At least at runtime, you can properly download the file. Maybe the limitation at this point is mostly on how to reflect that information in the OpenApi spec file, unless

[2021-02-12 14:02] qqilihq commented on #910
Many thanks for the hint @tsimbalar  -- this is in fact the same workaround which we currently use. With the suggestion above I’d especially like to cover the following two points:

* as you also noted: having a proper OpenAPI specification being automatically generated including the appropriate `Content-Type` (currently this probably can be achieved through `specMerging`, but TSOA’s advantage is

[2021-02-12 14:17] tsimbalar commented on #910
Regarding type-safety, I think there is currently no issue . I believe the following works fine :

[code]

i.e. what is returned from `fs.createReadStream` is a `fs.ReadStream` , but it conforms to the `Readable` interface from `stream`.

I may have misunderstood your comment though.

[2021-02-12 14:18] qqilihq commented on #910
Interesting, I’ll definitely give this another try. Thank you!

[2021-02-12 14:53] WoH commented on #910
[code]

Please make sure you use this return type, not `ReadStream`.

That said, we should support `Buffer`, not just `Readable`. I'll mark this accordingly.

[2021-02-12 15:01] WoH commented on #886
I think this is too specific to be handled at the framework level. Imho, you should use `@Extension()` to mark these EPs with a custom attribute and feed the generated spec into a utility that strips out the EPs marked.

[2021-02-12 15:04] qqilihq commented on #910
D’oh. I didn’t read properly, sorry! Indeed, when using `Readable`, it works fine! Many thanks!

So, to get back to the initial post -- this MR would probably boil down to getting the generated OpenAPI specification right. Appreciate any feedback about this :-)

[2021-02-12 18:36] jeremyVignelles commented on #798
Hi,
Can this be reopened?

I made a sample that you can try here : https://github.com/jeremyVignelles/repro-tsoa/tree/repro/pick-partial-omit
It does generate a mangled name like `Pick_User.email-or-name-or-phoneNumbers_`, but I fail to see where this could be useful.

I'm using NSwag to generate C# and typescript classes, and it doesn't know how to "demangle" that properly. I'm ok with the genera

[2021-02-12 19:03] WoH commented on #798
That's not a good rule to use. A good way to determine if a type can be inlined is if the right side is exactly a type reference with n type parameters. A lot of TS utility types not defined in TS itself (for example coming from ts-toolbelt) would not be inlined. We'd deal with this > 1 week later through a new issue.

I'd rather see this in the scope of a new feature request.

[2021-02-12 19:50] jeremyVignelles opened #911 "Feature: inline type aliases (@tsoaInline)"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did, and I found a lot of other similar issues, for example :
- #798
- #751

## Repro project

https://github.com/jeremyVignelles

[2021-02-14 00:06] jeffmounce opened #912 "Add an override in tsoa.json to allow models to come from external modules"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Generate swagger using interfaces in external modules if I want to when I know the risks/concerns.

## Curr

[2021-02-14 03:59] JeroenMBooij commented on #901
@WoH If I follow the file upload documentation on Tsoa the result is stored in request.file instead of request.randomFileIsHere.

`import
{
    Controller,
    Get,
    Route,
    Tags,
    Post,
    Patch,
    Delete,
    Body,
    Request
} from "tsoa";
import * as express from "express";
import * as multer from "multer";

@Tags("Files")
@Route("files")
export class OrderController extends Contr

[2021-02-14 12:40] WoH commented on #912
Closing as duplicate

[2021-02-14 12:40] #912 closed

[2021-02-14 14:50] jeffmounce commented on #912
Link for dup?

[2021-02-14 16:51] le0n229 commented on #220
Hi, any update on this issue? @Produces decorator will be great! But in general strange why you added in specMerging consumes, but didn't add produces, because logic is nearly the same.

[2021-02-14 20:58] tsimbalar commented on #901
In case that's useful,

This is what we ended up for a `multipart/form-data` upload (with both files and fields)
( partial, not the full code)

[code]

And the following in `tsoa.json`to generate the proper OpenAPI spec

[code]

[2021-02-14 21:44] JeroenMBooij commented on #901
@tsimbalar I was missing the nested "spec" property, which is also described in the documentation, but I simply missed it. I got it working now. Thank you. I ended up with the following tsoa.json file:
[code]

[2021-02-16 08:34] cakoose opened #913 "nullable array of enum request body not handled correctly"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

The request body should not be altered incorrectly.

## Current Behavior

[code]

Issue a request:

[code]

T

[2021-02-16 08:56] cakoose opened #914 ""Overlapping path parameter" false positive"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

No warning.

## Current Behavior

[code]

When I run `tsoa spec-and-routes`, I get a warning:

[code]

## Pos

[2021-02-17 00:16] #856 closed

[2021-02-17 02:19] eklemen commented on #747
Any updates on this? We are not committing the `routes.ts` file due to conflicts on each PR and wanting to build the latest routes during deployment phase.
It fails in github since an empty directory can't be committed.
If you also don't commit your `routes.ts` file a work around for us is to add any file to the `routes/` directory.

[2021-02-17 08:47] tsimbalar commented on #747
The tradition, to keep a directory around in `git` is to add an empty `.gitkeep` file inside the folder.

This is purely a convention, and really it could just be any file.

see https://stackoverflow.com/a/7229996/474763

[2021-02-18 02:05] eklemen commented on #747
@tsimbalar Thanks this is exactly what I was looking for.

[2021-02-18 20:58] carlnordenfelt opened #917 "Missing support for oneOf"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
It should be possible to define a request that accepts a `oneOf` parameter.

## Current Behavior
I have looked

[2021-02-18 22:02] InsOpDe commented on #842
hello @patrickhrastnik any news on this?

[2021-02-19 04:07] fantapop commented on #917
@carlnordenfelt Can you talk more about your use case for `oneOf`? Are you doing client generation from the generated open api document? If so what openapi generator template are you using?

[2021-02-19 05:58] patrickhrastnik commented on #842
Hello @InsOpDe
I tried to implement some changes but I didn't make it to test them yet. As far as I've seen you prepared similar changes to resolve this issue - Thanks for keeping it alive.
In case you're curious, organization @HolterDev hosts a fork of this repo with a branch named `issue-842`

[2021-02-19 06:44] carlnordenfelt commented on #917
Hi @fantapop,

The use case for `oneOf` is quite literally the purpose of it; I have an API endpoint where one property, or the entire request, can be _either_ A or B. Not a union of them (`anyOf`) and not all of them (`allOf`) but exactly one of them.

Most of the time A and B will represent the same thing in the end but we have slightly different required fields depending on what is provided.
Pe

[2021-02-19 08:20] vincentvanderweele opened #919 "Allow multiple HTTP-status values in @Res"
Our API has a unified error structure, so all errors have the exact same JSON shape. However, if I want to use `@Res` to return them, I need to add one callback for each status, like this:

[code]

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Iss

[2021-02-19 08:39] vincentvanderweele commented on #911
There is a workaround for this, although not pretty. You first need to make sure that you only use interfaces on your API, so replace

[code]

by

[code]

Then, you need to flatten the base type on the right, for which you can use a helper type like this:

[code]

Now `UserCreationParams` gets generated the way you would expect.

[2021-02-19 10:15] carlnordenfelt commented on #917
I actually came across a live example from our API that illustrates the need very well.
I've just renamed the attributes in this schema.

Basically we want one of the following and anyOf wouldn't meet our requirements:

* idType1 [& idType3]
* idType2 [& idType3]
* idType3 & name

[code]

[2021-02-19 16:26] WoH commented on #917
We model the OAPI Schema based off TS, and TS allows this:

[code]

Therefore, anyOf is a better match to represent Unions. However, that does obviously not mean you can't discriminate between the types in your code.

[2021-02-21 00:17] #839 closed

[2021-02-21 22:49] fantapop commented on #917
@carlnordenfelt The reason I ask about the client generation is because there is a lack of support for generating clients in open api for this construct last I checked. I couldn't find any languages which implemented this to spec.  I'm curious to know if you find otherwise.

[2021-02-21 23:34] #842 closed

[2021-02-22 12:38] carlnordenfelt commented on #917
@WoH

Yes, I agree that `anyOf` is a suitable representation of TypeScript unions.
The problem with `anyOf` and the example is that this would be a valid request whereas we would find a conflict because both idType1 & idType2 are provided. The only way to solve this problem is to add custom validation in the controller.
[code]

@fantapop

I did a little more digging into this and it turns out that

[2021-02-22 23:26] tristanradams opened #921 "Hapi template incorrectly passing error object to h.response"
The hapi template, `hapi.hbs`, at https://github.com/lukeautry/tsoa/blob/master/packages/cli/src/routeGeneration/templates/hapi.hbs#L128 incorrectly passes an error object to `h.response`, resulting in a 500 error with text 'Cannot wrap an error' causing the loss of the original error. (see https://github.com/hapijs/hapi/blob/b8eb5f908d9cbab9769f9b79227bc9ce03c02a37/lib/toolkit.js#L191)

In partic

[2021-02-23 13:57] laktak commented on #914
I have the same problem with

[code]

This might be caused by a dependency though - even if I go back to `3.5.0` I still get the error now.

[2021-02-23 15:20] WoH commented on #914
Pinging @simllll

[2021-02-23 16:41] simllll commented on #914
I will look into it, I guess I just haven't covered all cases yet.

[2021-02-24 16:47] cddemar opened #923 "How to specify a prefix route or a basepath"
Hi! I'm new using tsoa and it is fantastic. The one thing that I can't find how to do or get around of it is to specify a sort of prefix for all the controllers such as 'api/v1'.

[2021-02-25 16:37] kYem commented on #923
To specify route prefix, you need to set  `routes.basePath` property in your `tsoa.json` file
[code]
or pass it as cli option with `--basePath /api/v1`

[2021-02-25 16:42] cddemar commented on #923
Thanks!

[2021-02-25 16:42] #923 closed

[2021-02-25 22:47] curtisblanchette opened #924 "No routes generated in routes.ts - External Sequelize Models"
I have sequelize models defined and imported from an external private module @4iiz/corev2

[code]

`tsoa cli` doesn't throw any warnings or errors when running
[code]
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a simila

[2021-02-26 00:18] #891 closed

[2021-02-26 00:18] #884 closed

[2021-02-26 18:52] sambernard opened #926 "Anonymous functions in route templates make tracing by tools such as NewRelic difficult"
The use of anonymous functions for route handlers + authentication middleware makes it hard to debug performance issues.

For example, in NewRelic, I get the following traces:

<img width="737" alt="skitch" src="https://user-images.githubusercontent.com/170295/109341940-61d05400-7828-11eb-8e5e-93a85a7f4e19.png">

<img width="968" alt="skitch (1)" src="https://user-images.githubusercontent.com/1702

[2021-02-26 19:09] ferfrey commented on #909
Hello! Hope this helps and is what you're referring to:

![image](https://user-images.githubusercontent.com/2099565/109343755-948c4380-784c-11eb-901c-618385d75f5c.png)

that's in the tsoa.json file, you can add a prop "spec" under "spec" and according to documentation in code it will

[here ](https://github.com/lukeautry/tsoa/blob/master/packages/runtime/src/config.ts#L129) is the link to source c

[2021-02-27 13:07] #914 closed

[2021-02-27 13:42] WoH commented on #924
The controller file matches your first glob and therefore is being ignored.

[2021-02-27 13:44] WoH commented on #924
The controller file matches your second glob and is therefore excluded from route generation.

[2021-02-27 17:39] curtisblanchette commented on #924
i've tried multiple glob patterns to no avail...
[code]

i've even specified the exact file path to a controller
[code]
None of which produce any routes, or errors when running `yarn run tsoa routes`

As per the documentation, I attempted to remove the glob and `import` the routes directly into `server.ts`
[code]

Still nothing.

When I deliberately specify an incorrect glob pattern, tsoa returns

[2021-02-27 17:57] WoH commented on #924
The issue is not the controller glob, but the second ignore glob pattern.

[2021-02-27 18:06] WoH commented on #917
Again, I don't really have a suggestion as to how one would achieve that apart from adding a specific annotation which might be able to solve the issue.

Let's revisit this when there's a more specific proposal available. OneOf validation is pretty tricky.

[2021-02-27 18:06] #917 closed

[2021-02-27 18:12] WoH commented on #913
Seems like we coerce null into `Color` which is probably not desirable.

If you don't want the issue to happen, typing this as `null | Color[]` would work fine.

[2021-02-27 18:21] curtisblanchette commented on #924
Thanks for the quick reply. Without this excluded ignore, tsoa fails to include my models.
[code]
I've been looking into https://github.com/lukeautry/tsoa/issues/774 for the solution, as it has been stated that external types CAN work with tsoa. Is there a simple undocumented workaround to this?

[2021-02-27 20:18] curtisblanchette commented on #924
Although it would be nice to maintain one source of truth for model interfaces, this doc does make some good points. https://github.com/lukeautry/tsoa/blob/master/docs/ExternalInterfacesExplanation.MD

[2021-02-28 12:14] WoH commented on #924
There are several issues discussing monorepo setups and including type definitions from modules.

[2021-02-28 12:14] #924 closed

[2021-03-02 15:40] sambernard commented on #926
If this approach looks good, I'm happy to open a PR for it, as the change is pretty straightforward.

[2021-03-03 00:16] #894 closed

[2021-03-03 07:59] Herr-Mefisto opened #929 "How to return number of items as header in response"
- **I would like to return header e.q 'X-RateLimit-Limit' as a header in response.**
I'm executing this.setHeader() method in controller but documentation does not change. I cannot see any information about response header in generated documentation.

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/s

[2021-03-03 19:31] WoH commented on #926
I think this should be helpful, feel free to submit a PR. I'm not sure why there's no span for the call to the controller method that tsoa calls, what am I missing here?

[2021-03-03 22:43] sambernard commented on #926
Great- will do!

I don't really understand how the tracing works, but I think the fact that the controller method is enclosed in an anonymous function causes it to stop tracing any further.

[2021-03-04 18:01] demarchenac-nativapps opened #931 "Sort swagger controllers routes by method and not by path"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Detailed Description

Hi! I want to know if it is possible to sort the generated routes by methods  like [GET, POST, PUT, DELETE

[2021-03-05 15:31] #926 closed

[2021-03-08 06:05] steven130169 opened #933 "How to gen swagger.json for request body description?"
## How to gen swagger.json for request body description?

- **I'm submitting a ...**

  - [ ] support request

- I confirm that I
  - [ ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

First , I use a interface to gen a swagger request body example.
like this.
[code]

Second,  My Controller

[2021-03-08 10:07] WoH commented on #933
[code]

[2021-03-08 10:07] #933 closed

[2021-03-08 14:59] taschmidt commented on #351
Can we reopen this? I would love it if this was supported so I could have a strongly-typed spec rather than just a generic `string` parameter that I have to call `.split(',')` on myself!

[2021-03-08 15:20] #119 closed

[2021-03-08 15:24] WoH commented on #351
We support multi as it is what the querystring parser does by default.
If this is something you need, please take a look at https://github.com/lukeautry/tsoa/issues/810

[2021-03-08 15:26] WoH commented on #931
Currently, the best way to do this is to use `generateSpec` and post-process the OpenAPI spec there.

[2021-03-08 18:25] mitar commented on #794
I would also love it tsoa could generate a 3.1 version without using anything deprecated. Having proper JSON schema is great. Ideally, those JSON schema definitions could be extracted out into a separate document to be used stand-alone as well.

[2021-03-08 19:46] WoH commented on #794
Feel free to submit a PR :)

[2021-03-08 20:38] MartijnGevaert opened #934 "Typechecked alternate responses disables typechecking on succes response"
When using the Typechecked alternate responses, it is easy to create a situation where the success response is no longer typechecked.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been subm

[2021-03-10 21:03] taschmidt opened #935 "Question about complex query string parameter reuse"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I have an existing API that I'm trying to port over to tsoa and I'm hung up on how to easily do it in a way t

[2021-03-11 13:47] demarchenac-nativapps commented on #931
Could you ellaborate or give some insight?

[2021-03-11 19:35] xavier-rodet commented on #712
Thumbs up, this is definitely something we need 👍

I wonder why this feature has not been discussed in all this time...

[2021-03-11 22:36] Dynasty9 commented on #720
I tried putting servers in the spec but it gets overridden ):

[2021-03-11 22:43] oegonzalts opened #936 "Unable to generate Route level descriptions"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ x] feature request
  - [ ] support request

- I confirm that I
  - [ x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Expected behavior is to try jsdoc doc generation formatting on class controller to create description at a

[2021-03-12 00:18] WoH commented on #936
Where in the OAS should they show up?

[2021-03-12 06:59] RBornost opened #937 "Json Spec files should output spaces instead of tabs"
## Sorting

- **I'm submitting a ...**

  - [ X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [ X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Spec files should not have tabs (json files specifically tested).
Using 'npx @stoplight/spectral lint --ver

[2021-03-12 09:13] RBornost commented on #911
The workaround only works when used once. If the Expand<T> is defined multiple times (across several files) it results in a
'Error: Multiple matching models found for referenced type Expand; please make model names unique'

I have not tried tagging one with the @tsoaModel annotation to see if that fixes it.

[2021-03-14 08:06] brian-pinwheel opened #938 "Using 'useSuccessResponseCode' doesn't set response code"
The code change in PR #850 was awesome.

## Sorting

- **I'm submitting a ...**

  - [ X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

When using SuccessResponse, it should return the response defined

[2021-03-15 10:49] Kampfmoehre commented on #852
Some thoughts about the feature:

I would propose to add a default response interface that Users can extend from like the one above:

[code]

Not sure if we should hard code the status but it can always be extended from and overwritten. Then somewhere the response type should be set that is returned for responses where the authentication middleware failed (preferably the middleware already returns

[2021-03-15 12:48] billouboq opened #940 "Typegoose/lerna integration : No matching module declarations found for mongoose"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

Hi, I'm trying to use tsoa with an express API. In my environment I'm using lerna, and my "models/interfaces" are in typegoose in d

[2021-03-16 19:39] xianny commented on #479
Bumping this thread now that the "null" type has been added to OpenAPI.

[code]

Should generate a spec of:

[code]

[2021-03-17 00:17] #907 closed

[2021-03-17 00:17] #906 closed

[2021-03-17 00:17] #904 closed

[2021-03-18 05:38] demarchenac commented on #337
Hi! Is this available for version 3.x?

Regards.

[2021-03-18 11:21] penaczko opened #941 "Requests with "null" values in payload are rejected during TSOA Validation but "undefined" are passing."
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior

For example - request body for one of our endpoint looks like:
[code]

and in our `routes.ts` we have:
[code]

[2021-03-18 11:33] WoH commented on #941
No

[2021-03-18 11:49] penaczko commented on #941
Ok, so how about `undefined`? Why requests with `undefined` are passing?

[2021-03-18 12:31] tsimbalar commented on #941
`undefined` is not valid in JSON 🤔

(`JSON.stringify({'foo': undefined})` throws )

[code]

is equivalent to

[code]

`undefined` or `property?` means the property is optional. `null` means the property should be there , but has the value `null`

[2021-03-18 13:34] penaczko commented on #941
What I send is:
[code]

What message I can see:

[code]

 But when I send request with following body:
[code]

 I receive `200` as status Code and there is no any message about some problems during payload validation.

[2021-03-20 17:58] qqilihq opened #942 "@UploadedFile should add a required to spec non-optional?"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Happy to see the @UploadedFile functionality (see https://github.com/lukeautry/tsoa/pull/920).

I think that

[2021-03-20 18:29] WoH commented on #942
Sounds about right, the spec is imprecise here, similar to other Parameters, we should set the required array. Can you send a PR?

[2021-03-20 18:31] WoH commented on #938
Closed by #939

[2021-03-20 18:31] #938 closed

[2021-03-20 18:38] WoH commented on #937
Don't think this is a bug at all. Is there any reference in the JSON standard(s) you can point me to (why tabs may be causing issues) that I may not be aware of?

[2021-03-20 19:05] RBornost commented on #937
I am not sure about the JSON spec. But how I discovered this "problem" is following the TSOA docs. In them it mentions using stoplight/spectrum to validate the Open Api file. In doing so it outputs thousands of lines of warnings regarding the tabs. The "rule" cannot be turned off as it considers it a parsing error. Effectively hiding all other warnings.

[2021-03-20 21:04] WoH commented on #937
Will there are several things to consider:
1) Is this a bug in tsoa? Given the provided details I'd say no.
2) Is the output json something spectral's parser should be able to handle? I'd argue yes, but that shouldn't be tracked here.
3) Is it a problem you can't turn these parser warnings off? Yes, but again, that's a spectral issue (which is being tracked at https://github.com/stoplightio/spectr

[2021-03-21 00:18] #910 closed

[2021-03-21 00:18] #886 closed

[2021-03-21 12:57] Hobart2967 opened #943 "[MAJOR] Cannot compile with 3.6.0"
## Sorting

- **I'm submitting a ...**

  - [x ] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [ x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
It builds.

## Current Behavior
Building with typescript 3.9.9.
[code]
## Possible Solution

Change line 3 t

[2021-03-21 12:57] Hobart2967 commented on #943
workaround: Downgrade.

[2021-03-21 13:37] WoH commented on #943
Bump TS to 4.1 to add support for TLTs

[2021-03-21 14:00] WoH commented on #943
https://github.com/lukeautry/tsoa/releases/tag/v3.6.1

[2021-03-21 14:00] #943 closed

[2021-03-21 14:04] WoH commented on #940
Duplicate of the issues [here](https://github.com/lukeautry/tsoa/issues?q=is%3Aissue+lerna) https://github.com/lukeautry/tsoa/issues/784 and https://github.com/lukeautry/tsoa/issues/774 and https://github.com/lukeautry/tsoa/issues/876 and https://github.com/lukeautry/tsoa/issues/868 and also see https://github.com/lukeautry/tsoa/issues/868

[2021-03-21 14:04] #940 closed

[2021-03-21 14:19] WoH commented on #931
We don't guarantee any particular order in the generated spec. If we were to, I would not suggest ordering based on the HTTP method, as the OpenAPI spec dictates a hierarchy: .paths[/${path}].{method}, meaning the path comes first and iirc has to be unique, even with regard to the placeholders (can't have /hi/{id} and /hi/{otherId}).

My initial thought was to take the OpenAPI spec, which is just

[2021-03-21 18:26] qqilihq commented on #942
Yes, I can work on this, hopefully during next week.

[2021-03-21 21:57] Hobart2967 commented on #943
Thanks!

[2021-03-22 09:53] tsimbalar opened #944 "@FormField - add validation for submitted multipart/form-data fileds"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

If I declare a `@FormField('myField')` in a controller method such as :

[code]

or inline as `tsdoc`s

[code

[2021-03-22 10:02] tsimbalar opened #945 "@FormField - properties should be marked as non-optional"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

When using the `FormField('myField')` annotation on a argument in a controller method, that field should be c

[2021-03-22 10:03] tsimbalar commented on #941
@penaczko is it ok to close this issue ?

[2021-03-22 15:29] penaczko commented on #941
Sure, thanks again.

[2021-03-22 15:29] #941 closed

[2021-03-22 20:40] RBornost commented on #937
I have be utilizing prettier to work around this. It is a pain, but workable.

[2021-03-24 14:43] yotamshapira opened #946 "Consuming modules from node_modules"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
I want to consume my `authenticationModule` and `iocModule` from a node package so I can reuse them from my pr

[2021-03-24 23:30] JimmyBjorklund opened #947 "In the latest version, custom http error codes cause compile issues."
In the latest version, custom http error codes cause compile issues.

`error TS2345: Argument of type '441' is not assignable to parameter of type '"default" | 100 | 101 | 102 | 200 | 201 | 202 | 203 | 204 | 205 | 206 | 207 | 208 | 226 | 300 | 301 | 302 | 303 | 304 | 305 | 307 | 308 | 400 | 401 | 402 | 403 | 404 | 405 | 406 | 407 | 408 | ... 90 more ... | "5XX"'.
`

[code]

[2021-03-25 07:35] zxxc opened #948 "How to use custom middleware?"
Currently, we are moving a lot of non business logic in middleware
and using them per route, for example:

[code]
How can i add custom middlewares to automatically generated routes.ts?
Are there any other ways like custom decorators or base controller that I should consider using with tsoa?
I think I'm fine migrating custom middlewares to something else but I don't understand what is an alternativ

[2021-03-25 07:40] zxxc opened #949 "Super decorator"
I have to copy-paste the same number of parameters:
[code]

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I need a way to create maybe some super decorator

[2021-03-25 07:46] zxxc opened #950 "Endpoint versioning"
Some of our endpoints support different version from the header parameter
for example, a client app will send a request with
`x-supported-version: 1.1 // or 1.2`

and we invoice different functions with different request validators

Is it possible to achieve something like this with tsoa?
[code]

[2021-03-25 09:38] jwigley opened #951 "@Extension decorator does not allow arrays inside object values"
The typings for the @Extension decorator do not allow arrays inside objects as the value argument, which should be valid.

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expec

[2021-03-25 13:07] carlnordenfelt opened #953 "Feat: Programatically interpretable validation errors"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
tsoa yields validation errors that aren't necessarily useful to interpret programatically
A simple example:
[c

[2021-03-26 11:09] WoH commented on #953
Additional context:
1. I believe a change of the error format should be done in the scope of a breaking change
2. If the format is changed, we should prefer established formats like [RFC 7807](https://tools.ietf.org/html/rfc7807) over our own.

Would be happy to help with pushing this.

[2021-03-26 11:14] WoH commented on #950
How would you like to express this in OpenAPI?

[2021-03-26 11:44] carlnordenfelt commented on #953
Hi!

I see this as quite an important change and would really like to see it being released as a minor rather than a major as I'd assume releasing as a major would increase the time to release quite a bit?
It would be possible to have both the new and the old running in parallell to enable a minor release (i.e: keeping `fields` as-is and deprecated, and adding e.g: `errors` with the new structure.

[2021-03-26 13:01] WoH commented on #953
As it is an important change, I'd release the change without delay as a major bump.

My opinion has not changed, but my willingness to act on it ;)
The upside (performance, shared effort, better errors) outweigh the downside (new dependency). Also, since the initial discussion, ajv has become an OpenJS foundation project and is the de-facto go to project for JSON-Schema validation in the JavaScrip

[2021-03-29 18:56] taschmidt commented on #935
Does anyone know if this is possible?

[2021-03-31 18:43] hasyimibhar opened #955 "Add support for header decorator on method"
It would be nice to have a decorator similar to `@Header` that works on method or class. Example use case: for certain requests, I have a middleware which requires certain custom headers to be present. But outside of the middleware, these headers are not used. Currently it's possible to achieve this by doing this:

[code]

But it's annoying because `header1` and `header2` aren't used by `foobar`,

[2021-04-02 13:12] #951 closed

[2021-04-04 00:38] #909 closed

[2021-04-04 00:38] #861 closed

[2021-04-05 10:31] rudfoss commented on #743
If anyone comes back to this thread looking for an answer it seems the easiest way to bundle with webpack is to simply replace all `import { ... } from "tsoa"` entries with `import { ... } from "@tsoa/runtime"`. This will exclude `@tsoa/cli` from the bundle making it work without any other configuration in webpack (or so it seems).

[2021-04-05 13:11] egandro opened #958 "Extensions don't allow scalar / primitive values"
`@Extension('x-internal','true')`

Creates:

`"x-internal": "true"` as expected.

`@Extension('x-internal',true)` a primitive type like a bool / int won't be serialized

[2021-04-05 15:53] carlnordenfelt commented on #953
@WoH What would be the next steps to get this in motion?
I think I could do something using the current implementation and just adding more information but a shift to, for example, AJV feels a bit too intrusive to just jump on.
If the latter is the target approach I don't think it'd make sense to add an intermediate solution as that is likely to cause confusion and more work further down the line.

[2021-04-08 00:40] #929 closed

[2021-04-08 18:21] icopp opened #959 "Feature request: For Hapi, generate and use authentication schemes"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

To play nice with other tooling in the Hapi ecosystem, generated Hapi routes should use native Hapi authentic

[2021-04-09 22:14] mscottnelson opened #961 ""emitDecoratorMetadata": false, supported or not?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Detailed Description

I am attempting to evaluate tsoa for suitability in my stack.

We use esbuild to produce a bundle. esbuild

[2021-04-10 10:42] #942 closed

[2021-04-10 10:46] WoH commented on #961
I'm not aware of any lines where we rely on TS's metadata decoration (as it's so limited anyway)

[2021-04-10 10:50] WoH commented on #958
This could be supported, as the spec [says](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#specificationExtensions):
[code]

[2021-04-10 10:52] WoH commented on #953
What would that intermediate solution look like & get us?

[2021-04-10 10:58] WoH commented on #949
Same thing with Query is being discussed here, I'll merge the discussion as it's the same underlying API that's being requested: https://github.com/lukeautry/tsoa/issues/353

[2021-04-10 10:58] #949 closed

[2021-04-10 11:00] WoH commented on #955
The feature is similar to #949, the API i'd prefer is outlined in https://github.com/lukeautry/tsoa/issues/353

[2021-04-10 11:00] #955 closed

[2021-04-10 17:13] mscottnelson commented on #961
That’s great. I also did a cursory glance through the code and it appeared that way. I’m going to forge ahead.

If I happen to run into any issues specifically with using this in an esbuild context (where type checking is still performed by typescript, but not generating code), then I’ll try to remember and come back to update this issue for documentation purposes. But based on your assurance and

[2021-04-10 17:13] #961 closed

[2021-04-10 17:23] ljwagerfield commented on #891
@WoH would you be able to elaborate on what you mentioned?

Is this something we can do in our code, or is this a suggested change to TSOA that one could raise as a PR?

I'd really love `undefined` to be treated as an optional property: the convention in our codebase is to avoid `?` to avoid refactoring errors where a new (optional) property is added to a type, but the developer forgets to set it

[2021-04-10 17:55] WoH commented on #891
The latter

[2021-04-13 07:58] carlnordenfelt commented on #953
I would think something along the lines that I suggested above, to just extend the information as much as possible in a format that would be identical, or similar, to what is desired when/if AJV is introduced.
Essentially adding the information that is currently obscured by the existing validation.

[2021-04-14 00:35] #934 closed

[2021-04-14 11:58] Dancia opened #962 "Could not validate string array items length using JSON schema annotations"
First I updated object in swagger (`swagger.json`) schema:
[code]

Expected routes (`routes.ts`) validation output:
[code]
Problem 1:
But instead I got:
[code]

Problem 2:
I could not find a way to represent length validation for array of strings. The object:
[code]
was manually updated with `minLength` and `maxLength`. I have tried many different combinations of annotations on `SomeObject`, but n

[2021-04-15 15:18] vincentvanderweele commented on #911
@RBornost defining `Expand` once and using it in multiple files should work AFAIK. Tagging one of the instances as `@tsoaModel` probably also works, although `Expand` should never end up in the swagger spec anyway, so that might be a bit misleading use of the decorator.

I don't think of `Expand` really as a type. It's a typescript trick to erase the connection between the base type and the derive

[2021-04-17 00:36] #936 closed

[2021-04-18 00:38] #836 closed

[2021-04-19 04:00] koolamusic commented on #62
Coming back here, since project I want to migrate to leverage tsoa, uses a couple of middleware for stuff like tenancy and auth

[2021-04-19 08:16] koolamusic commented on #62
@WoH I'd appreciate a example using the `route handler` pattern you described

[2021-04-20 00:39] #852 closed

[2021-04-20 15:56] mscottnelson opened #964 "Can generateSpecAndRoutes please be a module export?"
Hello, I'm wondering if you would mind exposing/re-exporting the generateSpecAndRoutes function? And also allow me to pass in the configuration object manually at this point (ie, ConfigArgs referenced by generateSpecAndroutes would be of type `string | Config`? I'd like to bundle this in with my existing build system and it would be convenient for this to be directly exposed.

I'm already watching

[2021-04-20 16:46] WoH commented on #964
We expose `generateSpec` and `generateRoutes`. Any reason why you need the combined one aswell?

[2021-04-20 16:48] WoH commented on #962
[...]
Expected routes (routes.ts) validation output:

That's not how it's supposed to work.

Please fill out the template next time.

[code]

[2021-04-20 16:48] #962 closed

[2021-04-20 16:52] WoH commented on #959
I'd have to see the code, but I think it's unlikely this won't be a pain to integrate (esp. bw-compatible) and I don't really see any benefits (based on your feature request).

[2021-04-20 19:57] mscottnelson commented on #964
Not especially, was mostly to get downstream of "validate then generate, and don't rebuild if it's not necessary based on metadata". In essence, for the same reasons that it is already exposed in the cli.

Opening a PR with what I was thinking. If you think it aligns, I'd be happy to add unit tests to cover the various scenarios.

[2021-04-21 14:16] WoH commented on #947
Please use declaration merging to allow for custom status codes without TS Errors. As some of the underlying frameworks may have issues, we probably don't want to support them officially.

[2021-04-22 13:36] tgouala commented on #62
@WoH I am gonna use your approach but I think the middleware approach make it easier to maintain a controller. The controller should not care about some details before to receive the request. Middleware makes this abstraction possible.

[2021-04-22 14:27] WoH commented on #62
We have a authentication module for that.

If you previously did `(req, res, next) => void`, where you mutate the request object, just import a function `(actuallyneededParams) => whateverYouSetOnRequest` and call it in the handler.

Middleware in express has too many pitfalls and I don't want to argue here.

[2021-04-22 14:49] WoH commented on #964
I think we can get this in.

[2021-04-22 17:59] MadsRF commented on #518
hey the link doesn't work anymore. any way to get a updated answer on this? thanks in advance

[2021-04-24 18:12] gclotault opened #966 "SuccessResponse decorator doesn't accept variables"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I have a TS file that contains a bunch of constants that are used in my controllers to send status codes (in

[2021-04-24 19:10] carlnordenfelt commented on #953
I've been digging around in this a little and from what I can tell it should mainly be a template change (e.g: express.hbs).
I haven't quite figured out how everything sits together but if the generated routes.ts used AJV directly that should possibly cover it. It might be worth adding support for an optional override too, eg passing your own validator function via the config.

[2021-04-25 14:27] WoH commented on #953
I meant to respond to the last comment already, but wanted to verify my hunch more extensively, which I didn't' t have time to do yet. So with these caveats in mind: I think it may be easier to do the AJV integration over a gradual approach where we have to change a number of error messages step by step and still eventually replace the validation layer.

If you take a look at the templates we curr

[2021-04-25 14:32] WoH commented on #953
In order to keep custom error messages, [ajv-errors](https://ajv.js.org/packages/ajv-errors.html) seems like a reasonable choice.

[2021-04-25 14:37] #919 closed

[2021-04-25 14:45] WoH commented on #966
I am pretty sure I've given this answer before. As an imported const of type number, typescript does not provide us with a way to reliably determine the status code at build time. Please use an enum which works differently in these cases under the hood.

[2021-04-25 14:45] #966 closed

[2021-04-26 00:39] #931 closed

[2021-04-26 16:15] jbhurruth commented on #183
Just hit this issue too. Can we reopen this?

[2021-04-27 12:04] pittenga opened #968 "Support for vendor media types"
OpenAPI provides support for [vendor media types](https://swagger.io/docs/specification/media-types/). Is there a way to use the middleware to define that request body media type in the swagger output? Or maybe use a tag for it?

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.co

[2021-04-27 16:29] RBornost commented on #937
If there is no interest in fixing this please close.

[2021-04-27 21:08] horrox opened #969 "FAB Middleware Support"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

We've considered using tsoa for a lightweight middleware tier in an application deployed using the [FAB](https://fab.dev/) standard

[2021-04-29 13:10] davidqqq opened #970 "Custom labels for examples"
Currently example labels are Example 1,2,3 .... I would like to customise example labels.
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

Yes I tried " Custom example label/name".

[2021-04-29 16:27] jwb opened #971 "Provide route generation for Lambda API"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Desired Behavior

I would like to select [Lambda API](https://github.com/jeremydaly/lambda-api) as the middleware target for rou

[2021-04-29 17:41] taschmidt commented on #935
Ping

[2021-04-30 07:59] dheerajscrrum opened #972 "I want to upload file but in swagger documentation shows text input instead of upload file button"
![Screenshot (93)](https://user-images.githubusercontent.com/68528888/116666042-1e28d080-a9b8-11eb-92e4-d23c14409022.png)
![Screenshot (95)](https://user-images.githubusercontent.com/68528888/116666049-1ff29400-a9b8-11eb-9868-65be6775cecb.png)

[2021-04-30 08:01] dheerajscrrum commented on #972
I am trying to create a route of upload file using following link https://tsoa-community.github.io/docs/file-upload.html

But instead of upload file button it shows me input field to upload file. How can i upload file in input field.

[2021-04-30 13:17] WoH commented on #972
I think I know what the issue may be, but can you please provide the part of the spec that is produced by tsoa.

[2021-05-01 00:18] kmannislands commented on #753
Relevant: https://github.com/Eywek/typoa

[2021-05-01 00:30] #948 closed

[2021-05-01 16:20] WoH commented on #753
Interesting idea, but as I mentioned, using ts-morph instead of the TS compiler API directly doesn't actually make any difference in terms of correctness. It does have a bit of a nicer API though. Maybe @Eywek can give more context than I'm aware of though.

In terms of correctness from type parsing (which can but doesn't have to be the goal of an OS project like tsoa or typeoa) we'd most likely g

[2021-05-02 00:33] #950 closed

[2021-05-02 13:02] AshutoshGotpagar commented on #516
Hi, This is still an issue. I am using tsoa 3.7.0

[2021-05-03 04:13] dheerajscrrum commented on #972
"swagger": {
        "basePath": "/api/v1",
        "outputDirectory": "./src/api-docs/v1",
        "entryFile": "./src/server.ts",
        "specMerging": "recursive",
        "spec": {
            "paths": {
                "/files/uploadFile": {
                    "post": {
                        "consumes": [
                            "multipart/form-data"
                        ],

[2021-05-03 04:13] dheerajscrrum commented on #972
Here is the spec of tsoa.json

[2021-05-03 09:53] WoH commented on #972
That's not what I am looking for, I am looking for the relevant parts in the spec/swagger.json file.

[2021-05-03 10:46] dheerajscrrum commented on #972
"/files/uploadFile": {
			"post": {
				"operationId": "UploadFile",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {}
							}
						}
					}
				},
				"tags": [
					"File"
				],
				"security": [],
				"parameters": [
					{
						"in": "formData",
						"name": "imageFile",
						"required": true,
						"type": "f

[2021-05-03 10:46] dheerajscrrum commented on #972
Here is the part of the swagger.json spec

[2021-05-03 11:21] WoH commented on #972
Actually looks good at first sight, the upload button really doesn't show up if you click on 'Try-it-out'?

[2021-05-03 11:35] dheerajscrrum commented on #972
![image](https://user-images.githubusercontent.com/68528888/116871354-c09fb880-ac31-11eb-8acd-370baa6319e4.png)

[2021-05-03 11:37] dheerajscrrum commented on #972
I tried all possible solutions. But none working

[2021-05-03 15:50] WoH commented on #972
I just had a minute to look at this a but more carefully. The docs sample is for OpenAPI 2. However, according to the last snippet from the produced doc, you're using OpenAPI 3, right?

There you want something like

[code]

See https://swagger.io/docs/specification/describing-request-body/file-upload/ for more examples which may best describe your case.

Again, please fill out your templates, peo

[2021-05-03 16:01] WoH commented on #970
If you're able to reliably determine if the string is the example name, not the actual example (by looking at the length of the parsed array), I'd be happy to review a PR.

[2021-05-03 16:03] WoH commented on #969
I've never heard any of these words in the context of server side logic, but I'd be curious if there is demand for this. If there is, we could consider adding a template.

[2021-05-03 16:06] WoH commented on #947
I assume this worked out fine, if there are any issues with the suggested approach, I'll happily reopen the discussion

[2021-05-03 16:06] #947 closed

[2021-05-03 16:12] WoH commented on #935
Your suggested API won't work, as TS indicates.
There is currently no easy way to do this, but there are similar open issues.

[2021-05-04 11:10] nlang opened #973 "Property validators are not distributed over unions"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Consider the following interface:

[code]

I would expect to get an error because the number exceeds the maxi

[2021-05-04 15:12] starikcetin commented on #352
This error still persists as explained by others above.

[2021-05-04 19:47] horrox commented on #969
The FAB is pretty new and as far as I can tell so far only associated with [Linc](https://linc.sh), which was recently acquired by CloudFlare. I can't tell how much interest there is. For the current time, we've decided to move another direction. We may revisit this in the future.

[2021-05-04 19:47] #969 closed

[2021-05-06 07:11] fantapop opened #974 "Koa / Hapi template seems to not support multiple authentication methods on same function"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
While using the koa template, If there are two authentication methods on a controller function, tsoa should tr

[2021-05-06 09:37] dheerajscrrum commented on #972
Yes, I am using OpenAPI 3. How to add this in tsoa.json

[2021-05-06 12:39] WoH commented on #972
Convert it to json and insert it instead of what you have there before?

[2021-05-06 23:24] jenseng opened #975 "Feature: deprecated schemas/fields"
Open API 3.0 allows you to [deprecate a schema/field](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#fixed-fields-20), e.g.

[code]

While tsoa has a `@Deprecated` decorator for methods, it can't be used for deprecating schemas/fields. Seems like tsoa could look for `@deprecated` jsdoc annotations and deprecate things accordingly in the generated spec.

Happy to put toget

[2021-05-07 10:08] TechWilk commented on #891
Ran into the same issue wanting to use optional generic to mark a property as unneeded without having to manage multiple types.

For example:
[code]

I was hoping to use it as `JsonApiRequestBody<SomeTypedAttributes>` and have TSOA reject the relationship key for these routes as if it didn't exist

[2021-05-07 17:10] givethemheller opened #977 "configurable override for unresolvable types in typeResolver.ts"
In my current configuration, I am receiving type resolution errors. These are most often coming from a combination of mongoose and ts-mongoose (specifically for ObjectId) types.

In the .d.ts file that the type is coming from the reference looks like ->  _id: import("mongoose").Types.ObjectId;

What I would like to get from this ticket is some guidance on creating an override configuration to bypa

[2021-05-07 18:50] rosslavery opened #978 "Feature Request: Add support for glob negation as part of config.ignore"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Imagine models located as part of an external npm package. They are not all consumed by a codebase that needs

[2021-05-09 22:15] alapins opened #984 "Aliases for @Get @Post not supported"
If I use aliases when importing tsoa types, routes aren't generated for controller methods annotated with those types.

For example, the following controller generates a route for only the Get method:
[code]

But the following works fine:
[code]

[2021-05-10 09:06] devnev commented on #516
@WoH can this issue be re-opened? IIUC It was never actually fixed and I'm still seeing it in the latest TSOA releases.

[2021-05-10 13:28] karlismelderis opened #985 "DeepRequired for Req Body"
## Reuse same all optional interface for "deep required" Request body

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

We have interface that's used for GET Request resp

[2021-05-10 13:43] karlismelderis commented on #985
it somehow works if we do it like this.
But in generated OpenAPI `required` is set only for first level keys
[code]

[2021-05-10 15:16] cmckni3 opened #986 "Support application types from npm packages"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I expect to be able to use interfaces from application packages.

## Current Behavior

tsoa emits the externa

[2021-05-10 15:48] SmerkyG commented on #516
As far as I recall, the issue with my PR was it was missing tests (which
were missing more generally in specgen3 so there was nothing to base them
off of). I did successfully use it personally. So if you need this feature,
please feel free to look it up and use it or enhance it with tests.

On Mon, May 10, 2021, 3:06 AM Wolfgang Hobmaier ***@***.***>
wrote:

[2021-05-10 21:11] WoH commented on #986
There are several issues which will help you solve this issue.
One of many examples: https://github.com/lukeautry/tsoa/issues/774

[2021-05-10 21:11] #986 closed

[2021-05-10 22:24] cmckni3 commented on #986
Ok, I saw that issue but wasn’t able to resolve my issue in a timely manner.

I’ll try adjusting the import too in case the top level import doesn’t work.

[2021-05-12 12:47] elaygl opened #988 "Use validator instead of moment to validate dates"
`moment.js` is a pretty heavy library that tsoa uses to validate dates.
`validator` which is also already installed, can validate dates the same way.

Removing moment.js lib from tsoa will save **~4.2MB** from `@tsoa/runtime` size.

## Sorting

- **I'm submitting a ...**

  - [X] feature request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to

[2021-05-12 14:55] SteveVaknin commented on #988
Would be awesome! 👍

[2021-05-12 15:02] givethemheller opened #990 "How To: Fixing broken types e.g. ObjectID"
I have been working with mongoose, mongo, mongoose-ts. A common problem I find is that I have types that cannot be interpreted by TSOA. I had been wanting to do a config override of some kind in the package to handle this, but I have found an easier solution.

ts-essentials includes a utility Type called Merge. You can use Merge to replace a type that is not being handled well by TSOA. In my case,

[2021-05-12 15:02] givethemheller commented on #990
@WoH The above issue is really just documentation for anyone who runs into the same issue. You can close this. Maybe a decent addition to the docs?

[2021-05-12 15:45] #990 closed

[2021-05-12 15:54] givethemheller commented on #990
well, I was wrong.

[2021-05-12 16:24] gpichot opened #991 "refEnum not handled in query parameter validation"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]
TSOa should validate query params for the enum values of the array.
[code]
should validate query param

[2021-05-13 06:45] elaygl commented on #988
Opened PR #989

[2021-05-13 16:33] #747 closed

[2021-05-13 16:34] #988 closed

[2021-05-13 16:56] WoH commented on #991
I think this should reject, can you confirm?

[code]

[2021-05-13 17:01] gpichot commented on #991
@WoH it does not :s

[code]
And most of the time I use `http://localhost:3000/alerts/\?alertTags=foobar&alertTags=hello` syntax.

The generated route has the corresponding code: (note `alertTags` schema).
[code]

[2021-05-13 17:05] WoH commented on #972
I assume this solved the issue, for anyone stumbling across this. Use the new Decorators in the future (`@FileUpload`)

[2021-05-13 17:05] #972 closed

[2021-05-13 17:09] #964 closed

[2021-05-13 17:48] WoH commented on #991
Working on a fix, I reproduced it with the sample, thanks for reporting.

[2021-05-14 10:17] seagullmouse opened #993 "Put swagger version at the top of generated spec so IDE recognises swagger file"
IntelliJ does not recognise the generated spec file as a swagger file, and just opens it as a YAML/JSON file.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[2021-05-14 14:06] gpichot commented on #991
You are welcome!
Thanks for the quick replies

[2021-05-14 15:02] WoH commented on #993
If (and to be honest, I doubt it) the reason for unexpected behaviour occurs because the swagger attribute is not the first key, that'd be a VSCose (Extension) issue, not a tsoa issue

[2021-05-14 17:16] WoH commented on #913
Can you check if #994 does indeed fix this? I suppose it will, but your scenario adds another layer on top.

[2021-05-14 17:48] WoH commented on #978
Can we construct a case where this would actually be breaking?

I think this should be a good addition regardless, but we should push a major to err on the side of caution if there is such a case.

[2021-05-14 23:58] #913 closed

[2021-05-15 20:36] cmckni3 commented on #986
Works for some reason now. I think it was due a messed up package export.

[2021-05-16 16:06] #975 closed

[2021-05-16 21:02] WoH commented on #973
Null is not really the issue that's leading to this behavior. We don't currently distribute property validators over each union element.
So this issue would equally be reproducable for:

[code]

However, this shows a bit more clearly, why distributing validators over the union is actually was not the instinctively correct thing to do back at the time.

I'll gladly open this up for discussion thoug

[2021-05-16 21:45] WoH commented on #991
[Release v3.8.0](https://github.com/lukeautry/tsoa/releases/tag/v3.8.0) should fix this. Please ping me to reopen if there are any remaining issues.

[2021-05-16 21:45] #991 closed

[2021-05-16 21:54] #859 closed

[2021-05-16 21:55] WoH commented on #220
Closing this in favor of #968

[2021-05-16 21:55] #220 closed

[2021-05-16 21:56] #294 closed

[2021-05-16 21:56] #433 closed

[2021-05-17 07:17] gpichot commented on #991
@WoH thanks for the fix. I tested here https://github.com/gpichot/tsoa-refenum-query-param and it's working
Cheers !

[2021-05-17 08:18] seagullmouse commented on #993
Yes, it's IntelliJ's built-in recognition of swagger files. For some reason it does expect it to be the first key and I can't configure it. I will raise this with IntelliJ.

Just a minor issue, with a simple tsoa fix to make my life easier but I understand if this is wontfix!

Thanks

[2021-05-19 06:46] fantapop commented on #659
assuming #995 gets merged in, I think something here could be pretty straightforward.  One idea is to check for a field on an error object which dictates the priority of whether it is the correct error.  Something like this could work:
[code]

[2021-05-19 20:56] cnuss opened #996 "`fields` missing in some Validation responses"
Quick question...

(cc: @WoH as the original author)

I was trying out some of the Validation work, and I was wondering...

In the following examples, is there a reason it's `JSON.stringify`'ing the field errors to the message instead of setting it as a property?

Examples:
 - https://github.com/lukeautry/tsoa/blob/641f12c32440b1b146c59ba7fc74f7f54cf1d383/packages/runtime/src/routeGeneration/templ

[2021-05-19 21:00] cnuss commented on #996
Also FYI I'm happy to make a PR if you think this is a good idea.

[2021-05-20 02:41] npHavens commented on #352
I have the same error

[2021-05-20 15:33] nlang commented on #973
Thanks for the Feedback.
Your example is probably rare to see in the wild, but I get the point.

Random thoughts:
- maybe null should be treated differently?
- maybe validators are bound to a type and only distributed to the type they belong to?
- maybe a @nullable annotation could solve the problem and would eliminate the need for the union?

[2021-05-21 13:50] WoH commented on #993
Can you link the Jetbrains issue, so I can keep track of the progress? If they don't decide to fix this, we should consider moving up the swagger/openapi key on our side to avoid the inconvenience, at least for tsoa users. However, I would prefer if Jetbrains decided to fix the detection on their end for everyone.

[2021-05-23 22:45] WoH commented on #985
There is an issue with the `UndefinedKeyword` explaining why that is.
However, the `DeepRequired` seems like a bug. Do you want to send a PR for that?

[2021-05-25 08:02] pingzing opened #998 "[Question] Overriding property types in generated spec"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I'm evaluating tsoa to use as a library for automatically generating a spec for our code (moving away from manually maintaining the

[2021-05-26 06:19] haedaal commented on #891
Ran into same issue. Anyone holding this issue?

[2021-05-27 06:37] steven130169 commented on #970
I want this feature. I think this is nice.

[2021-05-27 08:27] WoH commented on #970
Awesome! Looking forward to your PR.

[2021-05-30 03:26] jwb commented on #971
It might be a couple of more weeks for me to have the put together the pull request to add this feature. Wish me luck!

[2021-06-01 13:41] mb21 opened #1001 "Question: how to handle empty object"
Our REST API returns an empty JSON object `{}` for some endpoints.

(You could argue this should be a HTTP 204 instead, but we thought it more consistent to always return HTTP 200 for success, and it might avoid some bugs in clients if they get an empty object instead of `null` or `undefined`.)

So far, we've used the lowercase `object` type in TypeScript to annotate that response (even though [so

[2021-06-01 15:05] kwhitaker opened #1002 "[Question] Accessing a IOC singleton from within an authentication module function"
Our API has to talk to another REST API. In order to keep things streamlined, I've written an API Client singleton that each of the TSOA classes have access to. I'm using Tsyringe for IOC to accomplish this, by decorating the API Client with `@singleton` and decorating the controller classes with `@injectable`.

I have a authentication module in place for making sure each request coming into the T

[2021-06-01 15:49] tsimbalar commented on #1002
Maybe some of the answers / discussions in https://github.com/lukeautry/tsoa/issues/855 could help ?

[2021-06-02 01:39] #937 closed

[2021-06-02 13:50] Flamenco opened #1003 "Provide name of referencing class when emitting "Object use" warning"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

## Expected Behavior

I expect the warning message to include the interface that included the culprit.

## Current Behavior
This is what is emitted:
[code]

[2021-06-02 22:35] itair-miguel opened #1004 "[QUESTION]: How to set model interface field as readOnly: true"
I would like to know if it is currently possible to set specific model fields as 'readOnly'.

I believe it should be possible to set a specific field as readOnly following Open API 3.0 standards. I have tried a few variations of the following:

[code]

But had no success.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I

[2021-06-03 00:14] joshua-berry-ntnx opened #1005 "Generated OpenAPI definitions include duplicate operationIds, which violates the OpenAPI spec"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

NOTE: This is almost certainly a dup of the closed issue #183, however since there have been several unanswered requests to re-open

[2021-06-03 01:55] qiangg-sequoia opened #1006 "[Question] when i use jest to test my project , babel can't compile @path @Body annotation"
npm run test

Running coverage on untested files.. Failed to collect coverage from xxx.ts,
ERROR: unknown: Support for the experimental syntax 'decorators-legacy' isn't currently enabled (143:25):

and then i add something in babel.config.json in my project
[code]
`@Query`、`@Get` are ok , but it's not work with `@path`，`@Body`

[2021-06-03 21:03] WoH commented on #1004
Read-only could be supported via TS's `readonly` keyword which the Compiler API surfaces as a modifier on properties. If you're interested in this functionality feel free to send a PR.

[2021-06-03 22:49] itair-miguel commented on #1004
Hi @WoH I would be more than happy to try. Any tips on where I should start? Maybe you could point me towards an example I could follow? Thanks.

[2021-06-04 12:46] dawidfieluba opened #1007 "DateValidator returning 'Invalid Date' objects"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

`Date` type object should not resolve to `Invalid Date` after tsoa [validateDate](https://github.com/lukeautr

[2021-06-04 13:14] itair-miguel commented on #1004
Hi @WoH I have opened PR https://github.com/lukeautry/tsoa/pull/1008#issue-661757699 please verify if I am on the right track at your earliest convenience. Thank you.

[2021-06-05 15:15] WoH commented on #712
Reopening this because TS now supports `@link` JSDoc.

[2021-06-06 15:25] WoH commented on #1007
I'm not sure what's the best way to deal with this is.
EcmaScript defines its Dates based on a simplified version of ISO8601. [1]
So there's a small subset which is valid ISO8601 but not usable for `new Date()`

[1] https://262.ecma-international.org/10.0/#sec-date-time-string-format

[2021-06-09 00:29] #935 closed

[2021-06-11 12:17] lazharichir commented on #1002
Rather new to TSOA myself so I may have missed an obvious point. We have our domain and persistence already written, one being `checkAuthTokenUsecase(token: string, secret: string, userStore: UserStore)` (JWT) and its counterpart `generateAuthToken(user: User, secret: string, userStore: UserStore)`.

I would need, in my authentication module function (`export function expressAuthentication( reques

[2021-06-11 12:36] tsimbalar commented on #1002
@lazharichir does the comments in here help : https://github.com/lukeautry/tsoa/issues/855#issuecomment-735431085 ?

[2021-06-12 07:26] lazharichir commented on #798
Or, a different approach, would be to offer a config field to specify an array of globs to ignore some schemas that would be added.

So those who want these mangled schemas to be ignored could add `*Pick_*` and `*Omit_*` to that field. Now, we would also need to ensure these types are *not* in any `$ref`.

[2021-06-13 00:28] #977 closed

[2021-06-14 09:01] Farsen976 commented on #596
Hello, any update for this PR ? I use  `@BodyProp`  on my project too and not have parameters on the UI is awful :/  @joppino ?

[2021-06-14 09:07] Farsen976 commented on #516
Hello, any update for this PR ? I use @BodyProp on my project too and not have parameters on the UI is awful :/
@joppino ?

[2021-06-14 09:32] joppino commented on #516
Hello,

I've been overwhelmed with tasks and moved to other projects, but I'll
need soon to use TSOA so I hope to complete the tests soon.

On 6/14/21 11:07 AM, Farsen976 wrote:

--
Jean-Pierre Brunod
GPG public key: https://pgp.mit.edu

[2021-06-14 15:38] alexellison commented on #479
Seconding the above bump now that the `null` type exists in OpenAPI 3.1.

[2021-06-14 15:44] alexellison commented on #794
Is there a plan/timeline/backlog for OpenAPI 3.1 support?

[2021-06-15 00:26] #984 closed

[2021-06-15 11:05] karlismelderis commented on #720
also let's open option to specify http/https
if server is localhost I don't think anyone expects to run under SSL

[2021-06-16 07:15] Cu3PO42 opened #1011 "Allow injection of the response parameter into controllers"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues)

A similar, possibly the same, request has been made (and closed) as #376. However, I don't think it was actually resolved.

## Expected Behavior

Hi there!

First off, thanks for your work on

[2021-06-16 07:17] oliver-brm opened #1012 "Declaration of ExtensionType does not fit for Amazon API Gateway"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@tsoa/runtime@3.8.0` for the project I'm working on.

We are using TSOA to generate the OpenAPI spec which we feed, via Serverless Framework, into Amazon API Gateway to set up our API. In order to make that work, we use `@Extension` declarations like this:

[code]

[2021-06-16 10:45] karlismelderis opened #1013 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1014 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1015 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1016 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1017 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1018 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 10:45] karlismelderis opened #1019 "IndexedAccessType (keyor typeof)"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I did found similar closed issue:
https://github.com/lukeautry/tsoa/issues/862
and PR:
https://github.com/lukeautry/tsoa/pull/636

[2021-06-16 12:11] #1018 closed

[2021-06-16 12:11] #1017 closed

[2021-06-16 12:11] #1016 closed

[2021-06-16 12:11] #1019 closed

[2021-06-16 12:11] #1014 closed

[2021-06-16 12:11] #1015 closed

[2021-06-16 14:48] WoH commented on #1012
Can you please submit this as a PR and show that it works without any other code changes through a test? I'd be happy to see this be merged into tsoa.

[2021-06-17 07:53] oliver-brm commented on #1012
Sure, I'll do my best :-)

[2021-06-18 09:42] aquavitae opened #1021 "Incomplete field names for nested arrays"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Given a model and controller such as this

[code]

and passing it a payload such as `{"item":{"children":[{}]

[2021-06-18 14:45] michaeltnguyen commented on #1001
Can you simply return `{}`?

[code]

That works for me and generates the following in swaggerUI

<img width="166" alt="Screen Shot 2021-06-18 at 9 44 34 AM" src="https://user-images.githubusercontent.com/14219683/122578763-d1f22800-d019-11eb-8eb7-8ba078c1bf12.png">

[2021-06-18 20:38] WoH commented on #1001
Pretty much that. I believe not only redoc, but also SwaggerUI do this when they generate samples based on the schema.

[2021-06-19 09:16] mb21 commented on #1001
Thanks for the reply! Well, using the `{}` type is a bit of a foot-gun in TypeScript... again from typescript-eslint:

for example this compiles:

    const foo: {} = false

[2021-06-19 10:49] WoH commented on #996
The reason is that the errors afect the same property.

[2021-06-19 10:52] WoH commented on #996
We can make a breaking change here, but I'd have to see a format that works for all the cases involved.

[2021-06-19 18:15] cnuss commented on #996
I'll take a stab at making a PR so we can make the determination if it is a breaking change

thanks @WoH

[2021-06-20 11:20] kvet opened #1022 "Can't customize path parameter format"
## Can't customize path parameter using `@format`

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

## Current Behavior

[code]

## Steps to reproduce

[code]

##

[2021-06-21 08:25] #974 closed

[2021-06-21 19:10] lucasrcosta commented on #698
A workaround for this is to create an `Omit` interface somewhere it doesn't conflict and specify it as a "fake model". Then the other references can pass by.
[code]
Ref: https://tsoa-community.github.io/docs/faq.html#dealing-with-duplicate-model-names

[2021-06-25 10:57] #1012 closed

[2021-06-27 00:29] #993 closed

[2021-06-28 00:27] #985 closed

[2021-06-28 06:04] Nezteb commented on #352
I'll bump this thread because I have the same issue with:
[code]
In this case I'm using TypeORM, and most of its functions return either an entity or `undefined`, not `null`.

[2021-06-28 06:26] vincentvanderweele commented on #750
@WoH this still happens to me (tsoa 3.8.0). Reproducible case which hangs:

[code]

It can be worked around in some ways:

[code]

I'd happily help out debugging this but I have no idea where to even start looking. Do you have any pointers?

[2021-06-28 07:39] WoH commented on #352
So what's the JSON Schema for `Folder | undefined` you'd want us to generate here?

[2021-06-28 07:51] WoH commented on #750
I'd probably try to write a test (fixture) adding this and debug the pre-test script when it runs the code through the type resolver and break on the reference type resolution.

[2021-06-28 14:07] karlismelderis opened #1024 "Nullable boolean body params should not be converted from null to false"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

there was a ticket but it's closed already:
https://github.com/lukeautry/tsoa/issues/761

## Expected Behavior

I expect tsoa not t

[2021-06-28 17:29] Nezteb opened #1025 "TypeScript compile errors with generated `routes.ts` (`Cannot find module '@tsoa/runtime'`, `Parameter 'status' implicitly has an 'any' type`)"
## Sorting

- **I'm submitting a ...**

  - [X] bug report

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit
    - The closest I could find is https://github.com/lukeautry/tsoa/issues/289, but it was closed with no feedback.

## Expected Behavior

I've got a TypeScript/Express/TypeORM pro

[2021-06-28 18:04] Nezteb commented on #352
What I ended up doing was something like:
[code]

It's just a matter of `undefined` and `null` meaning the same thing as far as OpenAPI is concerned, which I would equate to a value being `nullable` (in OpenAPI v3).

[2021-06-28 18:42] WoH commented on #352
It not.

[2021-06-29 03:54] Nezteb commented on #1025
I was able to fix this by running `yarn add @tsoa/runtime`, but that isn't mentioned anywhere in the docs, so I'm not sure if that's the "correct" fix. :thinking:

[2021-06-29 16:17] kYem opened #1026 "Mongoose v5.12+ throw error "Error: Unknown type: TypeQuery""
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Should generate the route with latest mongoose version.

I seems this might broader issue with `typeof` suppo

[2021-06-30 10:54] yalcinozer opened #1027 "Is it possible to validate JSON.stringfied data sent in FormData, using interfaces? As if @Body()"
Generally, I'm using @Body() to receive data. But if I try to FormData [@UplodedFile() and @FormField() together ], I'm losing validation with interfaces, which makes development a lot easier.

I spend some time looking into source code to find a way to validate data manually, in the controller.
All I want is to parse received JSON string and validate it using one of the interface, if it is possib

[2021-06-30 17:36] #970 closed

[2021-07-01 00:28] #998 closed

[2021-07-03 00:45] joshua-berry-ntnx commented on #1005
Still relevant; not stale

[2021-07-03 09:10] WoH commented on #1005
I remember this discussion, but the issue may be closed. We can check this and warn and rename to avoid collisions. Would you like to send a PR?

[2021-07-05 10:32] tom-boothman opened #1028 "File upload guide does not work / is not up to date"
https://tsoa-community.github.io/docs/file-upload.html

This guide led me down a weird path that turned out was complicated and unnecessary.

There are some people talking about it in the issues of this repo but they mostly end up doing something very custom and that tends not to work.

Given that it's actually easy to upload files and use multipart/form-data in general can the website be updated

[2021-07-05 10:39] tom-boothman commented on #1028
Ah. I just found https://github.com/tsoa-community/docs/issues/35

[2021-07-05 10:55] tom-boothman commented on #1028
https://github.com/tsoa-community/docs/pull/39

[2021-07-05 17:00] laktak opened #1029 "response description from jsdoc @returns"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Could you use the description from the jsdoc [@returns](https://jsdoc.app/tags-returns.html) tag to set the d

[2021-07-07 00:27] #971 closed

[2021-07-07 09:22] karlismelderis opened #1030 "Generic parameter as object key"
I'm trying to create reusable generic HAL interface but seems that TSOA doesn't detect key values passed to generic type

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expect

[2021-07-08 21:20] kibiz0r opened #1031 "Support UndefinedKeyword"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [ ] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Using `@types/node` 12.20.16 should still permit tsoa to generate `routes.ts` when using a custom error as be

[2021-07-09 00:28] #1006 closed

[2021-07-10 20:34] plan8studios commented on #1011
The ability to inject the `NextFunction` from express would also be useful.

Most of the examples on the express site are functions that accept 3 parameters - a request object, a response object, and a `next` middleware function. Without being able to inject the response object and the next function, I don't see any other way of using express and tsoa together without also writing additional middl

[2021-07-12 12:59] thawankeane commented on #742
Any updates on this?

I agree that live reloading is a problem, it complicates the development environment.

Another example is [typescript-rest](https://github.com/thiagobustamante/typescript-rest/wiki/Overview#basic-usage) that builds routes at runtime.

[2021-07-13 14:25] tbf-siteimprove opened #1033 "Generating routes error "No matching model found for referenced type ... x more" when returning long const assertion types"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I created a ts `const` assertion type like this:
[code]

Then use it in my controller endpoint as return type

[2021-07-15 07:06] oreporan opened #1034 "@Hidden parameter"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Currently OpenAPI supports marking some field as hidden, but in TSOA the provided `@Hidden` only works for top

[2021-07-15 07:14] oreporan commented on #1034
My bad, duplicate of
https://github.com/lukeautry/tsoa/issues/626

[2021-07-15 07:14] #1034 closed

[2021-07-16 13:49] atomicus commented on #479
@dgreene1

Sorry for not checking this for such a long time.

I'm not using the `?` operator because I want my response to be strict and full even if value is null.

So, lets say we have interface:

[code]

According to this description, this will result in REST response of format:
[code]

While
[code]
Will result in:
[code]

So, those responses will not be the same. At least this is how I and mos

[2021-07-18 00:27] #1002 closed

[2021-07-21 04:29] carlnc opened #1037 "TS2749: 'TsoaResponse' refers to a value, but is being used as a type here. Did you mean 'typeof TsoaResponse'?"
The documented use of  `@Res`/`TsoaResponse` produces a TS2749 error.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [X] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

**Tell us what should happen:**

* I e

[2021-07-21 05:17] carlnc commented on #1037
It appears the warning [here](https://tsoa-community.github.io/docs/error-handling.html#specifying-error-response-types-for-openapi) is no longer valid.

[code]

and instead I should be using the method further down in [Typechecked alternate responses](https://tsoa-community.github.io/docs/error-handling.html#typechecked-alternate-responses)?

The following works:

[code]

It's a shame I can't jus

[2021-07-21 16:54] Nezteb opened #1038 "`POST` file upload with query params always returns 404"
## Sorting

- **I'm submitting a ...**

  - [X] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Description

I'm following this guide: https://tsoa-community.github.io/docs/file-upload.html

[code]
After generating the `tsoa` spec and routes and calling my API from t

[2021-07-22 00:27] #1013 closed

[2021-07-22 16:08] WoH commented on #1037
[`Response`](https://tsoa-community.github.io/reference/modules.html#response) is a decorator, [`TsoaResponse`](https://tsoa-community.github.io/reference/modules.html#tsoaresponse) is a type.
This is why the code throws:
[code]
if you import the Decorator and try to use it as a type (`import {Response as TsoaResponse}`.

Use `@Res` with `TsoaResponse`, don't rename anything.

[2021-07-22 16:08] #1037 closed

[2021-07-22 16:11] WoH commented on #1001
That's not an issue with tsoa.

[2021-07-22 16:11] #1001 closed

[2021-07-22 16:18] WoH commented on #1021
I haven't tried to reproduce this, but if you send a PR, the proof should be in the tests.

[2021-07-22 16:21] WoH commented on #1022
I think the combination of `isInt` and `format` may also be a plausible explanation.
Feel free to send a PR.

[2021-07-22 16:25] WoH commented on #1025
We have the runtime as a dependency, so I'm not sure what went wrong, but this is unlikely to be on our end.

[2021-07-22 16:25] #1025 closed

[2021-07-22 16:26] WoH commented on #1026
Duplicate

[2021-07-22 16:26] #1026 closed

[2021-07-22 16:29] WoH commented on #1028
Thank you very much, should be online any minute now.

[2021-07-22 16:29] #1028 closed

[2021-07-22 16:39] WoH commented on #1033
I believe the truncation issue should not occur any more due to the PR referenced in the issue.

You might want to take a look at this code where things go south:
https://github.com/lukeautry/tsoa/blob/master/packages/cli/src/metadataGeneration/typeResolver.ts#L252

[2021-07-22 16:45] WoH commented on #1038
I merged a PR that updated the Docs, you can use a simpler way with less moving pieces. While the "old way" still works fine if all the moving pieces are set up correctly, I'd argue the new way has less foot guns.

[2021-07-22 16:48] WoH commented on #1031
This issue is a duplicate, but since TS 4.4 now really does differentiate, we should reconsider the support.

[2021-07-22 22:26] mhyeun commented on #958
Hi! I found the `tsoa` library to be really useful and was hoping to get into contributing to open-source projects.

Could I take on this issue?

[2021-07-23 07:48] antmarot opened #1039 "Intersection with an union silently removes extras that shouldn't be removed"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Using an intersection where one of the subtype is the union of two partial interfaces should not remove field

[2021-07-23 10:51] WoH commented on #1039
I think this is mainly a documentation issue. The way we validate is we try to find the first match we can find (while being 'allowed' to silently removing extra properties) and tsoa can fulfil the requirements by stripping `bar` and selling it as `MyType & UnionLeft;`
This is also an optimization that prevents iterating through a very large amount of possible schema combinations to find what you

[2021-07-23 13:21] WoH commented on #958
Sure! No need to ask, but esp. issues marked as "help wanted" are great candidates for PRs

[2021-07-25 07:43] oreporan opened #1041 "Proper way to ignore a field from documentation"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [X] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

I'm trying to hide a specific field from a request body, and it seems the only way to do this is to use
`@ignore` on the field as s

[2021-07-27 00:12] andzno1 commented on #235
Just in case anybody else is having the same problem as me: I wasn't able to get this to work with Koa (koajs) until I manually set the status code:
[code]

[2021-07-27 06:47] sazalihisham88 opened #1042 "Vulnerability on auto generated routes"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Description

Hi my team is currently using semgrep to do SAST on our source code. In the test result, there are `Improper Contro

[2021-07-28 08:42] quarhodron opened #1044 "Set importsNotUsedAsValues to error"
After I generated `routes.ts` I get the error:
![image](https://user-images.githubusercontent.com/24866131/127289624-e8224d9a-f7f7-4f5c-96d0-a30e4abb025f.png)

I think it's safe to set `"importsNotUsedAsValues": "error"` in tsoa tsconfig since it wouldn't affect current user configs while it will help those who just like me have it set it to `error` in my own tsconfig.

## Sorting

- **I'm submitt

[2021-07-28 12:50] seagullmouse commented on #993
Finally got around to raising this with IntelliJ https://youtrack.jetbrains.com/issue/IDEA-273733

[2021-07-29 08:02] chendu opened #1045 "Dynamics header name from ENV in Router"
In Router, when we get header value with env configured header name, it's will not be well handled. When we change to a const value, it works fine

the tsoa version using
[code]

- [x] This work
[code]
- [x] This DOESN'T work
[code]

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://githu

[2021-07-29 08:40] WORMSS commented on #794
Hello, just registering my interest in the 3.1 support, so Tuples can be used.

It seems even though my controllers/apis do not use GeoJson but some parts of my code does, tsoa refuses to build and GeoJson uses tuples.

[2021-07-31 12:52] alucky4eg opened #1046 "validateBuffer has non-prefixed, unused arguments"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

## Expected Behavior

current definition
file: packages/runtime/src/routeGeneration/templateHelpers.ts
line: 457
[code]

## Current Behavior
for a `tsconfig.json` settings with `
[code]
ive got error:
[code]

## Possible Solution
[code]

## Context (Environment)

Version of the library: 3.8.

[2021-07-31 15:59] #958 closed

[2021-07-31 22:42] jadbox opened #1047 "v3.9.0 (node:7373) [DEP0148] DeprecationWarning"
I'm getting this warning with Node v16.6

[code]

[code]

tsoa: v3.9.0

[2021-07-31 22:50] jadbox commented on #1047
Upsteam issue: https://github.com/ljharb/es-abstract/issues/133

[2021-08-04 07:37] oreporan commented on #626
Actually `@ignore` is not the same as hidden.
Look at issue #1041

[2021-08-06 09:36] zaytsev5 opened #1049 "Tsoa"
I can not get body value when i set for it a 'type', when i set 'interface' it works.
<img width="590" alt="Screen Shot 2021-08-06 at 16 35 03" src="https://user-images.githubusercontent.com/55730701/128490464-69ed109d-6ce8-4df3-bc66-dda789b1d567.png">
it works
<img width="631" alt="Screen Shot 2021-08-06 at 16 35 19" src="https://user-images.githubusercontent.com/55730701/128490506-9d582833-c8c7-

[2021-08-06 12:19] simllll opened #1050 "promise.any not defined as runtime dep"
I have a const promiseAny = require('promise.any'); in my routes.ts which is generated by tsoa, I also have installed @tsoa/runtime package. But this leads to an error like "Error: Cannot find module 'promise.any'".

I checked the package.json of runtime/tsoa..and it seems the dependecy is missing there.

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] su

[2021-08-06 12:42] simllll commented on #1050
Sorry from my side, somehow the package version seems to be mixed up. 3.9 has the dep,.. closing this for now. maybe npm related ;-)

[2021-08-06 12:42] #1050 closed

[2021-08-10 08:41] devnev commented on #1042
The relevant lines seem to be:

[code]

and

[code]

with the concern being `Bracket object notation with user input is present, this might allow an attacker to access all properties of the object and even it's prototype, leading to possible code execution.`

`Object.keys` returns the object's own properties, so I don't see how this allows access to any other properties of the relevant objects. Al

[2021-08-10 13:02] sazalihisham88 commented on #1042
@devnev seems like false positive. i am closing this issue. thanks!

[2021-08-10 13:02] #1042 closed

[2021-08-10 16:06] kibiz0r opened #1051 "promise.any dependency leaks into codegen, requiring pnpm clients to include it as a direct dependency"
pnpm goes to great pains to prevent devs from requiring packages that they don't explicitly depend on, so when `@tsoa/cli` generates this section of `routes.ts`...

[code]

...that will fail if the dev's express app doesn't add a direct dependency on `promise.any`.

This creates a bit of a weird circumstance, where not only is that dependency leaking out, there is also no guarantee that the client

[2021-08-12 00:28] #1030 closed

[2021-08-13 15:44] pedro-l9 opened #1054 "basePath parameter to the tsoa spec-and-routes command isn't used in the routes generation"
Whenever using the spec-and-routes command and passing the --basePath argument the value is correctly considered in the spec generation but not in the routes generation

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a sim

[2021-08-16 02:00] pauliyobo opened #1055 "Windows: Multiple tests failing because of wrong path separator used"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
All tests should pass since I am running them after having cloned the project without modifying anything
## Cu

[2021-08-18 00:04] Nezteb commented on #1038
I ended up figuring this out before the docs were updated. I'll close the issue but first show what I did:

[code]

Thanks @WoH!

[2021-08-18 00:04] #1038 closed

[2021-08-18 13:29] teplinsky-maxim opened #1056 "Error: No matching model found for referenced type ..."
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

## Current Behavior

[code]

My post model:
[code]
which is located at `src/database/entity/Post.ts`,

[2021-08-19 06:13] JimmyBjorklund opened #1057 "tsoa/cli"
Hi thanks for making tsoa/cli and runtime it's really nice.
I have a question would it be possible to make the client backward compatible with tsoa e.g make below work.

  "scripts": {
    "tsoa": "tsoa spec-and-routes -c tsoa.json"
  },

As it is right now i get tsoa not found ;)
Thanks again for great work
Jimmy

[2021-08-19 10:51] WoH commented on #1057
What we export from the `tsoa` package is only the thinnest of wrappers around the `@tsoa/cli`:
[code]

If you want to avoid the `tsoa` package, you should take a look at providing this wrapper yourself.

[2021-08-19 10:53] JimmyBjorklund commented on #1057
We do this for now
"scripts": {
    "tsoa": "node ./node_modules/@tsoa/cli/dist/index.js spec-and-routes -c tsoa.json"
}

[2021-08-19 12:26] #1057 closed

[2021-08-19 18:30] ellis opened #1058 "Support readonly arrays"
Running `tsoa spec` throws an exception when it encounters a readonly array in a type.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

For interfaces such a

[2021-08-23 09:54] WoH commented on #1024
Similar to #1039 we should document this more clearly.

[2021-08-23 22:15] amdave commented on #181
@dgreene1 @egandro mind if we reopen this? I'll explain my use case.

I use [Zod](https://github.com/colinhacks/zod) for validation. It's a bit more robust than tsoa's validation, and the methods in our service layer aren't always called through an API. Sometimes they handle pub/sub messages, are run from scripts, or are invoked by other systems that bypass the REST endpoint.

I'd like to avoid ha

[2021-08-23 22:18] amdave commented on #181
I'd like to keep using tsoa annotations because they provide excellent API documentation. Just without the validation.

[2021-08-24 07:07] karlismelderis opened #1060 "Method descriptors do not support variables"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior

we tried to reuse existing variable/const/enum in Method and Path but path end up as `undefined` in OpenAPI sp

[2021-08-24 10:09] WoH commented on #1060
We will not be able to statically analyze arbitrary variables (for obvious reasons), but the enum or consts that are defined in the same file should work.

[2021-08-24 10:19] WoH commented on #1060
What we need is an additional case here:
https://github.com/lukeautry/tsoa/blob/d016cfc2d1d5a200777c9c715d7e894b2c6b2de3/packages/cli/src/metadataGeneration/initializer-value.ts#L4

Which looks for PropertyAccessExpression where you can either check the `Type`, which should be (based on flags) a `StringLiteral` with a value, or check if the Symbol has a `valueDeclaration` of kind `SyntaxKind.EnumM

[2021-08-24 11:14] ra100 commented on #1060
Hi @WoH  I started to look at it, but took a different turn, would this be acceptable as partial solution?

https://github.com/ra100/tsoa/commit/36379bb8b35ee655b480a9fc9b46f270de2111ff#diff-1197e792461515aaa55fe7e4150b036cae3a633207d7185e4b592cee92f67438R67-R76

https://github.com/ra100/tsoa/commit/36379bb8b35ee655b480a9fc9b46f270de2111ff#diff-9a480fd48e2143ce29e9efdbbae10036ff73e84aea7cd2739c47c

[2021-08-24 11:23] WoH commented on #1060
Your solution is in fact preferable, since I assumed from my flawed memory that we were already extracting the path via `getDecoratorValues`, which we didnt't do. Ideally, you could add a test for the Enum example, so we cover that as well.

[2021-08-24 11:34] ra100 commented on #1060
Ok, will add the enum test too. Should I add some units too, or just these integration will cover it?

[2021-08-24 12:04] WoH commented on #1060
https://github.com/lukeautry/tsoa/blob/master/tests/unit/swagger/pathGeneration/getRoutes.spec.ts

This already has most of the setup you'd want, making sure the relevant routes exist would be helpful.

[2021-08-24 12:07] WoH commented on #1060
Roughly something like:

[code]

[2021-08-24 13:24] oreporan commented on #1041
any updates here?

[2021-08-24 15:52] WoH commented on #1041
You can allow this via index signature. Any other idea doesn't align well with the goal of bringing implementation and spec together as close as possible. For my personal taste, we've already wandered off that path too much.
Another possible approach is to move this from a body property to a hidden query parameter.

[2021-08-24 17:51] ra100 commented on #1060
I hope it looks better now. And does it make sense for this case to figure out some negative tests? :)

[2021-08-24 17:52] gitizenme commented on #937
👍  would like this to be implemented

[2021-08-25 13:08] oreporan commented on #1041
can you point me to an example regarding index signature?

[2021-08-25 13:11] dgrdl commented on #862
I am running into this exact same problem with tsoa 3.9.0 when using enums in [Prisma](https://github.com/prisma/prisma). Prisma generates types that look somewhat like this:

[code]

which produces the same error when put into a model:

[code]

I can confirm that the possible solution provided by @m-doi2 gets rid of the error and seems to produce correct routes and specs for the simple example ab

[2021-08-25 13:59] #1060 closed

[2021-08-25 14:03] WoH commented on #1056
imports from `@entity/*` are not part of your program, please check your tsconfig.

`tsc --listFilesOnly` may be helpful

[2021-08-25 14:06] WoH commented on #1051
I cba to find out, but would a peerDep work?

[2021-08-25 14:09] WoH commented on #1045
It's impossible to find out what the header name will be at compile time (which is a prerequisite for us to generate a static OpenAPI spec), so this will not work.

[2021-08-25 14:09] #1045 closed

[2021-08-27 08:56] derolf opened #1063 "Please make operationId optional per configuration"
From the swagger specs: `operationId` is an optional unique string used to identify an operation. If provided, these IDs must be unique among all operations described in your API.

Please make the generation of `operationId` optional via `tsoa.json`, so that we can disable it.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

[2021-08-27 15:37] gfox1984 opened #1064 "'bodyParser' is deprecated"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Current Behavior

I have followed the guide to get started and when I create app.ts with the supplied code, I have a "deprecated

[2021-08-27 17:43] #1064 closed, assigned to nobody

[2021-08-28 00:25] #1039 closed

[2021-08-29 09:13] pauliyobo commented on #1029
Hello, I would like to take this on, but I believe I need some clarification.
@laktak am I correct on assuming you would like the text of the default response to be set to the value of the @returns jsDoc comment?
If so, what should the behaviour be if @response and or @SuccessResponse are present?

[2021-08-29 09:41] pauliyobo commented on #1022
Hello.
@kvet
Using isLong will achieve the result you are expecting.
Is there a reason that requires you to use both isInt and format?
Also documentation says:

I hope this helps.

[2021-08-29 22:13] laktak commented on #1029
I'd expect @returns to define the return value in case the function completes successfully (as HTTP Code 200). So if SuccessResponse is specified I'd expect it to overwrite jsdoc returns but @Response would have no conflict.

Thanks for looking into this!

[2021-08-30 16:35] derolf opened #1066 "How to properly model oneOf?"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

## Expected Behavior

[code]

should generate a `oneOf`:

[code]

## Current Behavior

It generates `anyOf`:

[code]

[2021-08-30 17:03] WoH commented on #1066
#917

[2021-08-30 17:03] #1066 closed

[2021-08-30 17:31] daniimara opened #1067 "Intersection scenario missing fields on the swagger.json"
For the intersection scenario below, the fields `active` and `results` are missing on the swagger.json generated:

[code]

![image](https://user-images.githubusercontent.com/7141889/131377853-37a49b22-1637-4dcf-b26b-5f83b8b844b0.png)

## Sorting

- **I'm submitting a ...**

  - [ x ] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [ x ] used the [search](https://

[2021-08-31 09:15] WoH commented on #1046
Feel free to submit a PR

[2021-08-31 09:35] tsimbalar opened #1068 "Typescript union of `number` generates `string` enum in swagger"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Given a type defined as

[code]

I would expect it to generate OpenApi.yaml schemas such as :

[code]

## Cur

[2021-08-31 12:52] #1022 closed

[2021-08-31 12:53] kvet commented on #1022
No, the original idea was to just set int64 somehow. And as I haven't found isLong prop, just tried that was "evident" for me.

Thanks for the reply!

[2021-08-31 19:14] alexandervandekleutab opened #1069 "compatibility with esbuild"
When importing stuff like `Route`, `Body`, etc from `tsoa`, bundling code with esbuild fails and tries to use `tsoa` as the cli.

## Sorting
  - [x ] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [ x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Steps to Reproduce

- ins

[2021-08-31 22:15] pauliyobo commented on #1031
Hello.
Since undefined does not really have a type in json schemas, should that be considered like the null keyword is, or what should it resolve to, if anything?

[2021-09-01 11:23] WoH commented on #1031
I believe the best way would be:
On responses: To void
On parameters (Query/header):
  - if bare: remove
  - if union with T: mark parameter as optional
On properties:
  - if bare: remove the property
  - if union: mark the property as optional

[2021-09-01 11:42] WoH commented on #1067
Seems like we should consider intersection and union scenarios.
Your suggestion is good, but it should not only consider the one use case you describe.
If we encounter an intersection, we need to get properties from all n branches recursively.
Similarly, in case of a union, we should get properties from all n branches and mark them as optional (?).

[2021-09-01 17:39] pauliyobo commented on #236
I am unsure  on whether this issue is still relevant but just wanted to also say I'd love to help as much as I can to contribute.
If you're still looking for more maintainers I'd love to help on that front too, although I've never been a maintainer so I am inexperienced.

[2021-09-02 14:25] #1029 closed

[2021-09-02 14:59] pauliyobo commented on #1003
@WoH I think I have an idea of how to fix this. The problem is that the warning that is displayed will be displayed only if the environment is not a testing environment.
https://github.com/lukeautry/tsoa/blob/6d14c1cae2044b12f66bcfcd5423bb2c93589e2c/packages/cli/src/swagger/specGenerator.ts#L139-L150
Should anything be done about that, or can I just simply submit a patch  by changing the message d

[2021-09-02 18:48] laktak commented on #1029
Thanks @pauliyobo :+1:

[2021-09-03 12:20] Dancia opened #1071 "@example 0 does not work"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior

[code]

[code]

## Possible Solution

I think there might be a
[code]

[2021-09-03 15:36] akc42 commented on #1064
@WoH Again I don't understand the decision to close.  As I pointed out in #52314 I am NOT using express and I don't want to import it just to avoid a depreciation warning.  I am using it like this

[code]
Why is this depreciated?

[2021-09-03 18:43] Akshansh99 commented on #1071
Hey!
Can I work on this issue?

[2021-09-05 00:29] #1047 closed

[2021-09-05 15:51] WoH commented on #1068
I suspect this happens when we transform to yaml. Does a spec JSON have numbers?

[2021-09-06 09:28] tsimbalar commented on #1068
I just gave it a try by switching `yaml` to `false` in `tsoa.json`.

The generated `swagger.json` looks like this :

[code]

so the `enum` members are generated as `string`s , not numbers in the JSON as well.

[2021-09-07 09:13] rnarayana opened #1072 "TypeScript 4.4 unknown in catch"
TypeScript 4.4 defaults to type unknown in catch block (it used to be any by default). This causes failure in `strict` mode unless `useUnknownInCatchVariables` is set to false in `tsconfig.json`.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issu

[2021-09-07 18:55] derolf commented on #671
AllOf: That’s just wrong.

[2021-09-08 17:26] WoH commented on #671
That's what I thought. But I'm sure once you read this discussion and the referenced threads, you'll understand how TypeScript handles union types by default and the implied complexity of oneOf validation without discriminators you seem to be suggesting. But be careful, you may eventually end up changing your preference (like me)  and start leaning towards modeling TS Unions as anyOf, or at least

[2021-09-08 17:28] derolf commented on #671
@WoH , what I actually did was dropping TSOA and using https://github.com/Eywek/typoa . Works like a charm!

[2021-09-08 17:32] WoH commented on #671
I'm sure there are no security holes and spec violations in there at all!

[2021-09-08 17:34] derolf commented on #671
Btw. how do you model 'type AorB = { a: number, b: string } | { a: string }` in TSOA?

[2021-09-08 17:44] derolf commented on #671
Btw. reading through the thread: The alternative solution of turning a type union in a weird allOf, would have been to make TSOA bark if it finds a "type union" that would create a problem with oneOf.

Just imagine how a codegen would turn that allOf back into code.

It would turn `A | B` -> allOf -> `Partial<A> & Partial<B>`, which is completely wrong.

[2021-09-08 19:31] fantapop commented on #671
@derolf Are you talking about `allOf` or `anyOf`?  I thought `allOf` was the least contentious of them.

from open api spec [here](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/): `allOf – validates the value against all the subschemas`

In TSOA intersection is converted to `allOf` not union. See [here ](https://github.com/lukeautry/tsoa/blob/7c05b4d3f67c313752d38e0efc682

[2021-09-09 06:23] derolf commented on #671
What about a compromise?

Usually, when one uses a union, the rational is most of the time indeed to model some xor-kind of relationship.

If TSOA detects “conflicting” properties that rule out that two subtypes can coexist, it could generate oneOfs.

[2021-09-09 06:55] fantapop commented on #671
@derolf Can you give an example of the type and what you're hoping the outcome of the TSOA transformation would be?  The code that transforms unions has a number of different cases depending on how many there are and whether they're nullable or not.  It's somewhat complex.  Another ideal is that the generated output can then be run through the OpenAPI codegen process to regenerate the same or func

[2021-09-09 14:12] ilbonte opened #1074 "Not able to make it work"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I'm expecting tsoa to generate a swagger with my routes but instead i get an empty swagger.
I'm only interest

[2021-09-09 22:09] pauliyobo commented on #1074
Hello.
@ilbonte tsoa does not support metadata generation using arrow functions, you must use function declarations instead.
Also, there is no need for you to pass the request and response parameters to the controller method, those will be generated automatically in the final generated routes file, unless you have reasons for attempting to use it that way.
I hope it helps.

[2021-09-10 05:46] ilbonte commented on #1074
Thanks a lot for for the answer @pauliyobo! I'll try with your suggestions after work :)

Didn't found this in the doc... Maybe it should be added

At the moment I'm not planning to generate Routes but instead write the routes by myself. Will it be a problem? (Actually this is a project that is already started hand has already many routes)
Example of a route that I have:

[code]

[2021-09-10 10:22] WoH commented on #1074
You might want to take a look at [the IOC module docs](https://tsoa-community.github.io/docs/di.html#ioc-module) on how you can make that work.

[2021-09-10 13:31] ilbonte commented on #1074
Thanks, I'll look in that!

[2021-09-10 13:31] #1074 closed

[2021-09-11 12:05] pauliyobo commented on #945
Hello. I believe this issue should be closed, as I see the PR that was merged included this issue in the list of issuses that it would fix.

[2021-09-11 13:47] #1072 closed

[2021-09-11 13:55] WoH commented on #1069
If this is not a misconfiguration, I'd suspect this would more likely be an esbuild issue.

[2021-09-11 14:01] WoH commented on #945
Seems like that is the case.
@tsimbalar please ping me if this is still an issue, and I'll reopen.

[2021-09-11 14:01] #945 closed

[2021-09-11 18:12] itsjxck opened #1076 "RegisterRoutes try/catch error is of type 'unknown'."
The `error` in the `try/catch` of the template for `koa` middleware is missing `any` type which causes TS (`v4.4.3`) to throw `error TS2571: Object is of type 'unknown'`.
https://github.com/lukeautry/tsoa/blob/9ea032adb7a0885305cb8d6793a9b660fee45592/packages/cli/src/routeGeneration/templates/koa.hbs#L85

Edit: Also spotted these which are likely to cause the same issue with `hapi` and `express`:

[2021-09-12 00:30] #1049 closed

[2021-09-14 09:30] #1076 closed

[2021-09-14 09:31] #1058 closed

[2021-09-14 21:18] kibiz0r opened #1078 "tsoa's package.json should use specific versions of @tsoa/runtime and @tsoa/cli"
Trying to downgrade the `tsoa` package to a previous version ends up having no effect, because it delegates all of the important work to `@tsoa/runtime` and `@tsoa/cli`, which will always be on the latest (minor) version.

Consumers who use a flat dependency manager can work around this easily by explicitly depending on the sub-dependency versions they need. Isolated dependency managers like pnpm

[2021-09-14 21:23] WoH commented on #1078
That is what we want (not depending on a specific version, but a range), in all cases where I don't decide to break bw compat in a SemVer patch accidentally.

[2021-09-14 21:53] nikosgpet commented on #834
Wondering if there is any update, because I just had the same issue.

[2021-09-14 22:28] nikosgpet opened #1079 "@Example doesn't read value from an imported variable"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

This is a repost of issue https://github.com/lukeautry/tsoa/issues/834 because I don't think it has been addr

[2021-09-15 12:57] dderevjanik opened #1080 "Fileupload using octet-stream"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Right now, is not possible to upload file using `octet-stream`, only by using `@UploadedFile` which is `multi

[2021-09-15 14:59] kibiz0r commented on #1078
I definitely want to rely on semver, as a consumer, but I also need to have an escape hatch and I don't have that here. Every version of `tsoa` from 3.3.0 to the latest is functionally equivalent to the latest, cuz the parent package doesn't really do anything except grab the latest implementation. If it had some logic of its own, it would make sense to grant the underlying stuff the freedom to mo

[2021-09-15 15:05] pedro-l9 commented on #1054
No D:

[2021-09-16 22:53] gaggle opened #1081 "Can't find a way to return a pdf binary"
## Sorting

- **I'm submitting a ...**

    - [ ] bug report
    - [ ] feature request
    - [x] support request

- I confirm that I
    - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue
      hasn't already been submit

## Expected Behavior

I'd like to return a PDF from an endpoint and have the Swagger UI reflect the Media Type for th

[2021-09-17 01:25] marklawlor opened #1082 "tsoa does not implement the OpenAPI spec for root level security"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

The OpenApi Spec (both v2 & v3) allow for a root level `security` to specify a `securityDefinition` to be use

[2021-09-17 10:01] RobertoGeuke opened #1083 "Issue's when running tsoa with runtypes package"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
I'm using the [runtypes](https://github.com/pelotom/runtypes) package for runtime validation of objects coming

[2021-09-19 11:56] gaggle commented on #1051
For now I've had to install promise.any as a dependency, so I think peer dep would probably have given me a warning to indicate the issue.

I can't speak for those who need this feature as my runtime (Node 16) supports Promise.any, but I'd argue it's possible the easiest way out of this for the maintainers and your users is to simply remove the need for the shim and increase the lowest supported N

[2021-09-19 15:18] WoH commented on #1051
Node 14's EOL is April, 2023. At that point certainly.

[2021-09-20 12:29] DjakaTechnology opened #1085 "Property Level Vendor Extension"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Allow us to generate vendor extension on property's attribute:
[code]

[code]

## Current Behavior

Currently

[2021-09-20 16:52] gaggle commented on #1081
Sounds like this duplicates https://github.com/lukeautry/tsoa/issues/968

[2021-09-20 23:03] aleneri97 opened #1086 "Bug on JSDoc tag @author"
Running `tsoa spec` with comments contain [JSDoc Tag](https://jsdoc.app/tags-author.html) `@author`, I get the following message:

[code]

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been

[2021-09-20 23:15] aleneri97 opened #1087 "Bug on JSDoc tag @author"
Running `tsoa spec` with comments contain [JSDoc Tag](https://jsdoc.app/tags-author.html) `@author`, I get the following message:

[code]

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been

[2021-09-21 01:25] dbryar commented on #698
I know this is closed, but for some reason nothing in this or #79 was fixing the errors in building with multiple matching definitions of basic TypeScript elements like `Omit`.

Instead of ignoring the entire code base for node_modules, requiring locally typed interfaces, try just ignoring the `@type` libraries as they seem to double up on a lot of basic type declarations. This works for me, witho

[2021-09-21 12:22] gaggle commented on #1081
FWIW I've ended up with a post-processing script alá this:

[code]

There's a million ways to do it this was just whatever flowed out of my brain, leaving it here in case it helps anyone.

[2021-09-22 14:53] must commented on #1079
+1 on this I'm experiencing the same issue

[2021-09-22 21:26] simllll opened #1088 "minor "bug" with variable assignment of referenceType in typeResolver"
I stumpled upon this code line, it's already there fore 3 years, but it still seems wrong to me:
https://github.com/lukeautry/tsoa/blob/bfa2c9ba1b43d845eb01a954cf9cbf37c529ef76/packages/cli/src/metadataGeneration/typeResolver.ts#L745

everything is assigned to the referenceType from realReferenceType, except the refName which is assinged to "itself".. I guess it's not doing any harm, due to the re

[2021-09-23 12:03] jeremyVignelles opened #1089 "Allow `NodeJS.ReadableStream` as an alias to `Readable`"
I am using `node-fetch`, which declares the body it receives as `NodeJS.ReadableStream` - [See here](https://github.com/node-fetch/node-fetch/blob/8721d79208ad52c44fffb4b5b5cfa13b936022c3/%40types/index.d.ts#L103).

To be able to return such body, I need to write this kind of code, as tsoa detects `Readable` but not the global `NodeJS.ReadableStream` (see [this answer](https://github.com/lukeautry

[2021-09-23 14:28] Trixxi opened #1090 "ts-node and tsconfig-paths/register not working as it should"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
ts-node should use tsconfigs paths.

NOTE: Reason im asking for help in here, its the first libarry, where ive

[2021-09-23 15:34] Trixxi commented on #1090
Found a solution after trying around a few things.
Its sort of a ghetto fix, but it works
Just add ```json
"tsoa": ["node_modules/tsoa/dist"],
"tsoa/*": ["node_modules/tsoa/dist/*"],
[code]

[2021-09-24 11:09] DjakaTechnology opened #1091 "IsType Annotation Support"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior

`@IsType` annotation is not possible

## Possible Solution

Add `@IsType

[2021-09-24 11:38] WoH commented on #1091
See [JSDoc annotations](https://tsoa-community.github.io/docs/annotations.html)

[2021-09-24 11:46] DjakaTechnology commented on #1091
That's exactly my proposal. Currently we only able to set int, float etc through JSDoc or comment. I would like to expand that to type safe annotation too.

Compared to strictly do this:
`/**
* @isInt
*/`
test: number

We give option to write it like this:
`@IsInt
test: number`

The annotation is type safe to its impossible to write a typo.

[2021-09-24 12:30] dPetruniak commented on #993
The same problem with [Cortex](https://www.cortex.io/). It expects `openapi: 3.0.0` on the first row
![image](https://user-images.githubusercontent.com/79448443/134674205-2b8bfc78-2c7d-4d69-9967-8958665d5fbe.png)

[2021-09-26 19:36] Mossop opened #1092 "Broken links in documentation"
1. Visit the reference page: https://tsoa-community.github.io/reference/index.html
2. Click the link to see the example controllers.
3. Broken link.

Same for example models.

[2021-09-27 05:12] #1063 closed

[2021-09-27 06:57] Mossop opened #1093 "Documentation should mention that koa-body is required for use"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

When using with koa it seems that koa-body (or presumably something else that provides a value for `context.r

[2021-09-27 15:26] DjakaTechnology opened #1094 "Allow `@Example` using TypeScript's Decorator"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

[code]

## Current Behavior
[code]

## Possible Solution

Allow decorator to be used for `@Example` n

[2021-09-28 07:09] vincentvanderweele opened #1095 "Sort arrays and objects in generated swagger file"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

We check the generated swagger spec into source control because it is a convenient way to glance over API cha

[2021-09-28 10:19] megmut commented on #1079
+1 I have this issue too.. can we get any input on this please? :(

[2021-09-29 00:28] #1024 closed

[2021-09-29 14:24] WoH commented on #1095
I personally think of the spec as a build artifact, but that shouldn't prevent you from treating it differently.
I assume the issue is w/ regards to the paths, likely with the components as well?

[2021-09-29 14:27] WoH commented on #1092
I've moved this over to [tsoa-community/reference](https://github.com/tsoa-community/reference).

[2021-09-29 14:27] #1092 closed

[2021-09-29 14:30] WoH commented on #1088
https://github.com/lukeautry/tsoa/pull/1084 covers this

[2021-09-29 14:34] WoH commented on #1085
Since we have an `Extension` decorator, this makes sense imo. Ideally, we should also read from an `@extension` JSDoc tag to cover interfaces.

[2021-09-29 14:35] WoH commented on #1083
These type queries are somewhat trickier to resolve, as they're only available as type information as provided by the type checker. But if someone wants to take a stab at this, I'd be happy to support this.

[2021-09-29 14:38] WoH commented on #1093
Can you please file this [here](https://github.com/tsoa-community/docs)?

[2021-09-29 14:38] #1093 closed

[2021-09-29 14:40] WoH commented on #1091
I see. Personally prefer to keep the amount of different approaches between Classes, Interfaces and Aliases lower (which affects the amount of maintenance, so I'm biased), but if there's more demand for it, we should consider it.

[2021-09-29 14:42] WoH commented on #1081
Yes, that's how we should support it.

[2021-09-29 14:43] WoH commented on #1069
Guess I was wrong, seems like ts-node has similar issues: https://github.com/lukeautry/tsoa/issues/1090
Marking this as a bug.

[2021-09-29 14:45] WoH commented on #1041
[code]

[2021-09-29 19:14] grahamplata opened #1097 "tsoa cli dependency vulnerability"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

tsoa doesn't contain high `HIGH SEVERITY` cve through dependencies

## Current Behavior

Snyk Flags `tsoa@3.1

[2021-09-29 19:34] DjakaTechnology commented on #1085
Sounds good, I'll create a PR that read from both extension and JSDoc soon

[2021-09-30 06:07] DjakaTechnology commented on #1091
I see, that's a good point, I think this `is{Type}` decoration is not needed yet as we can use type aliases if we don't want jsdoc

But I think there's different case with the decorators that already exist in `@tsoa/runtime`. When I tried tsoa, I immidiately expect that I can use decorator that exist there in almost anywhere that support it (and align with OpenAPI spec) so my first instinct was us

[2021-09-30 06:58] vincentvanderweele commented on #1095
Yes @WoH this is mainly about definitions and paths. Probably also about responses and security definitions, although they don't change so often.

I definitely agree with you that the spec is a build artifact and since order of definitions and paths has no semantics, it doesn't need to be Tsoa's responsibility to output them in stable order. So if this is not something you want in Tsoa, that would

[2021-10-01 08:50] panwauu commented on #948
Were you able to resolve the issue?

[2021-10-01 10:36] midoelhawy opened #1099 "Tsoa @UploadedFile and @FormField return undefined"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [X] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

__________________________________________________________________________________________________

I have a problem with Tsoa node

[2021-10-02 12:04] fwiedmann opened #1102 "OpenAPI extension"
Hey!

What are your thoughts about adding the possibility to define spec extension in the tsoa.json?

https://swagger.io/docs/specification/openapi-extensions/

For example I would like to add the x-logo field in the info object.

[2021-10-02 12:09] fwiedmann commented on #1102
Sorry that I didn't fill the default issue template. I'm in the GitHub Mobile App and no template was shown.

[2021-10-02 12:14] WoH commented on #1102
My thought is that's already possible.

[2021-10-02 12:23] fwiedmann commented on #1102
How? 😊

[2021-10-02 12:36] fwiedmann commented on #1102
As far I understood the source code that the info object will only be generated from the information in the package.json.

[2021-10-02 13:00] WoH commented on #1102
https://github.com/lukeautry/tsoa/blob/master/packages/runtime/src/config.ts#L128 ff

[2021-10-02 13:00] #1102 closed

[2021-10-02 13:03] fwiedmann commented on #1102
Thanks, I've missed the specMerging field!

[2021-10-02 14:17] nitinpverma commented on #453
Hi @pauliusg, I am also in same boat. Did you find a way to have two method versions with same endpoints?

[2021-10-04 02:04] thomasskk commented on #996
any update about this ?

[2021-10-04 06:14] fwiedmann commented on #1102
So I've tried to add the `x-logo` extension field and specified `specMerging`.

In the `tsoa.json`:

[code]

After running `tsoa spec`, the generated spec does not contain the x-logo field.

[2021-10-05 07:05] fwiedmann opened #1103 "@WoH So I've tried to add the `x-logo` extension field and specified `specMerging`."
@WoH  So I've tried to add the `x-logo` extension field and specified `specMerging`.

In the `tsoa.json`:

[code]

After running `tsoa spec`, the generated spec does not contain the x-logo field.

_Originally posted by @fwiedmann in https://github.com/lukeautry/tsoa/issues/1102#issuecomment-933174109_

[2021-10-06 00:47] jpmtrabbold opened #1105 "SST Support"
If tsoa provided support for [SST](https://docs.serverless-stack.com/) out-of-the-box, it would acquire even more relevance in the market!

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been

[2021-10-06 12:25] vincentvanderweele commented on #1095
I decided to go for a separate tool after all. I think you are correct that sorting the spec does not belong in tsoa. Feel free to close this issue.

For interested future visitors, I now use [json-sort-cli](https://www.npmjs.com/package/json-sort-cli) but I'm sure there are similar tools out there.

With json-sort-cli building the spec now becomes:

[code]

[2021-10-06 16:51] HonzaMac commented on #1105
Could you provide more info which steps do you do manually?

[2021-10-07 08:52] #1079 closed

[2021-10-07 14:38] panwauu opened #1106 "Problems with Line-Endings in Git after rebuild of spec"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Two rebuilds should not lead to a git diff.

## Current Behavior

If I change branch and rebuild the swagger.

[2021-10-08 14:01] WORMSS opened #1107 "@ExampleRequestBody to to used like @Example for response"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

## Current Behavior

not possible to add example requests, only on response. which isn't helpful here

[2021-10-10 21:53] jpmtrabbold commented on #1069
Also, info from [here](https://github.com/evanw/esbuild/issues/560):

From [node's documentation](https://nodejs.org/api/all.html#modules_accessing_the_main_module):

So - would you guys be okay to try to use `require.main === module` instead of `!module.parent`?

[2021-10-10 22:08] WoH commented on #1069
TL;Dr: Yes, feel free to send a PR.

It's a better/recommended way of checking anyway and has no compatibility impact. Not sure why esbuild seems to strip that out (?).

[2021-10-10 22:20] jpmtrabbold commented on #1069
@WoH great! PR done, tests passed. The PR is minimal, but let me know if you have any problems with it. Thanks

[2021-10-11 09:30] #1085 closed

[2021-10-11 10:02] DjakaTechnology commented on #1094
Hey @WoH wdyt about the point that I made in the other issue?

https://github.com/lukeautry/tsoa/issues/1091#issuecomment-930813032

[2021-10-11 10:35] WoH commented on #1094
I am fine with supporting `@Example` as a property decorator, as well as a class decorator. Do you want to send a PR?

[2021-10-13 08:52] WoH commented on #490
I think that would be wonderful. Would you be interested in submitting a PR [here](github.com/tsoa-community/docs)?

[2021-10-14 12:39] oreporan opened #1111 "multer opts"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - [X] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Have the ability to pass [multer opts](https://github.com/expressjs/multer#multeropts)

## Current Behavior

C

[2021-10-14 16:38] foglerek commented on #1090
I ran into something similar, and the issue was that `tsoa.json` was being pulled in when `import { Controller } from 'tsoa';` was evaluted, rather than the npm package. Adding an alias for `tsoa` pointing to `node_modules/tsoa` fixed this.

[2021-10-14 19:51] midori0507 commented on #872
+1 this is annoying

[2021-10-15 06:00] pauliyobo commented on #1106
Hello.
@panwauu
It looks like your line endings configuration are set to CRLF, while tsoa utilizes LF, which may lead to the issue you are facing
Consider giving a look [here](https://git-scm.com/book/it/v2/Customizing-Git-Git-Configuration#_core_autocrlf) to see how to change your line endings.
Hope this helps

[2021-10-15 10:04] tristanwagner opened #1112 "Passing custom stuff from controller to template"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Detailed Description

Hello,

I'm currently trying to use tsoa with fastify and I'm wondering how can I pass some schema (see th

[2021-10-15 15:16] tristanwagner commented on #1112
Alright thanks for your response really appreciated

[2021-10-15 15:16] #1112 closed, assigned to nobody

[2021-10-15 19:31] yuval-po opened #1113 "Feature/Suggestion: Allow requiring controller actions security"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Suggested Behavior/Rationale

It would be useful to allow enforcing controller security via tsoa.json to ensure all actions are

[2021-10-16 13:38] WoH commented on #1111
Would you be interested in sending a PR for that?

[2021-10-16 16:18] yuval-po commented on #1113
Gotcha. That gives me a clearer image of your definition of TSOA's responsibilities. Thank you for the answer and suggestion, I'll definitely give 'spectral' a look.

Closing the suggestion to avoid cluttering your board.

Thanks!

[2021-10-16 16:18] #1113 closed, assigned to nobody

[2021-10-18 09:54] #1106 closed, assigned to nobody

[2021-10-21 00:35] #1078 closed

[2021-10-21 14:09] Muratcol opened #1114 "How can I create nested routes?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Being able to create nested routes with tsoa

## Current Behavior

here is a controller that I am currently u

[2021-10-25 00:32] #1051 closed

[2021-10-29 12:23] Jassi10000 opened #1116 "Request to add a github action to the repo"
Feature request :
This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome contributors on their each issue and PR so as to make repository more interactive

If you love the idea , please a

[2021-10-29 18:17] dustin-relicx commented on #1082
Bump. This would be really great for us.

[2021-10-29 18:35] WoH commented on #1082
@dustin-relicx would you like to volunteer for a PR?

[2021-10-29 19:29] dustin-relicx commented on #1082
@WoH I floated me tackling this as an option and we'll see if I'm given the time.

I don't really understand your second part. I think the original suggestion makes sense since it's a root-level configuration that's mapping closely with the actual OpenAPI spec. But I barely know what I'm talking about 😂

[2021-10-30 15:06] WoH commented on #1116
Would be a nice addition, please go ahead 👍🏽

[2021-10-30 18:11] Jassi10000 commented on #1116
For this the assignment is not needed  ?

[2021-10-30 20:00] WoH commented on #1116
We usually don't assign tasks.

[2021-10-31 01:03] mp205 commented on #353
any update on this?

[2021-10-31 07:32] Jassi10000 commented on #1116
Ok sure , will send a PR soon

[2021-11-01 13:45] #1116 closed

[2021-11-01 14:04] midoelhawy commented on #1099
The problem still exists

[2021-11-01 14:07] WoH commented on #1099
I'm not sure, but manually setting up multer again may be the reason maybe?

[code]

Seems fine.

[2021-11-03 03:56] ugrg opened #1120 "Destructuring parameter missing"
## Sorting
  - [*] bug report
  - [ ] feature request
  - [ ] support request

## Expected Behavior
Correct generation parameter list
正确的生成参数列表。

## Current Behavior
目前情况是运行时报错，显示session无法从undefined中解构
TypeError: Cannot destructure property 'session' of 'undefined' as it is undefined.

## Possible Solution
可以考虑为匿名变量生成一个别名，而不是现在的undefined.
Generate an alias for the anonymous variable instead of und

[2021-11-03 14:30] WoH commented on #1120
Is it correct to assume `@Pose` is a typo in the description, not the source?

[2021-11-03 14:52] ngaer commented on #862
I'm having the same issues on the latest version (v.3.14.1) as well. I also use Prisma which generates enum types like described above:
[code]
And it gives me the same `Error: Unknown type: IndexedAccessType` error.

I tested it using #799 version and it also produces the same errors.

And I could also confirm what the fix suggested by @m-doi2:
[code]
resolves the issues and produces correct types

[2021-11-03 15:25] WoH commented on #862
Afaik we resolve `keyof typeof T` correctly via the type the compiler infers. However, the proposed piece of code breaks down quickly if the index type (`keyof (typeof MessageState)`) is not the `keyof` of the object type (`(typeof MessageState)`).

Or, a quick test that'd have to pass:
[code]

The code proposed generates JSON Schema for `Incorrect`, as it simply discards the object type, which wi

[2021-11-03 16:41] ngaer commented on #862
Ok, I see.

Maybe you have some ideas about what needs to be changed to cover the "different index type" case as well? I'm not really experienced in type analysis and unfortunately can't change the type definitions cause they come from Prisma.

And I guess in either case we should reopen the issue since the problem still can be reproduced.

[2021-11-03 17:17] WoH commented on #862
Please open a new issue, just for this problem, and I'll tag it properly.

[2021-11-03 20:02] ngaer opened #1122 "Error: Unknown type: IndexedAccessType"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

The problem already was discussed in #862. Type resolver throws this error when you use a type like this:

[c

[2021-11-03 20:55] alexandervandekleutab commented on #944
I'm not in the position to help implement this, but I also encountered a need for this feature today.

[2021-11-03 21:34] WoH commented on #944
Have you tried jddoc at the method level? This is how you're supposed to annotate parameters generally speaking.

As in
[code]

[2021-11-04 00:29] #1081 closed

[2021-11-04 00:29] #1088 closed

[2021-11-04 11:23] cheng81 commented on #948
Sounds like I'm late to the party, but in my company we want to use `tsoa` and would really love to be able to use custom middlewares, so I made a PR to do just that, and I would love some feedback.

[2021-11-04 15:55] dasdachs opened #1124 "[Recursive types] TypeError: Cannot read property 'forEach' of undefined"
When using a return type that is defined as a recursive type the `typeresolver` can not generate the metadata and throws `TypeError: Cannot read property 'forEach' of undefined`.

## Sorting

- **I'm submitting a .**

  - [x] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure th

[2021-11-05 10:27] AudunWA opened #1125 "The @Example decorator doesn't work with Date constructor arguments"
The `@Example` decorator doesn't work when providing Date objects with the `(year: number, month: number, date?: number, hours?: number, minutes?: number, seconds?: number, ms?: number)` constructor.
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=I

[2021-11-06 03:02] marklawlor commented on #1082
@WoH Can you post a video example of your suggestion? I don't quite understand.

Within the spec `security` is on the root of the document, I think putting it within a decorator might lose its context, and cause people to mistake it with the route level `security` attribute.

[2021-11-06 09:03] WoH commented on #1082
My proposal was to extend the tsla config's security definitions iirc.

[2021-11-06 14:37] mrl5 commented on #59
I know that it's closed however I was able to reproduce and then fix - I guess it would be nice to share it here in case someone is affected:

[code]

so JSDoc started working after I did this:
[code]

[2021-11-06 20:47] mrl5 opened #1126 "support: how to set correct content type in generated oas3"
Endpoint returning `text/plain` has a corresponding tsoa generated oas3 `content` set as `application/json`.

Is there any way to have a accurate `content` in generated `swagger.json`?

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make

[2021-11-06 20:49] mrl5 commented on #1126
the API response has correct content type:
[code]

[2021-11-06 21:10] mrl5 commented on #1126
I guess the most related issue to mine is https://github.com/lukeautry/tsoa/issues/224

I'm not sure if I can do anything to achieve my goal though ...

[2021-11-07 01:01] WoH commented on #1126
#968 is the open issue for this

[2021-11-07 15:09] mrl5 commented on #1126
thanks @WoH - closing this one to avoid duplicates

[2021-11-07 19:27] Hi-Fi commented on #1031
I actually made some tried related to this, and currently swagger generation works fine, and 7 GET route generation tests are failing. Code isn't pretty, but as this feature is needed I'll try to form PR of it next week. If e.g. @foglerek doesn't have something already available?

[2021-11-07 22:47] mrl5 commented on #968
if I understand correctly @pittenga description is about **request** body media type.

I was redirected here because I was asking for a way of setting **response** content type.

@WoH is it OK to provide PR for my usecase (**response** not request) linked to this ticket or should I create a separate one that strictly describes my usecase? (I have already a working draft here: https://github.com/mr

[2021-11-07 22:52] WoH commented on #968
Yeah my bad, the confusion is because I remembered this issue and sent you here. Please send a PR for response content types, I'd be happy to review. You can create a new issue and link it in the PR, but I know what it'll address regardless.

[2021-11-07 22:56] WoH commented on #1031
Please send the PR and I'll review what needs to be done for it to work well if needed.

[2021-11-08 12:18] jeremyVignelles opened #1128 "`Buffer` response is serialized as a json"
I have an API that returns a buffer, in the same way as it's done here:

https://github.com/lukeautry/tsoa/blob/b3dca8593770fa8d698ed745ed96932b8e8b2d13/tests/fixtures/controllers/getController.ts#L182

However, the response I receive looks like this:

[code]

## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used

[2021-11-08 21:06] mrl5 commented on #1126
reopened since I'm preparing a PR that solves this

[2021-11-08 21:27] midoelhawy commented on #1099
I don't think so, because currently I'm using multer in request object to get around the problem.
i am using `@UploadedFile () file: Express.Multer.File,` just to show the input type file in the swagger interface, but the upload management I handle it outside of TSOA

[2021-11-09 08:05] ra100 opened #1130 "Projects importing TSOA report Critical CVE finding"
When I run `yarn audit --level critical`, I get report
[code]

I see yarn.lock in tsoa has latest handlebars, but package.json has old. Updating package.json should fix this reported issue.

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to

[2021-11-09 11:42] mosluce opened #1132 "how can I add callbacks to spec?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I want to add callback document like below by code

[code]

## Current Behavior

I could not find solution by

[2021-11-10 09:08] #1103 closed

[2021-11-10 09:44] Kampfmoehre commented on #712
hi, I just want to add that tsoa currently has a problem when using @link in jsdoc. We had a @link pointing to a web URL and apparently tsoa tries to resolve it as code since we upgraded TypeScript from 4.2.4.

I am not sure if is intended to use @link tags for real web links so I won't open a bug for this. Just stumbled upon it and leave it here in case someone other also spends some time trying

[2021-11-10 12:49] fwiedmann commented on #1103
[code]

[2021-11-10 12:49] fwiedmann commented on #1103
This worked now for me.

[2021-11-10 18:47] madf12 opened #1133 "Unable to use negative value in Example decorator"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Numeric properties should be able to be negative.

[code]

## Current Behavior

Properties with negative valu

[2021-11-11 12:35] mvitanov commented on #1122
Hey All,

I really like tsoa and am interesting in contributing to it. Would like to give this issue a try  if no one is working on it already.

Thanks!

[2021-11-11 18:37] Hi-Fi commented on #1031
@WoH Any pointers how to get PR working and support for undefined (as bare and in union) to TSOA?

[2021-11-11 18:42] WoH commented on #1031
I'll try to provide actionable feedback as promised over the weekend. After taking a quick glance here's what I can already say: I think it's easier to add a primitive type we can represent instead of working around the symptoms of not having one.

[2021-11-11 20:43] mrl5 opened #1134 "koa integration overwrites content-type of response"
This applies only to koa (express and hapi properly return `content-type`) and is related to this known koa bug https://github.com/koajs/koa/issues/1120 - I've discovered it while working on PR #1129 (https://github.com/lukeautry/tsoa/pull/1129#pullrequestreview-803538341)

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that

[2021-11-11 20:44] mrl5 commented on #1134
I can provide a fix if maintainers agree that it's a bug that can be fixed as proposed

[2021-11-12 03:46] Hi-Fi commented on #1031
Thank you, I'll try that approach. Just noticed that it was discussed earlier in this thread already.

[2021-11-12 18:25] WoH commented on #1134
Seems like a no-brainer, can you open a PR?

[2021-11-12 18:36] #1130 closed

[2021-11-12 18:55] mrl5 commented on #1134
how about pushing additional commit that fixes it to the https://github.com/lukeautry/tsoa/pull/1129 ? this is kind of related and additional benefit is that I can introduce integration tests :)

[2021-11-13 17:36] mr-bjerre commented on #660
Cool @ellis . I'm getting this error

[code]

Any idea why? Maybe some tsconfig?

[2021-11-13 18:08] mr-bjerre commented on #660
I guess it's related to this: https://github.com/vercel/next.js/discussions/30174

[2021-11-13 18:16] mr-bjerre commented on #660
It has just been fixed 1 hour ago in `next@npm:12.0.4-canary.11`. Simply set `experimentalDecorators` to true in `tsconfig.json` and you are good to go.

[2021-11-14 15:37] mr-bjerre commented on #660
@ellis have you managed to handle dynamic routes as well? That's not working with that example?

[2021-11-14 16:02] WoH opened #1135 "tsoa 4: Require TypeScript >=4.1"
I'm thinking about requiring TypeScript >=4.1 for the next major version of tsoa.
However, I would like to gather some feedback before making a final decision.

## Why?

Template Literal Types: We can't use them, or we'd have to ship type definitions for both >=4.1 and <4.1, and I'm not really interested in maintaining both.

## What can you do?
Vote thumbs up if you're on TypeScript >=4.1, or are

[2021-11-14 16:49] mr-bjerre commented on #660
The following _almost_ does the job.

[code]

There's an issue with non-string parameters though. They need to be casted to the correct type but the type definition is only available inside the `FN[]` and we need to cast the params before that.

[2021-11-15 13:13] #1126 closed

[2021-11-15 13:13] #1134 closed

[2021-11-16 12:44] karlismelderis commented on #1120
I think we hit same bug.
at it worked in some past versions.

used to work
[code]

now we need change to:
[code]

[2021-11-16 14:45] alexandervandekleutab opened #1136 "Website link is broken"
- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

On this page:
https://tsoa-community.github.io/docs/decorators.html

The first link for `@Response` links to https://tsoa-community.github.io/d

[2021-11-16 15:53] ngaer commented on #1122
@mvitanov it would be great if you can fix it. I spent several hours on it with no luck, here's [my branch](https://github.com/ngaer/tsoa/tree/bugfix/key-of-keyword) if it can help, it has originally proposed fix and unit tests for both cases.

[2021-11-16 18:00] mrl5 commented on #968
for the record:
1. it's possible to define response media type in generated spec. here you can see all possible ways to achieve this: https://github.com/lukeautry/tsoa/blob/b0cd9533821a7ed76111665ef01b655b62a775e3/tests/fixtures/controllers/mediaTypeController.ts
2. it's still not possible to define request body media type

[2021-11-16 22:55] josselinbuils commented on #1027
Hello, I also need this feature and I would like to help implementing it 🙂

After some tests, it needs:
- Removing the hardcoded string type in `getFormFieldParameter` method and call `getValidatedType` instead.
- Parsing multipart fields before reaching the request handler, using `multer` for example.

It is a working solution but looks like a hack and I'm not sure it is the best one, maybe a spe

[2021-11-17 04:50] E-gy opened #1137 "OIDC Security OpenAPI `openIdConnect`"
Add \[explicit\] support for OpenAPI 3 security scheme with [`type: openIdConnect`](https://swagger.io/docs/specification/authentication/openid-connect-discovery/).

## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar

[2021-11-17 07:23] carlnc opened #1138 "Support local Declaration (.d.ts) Files"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behaviour

In our projects we declare our types in `.d.ts` files.

For example:

(`controllers/person/PersonController.

[2021-11-17 14:49] WoH commented on #1136
Please file/fix this in the [docs repo](https://github.com/tsoa-community/docs/issues).

[2021-11-17 18:22] simonireilly commented on #1105
To elaborate.

It would be good if there was an adapter for API gateway. API gateway already parses events, headers, and query params sending request like below:

[code]

If tsoa could generate functions that perform schema validation and type coercion for the lambda that would be great.

I can provide further feedback, so please ask away 👍

[2021-11-17 19:15] simonireilly commented on #1105
Can I take a look into this, it doesn't look to insane to proof of concept something to support apigateway event format V2 👍

[2021-11-17 19:35] jpmtrabbold commented on #1105
Hey @simonireilly I'm not sure if we are talking about the same thing. So, there's this example for an API in SST:

https://serverless-stack.com/examples/how-to-create-a-rest-api-with-serverless.html

Today, I have to set this manually:

[code]

If tsoa supported SST, we could have something like:
[code]

Obviously, what you said about Api Gateway already parsing things would definitely play a par

[2021-11-17 19:49] maciejgoscinski commented on #1105
I will also provide a little bit of feedback.

Thanks to @simonireilly we've got a [PoC ](https://github.com/simonireilly/poc-openapi) that shows us how use TSOA and SST in the same project, and how to generate a rich OpenAPI spec by merging the ApiGateway and TSOA outputs.

There are, however, a couple of things that we're still looking forward to solve.

1. Right now we don't have the capability

[2021-11-17 20:23] simonireilly commented on #1105
:+1:

Yeah, so I think all these issues would be solved if we had an interface direct to API Gateway like:

[code]

- event.routeKey = 'GET /v1/GetTest/ClassModel'

1. This would do runtime checking
2. Oh, this one is SST specific :+1:
3. I am not sure about this one, cause these security groups VPC's etc, are Infra concerns
4. Yeah, so integrating with APIGateway directly would be the fix for thi

[2021-11-19 13:58] cheng81 commented on #959
@WoH The main benefit, as far as I understand, would be less "surprises": when I started using `tsoa`, I too had a kinda bad feeling about the `authentication` function - it puts the `user` field into the `request` object.

While, in the end, it's not a big problem, it also potentially plays bad with existing middlewares for the various frameworks that perhaps expects authentication data in the "p

[2021-11-20 00:22] mrl5 commented on #968
I started progress on:
1. ability to define multiple `@Produces`
2. introducing `@Consumes` (which is the original subject of this ticket)

PR soon

[2021-11-20 07:45] simonireilly opened #1139 "Middleware: AWS API Gateway V2 Support"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

Replaces: https://github.com/lukeautry/tsoa/issues/971
Enables: https://github.com/lukeautry/tsoa/issues/1105

## Background

AWS A

[2021-11-20 11:25] Mogztter opened #1141 "Exception "Can't support 'refAlias' type." is thrown when using Exclude<Type, ExcludedUnion> with Typescript >= 4.2.2"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

The following definition:

[code]

should produce the following `Tsoa.ReferenceType` with Typescript >= 4.2.2

[2021-11-22 16:08] WoH commented on #1132
I am not aware of any other way to add callbacks. I'm not sure if there's a good way to support this, but I'd be open to ideas that go beyond just introducing a decorator where we stuff all that in.

[2021-11-22 16:14] WoH commented on #1128
https://github.com/lukeautry/tsoa/blob/master/packages/cli/src/routeGeneration/templates/express.hbs#L208

[2021-11-22 20:16] meehawk commented on #1137
Hi @WoH I'd like to take up on this issue. This is my first time contributing to TSOA and any guidance will be awesome

[2021-11-22 20:17] meehawk commented on #1128
@WoH is this still an active issue? If so I'd love to take this up. Any starting guidance would be awesome

[2021-11-22 20:53] jeremyVignelles commented on #1128
I guess it's still an issue as I didn't work on it and @WoH pointed to the right direction just today. I would really like to see it solved 🙂

[2021-11-23 19:13] irstavr commented on #1011
Facing the same issue here - any further insight on this?

[2021-11-23 19:18] irstavr commented on #376
@maxfouquet I see you closed this issue - may I ask if you found any workaround at the end? I'm facing the same issue.. Thank you in advance 🌷

[2021-11-23 21:46] relentlessricktrinidad commented on #1122
Any update on this? We are currently using Prisma to generate our typescript definitions and this issue is preventing us from continuing unfortunately.

[2021-11-24 04:27] ugrg opened #1142 "使用TsoaResponse响应Readable请求时，status无效"
我在尝试使用TsoaResponse发送一个image buffer时，发现无法实现，检查模板后，发现可以使用stream的方式写入。
但在实际写入的时候，发现从TsoaResponse中写入的status并没有生效，而是被设置成了204，导致实际数据无法传递到页面。

 example
[code]
我检查了生成的toutes文件，觉得returnHandler在处理stream类型时，把statussCode丢弃了。建议修改成如下样式：
[code]

[2021-11-24 11:21] brckner commented on #794
Any news on openapi 3.1 support?

[2021-11-24 12:13] WoH commented on #1142
Please open this issue in English, using the issue template, or at least attempting to kinda follow it.
As for the content itself: Yes, please open a PR for this, seems like a bug.

[2021-11-24 12:13] #1142 closed

[2021-11-24 16:47] meyraa commented on #181
I would like to have the tsoa validation for almost every API except for a few, where I need more complex validation, with a lot of exceptions. In those cases, I would like to disable them. Is this possible?

[2021-11-24 19:28] WoH commented on #181
One of our goals to have the docs, types and the validation be as close as possible. Therefore, the easiest approach here would be to type the body (?) as unknown or the most generic type that makes sense and take it from there. This way, validation is basically a no-op.

[2021-11-25 21:55] alexandervandekleutab opened #1143 "Support rejection of unexpected query parameters"
For a consumable API, our team wants to be able to reject requests when users pass in unexpected query parameters. This will help users of the API know when they are not using the API as expected.

We already reject unexpected parameters for the body of a POST request, setting `"noImplicitAdditionalProperties": "throw-on-extras"` in `tsoa.json`.

## Sorting

- **I'm submitting a ...**

  - [ ] bug

[2021-11-26 07:21] meyraa commented on #181
But with unknown/generic type, you also have no or wrong documentation. But we use tosa for that great feature to generate API doc with the interfaces.

We have in some cases strict validations before save that will check for multiple things like:
- Is an ID set (tsoa will find this)
- Is the given ID valid
- Is a given property unique
- Are there at least 3 elements in an array for every type
- D

[2021-11-26 09:58] karlismelderis commented on #1004
🙏 can we please finish PR and release this feature?

[2021-11-26 10:18] AudunWA commented on #1143
I've been looking for this feature as well, as I prefer a strict API surface. For my use-case, a global setting would be best – but it would be good to have an option to set it on a per-route basis. +1

[2021-11-26 13:32] WoH commented on #1004
@karlismelderis feel free to pick this up and finish the remaining issues

[2021-11-27 00:29] #1114 closed

[2021-11-27 17:17] eungkyu opened #1145 "Can't access response in authentication function"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I want to set header or cookie in authentication function

## Current Behavior

I can't access the response I

[2021-11-28 16:55] #968 closed

[2021-11-28 17:58] #973 closed

[2021-11-29 04:17] marklawlor commented on #868
@simllll Your PR does not appear to have resolved this issue. `tsoa` seems to only use the `compilerOptions` specified in the `tsoa.config.ts`. Its not just paths, you will also need to specify options like `lib` / `isolatedModules`. Anything that will change how types are looked up.

@WoH Can we reopen this issue and possibly rename it to `cli: Reuse compilerOptions from tsconfig`

[2021-11-29 05:39] marklawlor commented on #948
@cheng81 Thanks for the PR :partying_face:  Is there any change you can update it to include error middleware as well? This middleware should be included after the controller middleware.

Maybe via a new directive `ErrorMiddlewares`?

[2021-11-29 09:19] moshe-shaham-dt commented on #1139
+1

Being able to automatically ship to Lambda/API Gateway would be awesome!

[2021-12-01 10:30] tsimbalar commented on #1068
I can confirm this is now fixed as of `tsoa/cli` v3.14.1
probably thanks to changes in :
- #1117

[2021-12-01 11:34] #1068 closed

[2021-12-01 12:54] AudunWA commented on #1135
I'm all for requiring a newer version of TypeScript to enhance tsoa! Here are my thoughts:
* tsoa is built around TypeScript's strong type system, and improvements in TS will probably be positive for tsoa as well.
* TypeScript 4.1 is more than a year old and should be well adopted by now. Personally I'd jump straight to TS 4.2+ (all the way to 4.5?) if it introduces changes that can benefit tsoa.

[2021-12-01 13:13] WoH commented on #1135
Maybe a bit of context: I'm working on fixing the breaking changes in order to use the TS 4.5 Compiler API in the cli (for type analysis), which is mostly unrelated to the TS version a user needs to be on. TypesScript code written for 4.1 can be analyzed with the 4.5 Compiler API just fine, even if the type checker would find issues.

What's creating the breaking change at hand are the type declar

[2021-12-01 13:15] WoH commented on #1135
Also, as a PSA: I released the first alpha for 4.0.0 so everyone can make sure there are no unforseen issues.

[2021-12-01 13:37] WoH commented on #1143
I suppose we could extend the noImplicitAdditionalProperties config setting to apply to the query as well?

[2021-12-02 17:37] ClemWiz opened #1147 "Koa generated routes overlaps on fixed & variable paths"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Given this controller:
[code]

I should receive
[code]
when consuming `/test/all`;

## Current Behavior
But I

[2021-12-03 03:39] KenEucker commented on #353
@WoH, just to clarify about where this issue is. You are hoping for a PR that implements this:
`@Query('/') params: { one: string, two: number }`

Is that correct?

[2021-12-03 10:33] WoH commented on #353
Yes. The validation layer can already do that for bodies, so there should be a decent amount of reuse possible. Similarly, the ParamGenerator already can tell you if a type makes sense for a single query Param, ideally we'd check in these cases as well

[2021-12-03 16:44] WoH commented on #1147
The issue is that the routes are overlapping. Didn't you get a warning when you generated the routes?

[2021-12-03 16:48] #745 closed

[2021-12-06 04:33] cma-skedulo commented on #1111
@WoH Should we manage multer config inside tsoa.json instead of using decorator?
That way can have single multer instant for all controllers methods.

[2021-12-06 08:36] AudunWA commented on #1125
Not stale

[2021-12-06 11:05] ClemWiz commented on #1147
No, you can try it with the repo I gave, the routes are generated without problem:
[code]

[code]

[2021-12-06 11:40] WoH commented on #1111
The reason why I didn't propose the tsoa.json approach was my fear of only delaying the request for
a) supporting the `storage` option
b) supporting different options per Endpoint

In light of #1144 at least a) should no longer be an issue, but I'd like to have that tested if possible.

[2021-12-06 15:10] cma-skedulo commented on #1111
I don't think #1144 will help to resolve the multer's storage option as we still need to generate the storage's implementation back to routes.ts using handlebar.

Maybe for storage option, we can do something similar to authenticationModule and let the routes import it instead of generate the middleware code in routes.ts.
Like a uploadFileModule and export a factory for upload middleware, that way

[2021-12-06 15:34] WoH commented on #1111
Maybe I wasn't not precise enough. We have the option to let the user define a function, we still need to get it into the template, that's correct.

Considering b) I'm not sure if that would solve the problems for long, but it's an option.

[2021-12-06 23:41] dpomerantz-jci opened #1149 "Serialize and Parse Metadata"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I would like the option to save the metadata discovered by tsoa instead of using it to generate specs or rout

[2021-12-07 21:52] mrl5 commented on #1147
+1

I also came across this bug - many thanks @ClemWiz for reporting.

It's actually the only stopper for me for switching from express to koa

[2021-12-08 00:33] #1097 closed

[2021-12-08 05:48] cma-skedulo commented on #1111
Let me pull something for christmas for the uploadModule

In the mean time, should we update the document at https://tsoa-community.github.io/docs/file-upload.html#using-the-uploadedfile-uploadedfiles-decorator?

https://github.com/expressjs/multer/blob/4f4326a6687635411a69d70f954f48abb4bce58a/index.js#L17

TSOA template's multer implementation is only `multer()` so it will be using MemoryStorage

[2021-12-08 09:01] WoH commented on #1097
Fixed in [v4.0.0-alpha.0](https://github.com/lukeautry/tsoa/releases/tag/v4.0.0-alpha.0), see [Snyk Advisor](https://snyk.io/test/npm/tsoa/4.0.0-alpha.0).

[2021-12-08 09:04] WoH commented on #1111
We can fix this in the 4.x releases, which are currently in alpha, with a breaking change, but important catch.

[2021-12-08 09:14] WoH commented on #1149
I'm not sure if I can derive a use case based on the issue description yet, but my initial feeling is that this may be too niche to be part of tsoa. To enable this, the existing primitives (custom template + `generateRoutes()`) could be combined to make this possible.

Maybe you can provide more details on which part of the metadata you'd be interested in, since I'd consider this internal data who

[2021-12-08 10:00] anttitakalahti commented on #1097
could you also update it to v3 please?

[2021-12-08 10:04] WoH commented on #1097
No https://github.com/lukeautry/tsoa/pull/1098#issuecomment-946720968

[2021-12-08 16:43] dpomerantz-jci commented on #1149
Thank you for your review and questions on this request.  I would be open to an alternative where a "plugin interface" could be developed so that I specify a method to alter the metadata directly in memory, however I'm not sure that I feel comfortable developing that as it would be more disruptive to the application.  The goal is to allow the metadata to be modified so that the generated spec and

[2021-12-08 17:28] dpomerantz-jci commented on #1149
I created a PR which would resolve this feature request.  I understand that before it is merged, the feature will need to be reviewed and accepted, but I wanted to get up here for further review itself.

https://github.com/lukeautry/tsoa/pull/1150

[2021-12-08 22:02] dpomerantz-jci commented on #1149
Another option has come to mind:  I have no problem modifying swagger.json after creation, but route.ts is a bit more involved.  Since tsoa uses lodash templates and lodash can do the same thing as humps, could the express routes template be updated to do what I am asking?  For instance, I see the following:

        {{#if properties}}
        "dataType": "refObject",
        "properties": {

[2021-12-08 22:09] WoH commented on #1149
I hate to suggest adding another middleware to the bloated stack I tend to see with express apps, but you could add one that handles the translation between casing and post process the openapi doc in a similar fashion

[2021-12-08 22:14] dpomerantz-jci commented on #1149
I have looked at the handlebars documentation, and it looks like we may be able to use a helper.  I will look into this to see if it is able to be used without changing tsoa code.  Thanks.

[2021-12-08 23:10] dpomerantz-jci commented on #1149
Thank you.  express-humps, mentioned above, is a thin middleware which will translate between camel and snake case.  It's small and does one thing.  This appears to be what you recommend.  We can do the same thing with the swagger spec, no problem.  The issue for me is the routes.ts file, which is less structured.  This is why munging the metadata before routes is generated fixes the issue for us,

[2021-12-09 04:39] dasdachs commented on #1124
Any news about this? Can I help?

[2021-12-09 12:15] AmitThakkar commented on #340
I had a similar issue and below the compiler option in `tsoa.json` solved it:
[code]

https://github.com/lukeautry/tsoa/blob/master/packages/runtime/src/config.ts#L40

[2021-12-09 12:38] slavivanov commented on #464
Thanks for a great package. We are using tsoa at [Encharge.io](https://encharge.io)
Here is a link to the logo: https://encharge.io/wp-content/uploads/2021/07/encharge-logo.png

[2021-12-14 00:29] satvik-s opened #1151 "Library code includes TS code"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Only `dist` should be exported as part of the library

## Current Behavior

Currently, inside `node_modules`

[2021-12-14 00:34] #1099 closed

[2021-12-14 05:00] satvik-s opened #1152 "Allow derived middleware variables"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

If there is a middleware that accepts a header like `x-user-data` and goes on to JSON-ify that and add variab

[2021-12-14 12:27] s-chand commented on #1122
Just ran into this as well using Prisma with tsoa

[2021-12-14 14:28] devnev opened #1153 "Remove need for useSuccessResponseCode:true in 4.x major release"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

As on #723, but enabled by default with the new major version bump.

## Current Behavior

Back in #723 / #850

[2021-12-16 12:03] Muratcol opened #1155 "How to update Swagger UI?"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

In our API we use TSOA to create routes and swagger documentation. And it works very well. We are very pleased.

However, I am usin

[2021-12-16 13:25] WoH commented on #1155
This is the most convenient way to serve the OpenAPI document: https://www.npmjs.com/package/swagger-ui-express

[2021-12-16 14:15] Muratcol commented on #1155
@WoH Perfect! Thanks, that works.

But now the controllers that I set Mongoose model as response type give errors as below. Do you know the reason for these?

f.e

[code]

And errors are looks like this:

![Screenshot (74)](https://user-images.githubusercontent.com/58704132/146388120-fa6b760e-2391-4602-a228-35cae4c097e9.png)

[2021-12-16 14:28] pawankorotane opened #1156 "Unable to resolve interfaces with paths due to tsoa upgrade"
Recently I have updated TSOA from 2.* to latest 3.4.1 getting issues with resolving paths.
tsoa cli not able to find the namespaces or paths  in order to resolve I have to replace paths with dynamic imports
I have tried to add paths to `tsoa.json` compileoptions but it didn't work
Could you please suggest any solution how to fix this cobebase is quite big I do not want to replace paths with dynami

[2021-12-16 21:12] rkulla-hbo commented on #1152
👍

[2021-12-16 22:34] WoH commented on #1152
Please take a look at Method Decorators. You can write your own one, tsoa already skips `@Inject()` annotations. The Decorator can wrap the original method, extract the header and pass whatever you want into the placeholders (`@Inject()` params)

You'd write something like

[code]

[2021-12-17 19:37] #1153 closed

[2021-12-18 00:33] #1133 closed

[2021-12-19 21:19] niallmc commented on #623
Are there any updates as to when this feature will be rolled out?

[2021-12-20 09:36] Albertowska opened #1157 "Enhance @Example to support labels which will display when using OpenAPI 3.0"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

I would like to be able to set custom example labels when using `@Example` decorator

Sample generated YAML:

[2021-12-20 09:37] Albertowska commented on #1157
If you agree with the suggested approach, I volunteer myself to implement the change

[2021-12-20 11:05] WoH commented on #1147
This should generate a warning. If there's a difference between express and koa, we should mitigate that if possible.

[2021-12-20 18:06] mrl5 commented on #1147
if I understand correctly there are 2 things to be done:
1. ensure that code generated for `koa` behaves just like code generated for `express`
2. agnostic fix (both `koa` and `express` or whatever else) that generates warning for case when both `router.get('/test/:id')` and `router.get('/test/all'` are defined?

pls correct me if I'm wrong @WoH

[2021-12-20 23:29] NSpencer4 opened #1158 "Version 3.x.x Yargs Dependency Vulnerability Needs Fixed"
As we await a stable latest version, my team has noticed on v3.14.1 there is a vulnerability within the tsao cli -> yargs dependency tree. Upon pulling the repo I noticed there were 40+ dependency vulnerabilities. I want to fix these issues in the meantime as we wait for v4.

## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm tha

[2021-12-21 08:26] WoH commented on #1158
yargs dropped node 6 support. This is a (the main) breaking change.

3.x is not the branch where v3.14.0 was released from, so bumping deps there is not a good use of time I'm afraid.

[2021-12-21 08:29] #1158 closed

[2021-12-23 00:33] #1120 closed

[2021-12-23 10:12] Muratcol commented on #579
Any update about this topic? Workaround works, yes, but in that way, more than one same method occurs in swagger. Ofc, this is what is expected, but if only one method is visible in swagger, but the controller supports more than one method, I think it would be more useful.

[2021-12-23 10:51] Muratcol opened #1161 "Skip swagger generation for a specific"
## Sorting

- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - [x] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

To be able to bypass the swagger documentation generation for a specific controller below a controller class.

[2021-12-23 12:19] WoH commented on #1161
`@Hidden`

[2021-12-23 12:21] WoH commented on #1161
Please take a look at `@Hidden`.

[2021-12-23 12:22] #1161 closed

[2021-12-24 00:32] #1138 closed

[2021-12-24 00:32] #1136 closed

[2021-12-25 13:40] WoH commented on #1157
Extending `@Example()` in order to add labels makes sense, warning for OpenAPI 2 should be similar to #1000, which added  labels to parameters.

[2021-12-26 17:44] devnev opened #1162 "regression: `keyof X` on `type X = { a: unknown; b: unknown }` produces `dataType: any`"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

[code]

The resulting routes and spec should be something like:

[code]

## Current Behavior

It produces `{"

[2021-12-27 23:42] WoH commented on #1162
This may well be related to a TS Compiler API bump, but it would be helpful to not only bisect i.o.t. confirm but take a look at how we can fix the regression and maybe backport the fix?

[2021-12-28 16:16] WoH commented on #1122
Should be fixed in #1160

[2021-12-28 16:16] #1122 closed

[2021-12-28 16:17] #1135 closed

[2021-12-28 16:28] WoH commented on #1128
@meehawk I referenced the function that needs to be changed. If the `data` is a buffer or a typed array, tsoa should not call `res.json` with the data, but instead `res.send` (and default to a binary content type, or try to determine it (https://github.com/sindresorhus/file-type comes to mind))

[2021-12-28 20:26] WoH commented on #871
Symlinked the gh readme to the main package's readme, which means both npm and github have something understandable to work with.

[2021-12-28 20:26] #871 closed

[2021-12-29 00:16] bhugoVilela opened #1164 "Generating OperationId from method name"
## Sorting

- **I'm submitting a Feature Request**

  - [ ] bug report
  - [x] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

OperationId gets automatically generated from Method name if an `@OperationId` tag is not provide

[2021-12-29 12:15] WoH commented on #1164
I'm not sure what I'm missing, but by default, the method name is the `operationId` we set, unless you override it with `@OperationId()`.

[2021-12-29 13:32] bhugoVilela commented on #1164
Oh my apologies for wasting your time, I was seeing the swagger spec through SwaggerUI where it doesn't show the operationId, but it's in the spec alright. All good.

Thank you.

[2021-12-29 13:32] #1164 closed

[2021-12-29 14:20] #1090 closed

[2021-12-30 13:07] WoH opened #1165 "Stricter code checks"
Both eslint and typescript-eslint have a bunch of useful rules we had to turn off when switching from tslint although they very helpful. An incomplete list, mostly geared towards the tsoa, runtime and cli packages:

- [ ] Strict tsconfig in all packages
- [ ] `@typescript-eslint/explicit-module-boundary-types`
- [ ] `@typescript-eslint/member-delimiter-style`
- [ ] `@typescript-eslint/no-explicit-

[2021-12-31 11:03] #1162 closed

[2021-12-31 11:06] #1111 closed

[2021-12-31 11:26] WoH commented on #1149
I think there's a fundamental difference here in thinking about the validation.
If the middleware runs before validation (which is my assumption), it'll supposedly change the casing from snake to camel and therefore subsequently pass the validation that's declared in camelCase.

More likely than exposing internal metadata.

[2022-01-02 15:27] koaie commented on #705
Bump, this issue caused me a lot of pain and now i know why.
Should be metioned in the quickstart.

[2022-01-02 15:38] WoH commented on #705
Please open up a PR at https://github.com/tsoa-community/docs

[2022-01-04 13:21] josselinbuils commented on #1027
@WoH, I would like to implement that feature but I would like to be sure to go in the right direction.

Should I try to update the current `@FormField` and make it compatible with JSON or should I create a specific one, like `@JsonFormField`.

Moreover, TSOA does not seem to parse JSON itself but relies on external configuration/middlewares. Should we conserve that behaviour and ask users to parse

[2022-01-04 13:39] WoH commented on #1027
Everyone should manage this on their own. I haven't thought about this in detail, but my initial goal would be that if someone correctly parses form data in a middleware before the controller mehods are invoked, validation should work with `@FormField`.

[2022-01-04 13:51] josselinbuils commented on #1027
I agree on that but if we ask users to parse the JSON themselves, they will have to call `multer.single()` in the parsing middleware in order to get the JSON fields to parse and so they won't be able to use neither  `@UploadedFile` or `@UploadedFiles` decorators.

Is it acceptable or we must find a way to be able to use them anyway?

[2022-01-04 13:55] josselinbuils commented on #1027
To provide more contexte, here is the middleware I implemented for this purpose on my side:

[code]

It is very specific to my use case but it is just to show the need to call `multer`.

[2022-01-04 23:45] dpomerantz-jci commented on #1149
I'm sorry, but I'm not sure I'm following this.  We want to convert from camel to snake out-bound, and snake to camel in-bound.  We want our domain objects to be in camelCase, but the wire format to be snake case.

I'm fine with this.  Ideally I could write a function in a specific format, and use a config file to call it.  It should also be faster at build time.  I'm not sure that I possess the s

[2022-01-05 10:59] WoH commented on #1149
That's exactly what I'm talking about.

Yes ofc, this is a MIT licensed project.

[2022-01-05 13:01] josselinbuils commented on #1027
One solution could be just to remove the hardcoded string type in the `getFormFieldParameter` method and use ` this.getValidatedType(parameter);` instead.

It would be flexible enough to let users parse JSON if they want to without adding any complexity.

[2022-01-06 01:09] dpomerantz-jci commented on #1149
Please accept this thread as a request to add the feature where custom functions can be plugged in and run after metadata is collected, but before files are created.  If you need me to create a new thread for that, please let me know, and I will.  Thanks!

[2022-01-09 12:48] sundowatch commented on #180
Use @param Interface for this. In example:

[code]

[2022-01-09 13:53] oreporan commented on #740
I've been getting this error
`Error: Multiple matching models found for referenced type LoDashStatic`

only when trying to make a partial interface:

[code]

` "@tsoa/cli": "^3.8.0",`

[2022-01-14 08:45] oblomingo opened #1170 "Tsoa string validation doesn't work for "string | null" properties"
I'm submitting a bug report
I confirm that I used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Validation should work for dto objects with annotated properties even if it can be a null:
[code]
Dto value:
[code]
Endpoint response with Bad request status code and error description (email length i

[2022-01-14 08:54] WoH commented on #1170
You might want to check out #997 and the referenced issue for context.

This should be fixed but can reasonably considered a breaking change, please upgrade to the v4 alpha. It should work there. If not, I'll reopen this discussion.

[2022-01-14 08:55] #1170 closed

[2022-01-17 01:19] speed-of-light commented on #936
I believe you'll need something defined in `tsoa.json` in path `spec.tags[*].description`, where `spec.tags[*].name` should match the tag in @Tags(), and that works for me.

[2022-01-18 20:09] #1157 closed

[2022-01-18 20:10] #1031 closed

[2022-01-20 04:06] Manghud opened #1171 "@Hidden + @Query makes the query param `undefined`"
## Sorting

- **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [X] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior
Example shown in docs does not work as expected. Even simpler scenarios won't work as expected:
[code]
If we m

[2022-01-20 11:18] oblomingo opened #1172 "Tsoa validation doesn't work with long pattern values and validation messages"
## Sorting

- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request

- I confirm that I
  - [x] used the [search](https://github.com/lukeautry/tsoa/search?type=Issues) to make sure that a similar issue hasn't already been submit

## Expected Behavior

Export type with long pattern added. Since the pattern string has a length bigger than 100 symbols (eslint ma

[2022-01-21 07:48] RevanthGovindan opened #1173 "Middleware doesn't called"
middleware is not getting called in controllers and methods

`function Middlewares(...mws: RequestHandler[]) {
    return GenericMiddlewares<RequestHandler>(...mws);
}

function testMiddleware(key: string) {
    return async (req: ExpressRequest, res: ExpressResponse, next: ExpressNextFunction) => {
        console.log("middleware log");
        next();
    };
}`

`@GenericMiddlewares<RequestHandl